<div id="paperdbsettings"></div>
<script type="text/javascript">
Ext.ns('PrintShopCreator');

PrintShopCreator.PaperdbSettings = new Ext.ux.MetaForm({
        renderTo: 'paperdbsettings'
        ,url:'/admin/install/settings?config=1'
            ,buttons:[{
                 text:'Speichern'
                ,handler:function() {
                	PrintShopCreator.PaperdbSettings.getForm().submit({waitMsg: 'Speichern läuft...', url: '/admin/install/settings?config=1&save=1'});
                }
            }]
    });
PrintShopCreator.PaperdbSettings.show();
</script>