<?php
/**
 * /bootstrap3/templates/article/_articlegrouplistitem.phtml
 * 
 * Stellt die einezlnen Produktgruppen als div dar
 * #articlegrouplistitem wird im CSS angesprochen
 * 
 * @see /index/sliderproductsnosidenav.phtml
 * 
 */
?>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 articlegrouplistitem">
    <div class="thumbnail">
        <header>
            <h5><?php echo $this->Text()->truncate_text($this->escape($this->articlegroup->title),40) ?></h5>
        </header>
        <article>
            <a href="<?= $this->url(array('id' => $this->articlegroup->url), 'overview') ?>" class="produkt_image_overview">
                <?= $this->image()->thumbnailImage($this->articlegroup->title, 'articlelist_overview_box', $this->articlegroup->image); ?>
            </a>
        </article>
        <footer>
            <a class="btn btn-success" href="<?= $this->url(array('id' => $this->articlegroup->url), 'overview') ?>">
                <span class="glyphicon glyphicon-ok"></span> <?php echo $this->translate('Auswählen')?>
            </a>
        </footer>
    </div>
</div>