<?php
$this->headScript()->prependFile('/scripts/underscore.js');
$this->headScript()->prependFile('/scripts/upload_multi.js');
?>
<style>

    .swMain {
        width: 800px !important;
    }

    .swMain ul.anchor li {
        margin-bottom: 0 !important;
    }

    .swMain ul.anchor li a .stepNumber {
        float: left;
        font: bold 28px Verdana,Arial,Helvetica,sans-serif !important;
        padding: 0 5px 5px;
        position: relative;
        text-align: center;
        width: 30px;
    }

    .swMain div.actionBar, .swMain .stepContainer div.content  {
        border: none !important;
        background: none !important;
    }

    .swMain .stepContainer div.content  {
        height: 280px !important;
        width: 790px !important;
    }

    .swMain h2 {
        margin: 0;
    }

    .swMain .stepContainer .upload_border {
        border: 1px solid #E0E0E0 !important;
        border-radius: 5px 5px 5px 5px !important;
        margin-bottom: 10px;
        padding: 5px;
        width: 780px !important;

    }
    .swMain ul.anchor li a {
        width: 380px !important;

    }

    .swMain ul li h3 {
        margin: 0;
        line-height: 22px;
    }

    .swMain .msgBox {
        background-color: #FFD700 !important;
    }

    .swMain .stepContainer {
        height: 295px !important;
    }
</style>

<!-- Modal -->
<div class="modal fade" id="myUploadMulti" tabindex="-1" role="dialog" aria-labelledby="myUploadLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
			<h4 class="modal-title" id="myMultiUploadLabel"><?php echo $this->translate('Multiupload')?></h4>
		</div>
		<div class="modal-body">
			<div id="upload_all">

			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Schließen')?></button>
		</div>
	</div>
</div>
</div>