<div class="page-header"><h1><?php echo $this->translate('Freigabe') ?></h1></div>

<div class="row-fluid">
    <div class="span4">
        <div class="thumbnail">
            <?php if ($this->article->file1 != "" && $this->layouterPreviewId == ""): ?>
            <a data-toggle="modal" href="#preview" data-content="" title="<?php echo $this->article->title ?>"><?php echo $this->image()->thumbnailImage($this->article->title, 'layouter', $this->article->file); ?></a>
            <div class="modal hide" id="preview" style="width: 530px;">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3><?php echo $this->translate('Vorschau')?></h3>
                </div>
                <div class="modal-body">
                    <img src="/<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file, true); ?>"/>
                </div>
            </div>
            <?php elseif ($this->article->file != "" && $this->layouterPreviewId == ""): ?>
            <a data-toggle="modal" href="#preview" data-content="" title="<?php echo $this->article->title ?>"><?php echo $this->image()->thumbnailImage($this->article->title, 'layouter', $this->article->file); ?></a>
            <div class="modal hide" id="preview" style="width: 530px;">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3><?php echo $this->translate('Vorschau') ?></h3>
                </div>
                <div class="modal-body">
                    <img src="/<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file, true); ?>"/>
                </div>
            </div>
            <?php endif; ?>
            <?php if (($this->article->a6_org_article != 0 && $this->article->file == "" && $this->article->file1 == "") || $this->layouterPreviewId): ?>
            <a><?= $this->articleObj->generatePreview($this->article->id, $this->layouterPreviewId); ?></a>
            <?php endif; ?>
        </div>
    </div>
    <div class="span8">
        <h1><?php echo $this->article->getTitle() ?></h1>
        <?php echo $this->article->getInfo() ?>
    </div>
</div><section style="margin-left: 10px">
<?php
EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');

$this->form->setAttrib('class', 'niceform form-horizontal');
echo  $this->form ?>
    </section>