<div class="row">
    
        <div class="col-xs-12">
	
	<?php
            $articleObj = new market_article();
	    
            if(count($this->myarticles) > 0): 
	?>
	    <h3><?php echo $this->inworkCount; ?> <?= $this->translate('Produkte in Bearbeitung', 'text') ?> </h3>
	    <hr style="margin:0">
	    
	    <ul class="nav nav-pills">
		<li role="presentation">
		    <a href="/article/inwork/?delall=1">Alle löschen</a>
		</li>
	    </ul>
	    
	    <br>
	    
    
	    <ul class="inwork-thumbnails">
		<?php 
		    foreach ($this->myarticles as $article):
			if($article['orginal'] == false) continue;
		?>
		
		<li>
		    
		    <div class="row">
			<div class="col-xs-3"><b><?php echo $this->Text()->truncate_text($this->escape($article['session']->getTitle()),20); ?></b></div>
			<div class="col-xs-3"><?php echo $article['session']->getUpdated() ?></div>
			<div class="col-xs-1 col-xs-offset-1"><a class="btn btn-xs btn-default produkt-config-btn" href="<?php echo $this->url(array('article' => $article['orginal']->url, 'layouter' => $article['session']->getArticleId()), 'article'); ?>"><?php echo $this->translate('Konfigurieren/Bestellen')?></a></div>
		    </div>
 
		</li>
		<?php endforeach; ?>
	    </ul>
	    
	    <br>

	    
	    <ul class="nav nav-pills">
		<li role="presentation">
		    <a href="/article/inwork/?delall=1">Alle löschen</a>
		</li>
	    </ul>
		    
	     <hr>
	     
	<?php else: ?>
	    
		<div class="well">
			<h4><?php echo $this->translate('Keine Produkte in der Bearbeitungsliste vorhanden')?></h4>
		</div>
	    
	<?php endif;?>
	     
    </div>
</div>

