<?php  if(Zend_Auth::getInstance()->hasIdentity()==true): ?>

<div class="col-xs-12" id="overview_index-article">
    <div class="panel panel-default">
        <div class="panel-body">

            <?php foreach ($this->myarticles as $article): ?>
                <?=
                // $this->partial('article/_articlelistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop))
                $this->partial('article/_articlelistitem_produktuebersicht.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop));
                ?>
            <?php endforeach; ?>

        </div>
    </div>
</div>

<?php endif; ?>
