<?php echo $this->articleTemplate; ?>


<?php
$relatedbuys = $this->article->getRelated(6);
if ($this->shop->template_display_products_crossselling && !empty($relatedbuys)):
    ?>
    <div class="">
    <h3><?php echo $this->translate('Wir empfehlen auch', 'text', 'releated_article_h1') ?></h3>
    <ul class="thumbnails">
        <?php foreach ($relatedbuys as $article): ?>
            <?= $this->partial('article/_articlelistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>


        <?php endforeach; ?>
    </ul>
    </div>
<?php endif; ?>