<div class="row done_index" style="margin-bottom:5em">
    
   
    
    <div class="page-header col-xs-11 col-xs-offset-1">
            
        <h1><?php echo $this->translate('Vielen Dank für Ihre Bestellung') ?></h1>
        
 
        <p style="margin:4em 0"><?php echo $this->translate('Sie erhalten in Kürze eine Bestätigungsmail Ihrer Bestellung.')?></p>

            

        <a class="btn btn-info btn-large" href="/user/myorders"><?php echo $this->translate('Zu meinen Aufträgen')?></a>
        <a class="btn btn-info btn-large" href="/"><?php echo $this->translate('Zur Startseite')?></a> 
        <a class="btn btn-info btn-large" href="/user?logout=1"><?php echo $this->translate('Abmelden')?></a>
        

    </div>

</div>