<div class="row finish_index">


    <div class="page-header col-xs-12"><?php echo $this->translate('Warenkorb / Bestellung') ?></div>


    <?php if ($this->basketIsEmpty) : ?>

        <div class="basket col-xs-12">
            <div class="alert alert-danger" style="min-height:20em;"><?php echo $this->translate('Sie haben keine Artikel im Warenkorb. Keine Bestellung mC6glich.') ?></div>
        </div>

        <div class="col-xs-10 col-xs-offset-1" style="margin-bottom:7em;">
            <h3>Vielleicht möchten Sie einfach auf der Startseite beginnen?</h3>
            <br>
            <a class="btn btn-lg btn-success" href="/" title="<?= $this->shop->name; ?>: zur Startseite">Zur Startseite</a>
        </div>


    <?php else : ?>

        <div class="btn-group basket col-xs-12">
            <a class="btn btn-success" href="/basket">
                <h4><?php echo $this->translate('Schritt 1') ?>: <?php echo $this->translate('Warenkorb') ?></h4><?php echo $this->translate('Übersicht über Ihre Bestellung') ?>
            </a>
            <a class="btn btn-success" href="/basket/review">
                <h4><?php echo $this->translate('Schritt 2') ?>: <?php echo $this->translate('Adressdaten') ?></h4><?php echo $this->translate('Rechnungs- und Lieferadresse angeben') ?>
            </a>
            <a class="btn btn-success active" href="#">
                <h4><?php echo $this->translate('Schritt 3') ?>: <?php echo $this->translate('AGB') ?></h4><?php echo $this->translate('Bestätigen und bestellen') ?>
            </a>
        </div>

    <?php endif; ?>



    <?php if ($this->cms()->getCmsByIdMarket('template_display_orders')->text1 != '') : ?>
        <div class="col-xs-12">
            <?php echo $this->cms()->getCmsByIdMarket('template_display_orders')->text1; ?>
        </div>
    <?php endif; ?>



    <div class="col-sm-4 invoice">
        <div class="well">
            <h4><?php echo $this->translate('Rechnungsadresse') ?>:</h4>
            <p>
                <?php if ($this->invoice_address->getCompany() != "") : ?><?php echo $this->invoice_address->getCompany() ?></br><?php endif; ?>
            <?php if ($this->invoice_address->getCompany2() != "") : ?><?php echo $this->invoice_address->getCompany2() ?><br /><?php endif; ?>
        <?php echo $this->invoice_address->getAnrede() ?> <?php echo $this->invoice_address->getFirstname() ?> <?php echo $this->invoice_address->getLastname() ?>
        <?php if ($this->invoice_address->getAbteilung() != "") : ?><br /><?php echo $this->invoice_address->getAbteilung() ?><?php endif; ?>
            <br /><?php echo $this->invoice_address->getStreet() ?> <?php echo $this->invoice_address->getHouseNumber() ?>
            <br /><?php echo $this->invoice_address->getCountry() ?> <?php echo $this->invoice_address->getZip() ?> <?php echo $this->invoice_address->getCity() ?> </p>
            <p><a class="btn btn-primary" href="/basket/review"><?php echo $this->translate('Ändern') ?></a></p>
        </div>
    </div>


    <?php if ($this->shop->display_delivery) : ?>
        <div class="col-sm-4 invoice">
            <div class="well">
                <h4><?php echo $this->translate('Lieferadresse') ?>:</h4>
                <p>
                    <?php if ($this->delivery_address->getCompany() != "") : ?><?php echo $this->delivery_address->getCompany() ?><br /><?php endif; ?>
                <?php if ($this->delivery_address->getCompany2() != "") : ?><?php echo $this->delivery_address->getCompany2() ?><br /><?php endif; ?>
            <?php echo $this->delivery_address->getAnrede() ?> <?php echo $this->delivery_address->getFirstname() ?> <?php echo $this->delivery_address->getLastname() ?>
            <?php if ($this->delivery_address->getAbteilung() != "") : ?><br /><?php echo $this->delivery_address->getAbteilung() ?><?php endif; ?>
                <br /><?php echo $this->delivery_address->getStreet() ?> <?php echo $this->delivery_address->getHouseNumber() ?>
                <br /><?php echo $this->delivery_address->getCountry() ?> <?php echo $this->delivery_address->getZip() ?> <?php echo $this->delivery_address->getCity() ?> </p>
                <p><a class="btn btn-primary" href="/basket/review"><?php echo $this->translate('Ändern') ?></a></p>
            </div>
        </div>
    <?php endif; ?>


    <?php if ($this->shop->display_sender) : ?>
        <div class="col-sm-4 invoice">
            <div class="well">
                <h4><?php echo $this->translate('Absenderadresse') ?>:</h4>
                <p>
                    <?php if ($this->sender_address->getCompany() != "") : ?><?php echo $this->sender_address->getCompany() ?><br /><?php endif; ?>
                <?php if ($this->sender_address->getCompany2() != "") : ?><?php echo $this->sender_address->getCompany2() ?><br /><?php endif; ?>
            <?php echo $this->sender_address->getAnrede() ?> <?php echo $this->sender_address->getFirstname() ?> <?php echo $this->sender_address->getLastname() ?>
            <?php if ($this->sender_address->getAbteilung() != "") : ?><br /><?php echo $this->sender_address->getAbteilung() ?><?php endif; ?>
                <br /><?php echo $this->sender_address->getStreet() ?> <?php echo $this->sender_address->getHouseNumber() ?>
                <br /><?php echo $this->sender_address->getCountry() ?> <?php echo $this->sender_address->getZip() ?> <?php echo $this->sender_address->getCity() ?> </p>
                <p><a class="btn btn-primary" href="/basket/review"><?php echo $this->translate('Ändern') ?></a></p>
            </div>
        </div>
    <?php endif; ?>


    <div class="col-xs-12">
        <?php echo $this->translate('Gewählte Versandart') ?>: <b><?php echo $this->shippingtype->title ?></b> <a href="/basket/index"><?php echo $this->translate('Ändern') ?></a><br>
        <?php echo $this->translate('Gewählte Zahlungsart') ?>: <b><?php echo $this->paymenttype->title ?></b> <a href="/basket/index"><?php echo $this->translate('Ändern') ?></a>
    </div>



    <div class="btn-group basket col-xs-12" style="margin-top:2em;">



        <h3><?php echo $this->translate('Warenkorb') ?> <a href="/basket/index"><?php echo $this->translate('Produkte ändern') ?></a></h3>




        <form action="/basket/finish" method="post" enctype="multipart/form-data">


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><?php echo $this->translate('Produktbild') ?></th>
                        <th><?php echo $this->translate('Produkt/Optionen') ?></th>
                        <th><?php echo $this->translate('Einzelpreis') ?></th>
                        <th><?php echo $this->translate('Anzahl') ?></th>
                        <th><?php echo $this->translate('Preis') ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->basket_articles_complete as $barticle) : ?>
                        <tr>
                            <td>

                                <?php if (($barticle['article']['a6_org_article'] == 0 || $barticle['article']['a6_org_article'] == "") && ($barticle['basketarticle']->getLayouterId() == "" || $barticle['basketarticle']->getLayouterId() == false)) : ?>
                                    <?php echo $this->image()->thumbnailImage($barticle['article']['title'], 'little', $barticle['article']['file']); ?>
                                <?php else : ?>
                                    <?php $articleObj = new market_article(); ?>
                                    <?= $articleObj->generatePreview($barticle['article']['id'], $barticle['basketarticle']->getLayouterId(), 'little'); ?>
                                <?php endif; ?>

                            </td>
                            <td>
                                <?php if (($barticle['basketarticle']->getLayouterId() == "" || $barticle['basketarticle']->getLayouterId() == false)) : ?>
                                    <?php echo $barticle['article']['title'] ?>
                                <?php else : ?>
                                    <?php echo $this->layouter()->getTitle($barticle['basketarticle']->getLayouterId()); ?>
                                <?php endif; ?>


                                <?php if (($barticle['options'])) : ?>
                                    <ul>
                                        <?php foreach ($barticle['options'] as $key => $option) : ?>
                                            <?php

                                            if (stripos($option, 'Auflage') === 0) {
                                                $count = str_replace('Auflage: ', '', $option);
                                            } else {
                                            ?>
                                                <li><?php echo $option ?>, </li>
                                            <?php } ?>
                                        <?php endforeach; ?>

                                    </ul>
                                <?php endif; ?>

                            </td>
                            <td>
                                <?php if (isset($count) && intval($count) > 0) : ?><?php echo $this->currency->toCurrency($barticle['basketarticle']->getBrutto() / intval($count)) ?><?php else : ?><?php echo $this->currency->toCurrency($barticle['basketarticle']->getBrutto() / $barticle['basketarticle']->getCount()) ?><?php endif; ?>
                            </td>
                            <td>
                                <?php if (isset($count) && intval($count) > 0) : ?><?php echo $count ?><?php else : ?><?php echo $barticle['basketarticle']->getCount() ?><?php endif; ?>
                            </td>
                            <td>
                                <?php if ($this->withTax) : ?>
                                    <?php echo $this->currency->toCurrency($barticle['basketarticle']->getBrutto() * $barticle['basketarticle']->getCount()) ?>
                                <?php else : ?>
                                    <?php echo $this->currency->toCurrency($barticle['basketarticle']->getNetto() * $barticle['basketarticle']->getCount()) ?>
                                <?php endif; ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>



            <?php
            /************************************************************************************************************************************************************************
             * Zusammenfassung der Bestellung
             */
            ?>


            <div class="row">
                <div class="col-xs-12  col-lg-9 pull-right">

                    <table width="100%" class="table table-bordered">
                        <thead>
                            <?php if ($this->withTax) : ?>
                                <tr>
                                    <th class="well text-right"><?php echo $this->translate('Produktpreis (inkl. MwSt.)'); ?>:</th>
                                    <th class="well">&nbsp;</th>
                                    <th class="well text-right"><?php echo $this->currency->toCurrency(TP_Basket::getBasket()->getProduktPreisBrutto()) ?></th>
                                </tr>
                            <?php else : ?>
                                <tr>
                                    <th class="well text-right"><?php echo $this->translate('Produktpreis'); ?>:</th>
                                    <th class="well">&nbsp;</th>
                                    <th class="well text-right"><?php echo $this->currency->toCurrency(TP_Basket::getBasket()->getProduktPreisNetto()) ?></th>
                                </tr>
                            <?php endif; ?>
                        </thead>

                        <?php if ($this->basket_gutschein_enable != "") : ?>
                            <tr>
                                <td align="right">
                                    <strong><?php echo $this->translate('abzgl. Gutschein'); ?>:</strong>
                                </td>
                                <td align="right">

                                </td>
                                <td align="right">
                                    <?php echo $this->currency->toCurrency($this->basket_gutschein) ?>
                                </td>
                            </tr>
                            <tr>

                                <td align="right"><strong><?php echo $this->translate('Preis abzgl. Gutschein'); ?>:</strong></td>
                                <td align="right">

                                </td>
                                <td align="right">
                                    <?php echo $this->currency->toCurrency(TP_Basket::getBasket()->getProduktPreisBrutto() - $this->basket_gutschein) ?>
                                </td>
                            </tr>
                        <?php endif; ?>
                        <tr>

                            <td align="right">
                                <?php echo $this->translate('zzgl. Versand'); ?>:
                            </td>
                            <td>
                                <span style="color: #000"><?php echo $this->shippingtype->title ?></span>
                            </td>
                            <td align="right">
                                <?php echo $this->currency->toCurrency(TP_Basket::getBasket()->getVersandBrutto()) ?>
                            </td>
                        </tr>
                        <?php if (!$this->no_payment) : ?>
                            <tr>


                                <td align="right">
                                    <?php echo $this->translate('zzgl. Zahlart'); ?>:
                                </td>
                                <td>
                                    <span style="color: #000"><?php echo $this->paymenttype->title ?></span>
                                </td>
                                <td align="right">
                                    <?php echo $this->currency->toCurrency(TP_Basket::getBasket()->getZahlartBrutto()) ?>
                                </td>
                            </tr>
                        <?php endif; ?>
                        <?php if ($this->withTax) : ?>
                            <?php foreach (TP_Basket::getBasket()->getMWert() as $key => $mw) : ?>
                                <tr>

                                    <td align="right">
                                        <?php echo $this->translate('enth. MwSt.'); ?> <?= $key ?>%:
                                    </td>
                                    <td align="right">

                                    </td>
                                    <td align="right">
                                        <?php echo $this->currency->toCurrency($mw) ?>
                                    </td>
                                </tr>
                            <?php endforeach; ?>
                        <?php endif; ?>
                        <tr class="brutto">

                            <td align="right" class="well">
                                <h4><?php echo $this->translate('Gesamtsumme Brutto'); ?>:</h4>
                            </td>
                            <td align="right" class="well">

                            </td>
                            <td align="right" class="well">
                                <?php if ($this->withTax) : ?>
                                    <h4><?php echo $this->currency->toCurrency($this->preisbrutto) ?></h4>
                                <?php else : ?>
                                    <h4><?php echo $this->currency->toCurrency($this->preis) ?></h4>
                                <?php endif; ?>
                            </td>
                        </tr>
                    </table>


                </div>

            </div><!-- //row -->




            <div class="row">
                <div class="col-xs-12">

                    <div class="pull-right">
                        <?php if (!$this->designsettings()->get('b2bshop')) : ?>
                            <input type="hidden" name="agb" value="0" />
                            <?php if ($this->erroragb == true) : ?>
                                <div class="control-group error">
                                    <div class="controls">
                                        <label class="checkbox" style="padding-top: 0">
                                            <input type="checkbox" name="agb" value="1" />
                                            <span style="margin-bottom: 0"><?php echo $this->translate('Die <a href="/agb" target="_blank">AGBs</a> habe ich zur Kenntnis genommen und akzeptiere diese.') ?></span>
                                        </label>
                                    </div>
                                </div>
                            <?php else : ?>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox" style="padding-top: 0">
                                            <input type="checkbox" name="agb" value="1" />
                                            <span style="margin-bottom: 0"><?php echo $this->translate('Die <a href="/agb" target="_blank">AGBs</a> habe ich zur Kenntnis genommen und akzeptiere diese.') ?></span>
                                        </label>
                                    </div>
                                </div>
                            <?php endif; ?>

                            <input type="hidden" name="revocation" value="0" />

                            <?php if ($this->errorrevocation == true) : ?>
                                <div class="control-group error">
                                    <div class="controls">
                                        <label class="checkbox" style="padding-top: 0">
                                            <input type="checkbox" name="revocation" value="1" />
                                            <span style="margin-bottom: 0"><?php echo $this->translate('Die <a href="/revocation" target="_blank">Widerrufsbelehrung</a> habe ich zur Kenntnis genommen.') ?></span>
                                        </label>
                                    </div>
                                </div>
                            <?php else : ?>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox" style="padding-top: 0">
                                            <input type="checkbox" name="revocation" value="1" />
                                            <span style="margin-bottom: 0"><?php echo $this->translate('Die <a href="/revocation" target="_blank">Widerrufsbelehrung</a> habe ich zur Kenntnis genommen.') ?></span>
                                        </label>
                                    </div>
                                </div>
                            <?php endif; ?>

                            <input type="hidden" name="privacy" value="0" />

                            <?php if ($this->errorprivacy == true) : ?>
                                <div class="control-group error">
                                    <div class="controls">
                                        <label class="checkbox" style="padding-top: 0">
                                            <input type="checkbox" name="privacy" value="1" />
                                            <span style="margin-bottom: 0"><?php echo $this->translate('Die <a href="/privacy" target="_blank">Datenschutzerklärung</a> habe ich zur Kenntnis genommen.') ?></span>
                                        </label>
                                    </div>
                                </div>
                            <?php else : ?>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox" style="padding-top: 0">
                                            <input type="checkbox" name="privacy" value="1" />
                                            <span style="margin-bottom: 0"><?php echo $this->translate('Die <a href="/privacy" target="_blank">Datenschutzerklärung</a> habe ich zur Kenntnis genommen.') ?></span>
                                        </label>
                                    </div>
                                </div>
                            <?php endif; ?>


                        <?php else : ?>
                            <input type="hidden" name="agb" value="1" />
                            <input type="hidden" name="revocation" value="1" />
                            <input type="hidden" name="privacy" value="1" />
                        <?php endif; ?>

                    </div><!-- //class="pull-right" -->

                </div>
            </div>


            <div class="row">
                <div class="col-xs-12" style="margin-top:2em;">
                    <?php if (!$this->designsettings()->get('b2bshop')) : ?>
                        <button type="submit" class="btn btn-success btn-lg pull-right"><?php echo $this->translate('kostenpflichtig bestellen') ?></button>
                    <?php else : ?>
                        <button type="submit" class="btn btn-success btn-lg pull-right"><?php echo $this->translate('Bestellung abschließen') ?></button>
                    <?php endif; ?>
                </div>
            </div>



        </form>
    </div>

</div>
