﻿<div class="row basket_index">



    <div class="page-header col-xs-12"><?php echo $this->translate('Warenkorb / Bestellung') ?></div>



    <?php if ($this->basketIsEmpty) : ?>

        <div class="basket col-xs-12">
            <div class="alert alert-danger" style="min-height:2em;"><?php echo $this->translate('Sie haben keine Artikel im Warenkorb. Keine Bestellung möglich.') ?></div>
        </div>

        <div class="col-xs-10 col-xs-offset-1" style="margin-bottom:7em;">
            <h3>Vielleicht möchten Sie einfach auf der Startseite beginnen?</h3>
            <br>
            <a class="btn btn-lg btn-success" href="/" title="<?= $this->shop->name; ?>: zur Startseite">Zur Startseite</a>
        </div>


    <?php else : ?>

        <div class="btn-group basket col-xs-12">
            <a class="btn btn-success active" href="#">
                <h4><?php echo $this->translate('Schritt 1') ?>: <?php echo $this->translate('Warenkorb') ?></h4><?php echo $this->translate('Übersicht über Ihre Bestellung') ?>
            </a>
            <a class="btn btn-default" href="#">
                <h4><?php echo $this->translate('Schritt 2') ?>: <?php echo $this->translate('Adressdaten') ?></h4><?php echo $this->translate('Rechnungs- und Lieferadresse angeben') ?>
            </a>
            <a class="btn btn-default" href="#">
                <h4><?php echo $this->translate('Schritt 3') ?>: <?php echo $this->translate('AGB') ?></h4><?php echo $this->translate('Bestätigen und bestellen') ?>
            </a>
        </div>




        <div class="btn-group basket col-xs-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th style="text-align:left">
                            <?php echo $this->translate('Name / Optionen'); ?>
                        </th>
                        <th style="text-align:center">
                            <?php echo $this->translate('Anzahl'); ?>
                        </th>
                        <th style="text-align:right">
                            <?php echo $this->translate('Preis'); ?>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->articles as $article) : ?>
                        <tr class="<?php echo $this->cycle(array("odd", "even"))->next() ?>">
                            <?php echo $this->partial($article['article']->typ . '_basket_index.phtml', array('article' => $article, 'currency' => $this->currency, 'shop' => $this->shop)) ?>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>




            <?php
            /************************************************************************************************************************************************************************
             * Zusammenfassung der Bestellung
             */
            ?>
            <br>
            <br>
            <div class="row">
                <div class="col-xs-12  col-lg-9 pull-right">

                    <form action="<?php echo $this->redirect_ssl_path ?>/basket" method="post" class="niceform" enctype="multipart/form-data">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="well text-right"><?php echo $this->translate('Produktpreis (inkl. MwSt.)'); ?>:</th>
                                    <th class="well">&nbsp;</th>
                                    <th class="well text-right"><?php echo $this->currency->toCurrency($this->productbrutto) ?></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php if ($this->errorGutscheincode == false && $this->gutscheincode != "" && (TP_Basket::getBasket()->getGutscheinAbzugTyp() == TP_Basket::GUTSCHEIN_ALL || TP_Basket::getBasket()->getGutscheinAbzugTyp() == TP_Basket::GUTSCHEIN_PRODUCT)) : ?>
                                    <tr>
                                        <td align="right" class="grey"></td>
                                        <td align="right" class="grey">
                                            <strong><?php echo $this->translate('abzgl. Gutschein'); ?>:</strong>
                                        </td>
                                        <td align="right" style="width:11%" class="grey">
                                            <?php echo $this->currency->toCurrency($this->gutscheincodeabzug) ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" class="grey abstand"></td>
                                        <td align="right" class="grey abstand">
                                            <strong><?php echo $this->translate('Preis abzgl. Gutschein'); ?>:</strong>
                                        </td>
                                        <td align="right" style="width:11%" class="grey abstand lastcolumn">
                                            <?php echo $this->currency->toCurrency($this->productbruttogutschein) ?>
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                <tr>

                                    <td align="right">
                                        <?php echo $this->translate('zzgl. Versand'); ?>:
                                    </td>
                                    <td style="width:36%">
                                        <select name="shippingtype" onchange="javascript:this.form.submit()" style="width:100%">
                                            <?php foreach ($this->shippingtype as $shippingtype) : ?>
                                                <option value="<?php echo $shippingtype['id'] ?>" <?php echo ($shippingtype['id'] == $this->shippingselected) ? 'selected="selected"' : '' ?>><?php echo $shippingtype['title'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                        <?php echo $this->shippingtypeselected['description'] ?>
                                    </td>
                                    <td align="right" style="width:11%">
                                        <?php echo $this->currency->toCurrency($this->versandbrutto) ?>
                                    </td>
                                </tr>
                                <?php if (!$this->no_payment) : ?>
                                    <tr>


                                        <td align="right">
                                            <?php echo $this->translate('zzgl. Zahlart'); ?>:
                                        </td>
                                        <td style="width:36%">
                                            <select name="paymenttype" onchange="javascript:this.form.submit()" style="width:100%">
                                                <?php foreach ($this->paymenttype as $paymenttype) : ?>
                                                    <option value="<?php echo $paymenttype['id'] ?>" <?php echo ($paymenttype['id'] == $this->paymentselected) ? 'selected="selected"' : '' ?>><?php echo $paymenttype['title'] ?></option>
                                                <?php endforeach; ?>
                                                <?php foreach ($this->paymenttypecontact as $paymenttype) : ?>
                                                    <option value="<?php echo $paymenttype['id'] ?>" <?php echo ($paymenttype['id'] == $this->paymentselected) ? 'selected="selected"' : '' ?>><?php echo $paymenttype['title'] ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                            <?php echo $this->paymenttypeselected['description'] ?>
                                        </td>
                                        <td align="right" style="width:11%">
                                            <?php echo $this->currency->toCurrency($this->paymentwertbrutto) ?>
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                <?php if (!$this->designsettings()->get('b2bshop')) : ?>
                                    <tr>
                                        <td align="right"><?php echo $this->translate('Gutscheincode') ?>:</td>
                                        <td align="right">
                                            <input style="width: 100%;" type="text" name="gutscheincode" value="<?php echo $this->gutscheincode ?>" class="" />
                                        </td>
                                        <td align="right" style="width:11%">
                                            <input class="btn" type="submit" value="<?php echo $this->translate('Einlösen') ?>" />
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                <?php foreach ($this->mwertalle as $key => $mw) : ?>
                                    <tr>

                                        <td align="right">
                                            <?php echo $this->translate('enth. MwSt.'); ?> <?= $key ?>%:
                                        </td>
                                        <td align="right">

                                        </td>
                                        <td align="right" style="width:11%">
                                            <?php echo $this->currency->toCurrency($mw) ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                <tr class="brutto">

                                    <td align="right" class="well">
                                        <h4><?php echo $this->translate('Gesamtsumme Brutto'); ?>:<?php echo $this->currency->toCurrency($this->brutto / 1.19) ?></h4>
                                    </td>
                                    <td class="well">
                                        &nbsp;
                                    </td>
                                    <td align="right" style="width:11%" class="well">
                                        <h4><?php echo $this->currency->toCurrency($this->brutto) ?></h4>
                                    </td>
                                </tr>

                    </form>
                    <form action="<?php echo $this->redirect_ssl_path ?>/basket/review" method="GET" class="niceform" enctype="multipart/form-data" id="form-demo">
                        <?php if ($this->shop->basketfield1) : ?>
                            <tr class="brutto">

                                <td align="right">
                                    <h4><?php echo $this->shop->basketfield1 ?>:</h4>
                                </td>
                                <td style="text-align: center; width:11%" colspan="2">
                                    <textarea style="width: 100%;" name="basketfield1"><?php echo $this->basketfield1 ?></textarea>
                                </td>
                            </tr>
                        <?php endif; ?>
                        <?php if ($this->shop->basketfield2) : ?>
                            <tr class="brutto">

                                <td align="right">
                                    <h4><?php echo $this->shop->basketfield2 ?>:</h4>
                                </td>
                                <td style="text-align: center; width:11%" colspan="2">
                                    <textarea style="width: 100%;" name="basketfield2"><?php echo $this->basketfield2 ?></textarea>
                                </td>
                            </tr>
                        <?php endif; ?>
                        </table>

                        <div style="clear:both"></div>

                        <div class="basketButtons pull-right">
                            <input type="submit" class="btn btn-info btn-lg" title="weiter" onclick="location.href='/';return false;" value="<?php echo $this->translate('weiter einkaufen') ?>" />
                            <input type="submit" class="btn btn-success btn-lg" title="bestellen" value="<?php echo $this->translate('Zur Kasse gehen') ?>" />
                        </div>
                    </form>


                </div>

            </div><!-- //row -->
            <!--
        <script type="text/javascript">
        $(document).ready( function() {
            $('.myaddress select').dropkick({
                                change: function (value, label) {
                                                $(this).closest("form").submit();
                                        }
                });
        });
        </script>
        -->
        </div> <!-- // WK ausgabe class="btn-group basket col-xs-12 col-md-9 col-md-offset-3" -->

    <?php endif; ?>
</div>
