<?php
/**
 *
 * template version 4-> UHL-Media
 */
?><!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <?php if($this->page_title != ''): ?>
        <title><?= $this->page_title; ?></title>
    <?php else:?>
        <title><?= $this->shop->name; ?></title>
    <?php endif; ?>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TODO :: entferenn -->
    <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/<?php echo $this->designPath ?>bootstrap/css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]><script src="<?php echo $this->designPath ?>/js/html5shiv.js"><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script></script><![endif]-->

    <!-- Fav und touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/<?php echo $this->designPath ?>bootstrap/img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/<?php echo $this->designPath ?>bootstrap/img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/<?php echo $this->designPath ?>bootstrap/img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/<?php echo $this->designPath ?>bootstrap/img/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/<?php echo $this->designPath ?>bootstrap/img/favicon.png">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <?php if($this->shop->private): ?><meta name='robots' content='noindex,follow' /><?php endif; ?>

    <?= $this->headMeta(); ?>

    <link href="https://plus.google.com/111791780209285471933" rel="publisher" />

    <style>
        h1, h2, h3, h4, h5, h6, .panel-heading {
            font-family: Arial,Helvetica,sans-serif;
            margin-top: 0.25em;
        }
        @media print
        {
            .no-print, .no-print *
            {
                display: none !important;
            }
        }
    </style>
</head>


<body>
<!-- HEADER -->
<div id="uhl-head">
    <!-- Topbar:: Navigation    -->
    <div class="container-fluid topbar">
        <div class="row">


            <div class="row">
                <div class="col-xs-12">
                    <div id="uhl-sloagan" style="height: 20px;"><span class="no-print"></span></div>
                    <div id="uhl-logo"><img src="/<?php echo $this->designPath ?>img/uhl-media-logo.png" alt="Uhl Media" /></div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="container-fluid main-content">

    <br>
    <div id="printarea" class="row" align="center">
        <div class="col-xs-12" style="text-align: left">
            <?php if($this->send): ?><br><h1 align="center" class="btn-success">Die E-Mail wurde erfolgreich versendet.</h1><?php endif; ?>

            <?php if($this->step2): ?>
            <br>
            <form id="offerform" method="post" name="userForm" class="no-print">
                <input type="hidden" name="step" value="3"/>
                <div class="row" align="center">
                    <div class="col-xs-6">
                        <input class="btn btn-success" type="submit" name="sendemail" id="sendemail" value="Angebot via E-Mail senden">
                    </div>
                    <div class="col-xs-6">
                        <a href="javascript:window.print();" class="btn btn-success">Angebot drucken</a>
                    </div>
                </div>
            </form>
            <div style="clear:both"></div>
            <br>
            <form id="offerform" method="post" name="userForm" class="form-horizontal no-print">
                <input type="hidden" name="step" value="2"/>
                <div class="form-group input-sm">
                    <label class="form-label optional">Versandart:</label>
                    <div class="form-controls">
                        <select class="inputbox" name="shippingtype" style="width:100px;" onchange="this.form.submit();">
                            <option value="0" <?php if($this->basket->getShippingtype() == 0): ?>selected="selected"<?php endif; ?>>Nicht ausweisen</option>
                            <?php if($this->basket->getWeight() < 217000): ?>
                                <option value="8" <?php if($this->basket->getShippingtype() == 8): ?>selected="selected"<?php endif; ?>>Paketdienst</option>
                            <?php endif; ?>
                            <?php if($this->basket->getOfferContact()['country'] == 'de' && $this->basket->getWeight() < 90000): ?><option value="9" <?php if($this->basket->getShippingtype() == 9): ?>selected="selected"<?php endif; ?>>Express Deutschland (1 Tag)</option><?php endif; ?>
                            <option value="11" <?php if($this->basket->getShippingtype() == 11): ?>selected="selected"<?php endif; ?>>Spedition</option>
                            <option value="10" <?php if($this->basket->getShippingtype() == 10): ?>selected="selected"<?php endif; ?>>Selbstabholung Bad Grönenbach</option>
                        </select></div>
                </div>

            </form>

            <div style="margin:10px auto; padding:5px 10px; border:1px solid #df000b; font-size:.98em; color:#bf010d;">Sie erhalten Ihr Angebot per E-Mail. Bitte prüfen Sie Ihren Spam-/Junkmail Ordner, falls Sie dieses Angebot nicht erreichen sollte. Optional fügen Sie den Absender angebote@uhl-media.de in Ihrem E-Mail-Programm der Liste der erlaubten Absender (Whitelist) hinzu.</div>

            <table class="tbl_print_address" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                </tr>
                <td><?= $this->basket->getOfferContact()['company'] ?></td>
                </tr>
                <tr>
                    <td><?= $this->basket->getOfferContact()['salutation'] ?> <?= $this->basket->getOfferContact()['firstname'] ?> <?= $this->basket->getOfferContact()['lastname'] ?></td>
                </tr>
                <td><?= $this->basket->getOfferContact()['street'] ?></td>
                </tr>
                <tr>
                    <td><?= $this->basket->getOfferContact()['zip'] ?> <?= $this->basket->getOfferContact()['city'] ?></td>
                </tr>
                <tr>
                    <td><?php
                        if($this->basket->getOfferContact()['country'] == 'de') {
                            echo 'Germany';
                        }elseif($this->basket->getOfferContact()['country'] == 'be') {
                            echo 'Belgium';
                        }elseif($this->basket->getOfferContact()['country'] == 'ch') {
                            echo 'Switzerland';
                        }elseif($this->basket->getOfferContact()['country'] == 'be') {
                            echo 'Belgium';
                        }elseif($this->basket->getOfferContact()['country'] == 'fr') {
                            echo 'France';
                        }elseif($this->basket->getOfferContact()['country'] == 'at') {
                            echo 'Austria';
                        }elseif($this->basket->getOfferContact()['country'] == 'it') {
                            echo 'Italy';
                        }

                        ?></td>
                </tr>
                <tr>
                    <td><?= $this->basket->getOfferContact()['email'] ?></td>
                </tr>

                </tbody></table>
            <p><br></p>	<p><br></p>
            <h5 style="font-weight: bold">Angebot Nr. <?php echo $this->basket->getOfferNumber() ?> vom <?php echo date("d.m.Y")?></h5>

            <p><br><?php if($this->basket->getOfferContact()['lastname']): ?>Sehr <?php if($this->basket->getOfferContact()['salutation'] == "Frau"): ?>geehrte<?php else: ?>geehrter<?php endif; ?> <?= $this->basket->getOfferContact()['salutation'] ?> <?= $this->basket->getOfferContact()['lastname'] ?>,<br>w<?php else: ?>W<?php endif; ?>ir danken Ihnen für Ihre Anfrage und unterbreiten Ihnen gerne nachfolgendes Angebot:</p><br>

            <?php if($this->basket->getOfferContact()['title'] != ""): ?><h3 style="font-weight: bold"><?= $this->basket->getOfferContact()['title'] ?><br></h3><?php endif; ?>
            <?php
            $aktionsRabatt = 0;
            $kundenGruppenRabatt = 0;
            $onlineRabatt = 0;

            foreach($this->positions as $position): ?>
                <?php

                $rabatte = $position['basketarticle']->getRabatte();
                if(isset($rabatte['rabatt_aktionsrabatt'])) {
                    $aktionsRabatt = $aktionsRabatt + $rabatte['rabatt_aktionsrabatt'];
                }
                if(isset($rabatte['rabatt_kundengruppe'])) {
                    $kundenGruppenRabatt = $kundenGruppenRabatt + $rabatte['rabatt_kundengruppe'];
                }
                if(isset($rabatte['rabatt_onlinerabatt'])) {
                    $onlineRabatt = $onlineRabatt + $rabatte['rabatt_onlinerabatt'];
                }

                ?>
                <h3><?= $position['article']->title; ?></h3>
                <?php if($position['basketarticle']->getRef() != ""): ?><h5 style="font-weight: bold"><?= $position['basketarticle']->getRef() ?></h5><?php endif; ?>
                <?php if($position['basketarticle']->getKst() != ""): ?><h5 style="font-weight: bold"><?= $position['basketarticle']->getKst() ?></h5><?php endif; ?>
                <?php foreach($position['arrayOptions'] as $key => $value): ?>
                    <?php if($value != '' && $key != 'upload_mode'): ?>
                        <div class="row">
                            <div class="col-xs-4"><?= $key ?>:</div>
                            <div class="col-xs-8"><?= $value ?></div>
                        </div>
                    <?php endif; ?>


                <?php endforeach; ?>
                <div class="row">
                    <div class="col-xs-4">Gewicht:<br><br></div>
                    <div class="col-xs-8"><?php echo round($position['basketarticle']->getWeight()/1000) ?> kg<br><br></div>
                </div>

                <div class="row">
                    <div class="col-xs-4">Preis Netto:</div>
                    <div class="col-xs-8"><?= $this->currency->toCurrency($position['basketarticle']->getNetto()+$rabatte['rabatt_aktionsrabatt']+$rabatte['rabatt_kundengruppe']+$rabatte['rabatt_onlinerabatt']); ?></div>
                </div>
                <?php if(isset($rabatte['rabatt_aktionsrabatt']) && $rabatte['rabatt_aktionsrabatt'] != 0): ?>
                    <div class="row">
                        <div class="col-xs-4">Aktionsrabatt:</div>
                        <div class="col-xs-8">-<?= $this->currency->toCurrency($rabatte['rabatt_aktionsrabatt']); ?></div>
                    </div>
                <?php endif; ?>
                <?php if(isset($rabatte['rabatt_kundengruppe']) && $rabatte['rabatt_kundengruppe'] != 0): ?>
                    <div class="row">
                        <div class="col-xs-4">Kundengruppenrabatt:</div>
                        <div class="col-xs-8">-<?= $this->currency->toCurrency($rabatte['rabatt_kundengruppe']); ?></div>
                    </div>
                <?php endif; ?>
                <?php if(isset($rabatte['rabatt_onlinerabatt']) && $rabatte['rabatt_onlinerabatt'] != 0): ?>
                    <div class="row">
                        <div class="col-xs-4">Onlinerabatt:</div>
                        <div class="col-xs-8">-<?= $this->currency->toCurrency($rabatte['rabatt_onlinerabatt']); ?></div>
                    </div>
                <?php endif; ?>
                <hr>
            <?php endforeach; ?>

            <p><br></p>
            <h4>Preiszusammenstellung</h4>
            <table class="table table-bordered">

                <tr class="active"><td>Basispreis Netto:</td><td align="right"><?= $this->currency->toCurrency(TP_Basket::getBasket()->getProduktPreisNetto()+$aktionsRabatt+$kundenGruppenRabatt+$onlineRabatt); ?></td></tr>


                <?php if($aktionsRabatt > 0): ?>
                    <tr>
                        <td>
                            Aktionsrabatt:
                        </td>
                        <td align="right">
                            <span style="color:green">- <?= $this->currency->toCurrency($aktionsRabatt); ?></span>
                        </td>
                    </tr>
                <?php endif; ?>


                <?php if($kundenGruppenRabatt > 0): ?>
                    <tr>
                        <td>
                            Kundengruppenrabatt:
                        </td>
                        <td align="right">
                            <span style="color:green">- <?= $this->currency->toCurrency($kundenGruppenRabatt); ?></span>
                        </td>
                    </tr>
                <?php endif; ?>


                <?php if($onlineRabatt > 0): ?>
                    <tr>
                        <td>
                            Onlinerabatt:
                        </td>
                        <td align="right">
                            <span style="color:green">- <?= $this->currency->toCurrency($onlineRabatt); ?></span>
                        </td>
                    </tr>
                <?php endif; ?>

                <?php if($this->basket->getVersandkosten() > 0): ?>
                    <tr>
                        <td>
                            Versandkosten:
                        </td>
                        <td align="right">
                            + <?= $this->currency->toCurrency($this->basket->getVersandkosten()); ?>
                        </td>
                    </tr>
                <?php endif; ?>

                <tr class="info"><td>Endpreis Netto:</td><td align="right"><?= $this->currency->toCurrency($this->basket->getPreisNetto()); ?></td></tr>

                <tr><td>zzgl. 16% MwSt:</td><td align="right">+ <?= $this->currency->toCurrency($this->basket->getPreisSteuer()); ?></td></tr>

                <tr class="success"><td><strong>Gesamtpreis:</strong></td><td align="right"><strong><?= $this->currency->toCurrency($this->basket->getPreisBrutto()); ?></strong></td></tr>



            </table>


            <div class="distance30"></div>
            <div style="padding:0 0 4px 6px;text-align:justify;">
                Sie wollen nicht online bestellen? Einfach dieses Angebot gegenzeichnen und per Fax an +49 (08334) 9832-2 senden.<sup>1)</sup>
                <div class="distance35" style="border-bottom:1px dotted #666;">
                    <div style="margin-top:20px;font-size:14px;font-weight:bold;">X</div>
                </div>
                <span>Bestellung per Fax, Ort, Datum, Unterschrift</span>
                <br>
                <div class="distance30"></div>
                <p style="font-size:11px;"><br>Dieses Angebot beruht auf den <a class="offerlink" href="http://uhlmedia.shopsrvdev.de/cms/allg-geschaeftsbedingungen" onclick="newWindow(this.href,'_blank','600','1000','yes');return false;" target="_blank">Allgemeinen Geschäftsbedingungen (AGB)</a> der Uhl-Media GmbH, die mit der Auftragserteilung anerkannt werden. Unsere Angebote sind freibleibend. Rechtsverbindlich sind nur schriftliche Auftragsbestätigungen. Dieses Angebot wurde in einem automatisierten Prozess erstellt. Für Irrtümer oder technisch bedingte Fehler wird von Uhl-Media dabei keine Haftung übernommen. Die Bruttopreise sind inkl. der gesetzlichen Mehrwertsteuer. Die von Ihnen gelieferten Daten werden von uns nicht auf ihre inhaltliche und sachliche Richtigkeit überprüft. Für daraus entstehende Mängel übernehmen wir keine Haftung. Anfallende Korrekturen werden nach Aufwand zusätzlich berechnet. Die Preise beziehen sich auf die derzeit gültigen Material- und Lohnkosten.<br><br>
                    <span style="color:#666;font-size:11px;"><sup>1)</sup> Die Online-Ersparnis erhalten Sie ausschließlich bei Bestellungen in unserem Online-Shop, nicht bei Bestellungen per Post, E-Mail, Fax oder Telefon.</span><br>
                    <br></p>
                <p><center>Wir würden uns freuen, Ihren Auftrag zu erhalten. Fragen zum Angebot? Telefon: +49 (0)8334 / 9832-0</p>
                <p>Mit schönen Grüßen aus Bad Grönenbach. Ihre Uhl-Media GmbH.</p></center>

                <div id="footerarea">
                    <div class="distance30" style="height: 30px"></div>
                    <div style="text-align:center;font-size:11px;line-height:135%">
                        Uhl-Media GmbH | Kemptener Straße 36 | 87730 Bad Grönenbach | Deutschland<br>
                        Telefon: +49 (0)8334 / 9832-0 | Fax: +49 (0)8334 / 9832-2 | E-Mail: info@uhl-media.de | www.uhl-media.de<br>
                        Eingetragen beim Amtsgericht Memmingen | HRB 8575 | Geschäftsführer: Andreas Uhl<br>
                        Bankverbindung: Raiffeisenbank im Allgäuer Land eG, Konto 6426450, BLZ 73369264<br>
                        SWIFT-BIC GENODEF 1 DTA IBAN DE46733692640006426450
                    </div>
                </div>
            </div>
        </div>

        <?php endif; ?>

        <?php if($this->step1): ?>
            <p style="margin-bottom:18px;"><strong><br>Sämtliche Angaben sind freiwillig. Ausgenommen dem mit * markierten Pflichtfeld für Ihre E-mail Adresse. Ihre Angaben sind für die Zuordnung des Angebotes von Vorteil. Wir verwenden diese Daten nicht für weitere Zwecke.</strong></p>
            <form id="offerform" method="post" name="userForm" class="form-horizontal">
                <input type="hidden" name="step" value="1"/>
                <div class="form-group input-sm">
                    <label class="form-label optional">Firma:</label>
                    <div class="form-controls"><input type="text" name="company" value="" class="form-control input-sm"></div>
                </div>
                <div class="form-group input-sm">
                    <label class="form-label optional">Anrede:</label>
                    <div class="form-controls"><select class="form-control input-sm" name="salutation">
                            <option value=" "></option>
                            <option value="Frau" selected="selected">Frau</option>
                            <option value="Herr">Herr</option>
                        </select></div>
                </div>
                <div class="form-group input-sm">
                    <label class="form-label optional">Vorname:</label>
                    <div class="form-controls"><input class="form-control input-sm" type="text" name="firstname" value=""></div>
                </div>
                <div class="form-group input-sm">
                    <label class="form-label optional">Nachname:</label>
                    <div class="form-controls"><input class="form-control input-sm" type="text" name="lastname" value=""></div>
                </div>
                <div class="form-group input-sm">
                    <label class="form-label optional">Straße, Nr.:</label>
                    <div class="form-controls"><input class="form-control input-sm" type="text" name="street" value=""></div>
                </div>
                <div class="form-group input-sm">
                    <label class="form-label optional">PLZ, Ort:</label>
                    <div class="form-controls"><input class="form-control input-sm" type="text" pattern="[0-9]{4,6}" name="zip" value="" style="width:60px"><input class="form-control input-sm" type="text" name="city" value="" style="margin-left:5px;"></div>
                </div>
                <div class="form-group input-sm">
                    <label class="form-label optional">Land:</label>
                    <div class="form-controls"><select class="form-control input-sm" name="country">
                            <option value="at">Austria</option><option value="be">Belgium</option><option value="fr">France</option><option value="de" selected="selected">Germany</option><option value="it">Italy</option><option value="nl">Netherlands</option><option value="ch">Switzerland</option></select></div>
                </div>
                <div class="form-group input-sm">
                    <label class="form-label optional">USt-ID-Nr.:</label>
                    <div class="form-controls"><input class="form-control input-sm" type="text" name="ust_id" value=""></div>
                </div>
                <div class="form-group input-sm">
                    <label class="form-label optional">* E-Mail:</label>
                    <div class="form-controls"><input class="form-control input-sm" type="email" required name="email" value=""></div>
                </div>
                <div class="form-group input-sm">
                    <label class="form-label optional">Bezeichnung:</label>
                    <div class="form-controls"><input class="form-control input-sm" type="text" name="title" value=""></div>
                </div>


                <div id="ust_div_expl" name="ust_div_expl" style="display: none;">
                    <table width="500" class="tbl_print" cellpadding="0" cellspacing="1" border="0">
                        <tbody><tr>
                            <td><small>*) Zur Berücksichtigung der Steuerfreiheit bei Lieferung in EU-Länder ist die Angabe der USt.-ID erforderlich!</small></td>
                        </tr>
                        </tbody></table>
                </div>

                <p style="margin-top:18px;">

                <div class="form-group input-sm">
          <span class="verifyLabel" id="dataProtection-input">
          <input type="hidden" name="dataProtection" value="" />
          <input type="checkbox" required="required" name="dataProtection" id="dataProtection" value="1" helper="formCheckbox" />
          </span>

                    <strong>Mir ist bekannt, dass dieses Angebot auf den <a href="/cms/allg-geschaeftsbedingungen" onclick="newWindow(this.href,'_blank','600','1000','yes');return false;" target="_blank">Allgemeinen Geschäftsbedingungen (AGB)</a> und der DSGVO konformen <a href="/cms/datenschutz" onclick="newWindow(this.href,'_blank','600','1000','yes');return false;" target="_blank">Datenschutzerklärung</a> der Uhl-Media GmbH, basiert, die ich hiermit anerkenne.</strong><br>(Das gilt nur, wenn ich aufgrund dieses Angebots einen Auftrag an die Uhl-Media GmbH erteile!)<br>
                </p>
                <br>
                <input class="btn btn-danger" type="submit" name="cancel" value="Abbrechen" onclick="window.close()">
                <input id="action_btn_agreed" class="btn btn-success" type="submit" name="agreed" value="JA, ich akzeptiere - weiter zum Angebot">
            </form>

        <?php endif; ?>
    </div>
</div>




</div>






<!-- /Additional WrapperB4s Layouter -->


<!-- The Templates plugin is included to render the upload/download listings -->
<script src="/<?php echo $this->designPath ?>assets/uploader/js/vendor/tmpl.min.js"></script>

<script src="/<?php echo $this->designPath ?>assets/uploader/js/vendor/load-image.min.js"></script>
<script src="/<?php echo $this->designPath ?>code.js"></script>
<script src="/<?php echo $this->designPath ?>calc.js"></script>

<?php /* Cookie Hinweis */ ?>
<script>window.cookieconsent_options = {message: 'Cookies erleichtern die Bereitstellung unserer Dienste. Mit der Nutzung unserer Dienste erklären Sie sich damit einverstanden, dass wir Cookies verwenden. ', dismiss: 'Schließen', learnMore: 'Mehr Infos erhalten sie in der Datenschutzerklärung.', link: 'http://uhlmedia.shopsrvdev.de/cms/datenschutz', theme: 'light-bottom'}</script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>


<?php
$this->headScript()->prependFile('/scripts/templateprint.js');
$this->headLink()->appendStylesheet('/scripts/jquery-loading/css/showLoading.css');
$this->headScript()->prependFile('/scripts/jquery-loading/js/jquery.showLoading.min.js');
$this->headScript()->prependFile('/scripts/jquery-multiselect/js/jquery.multi-select.js');
$this->headLink()->appendStylesheet('/scripts/jquery-multiselect/css/multi-select.css');
?>

<?= $this->headScript(); ?>
<?= $this->headLink(); ?>



</body>
</html>