<?php
$this->headScript()->prependFile('/scripts/underscore.js');
$this->headScript()->prependFile('/' . $this->designPath . '/basket/review.js');
?>
<div class="row review_index">



    <div class="page-header col-xs-12"><?php echo $this->translate('Warenkorb / Bestellung') ?></div>



    <?php if ($this->basketIsEmpty) : ?>

        <div class="basket col-xs-12">
            <div class="alert alert-danger" style="min-height:2em;"><?php echo $this->translate('Sie haben keine Artikel im Warenkorb. Keine Bestellung möglich.') ?></div>
        </div>

        <div class="col-xs-10 col-xs-offset-1" style="margin-bottom:7em;">
            <h3>Vielleicht möchten Sie einfach auf der Startseite beginnen?</h3>
            <br>
            <a class="btn btn-lg btn-success" href="/" title="<?= $this->shop->name; ?>: zur Startseite">Zur Startseite</a>
        </div>

    <?php else : ?>

        <div class="btn-group basket col-xs-12">
            <a class="btn btn-success" href="/basket">
                <h4><?php echo $this->translate('Schritt 1') ?>: <?php echo $this->translate('Warenkorb') ?></h4><?php echo $this->translate('Übersicht Über Ihre Bestellung') ?>
            </a>
            <a class="btn btn-success active" href="#">
                <h4><?php echo $this->translate('Schritt 2') ?>: <?php echo $this->translate('Adressdaten') ?></h4><?php echo $this->translate('Rechnungs- und Lieferadresse angeben') ?>
            </a>
            <a class="btn btn-default" href="#">
                <h4><?php echo $this->translate('Schritt 3') ?>: <?php echo $this->translate('AGB') ?></h4><?php echo $this->translate('Bestätigen und bestellen') ?>
            </a>
        </div>

    <?php endif; ?>



    <form action="/basket/review" class="niceform basket" method="post" enctype="multipart/form-data" id="review-form">


        <div class="col-sm-4 invoice">
            <div class="well">
                <h4><?php echo $this->translate('Rechnungsadresse') ?></h4>
                <p id="invoiceaddresstext">
                    <?php if ($this->invoice_address->getCompany() != "") : ?><?php echo $this->invoice_address->getCompany() ?></br><?php endif; ?>
                    <?php if ($this->invoice_address->getCompany2() != "") : ?><?php echo $this->invoice_address->getCompany2() ?><br /><?php endif; ?>
                    <?php if ($this->invoice_address->getFirstname() != "" || $this->invoice_address->getLastname() != ""): ?><?php echo $this->invoice_address->getAnrede() ?> <?php echo $this->invoice_address->getFirstname() ?> <?php echo $this->invoice_address->getLastname() ?><br /><?php endif; ?>
                    <?php if ($this->invoice_address->getAbteilung() != "") : ?><?php echo $this->invoice_address->getAbteilung() ?><br /><?php endif; ?>
                <?php echo $this->invoice_address->getStreet() ?> <?php echo $this->invoice_address->getHouseNumber() ?>
                <br /><?php echo $this->invoice_address->getCountry() ?> <?php echo $this->invoice_address->getZip() ?> <?php echo $this->invoice_address->getCity() ?>
                </p>
                <p><button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myInvoice" onclick="return false;"><?php echo $this->translate('Ändern') ?></button></p>
            </div>
        </div>

        <?php if ($this->shop->display_delivery) : ?>
            <div class="col-sm-4 delivery">
                <div class="well">
                    <h4><?php echo $this->translate('Lieferadresse') ?></h4>
                    <div id="differentdeliverydiv" style="">
                        <p id="deliveryaddresstext">
                            <?php if ($this->delivery_address->getCompany() != "") : ?><?php echo $this->delivery_address->getCompany() ?><br /><?php endif; ?>
                            <?php if ($this->delivery_address->getCompany2() != "") : ?><?php echo $this->delivery_address->getCompany2() ?><br /><?php endif; ?>
                            <?php if ($this->delivery_address->getFirstname() != "" || $this->delivery_address->getLastname() != ""): ?><?php echo $this->delivery_address->getAnrede() ?> <?php echo $this->delivery_address->getFirstname() ?> <?php echo $this->delivery_address->getLastname() ?><br /><?php endif; ?>
                            <?php if ($this->delivery_address->getAbteilung() != "") : ?><?php echo $this->delivery_address->getAbteilung() ?><br /><?php endif; ?>
                        <?php echo $this->delivery_address->getStreet() ?> <?php echo $this->delivery_address->getHouseNumber() ?>
                        <br /><?php echo $this->delivery_address->getCountry() ?> <?php echo $this->delivery_address->getZip() ?> <?php echo $this->delivery_address->getCity() ?>
                        </p>
                        <p><button type="submit" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myDelivery" onclick="return false;"><?php echo $this->translate('Ändern') ?></button></p>
                        <p><button type="button" id="sameDeliveryAsInvoice" class="btn btn-sm btn-info"><?php echo $this->translate('Gleich wie Rechnungsadresse') ?></button></p>
                    </div>
                </div>
            </div>
        <?php endif; ?>


        <?php if ($this->shop->display_sender) : ?>
            <div class="col-sm-4  sender">
                <div class="well">
                    <h4><?php echo $this->translate('Absendeadresse auf Paketschein') ?></h4>
                    <div id="differentsenderdiv" style="">
                        <p id="senderaddresstext">
                            <?php if ($this->sender_address->getCompany() != "") : ?><?php echo $this->sender_address->getCompany() ?><br /><?php endif; ?>
                        <?php if ($this->sender_address->getCompany2() != "") : ?><?php echo $this->sender_address->getCompany2() ?><br /><?php endif; ?>
                            <?php if ($this->sender_address->getFirstname() != "" || $this->sender_address->getLastname() != ""): ?><?php echo $this->sender_address->getAnrede() ?> <?php echo $this->sender_address->getFirstname() ?> <?php echo $this->sender_address->getLastname() ?><br /><?php endif; ?>
                    <?php if ($this->sender_address->getAbteilung() != "") : ?><?php echo $this->sender_address->getAbteilung() ?><br /><?php endif; ?>
                        <?php echo $this->sender_address->getStreet() ?> <?php echo $this->sender_address->getHouseNumber() ?>
                        <br /><?php echo $this->sender_address->getCountry() ?> <?php echo $this->sender_address->getZip() ?> <?php echo $this->sender_address->getCity() ?>
                        </p>
                        <p><button type="submit" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#mySender" onclick="return false;"><?php echo $this->translate('Ändern') ?></button></p>
                        <p><button type="button" id="sameSenderAsShop" class="btn btn-sm btn-info"><?php echo $this->translate('Shopadresse benutzen') ?></button></p>
                    </div>
                </div>
            </div>
        <?php endif; ?>


        <input id="delivery" type="hidden" name="delivery" value="<?php echo $this->delivery ?>" />
        <input id="sender" type="hidden" name="sender" value="<?php echo $this->sender ?>" />
        <input id="invoice" type="hidden" name="invoice" value="<?php echo $this->invoice ?>" />



        <div class="clearfix col-xs-12"><input id="review_next" type="submit" value="<?php echo $this->translate('Weiter') ?>" class="btn btn-success btn-lg pull-right" /></div>

    </form>



    <div style="clear:both"></div>

    <p id="senderaddresstext_hidden" style="display:none">
        <?php if ($this->sender_address_shop->getCompany() != "") : ?><br /><?php echo $this->sender_address_shop->getCompany() ?><?php endif; ?>
            <?php echo $this->sender_address_shop->getAnrede() ?> <?php echo $this->sender_address_shop->getFirstname() ?> <?php echo $this->sender_address_shop->getLastname() ?>
            <?php if ($this->sender_address_shop->getAbteilung() != "") : ?><br /><?php echo $this->sender_address_shop->getAbteilung() ?><?php endif; ?>
                <br /><?php echo $this->sender_address_shop->getStreet() ?> <?php echo $this->sender_address_shop->getHouseNumber() ?>
                <br /><?php echo $this->sender_address_shop->getCountry() ?> <?php echo $this->sender_address_shop->getZip() ?> <?php echo $this->sender_address_shop->getCity() ?>
    </p>







    <!-- \\\\\\\\\\ Modals ////////////// -->

    <!-- \\\\\\\\\\ myInvoice - Rechnungsadresse  ////////////// -->
    <div class="modal fade" id="myInvoice" tabindex="-1" role="dialog" aria-labelledby="myInvoiceLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
                    <div style="float: right; margin-right: 40px;"><input class="search" placeholder="Search" style="" /><button class="btn btn-sm">Suche</button></div>
                    <h4 class="modal-title" id="myInvoiceLabel"><?php echo $this->translate('Rechnungsadresse auswählen') ?></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('KundenNr') ?></th>
                                <th><?php echo $this->translate('Firma') ?></th>
                                <th><?php echo $this->translate('Firma Zusatz') ?></th>
                                <th><?php echo $this->translate('Name') ?></th>
                                <th><?php echo $this->translate('Adresse') ?></th>
                                <th><?php echo $this->translate('Land') ?></th>
                                <th align="right"></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Schließen') ?></button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addAdress"><?php echo $this->translate('Adresse hinzufügen') ?></button>
                </div>
            </div>
        </div>
    </div>






    <!-- \\\\\\\\\\ myDelivery - Lieferadresse ////////////// -->
    <!-- Modal -->
    <div class="modal fade" id="myDelivery" tabindex="-1" role="dialog" aria-labelledby="myDeliveryLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
                    <div style="float: right; margin-right: 40px;"><input class="search" placeholder="Search" style="" /><button class="btn btn-sm">Suche</button></div>
                    <h4 class="modal-title" id="myDeliveryLabel"><?php echo $this->translate('Lieferadresse auswählen') ?></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('KundenNr') ?></th>
                                <th><?php echo $this->translate('Firma') ?></th>
                                <th><?php echo $this->translate('Firma Zusatz') ?></th>
                                <th><?php echo $this->translate('Name') ?></th>
                                <th><?php echo $this->translate('Adresse') ?></th>
                                <th><?php echo $this->translate('Land') ?></th>
                                <th align="right"></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Schließen') ?></button>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addAdress"><?php echo $this->translate('Adresse hinzufügen') ?></button>
                </div>
            </div>
        </div>
    </div>




    <!-- \\\\\\\\\\ mySender - Absender ////////////// -->
    <!-- Modal -->
    <div class="modal fade" id="mySender" tabindex="-1" role="dialog" aria-labelledby="meinmySender" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
                    <div style="float: right; margin-right: 40px;"><input class="search" placeholder="Search" style="" /><button class="btn btn-sm">Suche</button></div>
                    <h4 class="modal-title" id="meinmySender"><?php echo $this->translate('Absenderadresse auswählen') ?></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('KundenNr') ?></th>
                                <th><?php echo $this->translate('Firma') ?></th>
                                <th><?php echo $this->translate('Firma Zusatz') ?></th>
                                <th><?php echo $this->translate('Name') ?></th>
                                <th><?php echo $this->translate('Adresse') ?></th>
                                <th><?php echo $this->translate('Land') ?></th>
                                <th align="right"></th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Schließen') ?></button>
                    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addAdress"><?php echo $this->translate('Adresse hinzufügen') ?></button>
                </div>
            </div>
        </div>
    </div>




    <!-- \\\\\\\\\\ addAdress - Adresse hinzufügen ////////////// -->
    <div class="modal fade" id="addAdress" tabindex="-1" role="dialog" aria-labelledby="addAdressLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
                    <h4 class="modal-title" id="addAdressLabel"><?php echo $this->translate('Adresse einfügen') ?></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <?php
                        $this->form->removeElement('submit');
                        EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
                        ?>
                        <form id="register" enctype="application/x-www-form-urlencoded" action="" method="post" role="form" style="padding:0 2em">
                            <div class="col-sm-6">

                                <?php
                                $i = 0;
                                foreach ($this->form->getElements() as $element) : ?>
                                    <?php if ($i == 7) : ?></div>
                            <div class="col-sm-6"><?php endif; ?>
                            <?php echo str_replace(array('control-group', 'control-label', 'class="controls"'), array('form-group', 'form-label', 'class="form-controls"'), $element->render()); ?>
                        <?php
                                    $i++;
                                endforeach; ?>
                            </div>
                        </form>
                        <br class="clearfix">
                    </div>
                </div>
                <div class="modal-footer">
                    <a id="saveAdresse" class="btn btn-primary" href="#saveAdresse"><?php echo $this->translate('Adresse speichern') ?></a>
                    <a href="#" class="btn  btn-default" data-dismiss="modal"><?php echo $this->translate('Abbrechen') ?></a>
                </div>
            </div>
        </div>
    </div>




    <!-- \\\\\\\\\\ editAdresse - Adresse bearbeiten ////////////// -->
    <!-- Modal -->
    <div class="modal fade" id="editAdresse" tabindex="-1" role="dialog" aria-labelledby="editAdresseLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
                    <h4 class="modal-title" id="editAdresseLabel"><?php echo $this->translate('Adresse bearbeiten') ?></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <?php
                        $this->editform->removeElement('update');
                        EasyBib_Form_Decorator::setFormDecorator($this->editform, \EasyBib_Form_Decorator::BOOTSTRAP, 'update');
                        ?>
                        <input type="hidden" value="" name="editaddressuuid" id="editaddressuuid" />

                        <form id="updateaddress" name="updateaddress" enctype="application/x-www-form-urlencoded" class="form-horizontal" action="" method="post" role="form" style="padding:0 2em">

                            <div class="col-sm-6">
                                <?php
                                $i = 0;
                                foreach ($this->editform->getElements() as $element) : ?>
                                    <?php if ($i == 7) : ?></div>
                            <div class="col-sm-6"><?php endif; ?>
                            <?php echo str_replace(array('control-group', 'control-label', 'class="controls"'), array('form-group', 'form-label', 'class="form-controls"'), $element->render()); ?>
                        <?php
                                    $i++;
                                endforeach; ?>
                            </div>


                        </form>
                        <br class="clearfix">

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Abbrechen') ?></button>
                    <button type="submit" class="btn btn-primary" id="saveEditAdresse"><?php echo $this->translate('Änderungen speichern') ?></button>
                </div>
            </div>
        </div>
    </div>


</div>
