<?php
$this->headLink()->appendStylesheet($this->designPath . '/css/cms.css');
?> 
<?php
if($this->page->display_title): ?>
<div class="page-header"><h1><?php echo $this->page->title ?></h1></div>
<?php endif;
?>
<div class="row">
    <div class="col-xs-12">
	<div class="cms_inhalt"><?php echo $this->page->getText() ?></div>
    </div>
</div>
