<div id="shopsettings"></div>
<script type="text/javascript">
Ext.ns('PrintShopCreator');

PrintShopCreator.ShopSettings = new Ext.ux.MetaForm({         
        renderTo: 'shopsettings'
        ,url:'/admin/shop/settings?config=1&sid=<?php echo $this->escape($this->id) ?>'
            ,buttons:[{
                 text:'Speichern'
                ,handler:function() {
                	PrintShopCreator.ShopSettings.getForm().submit({waitMsg: 'Speichern läuft...', url: '/admin/shop/settings?config=1&save=1&sid=<?php echo $this->escape($this->id) ?>'});
                }
            }]
    });
PrintShopCreator.ShopSettings.show();
</script>