<li class="span2 span_custom">
    <div class="thumbnail">
    <a target="_blank" href="http://<?= $this->shopdetail->Domain[0]->name; ?>">
			<?php if($this->shopdetail->preview_logo != ""): ?>
    			<?= $this->image()->thumbnailImage($this->shop->name, 'shoplist', $this->shopdetail->preview_logo); ?>
    		<?php elseif($this->shopdetail->logo1 != ""): ?>
    			<?= $this->image()->thumbnailImage($this->shop->name, 'shoplist', $this->shopdetail->logo1); ?>
    		<?php else: ?>
    			<img src="<?= $this->designPath ?>img/no-img.png" width="160" />
    		<?php endif; ?>
	</a>
    <h5><?php echo $this->Text()->truncate_text($this->escape($this->shopdetail->name),25) ?></h5>
    </div>
</li>