<?php
$this->headLink()->appendStylesheet('/scripts/jquery-uploadify/uploadify.css');
$this->headScript()->prependFile('/scripts/upload.js');

$this->headScript()->prependFile('/scripts/jquery-uploadify/jquery.uploadify.v2.1.0.js');
$this->headScript()->prependFile('/scripts/jquery-uploadify/swfobject.js');
?>
<?php
$this->headScript()->prependFile('/scripts/jquery-optiontree/jquery.optionTree.js');
?>
<?php
$this->headScript()->prependFile('/scripts/jquery-tag/jquery-tag.js');
?>
<style type="text/css">
    #articlestep1 label.error {
	color:red;
        display:inline;
        float:right;
        font-size:12px;
        margin-bottom:10px;
        margin-left:10px;
        position:absolute;
        width:auto;
}

SPAN.tagMatches {
    margin-left: 10px;
position:absolute;
}

SPAN.tagMatches SPAN {
    padding: 2px;
    margin-right: 4px;
    background-color: #F19001;
    color: #fff;
    cursor: pointer;
}

</style>
<div id="dialog-form" title="Neuen Eintrag erstellen">
	<p class="validateTips"></p>

	<form>
	<fieldset>
		<label for="name">Name</label>
		<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
	</fieldset>
	</form>
</div>
<div class="defaultwrap">
<div class="MotivUpload">
    <h1><?php echo $this->translate('Motiv Upload') ?></h1>
    <table cellspacing="4" cellpadding="4" id="motivtable">

    </table>
    <input id="fileInput" name="file" type="file" />
    <p><a class="button" href="javascript:jQuery('#fileInput').uploadifyUpload();">Hochladen starten</a> | <a href="javascript:jQuery('#fileInput').uploadifyClearQueue()">Liste löschen</a></p>
    <script type="text/javascript">// <![CDATA[
        $(document).ready(function() {
            $('#fileInput').uploadify({
                'uploader'  : '/scripts/jquery-uploadify/uploadify.swf',
                'script'    : '/motiv/resaleuploadbegin/format/json',
                'cancelImg' : '/scripts/jquery-uploadify/cancel.png',
                'multi'      : true,
                'scriptData' : {
                    'ARTID': '<?= Zend_Session::getId() ?>'
                },
                'scriptAccess': 'always',
                'fileDataName': 'file',
                'buttonText':'Durchsuchen',
                'onComplete' :  function(event, data){
                    reloadMotive();
                }
            });
        });
        // ]]></script>


    <h1><?php echo $this->translate('Einstellungen') ?></h1>

    <?php  if(Zend_Auth::getInstance()->hasIdentity()): ?>

    <form class="niceform" id="motiv_resale" action="<?php echo $this->form->getAction() ?>" enctype="multipart/form-data" method="POST">

        <dl class="zend_form">
		<?php echo $this->form->resale_shop ?>

                <?php echo $this->form->price ?>

                <?php echo $this->form->resale_download ?>

                <?php echo $this->form->download_price ?>

                <?php echo $this->form->title ?>

                <?php echo $this->form->copyright ?>

                
                
                <?php echo $this->form->tags ?>

                <?php echo $this->form->shop ?>

	</dl>
<p></p>
<table width="100%">
	<tr>
	<td class="navigator">
		<input id="motivtheme" name="motivtheme" type="hidden"/>
        </td>
	</tr>
        <tr>
	<td>
		<b>Motivtheme 1:</b><input name="motivtheme1" type="hidden" id="motivtheme1" /><span id="motivtheme1_name"></span> <a title="Ändern" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'motivtheme1', select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/edit.png" /></a><br/>
		<b>Motivtheme 2:</b><input name="motivtheme2" type="hidden" id="motivtheme2" /><span id="motivtheme2_name"></span> <a title="Hinzufügen" id="motivtheme2add" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'motivtheme2', select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/list-add.png" /></a> <a title="Ändern" id="motivtheme2edit" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'motivtheme2', select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/edit.png" /></a> <a title="Leeren" id="motivtheme2delete" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'motivtheme2',clear: true, select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/edit-delete.png" /></a><br/>
		<b>Motivtheme 3:</b><input name="motivtheme3" type="hidden" id="motivtheme3" /><span id="motivtheme3_name"></span> <a title="Hinzufügen" id="motivtheme3add" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'motivtheme3', select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/list-add.png" /></a> <a title="Ändern" id="motivtheme3edit" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'motivtheme3', select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/edit.png" /></a> <a title="Leeren" id="motivtheme3delete" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'motivtheme3',clear: true, select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/edit-delete.png" /></a>
		</td></tr>
		<tr>
		<td>&nbsp;</td>
	</tr>
        <tr>
</table>
<?php if($this->shop->pmb || $this->shop->market): ?>
<dl class="zend_form">
		<?php echo $this->form->resale_market ?>
</dl>
<table width="100%">
	<tr>
	<td class="navigator">
		<input id="markettheme" name="markettheme" type="hidden"/>
        </td>
	</tr>
        <tr>
	<td>
		<b>Markettheme 1:</b><input name="markettheme1" type="hidden" id="markettheme1" /><span id="markettheme1_name"></span> <a title="Ändern" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme1', select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/edit.png" /></a><br/>
		<b>Markettheme 2:</b><input name="markettheme2" type="hidden" id="markettheme2" /><span id="markettheme2_name"></span> <a title="Hinzufügen" id="markettheme2add" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme2', select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/list-add.png" /></a> <a title="Ändern" id="markettheme2edit" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme2', select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/edit.png" /></a> <a title="Leeren" id="markettheme2delete" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme2',clear: true, select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/edit-delete.png" /></a><br/>
		<b>Markettheme 3:</b><input name="markettheme3" type="hidden" id="markettheme3" /><span id="markettheme3_name"></span> <a title="Hinzufügen" id="markettheme3add" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme3', select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/list-add.png" /></a> <a title="Ändern" id="markettheme3edit" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme3', select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/edit.png" /></a> <a title="Leeren" id="markettheme3delete" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme3',clear: true, select: 'themes'}); return false;"> <img src="/images/admin/oxygen/16x16/actions/edit-delete.png" /></a>
		</td></tr>
</table>
<input id="addid" name="addid" value="0" type="hidden"/>
<?php endif; ?>
<dl class="zend_form">
    <?php echo $this->form->submit ?>
</dl>
    </form>
    <?php else: ?>

    <p><?php echo $this->translate('Bitte melden Sie sich an um mit dem Upload fortzufahren. <a href="/user/login?mode=motiv_upload">Hier entlang</a>', 'rte', 'motive_upload') ?></p>
    <?php endif; ?>


</div>
</div>
<script type="text/javascript">

    $(document).ready(function() {

            $('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme1', select: 'themes', shop: $('#shop').val()});
<?php if($this->shop->pmb || $this->shop->market): ?>
            $('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme1', select: 'themes'});
<?php endif; ?>
            $('#shop').change(function() {

                $('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme1', select: 'themes', shop: $(this).val()});
            });
        
            reloadMotive();

            $('#tags').tagSuggest({
                url: '/resale/tags/format/json'
            });

            function updateTips(t) {
			tips
				.text(t)
				.addClass('ui-state-highlight');
			setTimeout(function() {
				tips.removeClass('ui-state-highlight', 1500);
			}, 500);
		}


		function checkLength(o,n,min,max) {

			if ( o.val().length > max || o.val().length < min ) {
				o.addClass('ui-state-error');
				updateTips("Länge von " + n + " muß zwischen "+min+" und "+max+" sein.");
				return false;
			} else {
				return true;
			}

		}

		function checkRegexp(o,regexp,n) {

			if ( !( regexp.test( o.val() ) ) ) {
				o.addClass('ui-state-error');
				updateTips(n);
				return false;
			} else {
				return true;
			}

		}

		var name = $("#name"),
		allFields = $([]).add(name),
		tips = $(".validateTips");



		$("#dialog-form").dialog({
			autoOpen: false,
			height: 300,
			width: 350,
			modal: true,
			buttons: {
				'Speichern': function() {
					var bValid = true;

					bValid = bValid && checkLength(name,"name",3,16);

					bValid = bValid && checkRegexp(name,/^[a-z]([0-9a-z_öüäÖÜÄ])+$/i,"");

					if (bValid) {

						$.ajax({
						      url: "/admin/"+$("#dialog-form").data('select')+"/loadsavemotivtheme/format/json",
						      global: false,
						      type: "POST",
						      data: ({parent_id : $(this).data('parent'), title: name.val(), sid: $('#shop').val(), save: 1}),
						      dataType: "json",
						      success: function(msg){
									$('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme1', select: 'themes', shop: $('#shop').val()});
						      }
						   }
						)


						$(this).dialog('close');
					}
				},
				'Abbrechen': function() {
					$(this).dialog('close');
				}
			},
			close: function() {

			}
		});
    });

    function reloadMotive() {
        $('#motivtable').showLoading();
        $.getJSON("/motiv/resaleuploadlist/format/json", { mode: "articlelist" }, function(json){
            $('#motivtable').html('');
            $.each(json.motive, function(index, item) {

                $('#motivtable').append('<tr><td>' + item.thumb + '</td><td>' + item.name + '</td><td><input type="hidden" name="motiv_id" value="' + index + '"/><input class="motive_del" type="submit" value="<?php echo $this->translate('Löschen') ?>" /></td></tr>');

            });
            $('.motive_del').click(function() {
                $.getJSON("/motiv/resaleuploaddelete/format/json", { key: $(this).prev().val() }, reloadMotive);
            });
        });
        $('#motivtable').hideLoading();
    }
</script>