<?php
$this->headLink()->appendStylesheet($this->designPath . '/css/cms.css');
?> 
<style>
.alert-danger {
    display: none;
}
</style>
<?php if($_GET["show"]) { ?>
	<script type="text/javascript">
		$(document).ready(function() {
			//console.log("....");
			$('#c<?php echo $_GET["show"]; ?>').addClass('show');
			$('#c<?php echo $_GET["show"]; ?>').addClass('show');
			$("#c<?php echo $_GET["show"]; ?>").removeAttr('style').css("height:","unset");
			$("#<?php echo $_GET["show"]; ?>").bind('click', function () {
				const element = document.querySelector("#c<?php echo $_GET["show"]; ?>");
				var checkclass = element.classList.contains("show");
				if(checkclass) {
					$('#c<?php echo $_GET["show"]; ?>').removeClass('show');
					$('#c<?php echo $_GET["show"]; ?>').addClass('hidden');
					setTimeout(function(){ $('#c<?php echo $_GET["show"]; ?>').removeClass('in'); $("#c<?php echo $_GET["show"]; ?>").removeAttr('style'); }, 500);
					//console.log("...." + checkclass);
					}
				else {
					//console.log("...." + checkclass);
					$('#c<?php echo $_GET["show"]; ?>').addClass('show');
					$('#c<?php echo $_GET["show"]; ?>').removeClass('hidden');
					//setTimeout(function(){ $("#c<?php echo $_GET["show"]; ?>").removeAttr('style'); }, 50);
			}});});
	</script>
<?php } ?>
<?php
if($this->page->display_title): ?>
<div class="page-header"><h1><?php echo $this->page->title ?></h1></div>
<?php endif;
?>
<div class="row">
    <div class="col-xs-12">
	<div class="cms_inhalt"><?php echo $this->page->getText() ?></div>
    </div>
</div>
