<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <!-- template version 4 -->
      <?php if($this->page_title != ''): ?>
          <title><?= $this->page_title; ?></title>
      <?php else:?>
          <title><?= $this->shop->name; ?></title>
      <?php endif; ?>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link href="/<?php echo $this->designPath ?>/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/<?php echo $this->designPath ?>bootstrap/css/font-awesome.css" rel="stylesheet">

      	<link href="/<?php echo $this->designPath ?>bootstrap/css/style.css" rel="stylesheet">
      	<link href="/<?php echo $this->designPath ?>bootstrap/css/yamm.css" rel="stylesheet">

        <link href="/<?php echo $this->designPath ?>lightbox/lb.css" rel="stylesheet">

        <?php if($this->shop->css != ""): ?>
            <style type="text/css"><?= $this->shop->css; ?></style>
        <?php endif; ?>

        <?php if($this->designsettings()->get('custom_css') != ""): ?>
   	        <style><?= $this->designsettings()->get('custom_css') ?></style>
        <?php endif; ?>

        <?php if(file_exists( $this->designPath . '/img/favicon.png')): ?>
        <link rel="shortcut icon" href="<?php echo $this->designPath ?>/img/favicon.png">
        <?php endif; ?>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

		  <script src="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
		  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

        <?php if($this->shop->private): ?><meta name='robots' content='noindex,follow' /><?php endif; ?>


        <?= $this->headMeta(); ?>


      <?php if(file_exists( $this->image()->thumbnailImage('browsericon', 'browsericon', $this->shop->browsericon, true, true))): ?>
          <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->image()->thumbnailImage('browsericon', 'browsericon', $this->shop->browsericon, true, true); ?>"/>

      <?php endif;?>

<style>
	body {
		background-image: url("<?= $this->image()->thumbnailImage($this->shop->name, 'logo2', $this->shop->logo2, true, true); ?>");
		background-repeat: repeat;
 		background-color: #fff;
	}
</style>
</head>
  <body>

<div class="overall">
  <div class="topmenu">



	<!-- Topbar:: Navigation  -->
		  <section id="topbar">
		  <div class="topbarcenter">
			  <!-- ********** Dropdown Sprache ************* -->
<?php if(!$this->shop->market && $this->designsettings()->get('display_no_language') == false): ?>
			  				<div class="pull-right center-sm">
			  						<div class="language pull-right">
			                              <div class="language-wrapper pull-right">
			                              	<div class="btn-group">
			                              		<button type="button" class="btn btn-dropdown" data-toggle="dropdown">
			                              						<span><?php echo $this->translate('Sprache')?></span>
			                              						<span class="caret"></span>
			                              		</button>

			                              		<div class="dropdown-menu dropdown">
			                              				<div id="language">
			                              				        <span class="list-item">
			                              							<a href="?speak=de_DE"><?php echo $this->translate('Deutsch') ?></a>
			                              						</span><br />
			                              						<span class="list-item">
			                              							<a href="?speak=en_US"><?php echo $this->translate('English') ?></a>
			                              						</span>
			                              				</div>
			                              		</div>

			                              	</div><!-- // btn-group -->
			                               </div>


			  						</div>
			  				</div>
						<?php endif; ?>
		  			<div class="topbar">
		  				<div class="pull-right topbannerfixed">

		  					<ul class="pull-right">

<?php if($this->Rights()->isShopAdmin()): ?>
	<li class=""><a href="?no_cache=true">Servercache leeren</a></li>
	<?php endif;?>


                                <!-- *********** in Bearbeitung **************  -->
		  						<li><a href="/article/inwork/all">
		  							<span class="fa fa-pencil-square-o" title="<?php echo $this->translate('in Bearbeitung')?> (<?= $this->inworkCount ?>)"></span>
		  							<span class="text-link"><?php echo $this->translate('in Bearbeitung')?> (<?= $this->inworkCount ?>)</span></a>
		  						</li>



                                 <!-- *********** Warenkorb **************  -->
		                          <li><a href="/basket">
		  							<span class="fa fa-shopping-cart" title="<?php echo $this->translate('Warenkorb')?>: (<?php echo $this->Basket()->getCount() ?>) <?php if(!$this->designsettings()->get('display_no_price')) { ?><?= $this->currency->toCurrency($this->Basket()->getBasketSum()); ?><?php } ?>"></span>
		  							<span class="no-text-link"><?php echo $this->translate('Warenkorb')?>: (<?php echo $this->Basket()->getCount() ?>) <?php if(!$this->designsettings()->get('display_no_price')) { ?><?= $this->currency->toCurrency($this->Basket()->getBasketSum()); ?><?php } ?></span></a>
		  						</li>

								<!-- *********** Abmelden | Registrieren **************  -->
								<li class="<?php echo ($this->activeNav == "/user/register")? "active": ""; ?>">
									<?php if(Zend_Auth::getInstance()->hasIdentity()): ?>
										<a href="/user?logout=1">
                                            <span class="fa fa-sign-in" title="<?php echo $this->translate('Abmelden')?>"></span>
										   	<span class="text-link"><?php echo $this->translate('Abmelden')?> (<?= $this->user->self_firstname . ' '.$this->user->self_lastname ?>)</span></a>
									<?php else: ?>
										<a href="/user/register">
											<span class="fa fa-sign-in" title="<?php echo $this->translate('Registrieren')?>"></span>
											<span class="text-link"><?php echo $this->translate('Registrieren')?></span></a>
									<?php endif; ?>
								</li>


								<!-- *********** Anmelden | Mein Account **************  -->
								<li class="<?php echo ($this->activeNav == "/user/myoverview" || $this->activeNav == "/user/login")? "active": ""; ?>">
								 	<?php if(Zend_Auth::getInstance()->hasIdentity()): ?>
										<a href="/user/myoverview">
											<span class="fa fa-user" title="<?php echo $this->translate('Mein Account')?>"></span>
											<span class="text-link"><?php echo $this->translate('Mein Account')?></span></a>
									<?php else: ?>
										<a href="/user/login">
											<span class="fa fa-user" title="<?php echo $this->translate('Anmelden')?>"></span>
											<span class="text-link"><?php echo $this->translate('Anmelden')?></span></a>
									<?php endif; ?>
								 </li>
		  					</ul>

		  				</div><!-- // links pull-left -->
						  

		  				
						<div class="clearfix"></div>
		<!-- LOGO -->
		</div>
</section><!-- // #topbar -->
<div class="logotopbanner">

		    <div class="col-xs-12">
				<?php if($this->user->self_foto) { ?>
					<!--<a href="/" title="<?= $this->shop->name; ?>: zur Startseite"><?= $this->image()->thumbnailImage($this->shop->name, 'userlogo1', $this->user->self_foto); ?></a>-->
				<?php } if($this->user->Account->logo1) { /* $this->user->self_foto = für Bild vom Kontakt */ ?>
					<a href="/" title="<?= $this->shop->name; ?>: zur Startseite"><?= $this->image()->thumbnailImage($this->shop->name, 'accountlogo1', $this->user->Account->logo1); ?></a>
					<?php } if($this->shop->logo1) { ?>
						<a href="/" title="<?= $this->shop->name; ?>: zur Startseite"><?= $this->image()->thumbnailImage($this->shop->name, 'logo1', $this->shop->logo1); ?></a>
		      <?php } else { ?>
		        	<h1 class="head_logo"><?= $this->shop->name; ?></h1>
			  <?php } ?>
			  <!--<a  href="/" title="<?= $this->shop->name; ?>: zur Startseite"><img src="/<?php echo $this->designPath ?>bootstrap/img/topnammer_1110_100.png" alt="<?= $this->shop->name; ?>" id="logo"/></a>-->
		    </div>
		</div>
		</div><!-- // <div class="container"><div class="topbar"><div class="row">  -->
  
  <div class="navibarcontainercolor">
  <div class="navibarcontainer">
	    <?php
			/**
			* UrsprC<nglich gab es eine HTML-BE einstellung, um das MenC< oberhalb oder unterhalb des Logos/Banners anzeigen zu kC6nnen
			* mC6glich, wir behalten es nur hier wegen der kompatibiliC$t
			*
			* HTML BE: Shop-Einstellung > Design Hauptnavigation oben ja/nein :: wenn JA -> Naivgation hier & so anzeigen
			*/
			if($this->designsettings()->get('display_mainnav_top')){
                            include_once '_hauptmenu.phtml';
			}
	     ?>



	    <?php
			/**
			* HTML BE: Shop-Einstellung > Design Hauptnavigation oben ja/nein :: wenn NEIN  -> Naivgation unter dem Logo (hier) anzeigen
			*/
			if(!$this->designsettings()->get('display_mainnav_top')){
                            include_once '_hauptmenu.phtml';
			}
	     ?>
  </div>
  </div>
  <?php
  $link = $_SERVER["HTTP_HOST"].$_SERVER["REQUEST_URI"];
  $str_arr = explode ("/", $link);  
  $linkend = end($str_arr);
  ?>
 
  <div class="slidercontainer">

  <?php 

//var_dump($linkend);
if($linkend == "") { 
echo  $this->partial ( 'carousel.phtml');
} 
?>
</div>
  <div class="container contentcontainer">
		<section id="layout-main-wrap">


	   		<?php /**
				   * BREADCRUMB
				   *wenn es eine Breadcrumb gibt (abhC$ngig von etMinDepth(1)), dann ausgeben
				   */
				$_tmp_breadcrumb = $this->navigation()->breadcrumbs()->setMinDepth(1)->setSeparator('</li><li>');
                $_tmp_breadcrumb = str_replace('<li><a id="breadcrumbs-ArticlegroupsArticle" href="/overview/">ArticlegroupsArticle</a></li>', '', $_tmp_breadcrumb);
				if (strlen($_tmp_breadcrumb)>0): ?>
				    <div class="row clearfix">
					    <div class="col-md-12">
						    <ul class="breadcrumb">
							    <li><?php echo  $_tmp_breadcrumb; ?></li>
						    </ul>
					    </div>
				    </div>
			<?php else: /* wenn keine BreadCrumb generiert wird, wie bspw. bei den letzen Reitern von "Motive" klemmt der content sofor unter der navi; daher: */  ?>
				    <div class="row clearfix">
					    <div class="col-md-12">
						    <ul class="breadcrumb">
							    <li>&nbsp;</li>
						    </ul>
					    </div>
				    </div>
			<?php endif; ?>




            <?php
            $PriorityMessenger = $this->PriorityMessenger();
            if(count($PriorityMessenger)): ?>

		        <div class="flashmessages">

		        <?php
		                foreach ($PriorityMessenger as $label => $messages) {
		                    if (count($messages)) {
		                        foreach ($messages as $message) {
		                            if($label == 'error') {
		                                echo '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">&times;</span></button>'.$this->translate($message).'</div>';
		                            }else{
		                                echo '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">&times;</span></button>'.$this->translate($message).'</div>';
		                            }
		                        }
		                    }
		                }
		            ?>
		        </div>
	   		<?php endif; ?>


	 <!-- C o n t e n t ******************************************************************************************************* -->

       		<?= $this->layout()->CONTENT; ?>



    </section>

  </div>
  <div class="footercontainer1">
  	<div class="container">

	<!-- FOOTER 1 & Inhalte aus dem CMS  ************************************************************************************** -->
<?php 
$link = $_SERVER["HTTP_HOST"].$_SERVER["REQUEST_URI"];
$str_arr = explode ("/", $link);  
$linkend = end($str_arr);
//var_dump($linkend);
if($linkend == "") { ?>
		<section id="footer-customer">
			<div class="row clearfix">
				<div class="col-md-12">
				<div class="panel">
			                <!--<ul class="nav-list">
				                    <?php if(Zend_Auth::getInstance()->hasIdentity()): ?>
							    <li style="font-weight:bold"><?php echo $this->translate('Service')?>:</li>
					                    <li><a href="/user/mysettings"><?php echo $this->translate('Einstellungen')?></a></li>
					                    <li><a href="/user/myorders"><?php echo $this->translate('Meine Bestellungen')?></a></li>
						                    <?php if($this->shop->template_display_user_approval): ?>
						                        <li><a href="/user/myapproval"><?php echo $this->translate('Freigabebedürftige Bestellungen')?></a></li>
						                    <?php endif; ?>
										<li><a href="/article/mypersarticle"><?php echo $this->translate('Meine Persönlichen Produkte')?></a></li>
				                   <?php else: ?>
                                                            <li><a href="/user/login"><?php echo $this->translate('Anmelden')?></a></li>
				                   <?php endif;  /* if(Zend_Auth::getInstance()->hasIdentity()): */ ?>
					</ul>


					<br class="clearfix">-->

					<!--  ALLES SOLL raus aus dem Footer - 20.10.2014

					<?php if($this->designsettings()->get('display_tags') == true): ?>

				                    <?php $pc = $this->cloud()->getProductCloud(); ?>

				                    <?php if(count($pc->getItemList())): ?>
				                    	<h5><?php echo $this->translate('Produkte')?> Tags</h5>
				                    	<?= $pc ?>
				                    <?php endif; ?>

				                    <?php if($this->designsettings()->get('display_motive') == true): ?>
				                    <?php $mc = $this->cloud()->getMotivCloud(); ?>
					                    <?php if(count($mc->getItemList())): ?>
					                    	<h5><?php echo $this->translate('Motive')?> Tags</h5>
					                    	<?= $mc ?>
					                    <?php endif; ?>
				                    <?php endif; ?>

               				 <?php endif; ?>

                                         -->
							 <?php $news_rows = $this->news()->getShopNews(); ?>
							        <?php if(count($news_rows)): ?>
							        <!--<hr>
									<br>-->
							        <h4><a href="/news"><?php echo $this->translate('News')?></a></h4>

							        <?php foreach($news_rows as $news): ?>
							              <h5><strong><?php echo $this->date($news->sort_date)->toString(Zend_Date::DATE_MEDIUM) ?></strong> <?= $news->title ?></h5><p><?= $news->einleitung ?> <a href="/news/<?= $news['url'] ?>">[<?php echo $this->translate('mehr')?>...]</a></p><br />
							        <?php endforeach; ?>
							  <?php endif; ?>

							</div><!-- // panel -->
						</div><!-- // col-md-12 column panel -->
					</div><!-- // row -->
				<br class="clearfix">
		</section>
<?php } ?>
  	</div>
<div class="footercontainer2">

	<!-- FOOTER 2 & Copyright  ************************************************************************************** -->
	<section id="footer-application">
				<div class="col-md-12">
                 <div class="footer_content">
                    <div class="footer_copyright">
                        <div class="bottom_menu">
						<div class="col-md-3">
                                            <ul class="nav-list">
                                                    

												<?php if(!$this->designsettings()->get('b2bshop')): ?>
													<li><a href="/agb"><?php echo $this->translate('AGB')?></a></li>
													<li><a href="/revocation"><?php echo $this->translate('Widerrufsbelehrung')?></a></li>
													<li><a href="/privacy"><?php echo $this->translate('Datenschutzerklärung')?></a></li>
													<li><a href="/impress"><?php echo $this->translate('Impressum')?></a></li>
												<?php endif; ?>
                                            </ul>
						</div>
						<div class="col-md-3">
						<ul class="nav-list">
											<?php
                                                    /**
                                                     * Links ausgeben für CMS (' bottom ') -->
                                                     */
                                                        $help = $this->cms()->getCms('bottom');

                                                        foreach($help as $hp): ?>
                                                               <li><a href="/cms/<?php echo $hp->url ?>"><?php echo $this->translate($hp->menu) ?></a></li>

                                                        <?php endforeach; ?>
														</ul>
				        </div>
						<div class="col-md-3">
						<ul class="nav-list">
											<?php
                                                    /**
                                                     * Links ausgeben für CMS (' bottom ') -->
                                                     */
                                                        $help = $this->cms()->getCms('custom1');

                                                        foreach($help as $hp): ?>
                                                               <li><a href="/cms/<?php echo $hp->url ?>"><?php echo $this->translate($hp->menu) ?></a></li>

                                                        <?php endforeach; ?>
														</ul>
						</div>
						<div class="col-md-3">
						<ul class="nav-list">
											<?php
                                                    /**
                                                     * Links ausgeben für CMS (' bottom ') -->
                                                     */
                                                        $help = $this->cms()->getCms('custom2');

                                                        foreach($help as $hp): ?>
                                                               <li><a href="/cms/<?php echo $hp->url ?>"><?php echo $this->translate($hp->menu) ?></a></li>

                                                        <?php endforeach; ?>
														</ul>
						</div>	
				        </div>
			        </div>
		         </div>


</section>
  	</div>

<section>

    <?php
    /**
     * CMS Text ('contentbottom') ausgeben
     */
            $cms =  $this->cms()->getCms('contentbottom');

            if(count($cms) > 0)  /* wenn wir CMS einträge haben... */
            {
                /* Text ausgeben */
                if(!$cms->getFirst()->notinmenu)
                {
                     echo $cms->getFirst()->getText();
                }

                echo '<hr>';

            }
   ?>
</section>




	<!-- ******************************************************************************************************************************************************** -->
	<!-- 17.09.2014 bis herher - datrunter kann alles so bleiben -->
	<!-- ******************************************************************************************************************************************************** -->






    <!-- Additional WrapperB4s for Layouter -->
	<div id="overlay_frame" class="overlay" style="display: none; position: fixed; top: 0;left: 0;z-index: 5000; background-color: #000000; opacity: 0.4; filter: alpha(opacity = 40);"></div>
	<div class="layouter_frame" id="layouter_frame" style="position:fixed; z-index: 9999999; display:none"><iframe frameborder="0" scrolling="no" id="frame" style="overflow: hidden; height: 100%; width: 100%"></iframe></div>
	<div style="clear:both"></div>



	<!-- /Additional WrapperB4s Layouter -->


    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="/<?php echo $this->designPath ?>/assets/uploader/js/vendor/tmpl.min.js"></script>

    <script src="/<?php echo $this->designPath ?>/assets/uploader/js/vendor/load-image.min.js"></script>
    <script src="/<?php echo $this->designPath ?>/code.js"></script>
    <script src="/<?php echo $this->designPath ?>/lightbox/lb.js"></script>

      <script>window.cookieconsent_options = {message: 'Cookies erleichtern die Bereitstellung unserer Dienste. Mit der Nutzung unserer Dienste erklären Sie sich damit einverstanden, dass wir Cookies verwenden. ', dismiss: 'Schließen', learnMore: 'Mehr Infos erhalten sie in der Datenschutzerklärung.', link: '/privacy', theme: 'light-bottom'}</script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>

    <?php if($this->shop->fullbackground): ?>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>
        <script>
            $.backstretch("/<?php echo $this->image()->thumbnailImage('logo', 'logo1', $this->shop->fullbackground, true, true); ?>");
        </script>

    <?php endif; ?>

    <?php
        $this->headScript()->prependFile('/scripts/templateprint.js');
        $this->headLink()->appendStylesheet('/scripts/jquery-loading/css/showLoading.css');
        $this->headScript()->prependFile('/scripts/jquery-loading/js/jquery.showLoading.min.js');
    	$this->headScript()->prependFile('/scripts/jquery-multiselect/js/jquery.multi-select.js');
    	$this->headLink()->appendStylesheet('/scripts/jquery-multiselect/css/multi-select.css');
    ?>

    <?= $this->headScript(); ?>
    <?= $this->headLink(); ?>



    <?php if($this->shop->googleanalyticscode != ''): ?>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '<?= $this->shop->googleanalyticscode; ?>', 'auto');
			ga('send', 'pageview');
		</script>
    <?php endif; ?>

    <?php if(isset($this->debug) && count($this->debug) > 0): ?>
        <div class="debug">
        <?php foreach($this->debug as $value): ?>
            <p><?php echo $value; ?></p>
        <?php endforeach; ?>
        </div>
    <?php endif; ?>

	</div><!-- container -->
</div><!-- overall -->

  </body>
</html>
