<!--  Nav v1 ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<section id="hauptmenu">


    <div class="col-md-12 column navLevel1">

        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Navigation anzeigen</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li class="home">
                        <a href="/"><i class="fa fa-home"></i> <span class="menu-title">Start</span></a>
                    </li>

                    <?php
                    $articleGroups = $this->Articlegroup()->getTree();

                    foreach ($articleGroups as $articleGroup) {
                        $subGroups = false;  //$this->Articlegroup()->getSubTree($articleGroup);

                        if(count($subGroups) > 0) {
                            echo '<li class="dropdown"><a data-target="#" href="/overview/' . $articleGroup->url . '" class="dropdown-toggle" data-toggle="dropdown">'.$this->translate($articleGroup->title).' <strong class="caret"></strong></a>';

                            echo '<ul class="dropdown-menu">';
                            echo '  <li><a href="/overview/' . $articleGroup->url . '">' . $this->translate($articleGroup->title).'</a>'; //Das aktuelle Label auch noch einmal ausgeben
                            foreach ($subGroups as $subGroup) {
                                $subSubGroups = $this->Articlegroup()->getSubTree($subGroup);
                                if(count($subSubGroups) > 0) {
                                    echo '<li><a href="/overview/'.$subGroup->url.'">'.$subGroup->title.'</a>';
                                    echo '<ul class="dropdown-menu">';
                                    foreach ($subSubGroups as $pgd) {
                                        echo '<li><a href="/overview/'.$pgd->url.'">'.$pgd->title.'</a></li>';
                                    }
                                    echo '</ul>';
                                }else{
                                    echo '<li><a href="/overview/'.$subGroup->url.'">'.$subGroup->title.'</a>';
                                }

                                echo '</li>';
                            }
                            echo '</ul>';

                        }else{
                            echo ' <li><a href="/overview/' . $articleGroup->url . '">' . $this->translate($articleGroup->title).'</a>';
                        }
                        echo '</li>';
                    }



                    /**
                     * CMS einträge = INFO - wenn es welche gibt
                     */
                    $infonavigation = $this->cms()->getCms('top');

                    if( count($infonavigation) > 0) : ?>

                        <?php foreach($infonavigation as $hp): ?>
                            <?php if(count($hp->Subs) > 0): ?>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong class="caret"></strong><?php echo $this->translate($hp->menu) ?></a>
                                    <ul class="dropdown-menu">
                                        <?php foreach($hp->Subs as $hps): ?>
                                            <li><a href="/cms/<?php echo $hps->url ?>"><?php echo $this->translate($hps->menu) ?></a></li>
                                        <?php endforeach; ?>
                                    </ul></li>
                            <?php elseif($hp->modul == 'Redirect'): ?>
                                <li><a href="<?php echo $hp->parameter ?>"><?php echo $this->translate($hp->menu) ?></a></li>
                            <?php else: ?>
                                <li><a href="/cms/<?php echo $hp->url ?>"><?php echo $this->translate($hp->menu) ?></a></li>
                            <?php endif;?>

                        <?php endforeach; ?>

                    <?php endif;
                    if(Zend_Auth::getInstance()->hasIdentity()==true): ?>
                        <li><a href="/article/mypersarticle">Meine persönlichen Produkte</a></li>
                    <?php endif;?>


                </ul>
                <form class="navbar-form navbar-right" role="search" id="search" action="<?= $this->url(array(), 'search') ?>" enctype="multipart/form-data" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q">
                        <span class="button-search glyphicon glyphicon-search"></span>
                    </div> <button type="submit" class="hide">ok</button>
                </form>

            </div>


    </div>

</section>
