<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <!-- template version 4 -->
      <?php if($this->page_title != ''): ?>
          <title><?= $this->page_title; ?></title>
      <?php else:?>
          <title><?= $this->shop->name; ?></title>
      <?php endif; ?>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Latest compiled and minified CSS -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

      	<link href="/<?php echo $this->designPath ?>/bootstrap/css/style.css" rel="stylesheet">
      	<link href="/<?php echo $this->designPath ?>/bootstrap/css/yamm.css" rel="stylesheet">

        <link href="/<?php echo $this->designPath ?>/lightbox/lb.css" rel="stylesheet">

        <?php if($this->shop->css != ""): ?>
            <style type="text/css"><?= $this->shop->css; ?></style>
        <?php endif; ?>

        <?php if($this->designsettings()->get('custom_css') != ""): ?>
   	        <style><?= $this->designsettings()->get('custom_css') ?></style>
        <?php endif; ?>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]><script src="<?php echo $this->designPath ?>/js/html5shiv.js"><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script></script><![endif]-->

        <!-- Fav und touch icons -->
        <?php if(file_exists( $this->designPath . '/img/favicon.png')): ?>
        <link rel="shortcut icon" href="<?php echo $this->designPath ?>/img/favicon.png">
        <?php else: ?>
            <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <?php endif; ?>


        
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" ></script>



        <?php if($this->shop->private): ?><meta name='robots' content='noindex,follow' /><?php endif; ?>


        <?= $this->headMeta(); ?>


      <link href="/<?php echo $this->designPath ?>/bootstrap/css/bootstrap.css" rel="stylesheet">

      <?php if(file_exists( $this->image()->thumbnailImage('browsericon', 'browsericon', $this->shop->browsericon, true, true))): ?>
          <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->image()->thumbnailImage('browsericon', 'browsericon', $this->shop->browsericon, true, true); ?>"/>

      <?php endif;?>





    <?php

   /*
    <script>
        var slider_interval = 2000;
        var uuid = "";
        var motive_modal_mode = '<?php if($this->shop->template_display_products_custom_layouter): ?>market<?php else: ?><?php endif; ?>';
        var motive_modal_bigimage = '<?php if($this->designsettings()->get('motiv_modal_big') == true): ?>motivelistoverviewbig<?php else: ?>motivelist<?php endif; ?>';
        <?php if(!$this->designsettings()->get('b2bshop')): ?>
            var b2bshop = false;
        <?php else: ?>
            var b2bshop = true;
        <?php endif; ?>
    </script>
    */

    ?>

  </head>


  <body>

  <div class="container">




	<!-- Topbar:: Navigation  -->
		  <section id="topbar">
		  			<div class="topbar"><div class="row">
		  				<div class="pull-left">

		  					<ul class="links pull-left">


                                 <!-- *********** Anmelden | Mein Account **************  -->
								 <li class="<?php echo ($this->activeNav == "/user/myoverview" || $this->activeNav == "/user/login")? "active": ""; ?>">
								 	<?php if(Zend_Auth::getInstance()->hasIdentity()): ?>
										<a href="/user/myoverview">
											<span class="fa fa-user" title="<?php echo $this->translate('Mein Account')?>"></span>
											<span class="text-link"><?php echo $this->translate('Mein Account')?></span></a>
									<?php else: ?>
										<a href="/user/login">
											<span class="fa fa-user" title="<?php echo $this->translate('Anmelden')?>"></span>
											<span class="text-link"><?php echo $this->translate('Anmelden')?></span></a>
									<?php endif; ?>
								 </li>


                                 <!-- *********** Abmelden | Registrieren **************  -->
                          		<li class="<?php echo ($this->activeNav == "/user/register")? "active": ""; ?>">
									<?php if(Zend_Auth::getInstance()->hasIdentity()): ?>
										<a href="/user?logout=1">
                                            <span class="fa fa-sign-in" title="<?php echo $this->translate('Abmelden')?>"></span>
										   	<span class="text-link"><?php echo $this->translate('Abmelden')?> (<?= $this->user->self_firstname . ' '.$this->user->self_lastname ?>)</span></a>
									<?php else: ?>
										<a href="/user/register">
											<span class="fa fa-sign-in" title="<?php echo $this->translate('Registrieren')?>"></span>
											<span class="text-link"><?php echo $this->translate('Registrieren')?></span></a>
									<?php endif; ?>
								</li>


                                <!-- *********** in Bearbeitung **************  -->
		  						<li><a href="/article/inwork/all">
		  							<span class="fa fa-pencil-square-o" title="<?php echo $this->translate('in Bearbeitung')?> (<?= $this->inworkCount ?>)"></span>
		  							<span class="text-link"><?php echo $this->translate('in Bearbeitung')?> (<?= $this->inworkCount ?>)</span></a>
		  						</li>



                                 <!-- *********** Warenkorb **************  -->
		                          <li><a href="/basket">
		  							<span class="fa fa-shopping-cart" title="<?php echo $this->translate('Warenkorb')?>: (<?php echo $this->Basket()->getCount() ?>) <?= $this->currency->toCurrency($this->Basket()->getBasketSum()); ?>"></span>
		  							<span class="no-text-link"><?php echo $this->translate('Warenkorb')?>: (<?php echo $this->Basket()->getCount() ?>) <?= $this->currency->toCurrency($this->Basket()->getBasketSum()); ?></span></a>
		  						</li>

		  					</ul>

		  				</div><!-- // links pull-left -->


		  				<!-- ********** Dropdown Sprache ************* -->
						<?php if(!$this->shop->market && $this->designsettings()->get('display_no_language') == false): ?>
			  				<div class="pull-right center-sm">
			  						<div class="language pull-right">
			                              <div class="language-wrapper pull-right">
			                              	<div class="btn-group">
			                              		<button type="button" class="btn btn-dropdown dropdown-toggle" data-toggle="dropdown">
			                              						<span><?php echo $this->translate('Sprache')?></span>
			                              						<span class="caret"></span>
			                              		</button>

			                              		<div class="dropdown-menu dropdown">
			                              				<div id="language">
			                              				        <span class="list-item">
			                              							<a href="?speak=de_DE"><?php echo $this->translate('Deutsch') ?></a>
			                              						</span>
			                              						<span class="list-item">
			                              							<a href="?speak=en_US"><?php echo $this->translate('English') ?></a>
			                              						</span>
			                              				</div>
			                              		</div>

			                              	</div><!-- // btn-group -->
			                               </div>


			  						</div>
			  				</div>
						<?php endif; ?>

		  			</div></div><!-- // <div class="container"><div class="topbar"><div class="row">  -->
		  	</section><!-- // #topbar -->



		<!-- LOGO -->
		<div class="row clearfix" id="topbanner">
		    <div class="col-xs-12">
			  <?php if($this->shop->logo1): ?>
		            <a  href="/" title="<?= $this->shop->name; ?>: zur Startseite"><img src="<?php echo $this->image()->thumbnailImage('logo', 'logo1', $this->shop->logo1, true, false); ?>" width="1170" alt="<?= $this->shop->name; ?>" id="logo"/></a>
		      <?php else: ?>
		        	<h1 class="head_logo"><?= $this->shop->name; ?></h1>
		      <?php endif;?>
		    </div>
		</div>




	    <?php
			/**
			* UrsprC<nglich gab es eine HTML-BE einstellung, um das MenC< oberhalb oder unterhalb des Logos/Banners anzeigen zu kC6nnen
			* mC6glich, wir behalten es nur hier wegen der kompatibiliC$t
			*
			* HTML BE: Shop-Einstellung > Design Hauptnavigation oben ja/nein :: wenn JA -> Naivgation hier & so anzeigen
			*/
			if($this->designsettings()->get('display_mainnav_top')){
                            include_once '_hauptmenu.phtml';
			}
	     ?>



	    <?php
			/**
			* HTML BE: Shop-Einstellung > Design Hauptnavigation oben ja/nein :: wenn NEIN  -> Naivgation unter dem Logo (hier) anzeigen
			*/
			if(!$this->designsettings()->get('display_mainnav_top')){
                            include_once '_hauptmenu.phtml';
			}
	     ?>



<!--     <div id="layout-main-wrap" class="row">  -->
		<section id="layout-main-wrap">


	   		<?php /**
				   * BREADCRUMB
				   *wenn es eine Breadcrumb gibt (abhC$ngig von etMinDepth(1)), dann ausgeben
				   */
				$_tmp_breadcrumb = $this->navigation()->breadcrumbs()->setMinDepth(1)->setSeparator('</li><li>');
                $_tmp_breadcrumb = str_replace('<li><a id="breadcrumbs-ArticlegroupsArticle" href="/overview/">ArticlegroupsArticle</a></li>', '', $_tmp_breadcrumb);
				if (strlen($_tmp_breadcrumb)>0): ?>
				    <div class="row clearfix">
					    <div class="col-md-9">
						    <ul class="breadcrumb">
							    <li><?php echo  $_tmp_breadcrumb; ?></li>
						    </ul>
					    </div>
				    </div>
			<?php else: /* wenn keine BreadCrumb generiert wird, wie bspw. bei den letzen Reitern von "Motive" klemmt der content sofor unter der navi; daher: */  ?>
				    <div class="row clearfix">
					    <div class="col-md-9">
						    <ul class="breadcrumb">
							    <li>&nbsp;</li>
						    </ul>
					    </div>
				    </div>
			<?php endif; ?>




            <?php
            $PriorityMessenger = $this->PriorityMessenger();
            if(count($PriorityMessenger)): ?>

		        <div class="flashmessages">

		        <?php
		                foreach ($PriorityMessenger as $label => $messages) {
		                    if (count($messages)) {
		                        foreach ($messages as $message) {
		                            if($label == 'error') {
		                                echo '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">&times;</span></button>'.$this->translate($message).'</div>';
		                            }else{
		                                echo '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">&times;</span></button>'.$this->translate($message).'</div>';
		                            }
		                        }
		                    }
		                }
		            ?>
		        </div>
	   		<?php endif; ?>
            <?php if($this->shop->Install->isMaintenanceMode()): ?>
                <h4><?php echo $this->shop->Install->getMaintenanceTitle() ?></h4>
                <p><?php echo $this->shop->Install->getMaintenanceText() ?></p>
            <?php endif; ?>

	 <!-- C o n t e n t ******************************************************************************************************* -->

       		<?= $this->layout()->CONTENT; ?>



    </section><!-- </div> //layout-main-wrap -->




	<!-- FOOTER 1 & Inhalte aus dem CMS  ************************************************************************************** -->

		<section id="footer-customer">
			<div class="row clearfix">
				<div class="col-md-12">
				<div class="panel">
			                <ul class="nav-list">
				                    <?php if(Zend_Auth::getInstance()->hasIdentity()): ?>
							    <li style="font-weight:bold"><?php echo $this->translate('Service')?>:</li>
					                    <li><a href="/user/mysettings"><?php echo $this->translate('Einstellungen')?></a></li>
					                    <li><a href="/user/myorders"><?php echo $this->translate('Meine Bestellungen')?></a></li>
						                    <?php if($this->shop->template_display_user_approval): ?>
						                        <li><a href="/user/myapproval"><?php echo $this->translate('Freigabebedürftige Bestellungen')?></a></li>
						                    <?php endif; ?>
										<li><a href="/article/mypersarticle"><?php echo $this->translate('Meine Persönlichen Produkte')?></a></li>
				                   <?php else: ?>
                                                            <li><a href="/user/login"><?php echo $this->translate('Anmelden')?></a></li>
				                   <?php endif;  /* if(Zend_Auth::getInstance()->hasIdentity()): */ ?>
					</ul>


					<br class="clearfix">

					<!--  ALLES SOLL raus aus dem Footer - 20.10.2014

					<?php if($this->designsettings()->get('display_tags') == true): ?>

				                    <?php $pc = $this->cloud()->getProductCloud(); ?>

				                    <?php if(count($pc->getItemList())): ?>
				                    	<h5><?php echo $this->translate('Produkte')?> Tags</h5>
				                    	<?= $pc ?>
				                    <?php endif; ?>

				                    <?php if($this->designsettings()->get('display_motive') == true): ?>
				                    <?php $mc = $this->cloud()->getMotivCloud(); ?>
					                    <?php if(count($mc->getItemList())): ?>
					                    	<h5><?php echo $this->translate('Motive')?> Tags</h5>
					                    	<?= $mc ?>
					                    <?php endif; ?>
				                    <?php endif; ?>

               				 <?php endif; ?>

                                         -->


							 <?php $news_rows = $this->news()->getShopNews(); ?>
							        <?php if(count($news_rows)): ?>
							        <hr>
									<br>
							        <h4><a href="/news"><?php echo $this->translate('News')?></a></h4>

							        <?php foreach($news_rows as $news): ?>
							              <h5><?php echo $this->date($news->sort_date)->toString(Zend_Date::DATE_MEDIUM) ?> <?= $news->title ?></h5><p><?= $news->einleitung ?> <a href="/news/<?= $news['url'] ?>">[<?php echo $this->translate('mehr')?>...]</a></p>
							        <?php endforeach; ?>
							  <?php endif; ?>

							</div><!-- // panel -->
						</div><!-- // col-md-12 column panel -->
					</div><!-- // row -->
				<br class="clearfix">
		</section>



	<!-- FOOTER 2 & Copyright  ************************************************************************************** -->
	<section id="footer-application">
			<div class="row">
				<div class="col-md-12">
                 <div class="footer_content">
                    <div class="footer_copyright">
                        <div class="bottom_menu">

                                            <ul class="nav-list">
                                                    <?php
                                                    /**
                                                     * Links ausgeben für CMS (' bottom ') -->
                                                     */
                                                        $help = $this->cms()->getCms('bottom');

                                                        foreach($help as $hp): ?>
                                                               <li><a href="/cms/<?php echo $hp->url ?>"><?php echo $this->translate($hp->menu) ?></a></li>

                                                        <?php endforeach; ?>

												<?php if(!$this->designsettings()->get('b2bshop')): ?>
													<li><a href="/agb"><?php echo $this->translate('AGB')?></a></li>
													<li><a href="/revocation"><?php echo $this->translate('Widerrufsbelehrung')?></a></li>
													<li><a href="/privacy"><?php echo $this->translate('Datenschutzerklärung')?></a></li>
													<li><a href="/impress"><?php echo $this->translate('Impressum')?></a></li>
												<?php endif; ?>
                                            </ul>

				        </div>
			        </div>
		         </div>

	            </div>
            </div>
</section>


<section>

    <?php
    /**
     * CMS Text ('contentbottom') ausgeben
     */
            $cms =  $this->cms()->getCms('contentbottom');

            if(count($cms) > 0)  /* wenn wir CMS einträge haben... */
            {
                /* Text ausgeben */
                if(!$cms->getFirst()->notinmenu)
                {
                     echo $cms->getFirst()->getText();
                }

                echo '<hr>';

            }
   ?>

    <br class="clearfix">

</section>




	<!-- ******************************************************************************************************************************************************** -->
	<!-- 17.09.2014 bis herher - datrunter kann alles so bleiben -->
	<!-- ******************************************************************************************************************************************************** -->






    <!-- Additional WrapperB4s for Layouter -->
	<div id="overlay_frame" class="overlay" style="display: none; position: fixed; top: 0;left: 0;z-index: 5000; background-color: #000000; opacity: 0.4; filter: alpha(opacity = 40);"></div>
	<div class="layouter_frame" id="layouter_frame" style="position:fixed; z-index: 9999999; display:none"><iframe frameborder="0" scrolling="no" id="frame" style="overflow: hidden; height: 100%; width: 100%"></iframe></div>
	<div style="clear:both"></div>



	<!-- /Additional WrapperB4s Layouter -->


    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="/<?php echo $this->designPath ?>/assets/uploader/js/vendor/tmpl.min.js"></script>

    <script src="/<?php echo $this->designPath ?>/assets/uploader/js/vendor/load-image.min.js"></script>
    <script src="/<?php echo $this->designPath ?>/code.js"></script>
    <script src="/<?php echo $this->designPath ?>/calc.js"></script>
    <script src="/<?php echo $this->designPath ?>/lightbox/lb.js"></script>

      <script>window.cookieconsent_options = {message: 'Cookies erleichtern die Bereitstellung unserer Dienste. Mit der Nutzung unserer Dienste erklären Sie sich damit einverstanden, dass wir Cookies verwenden. ', dismiss: 'Schließen', learnMore: 'Mehr Infos erhalten sie in der Datenschutzerklärung.', link: '/privacy', theme: 'light-bottom'}</script>
      <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>

    <?php if($this->shop->fullbackground): ?>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>
        <script>
            $.backstretch("/<?php echo $this->image()->thumbnailImage('logo', 'logo1', $this->shop->fullbackground, true, true); ?>");
        </script>

    <?php endif; ?>

    <?php
        $this->headScript()->prependFile('/scripts/templateprint.js');
        $this->headLink()->appendStylesheet('/scripts/jquery-loading/css/showLoading.css');
        $this->headScript()->prependFile('/scripts/jquery-loading/js/jquery.showLoading.min.js');
    	$this->headScript()->prependFile('/scripts/jquery-multiselect/js/jquery.multi-select.js');
    	$this->headLink()->appendStylesheet('/scripts/jquery-multiselect/css/multi-select.css');
    ?>

    <?= $this->headScript(); ?>
    <?= $this->headLink(); ?>



    <?php if($this->shop->googleanalyticscode != ''): ?>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '<?= $this->shop->googleanalyticscode; ?>', 'auto');
			ga('send', 'pageview');
		</script>
    <?php endif; ?>

    <?php if(isset($this->debug) && count($this->debug) > 0): ?>
        <div class="debug">
        <?php foreach($this->debug as $value): ?>
            <p><?php echo $value; ?></p>
        <?php endforeach; ?>
        </div>
    <?php endif; ?>

    </div><!-- container -->
  </body>
</html>
