<?php
/**
 * 
 */
?>

<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 articlegrouplistitem">
    <div class="thumbnail">
        
            <a href="<?php echo $this->url(array('article' => $this->article->url), 'article'); ?>" class="produkt_image_overview">
                <?php 
                if((($this->article->typ == 6 && $this->article->a6_org_article != 0) || $this->article->typ == 8   ) && $this->article->upload_steplayouter_data != ""):
                    echo $this->image()->thumbnailSteplayouter2Article($this->article->title, '', $this->article, false);
                else:
                    echo $this->image()->thumbnailImage($this->article->title, '', $this->article->file);
                endif;
                ?>
            </a>
            <div class="caption">
                 <p class="produkttitel"><?php echo $this->Text()->truncate_text($this->escape($this->article->getTitle()),40) ?></p>
                    <p>
                    <?php if(!$this->designsettings()->get('display_no_price')) { ?><?php 
                            if(!$this->designsettings()->get('b2bshop') &&
				($this->article->a4_abpreis_calc != 0 ||
				$this->article->OrgArticle->a4_abpreis_calc ||
				($this->article->a6_org_article != 0 && $this->article->sum*1+($this->article->sum/100*$this->article->mwert) != 0) ||
				(($this->article->a4_abpreis + $this->article->a6_resale_price)*1+(($this->article->a4_abpreis + $this->article->a6_resale_price)/100*$this->article->mwert) != 0))): ?>
				    <h6 class="abpreis"><span class="badge badge-info"><?php echo $this->translate('ab') ?> 
				    <?php if($this->article->typ != 2 && $this->article->a4_abpreis_calc || $this->article->OrgArticle->a4_abpreis_calc):?>
					<?php echo $this->currency->toCurrency($this->article->a4_abpreis) ?>
				    <?php elseif($this->article->typ == 2): ?>
					<?php echo $this->currency->toCurrency($this->article->preis*1+($this->article->preis/100*$this->article->mwert)) ?>
				    <?php elseif($this->article->a6_org_article != 0):?>
					<?php echo $this->currency->toCurrency($this->article->sum*1+($this->article->sum/100*$this->article->mwert)) ?>
				    <?php else:?>
					<?php echo $this->currency->toCurrency(($this->article->a4_abpreis + $this->article->a6_resale_price)*1+(($this->article->a4_abpreis + $this->article->a6_resale_price)/100*$this->article->mwert)) ?> 
				    <?php endif;?>
					</span>
				    </h6>
					
			<?php endif; ?><?php } ?>
                    <p>
                            <a class="btn btn-primary produkt-config-btn" href="<?php echo $this->url(array('article' => $this->article->url), 'article'); ?>"><?php echo $this->translate('Bestellen')?></a>
                    </p>
            </div>
        </div>
</div>
 

