<?php
/**
 * /bootstrap3/templates/article/_articlegrouplistitem.phtml
 * 
 * Stellt die einezlnen Produktgruppen als div dar
 * #articlegrouplistitem wird im CSS angesprochen
 * 
 * @see /index/sliderproductsnosidenav.phtml
 * 
 */
?>
<style>
.einleitung {
    font-size: 12px;
    font-weight: 100;
    height: 80px;
    width: 250px;
}
.formattxt {
    font-weight: 100; 
    height: 20px;
    width: 250px;
    font-size: 12px;
}
.grouptumpheader h5 {
    font-weight: 700;
}
</style>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 articlegrouplistitem">
    <div class="thumbnail productgroupboxheight">
        <header class="productgroupboxtxt">
            <label class="grouptumpheader"><h5 style="
    margin-left: 10px;
"><?php echo $this->Text()->truncate_text($this->escape($this->articlegroup->title),40) ?></h5></label>
        </header>
        <article>
            <a href="<?= $this->url(array('id' => $this->articlegroup->url), 'overview') ?>" class="produkt_image_overview">
                <?= $this->image()->thumbnailImage($this->articlegroup->title, 'productgrouplist', $this->articlegroup->image); ?>
            </a>
        </article>
        <div class="caption productgroupbox productgroupboxtxt">
        <label class="einleitung"><?php echo $this->articlegroup->getEinleitung(); ?></label>
        <label class="formattxt"><?php echo $this->articlegroup->getTextFormat(); ?></label>
        </div>
        <footer>
            <a class="btn btn-success" href="<?= $this->url(array('id' => $this->articlegroup->url), 'overview') ?>">
                <span class="glyphicon glyphicon-ok"></span> <?php echo $this->translate('Auswählen')?>
            </a>
        </footer>
    </div>
</div>