<?php
$this->headScript()->prependFile('/scripts/underscore183.js');
$this->headScript()->prependFile('/scripts/list.js');

?>

<div class="modal fade" tabindex="-1" role="dialog" id="myCollectingOrders" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <button class="searchBtn btn btn-sm btn-success" style="float: right;margin-right: 50px;padding: 5px;font-weight: 500;line-height: 15px;">Suche</button><input class="search" placeholder="Search" style="float: right;margin-right: 50px;" />
                <h4 class="modal-title"><?php echo $this->translate('Sammelbestellung')?></h4>
            </div>
            <div class="modal-body" style="max-height: 260px;overflow: auto;">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#list" data-toggle="tab">Liste</a></li>
                    <li><a href="#selectedList" data-toggle="tab">Ausgewählte (<span class="selectContactsCount">0</span>)</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="list">
                        <table class="table " id="collecting_data">
                            <tbody class="list">

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="selectedList">
                        <form id="collecting_data_form">
                            <table class="table " id="collecting_data_selected">
                                <tbody class="list">

                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <span></span>
                <?php if($this->article->isCollectingOrdersNewContact()): ?><select class="btn btn-default" id="addContactAccount">
       
                </select>
                <a rel="#addContact" class="btn btn-primary"><?php echo $this->translate('Adresse für Standort hinzufügen')?></a><?php endif; ?>
                <a href="#" id="generate_orders" class="btn btn-warning"><?php echo $this->translate('Bestellen')?></a>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="inviteContact" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h4><?php echo $this->translate('Kunde einladen')?></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                    </div>
                    <input name="uuid" type="hidden" id="inputUuid">
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-success" href="#inviteContactButton" id="inviteContactButton" value="<?php echo $this->translate('Kunde einladen')?>"/>
                <a href="#" class="btn btn-warning" data-dismiss="modal"><?php echo $this->translate('Schließen')?></a>
            </div>
        </div>
    </div>
</div>
<style>
    .collectingCellBottom {
        padding: 2px !important;
        border: none !important;
    }

    .collectingCellTop {
        padding: 2px !important;
        border-top: 1px solid gray !important;
    }
</style>
<script>
    var previewEditUrl = '//tp.shopsrv.de/w2p/editor/init?w2pinframeredirect=true&w2pproductid=<?php echo $this->article->uuid ?>&ARTID=<?php echo TP_Crypt::encrypt(array('UUID' => $this->article->uuid, 'ARTID' => Zend_Session::getId(), 'COPY' => 2, 'load' => 3, 'SERVER' => $this->basepath, 'LAYOUTERID' => TP_Util::uuid())) ?>&time=<?= time(); ?>';
    var batchUrl = '//tp.shopsrv.de/w2p/batch?w2pinframeredirect=true&w2pproductid=<?php echo $this->article->uuid ?>&ARTID=<?php echo TP_Crypt::encrypt(array('UUID' => $this->article->uuid, 'ARTID' => Zend_Session::getId(), 'COPY' => 2, 'load' => 4, 'SERVER' => $this->basepath, 'LAYOUTERID' => TP_Util::uuid())) ?>&time=<?= time(); ?>';

    var accountId = '<?php echo $this->article->getCollectingOrdersAccount(); ?>';
    var accountFilter = '<?php echo $this->article->getCollectingOrdersAccountFilter(); ?>';
    var collectingOrdersChangePicture = '<?php echo $this->article->isCollectingOrdersChangePicture(); ?>';
    var collectingOrdersCopy = '<?php echo $this->article->isCollectingOrdersCopy(); ?>';
    var collectingOrdersNewContact = '<?php echo $this->article->isCollectingOrdersNewContact(); ?>';
    var collectingOrdersInviteContact = '<?php echo $this->article->isCollectingOrdersInviteContact(); ?>';
    var accountOwn = '<?php echo $this->user->account_id ?>';

</script>