<?php
$this->headScript()->prependFile('/scripts/underscore183.js');
$this->headScript()->prependFile('/scripts/list.js');

?>

<style>
    #collecting_data tr.top td {
        border-top-color: black;
    }

    .calcBasket {
        display:none;
    }
</style>
<div style="clear: both"></div>
<hr/>
<div class="row">
    <div class="col-md-3">
        <form class="form-inline" id="myCollectingOrders"><div class="form-group"><input class="form-control search" placeholder="Search" /></div><button type="button" class="searchBtn btn btn-sm btn-success" style=""><i class="fa fa-search"></i> Suche</button></form>
    </div>
    <div class="col-md-3">
        <div class="messageCollection"></div>
    </div>
    <div class="col-md-6">
        <span></span>
        <?php if($this->article->isCollectingOrdersNewContact()): ?><select id="addContactAccount">

        </select>
            <a rel="#addContact" class="btn btn-primary"><?php echo $this->translate('Adresse für Standort hinzufügen')?></a><?php endif; ?>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <table id="collecting_data" class="table">
            <tbody class="list">

            </tbody>
        </table>
    </div>
</div>
<script>
    var previewEditUrl = '//tp.shopsrv.de/w2p/editor/init?w2pinframeredirect=true&w2pproductid=<?php echo $this->article->uuid ?>&ARTID=<?php echo TP_Crypt::encrypt(array('UUID' => $this->article->uuid, 'ARTID' => Zend_Session::getId(), 'COPY' => 2, 'load' => 3, 'SERVER' => $this->basepath, 'LAYOUTERID' => TP_Util::uuid())) ?>&time=<?= time(); ?>';
    var batchUrl = '//tp.shopsrv.de/w2p/batch?w2pinframeredirect=true&w2pproductid=<?php echo $this->article->uuid ?>&ARTID=<?php echo TP_Crypt::encrypt(array('UUID' => $this->article->uuid, 'ARTID' => Zend_Session::getId(), 'COPY' => 2, 'load' => 4, 'SERVER' => $this->basepath, 'LAYOUTERID' => TP_Util::uuid())) ?>&time=<?= time(); ?>';

    var accountId = '<?php echo $this->article->getCollectingOrdersAccount(); ?>';
    var accountFilter = <?php echo $this->article->getCollectingOrdersAccountFilter(); ?>;
    var collectingOrdersChangePicture = '<?php echo $this->article->isCollectingOrdersChangePicture(); ?>';
    var collectingOrdersCopy = '<?php echo $this->article->isCollectingOrdersCopy(); ?>';
    var collectingOrdersNewContact = '<?php echo $this->article->isCollectingOrdersNewContact(); ?>';
    var collectingOrdersInviteContact = '<?php echo $this->article->isCollectingOrdersInviteContact(); ?>';
    var accountOwn = '<?php echo $this->user->account_id ?>';

</script>