<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <!--
    Zend Framework Demo Application
    $Id: admin.phtml 5162 2010-11-06 01:42:44Z boonkerz $
    
    #TODO Dokumentation des Default Layouts.
    -->
    <head>
        <!-- BEGIN: #header-files -->
        <?php echo $this->headMeta(); ?>
        <?php echo $this->headLink(); ?>
        <?php echo $this->headScript(); ?>
        <?php if(Zend_Registry::get('locale')->getLanguage() == 'de'): ?>
            <script type="text/javascript" src="/scripts/ext-3.1.0/src/locale/ext-lang-de.js"></script>
        <?php else: ?>
            <script type="text/javascript" src="/scripts/ext-3.1.0/src/locale/ext-lang-en.js"></script>
        <?php endif; ?>
        <!-- END: #header-files -->
        <title>PrintShopCreator</title>
    </head>
    <body>
        <!-- BEGIN: #header -->
        <?php echo $this->partial('partials/layout/header.phtml'); ?>
        <!-- END: #header -->
        
        <!-- BEGIN: #main -->
        <div id="main">
        <?php echo $this->partial('partials/layout/main.phtml'); ?>    
        </div>
        <!-- END: #main -->
        
        <!-- BEGIN: #footer -->
        <?php echo $this->partial('partials/layout/footer.phtml'); ?>
        <!-- END: #footer -->
    </body>
</html>