<?php echo '<?xml version="1.0" encoding="UTF-8" ?>'; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>500 Internal Server Error</title>
	</head>
	<body>
		<h1>Internal Server Error</h1>
        <p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
        <p>Please contact the server administrator, and inform them of the time the error occurred, and anything you might have done that may have caused the error.</p>
        <p>More information about this error may be available in the server error log.</p>
        <?php
            if(true === Main::getDebugState()) {
                $this->declareVars('errorException', new Exception('Exception wurde nicht übergeben'));
                
                echo '<pre>'. $this->errorException .'</pre>';
            }
        ?>
	</body>
</html>