<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <?php echo $this->headMeta(); ?>
        <?php echo $this->headLink(); ?>
        <script type="text/javascript">
            var username = '<?php echo $this->username ?>';
            var firstname = '<?php echo $this->firstname ?>';
            var lastname = '<?php echo $this->lastname ?>';
            var opendomain = 'http://<?= $_SERVER["SERVER_NAME"]; ?>/';
            var shopname = '<?= $this->shop->name; ?>';
        </script>
        <?php echo $this->headScript(); ?>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>PrintShopCreator</title>
        <?php if ($this->user): ?>
            <script type="text/javascript">
                Ext.state.Manager.setProvider(new Ext.ux.state.HttpProvider({
                    url:'/admin/user/extjssettings/format/json'
                    ,user:'<?= $this->user->id ?>'
                ,session:'<?= $this->user->id ?>'
                ,id:'<?= $this->user->id ?>'
                ,readBaseParams:{cmd:'readState'}
                ,saveBaseParams:{cmd:'saveState'}
                ,autoRead:false
                ,logFailure:false
                ,logSuccess:false
            }));
            Ext.state.Manager.getProvider().initState(<?php echo $this->user->getState() ?>);
        </script>
        <?php endif; ?>
    </head>
    <body>
        <?php echo $this->layout()->CONTENT; ?>
    </body>
</html>