<?php
$this->headLink()->appendStylesheet('/styles/admin/base.css');
$this->headLink()->appendStylesheet('/scripts/ext-3.2.0/resources/css/ext-all.css');
//$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/xtheme-purple.css');
$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/Ext.ux.grid.RowActions.css');
$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/icons.css');
$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/htmleditorimage.css');
$this->headLink()->appendStylesheet('/styles/admin/mediabutton.css');
$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/statictextfield.css');
$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/imagebrowser.css');
$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/loadingindicator.css');
$this->headLink()->appendStylesheet('/scripts/vendor/datepickerplus/datepickerplus.css');
$this->headLink()->appendStylesheet('/scripts/vendor/superselect/superboxselect.css');
$this->headLink()->appendStylesheet('/scripts/tp/multiselect.css');
$this->headScript()->prependFile('/scripts/tp/ux/form/ImageField.js');
$this->headScript()->prependFile('/scripts/tp/ux/PagingToolbar.js');
$this->headScript()->prependFile('/scripts/tp/ux/TbarGroupingView.js');
$this->headScript()->prependFile('/scripts/tp/ux/form/mediabutton.js');
$this->headScript()->appendFile('/scripts/vendor/ux/grid/RowActions.js');
$this->headScript()->prependFile('/scripts/vendor/superselect/SuperBoxSelect.js');
$this->headScript()->prependFile('/scripts/vendor/form/imagebrowser.js');

$this->headScript()->prependFile('/scripts/vendor/form/ext.ux.form.heading.js');
$this->headScript()->prependFile('/scripts/vendor/form/ext.ux.form.image.js');
$this->headScript()->prependFile('/scripts/vendor/form/ext.ux.form.table.js');
$this->headScript()->prependFile('/scripts/vendor/form/ext.ux.form.hr.js');
$this->headScript()->prependFile('/scripts/vendor/form/ext.ux.form.midas.js');

$this->headScript()->prependFile('/scripts/vendor/datepickerplus/ext.ux.datepickerplus-min.js');

$this->headScript()->prependFile('/scripts/tp/DDView.js');
$this->headScript()->prependFile('/scripts/tp/ux/form/ImageField.js');
$this->headScript()->prependFile('/scripts/tp/ux/form/BrowseButton.js');
$this->headScript()->prependFile('/scripts/vendor/datepickerplus/ext.ux.datepickerplus-min.js');
$this->headScript()->prependFile('/scripts/tp/ux/file/Uploader.js');
$this->headScript()->prependFile('/scripts/tp/PrintShopCreator.js');
$this->headScript()->prependFile('/scripts/admin/TabCloseMenu.js');
$this->headScript()->prependFile('/scripts/vendor/form/statictextfield.js');

$this->headScript()->prependFile('/scripts/vendor/form/fileuploadbutton.js');

$this->headScript()->prependFile('/scripts/tp/form/metaform.js');
$this->headScript()->prependFile('/scripts/tp/form/formlink.js');
$this->headScript()->prependFile('/scripts/ext-3.2.0/ext-all-debug.js');
$this->headScript()->prependFile('/scripts/player/swfobject.js');
$this->headScript()->prependFile('/scripts/ext-3.2.0/adapter/ext/ext-base.js');
$this->headScript()->prependFile('/scripts/tp/Locale/Gettext.js');
$this->headScript()->prependFile('/scripts/tp/Locale.js');
?>
<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <!--
    Zend Framework Demo Application
    $Id: popupjs.phtml 5162 2010-11-06 01:42:44Z boonkerz $
    
    #TODO Dokumentation des Default Layouts.
    -->
    <head>
		<script type="text/javascript">
		<?php 
           foreach ((array)$this->initialData as $appname => $data) {
               if (!empty($data) ) {
                   foreach ($data as $var => $content) {
                       echo "\n var $var = '". $content. "';";
                   }
               }
           }
		
		?>
		</script>
        <!-- BEGIN: #header-files -->
        <?php echo $this->headMeta(); ?>
        <?php echo $this->headLink(); ?>
        <?php echo $this->headScript(); ?>
        <?php if(Zend_Registry::get('locale')->getLanguage() == 'de'): ?>
            <script type="text/javascript" src="/scripts/ext-3.2.0/src/locale/ext-lang-de.js"></script>
            <script type="text/javascript" src="/scripts/vendor/datepickerplus/lang/ext.ux.datepickerplus-lang-de.js"></script>
        <?php else: ?>
            <script type="text/javascript" src="/scripts/vendor/datepickerplus/lang/ext.ux.datepickerplus-lang-en.js"></script>
        <?php endif; ?>

        <!-- END: #header-files -->
        <title>PrintShopCreator</title>
    </head>
    <body>
        <div id="toolbar"></div>
        <?php echo $this->layout()->CONTENT; ?>
    </body>
</html>