<script type="text/javascript">
<?php
   foreach ((array)$this->initialData as $appname => $data) {
       if (!empty($data) ) {
           foreach ($data as $var => $content) {
               echo "\n var $var = '". $content. "';";
           }
       }
   }

?>
</script>
 <?php if(Zend_Registry::get('locale')->getLanguage() == 'de'): ?>
    <script type="text/javascript" src="/scripts/ext-3.2.0/src/locale/ext-lang-de.js"></script>
<?php else: ?>
    <script type="text/javascript" src="/scripts/ext-3.2.0/src/locale/ext-lang-en.js"></script>
<?php endif; ?>
<div id="Con">
<div id="toolbar"></div>
<?php echo $this->layout()->CONTENT; ?>
<?php echo $this->headMeta(); ?>
<?php echo $this->headLink(); ?>
<?php echo $this->headScript(); ?>
</div>