/**
* PSC Shop Template
* 01.2014 -  09.2014
*
* standard-hellblau: #d9edf7;
*
*/



body {
	font-family: Arial, Helvetica, sans-serif;
}

.container{overflow-x: hidden}

img {height: auto; max-width: 100%;}

/* MegaMenu Proof-of-Concept
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
*/

a:focus {outline: none;}
section {margin: 1em 0;}


.well{
  border-radius: 0 !important;
}

.text-right{ 	text-align: right; }

/*** Calc *********************************************************************/

.help-inline {
    color: orangered;
    font-weight: bold;
}


/*** Preview ******************************************************************/
#preview img,
#preview1 img,
#preview2 img,
#preview3 img,
#preview4 img,
#preview5 img,
#preview6 img,
#preview7 img {
    width: 100%;
}

#previewLabel,
#preview1Label,
#preview2Label,
#preview3Label,
#preview4Label,
#preview5Label,
#preview6Label,
#preview7Label {
    display:none;
}

/*** Topbar *******************************************************************/
#topbar {margin: 0 0 1em 0;}

.topbar {
  padding: 10px 15px 0 0;
  border-bottom: 1px solid #dedede;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  color: #999999;
}
.topbar .login a:hover {
  color: #58b0da;
}
.topbar ul li {
  float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul.links li {
    display: inline-block;
    margin-right: 15px;
}

.topbar ul li a {
  font-size: 13px;
  color: #868686;
  text-decoration: none;
}
.topbar ul li:hover a {
  color: #58b0da;
}
.topbar ul li .text-link {
  display: inline-block;
}

#currency a {
    cursor: pointer;
    display: inline-block;
    padding: 0 6px;
    text-decoration: none;
}


.btn-dropdown {
  background: #f6f6f6;
  color: #2E3039;
  padding: 0 10px 0 6px;
  line-height: 22px;
  margin-right: 0.5em;
}
.btn-dropdown .caret {
  border-color: #6c6c6c transparent;
}
.btn-dropdown:hover {
  color: #58b0da;
}
.btn-dropdown:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-group.open .btn-dropdown span {
  color: #4d4e4f;
}
.btn-group .dropdown-menu {
  padding: 10px;
  z-index: 99999;
  right: 0;
  left: auto;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-group .list-item {
  line-height: 20px;
  cursor: pointer;
  border: 0;
  display: block;
}
.btn-group .list-item:hover {
  color: #4d4e4f;
}
.btn-group .item-symbol {
  margin-right: 6px;
}


.pop_over {  /* btn in articletemplate/scripts/6.phtml  */
	width: 100%;
	text-align: left;
	padding: 1em auto;
	font-weight: bold;
}

.modal-header, .modal-footer {
    background-color: #E7E7E7;
}

#myVorlagen .modal-header, #myVorlagen .modal-footer{
	background-color: #A8A8A8;
}

/* Uplaod Modal */
.modal-dialog .swMain ul.anchor li a {
    padding: 1em;
    width: 100%;
}

.modal-dialog .swMain .stepContainer div.content { padding:1em; }



/*** Topbanner *******************************************************************/

#topbanner{ min-height: 143px }
#topbanner img{max-width: 100%; height: auto;}


.breadcrumb {
  background-color: transparent;
  /*
  border-radius: 0px;
  list-style: none outside none;
  margin-bottom: 20px;
  padding: 8px 15px;*/
}


.navLevel1{
    background: none repeat scroll 0 0 #DEDEDE;
}

.navLevel1 .navbar{
  margin-bottom: auto;
}

.navLevel1,
.navLevel1 .navbar-default {
    background-color: #DEDEDE;
    border:0;
    color:whitesmoke;
}


  a.navbar-brand,
  .navbar-brand i
 {
color:white;
}

.navbar-default ul.nav > li > a {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 23px;
  color: #000000;
  -webkit-transition: background-color 0.3s linear 0s;
  transition: background-color 0.3s linear 0s;
}

.navbar-default ul.nav > li > a:hover,
.navbar-default ul.nav > li > a:focus,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus,
 .navbar-default .navbar-nav > .active > a:visited {
    background-color: #58b0da;
    color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:visited {
    background-color: #58b0da;
    color: white;
}




/*  Menu Navigation ------------------------------------------------------- */

#hauptmenu{
	margin-bottom:4em;
}

 .navbar-default {
    color: black !important;
}
.navbar-form {
	box-shadow:none !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: none !important;
}

 .list-unstyled, .list-unstyled ul {
    min-width: 120px;
}

 .dropdown .dropdown-menu  li a {
    border-bottom: 1px solid #F3F3F3;
    display: block;
    line-height: 20px;
    transition: padding 0.5s ease 0s;
}
.dropdown .dropdown-menu  li a:hover {
  background: #fdfdfd;
  color: #58b0da;
  padding-left: 20px;
}

/* such-form */
#search {
    margin: 14px 8px;
    position: relative;
}

#search input {
    border: medium none;
    border-radius: 0px;
    height: 25px;
    padding-left: 10px;
    padding-right: 25px;
}
input[type="text"], input[type="password"], textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 3px;
}
#search .button-search {
    height: 25px;
    position: absolute;
    right: 18px;
    top: 5px;
    width: 25px;
	color: silver;
}




/* Produktgruppen-Slider: */
/* ----------------------------------------------------------- */

#produktgruppenslider .carousel-control
 {
  color: #C0C0C4;
  font-weight: bold;
  height: 23px;
  line-height: 12px;
  margin-top: 0;
  opacity: 1;
  filter: alpha(opacity=100);
  overflow: hidden;
  text-shadow: none;
  width: 14px;
  top: 42%;
}


#produktgruppenslider .flex:before {
  background: #DEDEDE;
  content: "";
  height: 42%;
  position: absolute;
  width: 1px;
}


#produktgruppenslider .pr-top:before {left: 6px; top: 0;}

#produktgruppenslider .pr-bottom:before {left: 6px; bottom: 0;}

#produktgruppenslider .nt-top:before {right: 6px; top: 0;}

#produktgruppenslider .nt-bottom:before {right: 6px; bottom: 0;}

#produktgruppenslider .carousel-control.left {
  background: url('../img/carousel-prev.png') no-repeat;
  left: 4px;
}

#produktgruppenslider .carousel-control.right {
  background: url('../img/carousel-next.png') no-repeat;
  right: 4px;
}

#produktgruppenslider  .carousel-inner {border: 1px solid #dedede;}

#produktgruppenslider .carousel-caption {
    bottom: 0;
    color: #000000;
    left: 0;
    min-height: 3.5em;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 1em;
    z-index: 10;
}

/* -------------------------- */
#carousel-499478 .carousel-inner img {
    width:100%;
    height:auto;
}



/* --------------------------*/

ul.thumbnails{
	padding-left:0;
}

.thumbnail .caption
 {
    text-align: center;
    padding:8px;
	position: relative;
}




/*** /article/_articlelistitem_produktuebersicht.phtml.phtlm:: produktliste */
.caption .produkttitel{
    font-weight: bold;
    min-height: 3em;
}


/***********************************************************************
* Basket / Checkout
*/

.basket_index .page-header,
.review_index .page-header,
.finish_index .page-header
{
    border-bottom:0;
    margin: 10px 0;
    font-size: 2em;
    font-weight: bold;
}

.basket {margin-bottom: 4em;}
.basket a.btn{   width: 33.3333%;} /* die Breite der btn: Schritt 1 - Schritt 3 - muss bei mehr schritten angepasst werden */

.niceform.basket .col-sm-4 .well{
	min-height: 18em;
	margin-bottom: 5em;
}

.btn-default:hover{ background-color:whitesmoke;}

.btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: transparent;
    border-color: #adadad;
}
.btn:active, .btn.active {
    box-shadow: none;
}


/* Footer: --------------------------------------------------------- */
#footer-application{
    background: none repeat scroll 0 0 #292929; 
    margin-bottom: 2em;
}

#footer-customer{ margin-top: 3em;}
#footer-customer .panel{
	opacity:1;
	background-color: #DEDEDE;
 
        border: 0px solid silver;
        border-radius: 0px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        margin-bottom: 0;
        padding: 1em;
}


#footer-customer a{
	color:black;
	text-decoration:none;
}

#footer-customer a.hover{
	color:white;
}

#footer2, .footer_content {
    background: none repeat scroll 0 0 #DEDEDE;
    color: #DEDEDE;
    overflow: hidden;
    padding: 18px;
}

#footer2 a:hover, .footer_content a:hover{
	color:white;
	text-decoration: none;
}

/* Horizontale Pipe getrennte Navi im footer */
.nav-list:before,.nav-list:after {
    content: " ";
    display: table;
	box-sizing: border-box;
}

.nav-list {
    list-style: none outside none;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-list > li {
	float:left;
	margin:auto 5px;
}

.nav-list > li > a {
    display: block;
    padding: auto 5px;
    position: relative;
}

.nav-list > li > a:after{
	content: " | ";
	margin-left: 8px;
}

.nav-list > li:last-child > a:after{
	content: " ";
	margin-left: 0px;
}


.copyright{
    margin: 0 0 2em 0;
    color:silver;
    font-size: 0.9em;
    
}

/*  Tabs allgemein: */
/* ----------------------------------------------------------- */
.tab-content{
	margin-top:2em;
}

/* ProduktTabs: */
/* ----------------------------------------------------------- */

.box-products {
	position:relative;
}



.producttabs .carousel-control{
	z-index:10
}

.producttabs .carousel-controls{
	position:absolute;
	top:-23px;
	right:10px;
	z-index:11;
	width:32px;
	height: 17px;
}
.producttabs .carousel-controls a.carousel-control{
	height: 22px;
	margin: 0;
	width: 22px;
	background-image:url(../image/default/carousel-button.png) ;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	border-radius:0;
	opacity: 1;
	display: block;
	top: -10px;
	overflow:hidden;
	text-indent: -9999em;
	}
.producttabs .carousel-controls a.left{
	background-position: left top;
	 	left: -5px;
	}
.producttabs .carousel-controls a.left:hover{
	background-position: 0 -22px;
	}
.producttabs .carousel-controls a.right{
	background-position: -25px top;
	right: -10px;
	}
.producttabs .carousel-controls a.right:hover{
	background-position: -25px -22px;
	}
.producttabs .tab-content, .producttabs .box-product{
	overflow:inherit
}
/*Tab*/
	/*tab-nav*/
	.producttabs .nav-tabs {
		text-align: right;
	}
	.producttabs .nav-tabs .category-name{
		float: left;
	}
	.producttabs .nav-tabs{
		border: none;
		position: absolute;
		right: 0;
		top: -2px;
	}
	.producttabs .nav-tabs li > a{
	    color: #848587;
	    padding: 6px 15px;
	    font-weight: 400;
	    margin-bottom: 5px;
	}


.producttabs .nav-tabs {
    border: medium none;
    position: absolute;
    right: 0;
    top: -2px;
}
.producttabs .nav-tabs {
    text-align: right;
}




.producttabs .nav-tabs li.active > a,
.producttabs .nav-tabs li:hover > a {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background: #ededed;
  color: #58b0da;
  border: 1px solid transparent;
}



/****************************************************************************************************************/
/* -- Produkt-Carousel Nav obenliegend ------------------------*/
.productcarousel {
	position: relative;
}
.productcarousel .carousel-control{
	z-index:10
}


.carousel-controls {
  position: absolute;
  top: -60px;
  right: 0;
  width: 55px;
  height: 30px;
}
.carousel-controls .carousel-control {
  background: #ededed;
  font-size: 23px;
  width: 27px;
  color: #9e9c9c;
  opacity: 1;
  filter: alpha(opacity=100);
  line-height: 30px;
}
.carousel-controls .carousel-control:hover {
  color: #58b0da;
}
.carousel-control {
  text-shadow: none;
}
.carousel-control.left {
  background-image: -webkit-gradient(linear,0% top,100% top,from(transparent),to(transparent));
  background-image: -webkit-linear-gradient(left,color-stop(transparent 0%),color-stop(transparent 100%));
  background-image: -moz-linear-gradient(left,transparent 0%,transparent 100%);
  background-image: linear-gradient(to right,transparent 0%,transparent 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  background-image: -webkit-gradient(linear,0% top,100% top,from(transparent),to(transparent));
  background-image: -webkit-linear-gradient(left,color-stop(transparent 0%),color-stop(transparent 100%));
  background-image: -moz-linear-gradient(left,transparent 0%,transparent 100%);
  background-image: linear-gradient(to right,transparent 0%,transparent 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
}
.product-related .carousel-controls {
  top: -60px;
}

.box {
  margin-bottom: 18px;
  position: relative;
}
.box .box-heading {
  background-image: url('../img/carousel-bg-title.png');
  background-repeat: no-repeat;
  padding-left: 39px;
  font-family: 13px;
  font-size: 16px;
  font-weight: 600;
  color: #4d4e4f;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.box .box-heading .heading-image {
  background: #58b0da;
  display: inline-block;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  width: 28px;
}
.box .box-heading.highlighted1 {
  background-image: url('../img/carousel-bg-title1.png');
  background-repeat: no-repeat;
}
.box .box-heading:after {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  height: 3px;
  display: block;
  margin-top: 5px;
}
.box .box-heading span {
  line-height: 28px;
}

/** Shop - Description  */
.shop-description{
    border-top: 1px dashed #e6dede;
    border-bottom: 1px dashed #e6dede;
    font-size: 1.35em;
    font-weight: bold;
    margin-top: 1em;
    padding:1em 0;
    text-align: center;
    text-transform: uppercase;
}

/* produkthighlights, listen , boxes  */

              
#overview_index-article{ margin-top: 2em;}

        
 #produkthighlights .thumbnail,
 #produkthighlightslide .thumbnail,
 #mc_start_productgroups .thumbnail{
     min-height: 280px;
 }
 
 #produkthighlights .thumbnail:hover,
 #produkthighlightslide .thumbnail:hover,
 #mc_start_productgroups .thumbnail:hover{
     background-color: whitesmoke;
}
      

 
#produkthighlights .produkt_image_overview ,
#produkthighlightslide .produkt_image_overview,
 .produkt_image_overview {
    display: block;
    min-height: 151px !important;
	height: 151px;
	overflow: hidden;
}


/*
 #produkthighlights .caption,
 #produkthighlightslide .caption,
 .caption {
     min-height: 135px;
 }
 */
 
  #produkthighlights .produkt-config-btn{
     position: absolute;
     left:30%;
     bottom:30px;
 }
 #produkthighlightslide .produkt-config-btn,
  #mc_start_productgroups .produkt-config-btn{
    width: 60%;
  }


  h6.abpreis{
	  position: absolute;
	  top: -30px;
	  width:90%;
  }
  
  
  /* Article in /overview/  */
  #overview_index-article .panel-heading{
      font-weight: bold;
      font-size:1.2em;
  }

  
  .articlegrouplistitem .thumbnail{
      border-radius: 0;
  }
  .articlegrouplistitem .thumbnail:hover{
       box-shadow: 0 0 4px 4px silver;
           transition: all 0.4s ease-in 0s;
               background-color: whitesmoke;
  }
  
  .articlegrouplistitem header{
      margin:-4px -4px 0;
      padding:8px;
      background-color:gray;
      color:white;
  }  
  .articlegrouplistitem header h5{
      margin:0 auto;
      padding:0;
       font-weight: bold;
  }
  .articlegrouplistitem footer{
      text-align: center;
  }
  .articlegrouplistitem footer a{
      transition: all 0.3s linear 0s;
  }
  
  .articlegrouplistitem footer a:hover{
          background-color: #5bc0de;
    border-color: #46b8da;
    color: #fff;
  }
  
  /* Der umschlieCende DIV des groCen Vorschaubild der Produktgruppe */
  #articlegroup_image_big{
      float:left;
  }
/* produkt beschreibung unterm bild */

/*
.product-block .product-meta {
    position: relative;
}*/
.product-block {
    text-align: center;
}
.product-block .name {
    display: block;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 4px;
    text-decoration: none;
}
 
.product-block {
  position: relative;
  text-align: center;
  border: 1px solid transparent;
  padding: 10px;
  overflow: hidden;
}
 
.product-block .wishlist a {
  left: 0;
}
.product-block .compare a {
  right: 0;
}
.product-block .wishlist a,
.product-block .compare a {
  background-color: #4d4e4f;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  bottom: 150px;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 12px;
  line-height: 25px;
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  width: 28px;
  height: 25px;
  z-index: 6;
}
.product-block .wishlist a:hover,
.product-block .compare a:hover {
  background: #58b0da;
  color: #FFFFFF;
}
.product-block .wishlist span,
.product-block .compare span {
  display: none;
}
.product-block .primary-define .product-grid > div:hover .details {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0;
  z-index: 1;
}
.product-block a:hover {
  color: #58b0da;
}
/**** CMS  ****/

.cms_inhalt{
   padding: 8px 15px;
}



/*****  Produkt-Deteilseite **************************************************************************************/

.vorschau-bilder-klein a{
	float: left;
	margin: 0.52em;
	border: 1px solid #C0C0C0;
	padding: 0.4em;
}
.vorschau-bilder-klein a:hover{
	background: whitesmoke;
}

/* Uploader */
 #wizard .uploadassistent,
.modal-dialog .swMain .stepContainer div.content{
	width: 100%; min-height: 5em;
	overflow-y: auto;
overflow-x: hidden;
 }

#wizard.swMain{
	width: 100% !important;
}

/*****  UploadIndicator http://cssload.net/ *************************************************************/
#loadingindicator2{width:50px; float:left}

.indicator_block{
background-color:#FFFFFF;
border:1px solid #266E45;
float:left;
height:36px;
margin-left:3px;
width:10px;
opacity:0.1;
-moz-animation-name:bounceG;
-moz-animation-duration:1.2s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(0.7);
-webkit-animation-name:bounceG;
-webkit-animation-duration:1.2s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.7);
-ms-animation-name:bounceG;
-ms-animation-duration:1.2s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(0.7);
-o-animation-name:bounceG;
-o-animation-duration:1.2s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(0.7);
animation-name:bounceG;
animation-duration:1.2s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(0.7);
}

#blockG_1{
-moz-animation-delay:0.36s;
-webkit-animation-delay:0.36s;
-ms-animation-delay:0.36s;
-o-animation-delay:0.36s;
animation-delay:0.36s;
}

#blockG_2{
-moz-animation-delay:0.48s;
-webkit-animation-delay:0.48s;
-ms-animation-delay:0.48s;
-o-animation-delay:0.48s;
animation-delay:0.48s;
}

#blockG_3{
-moz-animation-delay:0.6s;
-webkit-animation-delay:0.6s;
-ms-animation-delay:0.6s;
-o-animation-delay:0.6s;
animation-delay:0.6s;
}

@-moz-keyframes bounceG{
    0%{
    -moz-transform:scale(1.2);
    opacity:1}

    100%{
    -moz-transform:scale(0.7);
    opacity:0.1}
}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

}

/** responsiv YouTube Videos *******  http://avexdesigns.com/responsive-youtube-embed/#sthash.RaBxGv4Z.dpuf *************/

.video-container {
     margin:2em 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} 

/*** /article/ **/

.inwork-thumbnails {
    width:72%;
}
.inwork-thumbnails li {
    border-bottom: 1px solid silver;
    list-style: outside none none;
    padding: 1em;
}
.inwork-thumbnails li:hover{
    background-color: whitesmoke;
}


/** Motive  */
.thumbnail.motivliste article {
    height: 200px;
    overflow: hidden;
    background-color:whitesmoke;
    border:1px solid silver;
}
@media only screen and (max-width: 480px) {
    .thumbnail.motivliste article {
	height: 100px;
    }
}


/****************************************************************************************************************/
@media only screen and (min-width: 990px) {
    .left-15 {  margin-left:-15px; }
    .right-15 {margin-right:-15px;}
}





/****************************************************************************************************************/
@media only screen and (max-width: 990px) {
  .navbar-nav > li {
   /* float: none; */
  }
  .navbar-inverse .navbar-toggle:hover,
  .navbar-inverse .navbar-toggle:focus {
    background-color: white /* #58b0da*/;
  }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: none;
}


    /** die beschriftungen in der top-bar ausblenden  **/
  .topbar ul li .text-link {
    display: none;
  }


/* steuerelemente produktgruppen slider incl. strick */
  #produktgruppenslider .flex:before {
    height: 48%;
    }

    #produktgruppenslider .carousel-control{
      top:48%;
    }

/** schon ab 990px das mobile menü zeigen  **/
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }


}







@media only screen and (max-width: 768px) {
    
    /*
  .navbar .navbar-toggle,
  .navbar-inverse .navbar-toggle,
  .navLevel1 .navbar-toggle,
  .navLevel1 .navbar-toggle:hover {
    background-color: #58B0DA;
    border-color: #58B0DA;
    color: white;
    display: block;
    float: none;
    height: 35px;
    margin-left: 10px;
    width: 45px;
  }
*/
  /*
  .navLevel1 .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
  .navbar-collapse.collapse {
    display: none !important;
  }

  .navLevel1 .navbar-collapse {
    background: silver;
  }
*/

/*
  #search {
    position: absolute;
    right: 11px;
    top: -70px;
    z-index: 1001;
    width: 200px;
  }
  #search input {
    width: 150px;
    border:1px solid black;
  }
*/

/* steuerelemente produktgruppen slider incl. strick */
  #produktgruppenslider .flex:before {
    height: 49%;
    }

    #produktgruppenslider .carousel-control{
      top:49%;
    }


.nav-list > li {
	float:none;
	margin:auto 5px;
}


.nav-list > li > a:after{
	content: " ";
}




}

/******************************************************************************
* USER
*/

.user_login .well{
    min-height: 25em;
}
#userreg #submit,
#userreset #submit{
    margin:1em 0;
}

.myoverview .well{ /* die boxes in /user/myoverview */
  min-height: 18em;
}

.row.myoverview{
    margin-bottom: 5em;
}

 
#mysettings #rech-label,
#login-label
{
    margin:0;
    padding:0;
    height: 0;
}

#mysettings #login-element,
#mysettings #rech-element
{
       margin: 4%;  
}


    /* Mittlere GerC$te (Desktop-PCs, 768px und breiter: 2 spaltig anzeigen) */
    @media all and (min-width: 768px) { 

        #mysettings #login-element{
            float: left;
            width: 40%;
        }

     }

#mysettings .form-actions{
    background-color: #d9edf7;
    padding: 1em;
    text-align: center;
}





/******************************************************************************/



@media all and (max-width:767px) and (min-width: 320px){
    
    /*
  #search {
    position: absolute;
    right: 11px;
    top: 0px;
    z-index: 1001;
    width: 150px;
  }
    */
    #search {
    bottom: 0;
    margin: 14px 8px;
 
    right: 0;
}
  #search input {
    width: 150px;
  }

#search .button-search {
    color: silver;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: -16px;
    top: 16px;
    width: 25px;
}

    .box.producttabs .nav-tabs {
    position: static;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: none;
}

}

li.dropdown:hover > ul {
    display: block;
    z-index: 1000;
    padding: 0;
}

.btn {
  display:inline-block;
  padding:6px 12px;
  margin-bottom:0;
  font-size:14px;
  font-weight:400;
  line-height:1.42857143;
  text-align:center;
  white-space:nowrap;
  vertical-align:middle;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  background-image:none;
  background-color: #45C160;
  border:1px solid transparent;
  border-radius:0px
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn:hover, .btn:focus {
    color: #333;
    text-decoration: none;
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}

.thumbnail {
	display:block;
	padding:4px;
	margin-bottom:20px;
	line-height:1.42857143;
	background-color:#fff;
	border:1px solid #ddd;
	border-radius:0px;
	-webkit-transition:all .2s ease-in-out;
	-o-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out
}

.panel {
	margin-bottom:20px;
	background-color:#fff;
	border:1px solid;
	border-radius:0px;
	border-color:#dedede;
	-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
	box-shadow:0 1px 1px rgba(0,0,0,.05)
}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{display:none;top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}