<div class="defaultwrap">
<h1>Verkaufen</h1>
<h2>Jetzt durchstarten und mit dem eigenen, kostenlosen Shop Geld verdienen!</h2>
<div style="height:205px; margin:60px 15px;" class="ktBoxCenter">
<div class="los_gehts_box">
    <h3>Neuen Themenshop er&ouml;ffnen</h3>
<span id="losGehtsBoxImage"><img src="/shops/3214981973/design/mein-account-neuer-shop.png"></span>
<p>Er&ouml;ffnen Sie kostenlos einen Themenshop und verkaufen Sie Motive, Designvorlagen und Produkte.</p>
    <a class="los_button" href="/resale/shopstep1">Los geht's</a>
</div>

<div class="los_gehts_box">
    <h3>Motive hochladen</h3>
<span id="losGehtsBoxImage"><img src="/shops/3214981973/design/mein-account-upload.png"></span>
<p>Laden Sie zum Gestalten oder zum Verkauf eigene Fotos oder Grafiken hoch. Zum Verkaufen ben&ouml;tigen Sie einen eigenen Themenshop.</p>
    <a class="los_button" href="/motiv/resale">Los geht's</a>
</div>

<div class="los_gehts_box los_gehts_box_last">
    <h3>Produkt verkaufen</h3>
<span id="losGehtsBoxImage"><img src="/shops/3214981973/design/mein-account-verkaufen.png"></span>
<p>Erstellen Sie aus unserer Produktpalette mit Ihren Ideen und Motiven eigene Produkte die Sie einfach &uuml;ber Ihren Themenshop verkaufen k&ouml;nnen.</p>
    <a class="los_button" href="/cms/produkt-selbst-gestalten">Los geht's</a>
</div>
</div>
<br class="clear">
</div>
<!-- ab hier der liveEdit Inhalt //-->
<?php echo $this->translate("
<script type=\"text/javascript\">
<!--
function show_shop_assi_firstpage_div(div_part){
show_shop_assi_firstpage_div_hide();
document.getElementById('youare' + div_part).style.display=\"inline\";
document.getElementById('sellli' + div_part).className=\"aktiv\";
return false;
}

function show_shop_assi_firstpage_div_sec(div_part){
show_shop_assi_firstpage_div_hide();
document.getElementById('szenario' + div_part).style.display=\"inline\";
document.getElementById('szenarioli' + div_part).className=\"aktiv\";
return false;
}

function show_shop_assi_firstpage_div_hide(){
document.getElementById('youare0').style.display=\"none\";
document.getElementById('youare1').style.display=\"none\";
document.getElementById('youare2').style.display=\"none\";
document.getElementById('youare3').style.display=\"none\";
document.getElementById('youare4').style.display=\"none\";

document.getElementById('sellli0').className=\"a\";
document.getElementById('sellli1').className=\"a\";
document.getElementById('sellli2').className=\"a\";
document.getElementById('sellli3').className=\"a\";
document.getElementById('sellli4').className=\"a\";

document.getElementById('szenario0').style.display=\"none\";
document.getElementById('szenario1').style.display=\"none\";
document.getElementById('szenario2').style.display=\"none\";
document.getElementById('szenario3').style.display=\"none\";

document.getElementById('szenarioli0').className=\"a\";
document.getElementById('szenarioli1').className=\"a\";
document.getElementById('szenarioli2').className=\"a\";
document.getElementById('szenarioli3').className=\"a\";
return false;

}

//-->
</script>

<style type=\"text/css\">
div.shop_assi_firstpage_div {
    padding: 20px;
    border: 1px solid #ececec;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 898px;
    min-height: 200px;
}
</style>

            <DIV class=\"defaultwrap\">
<H1>Aller Anfang ist (bei uns) kinderleicht</H1>
<H2>Eröffne Deinen eigenen Online-Shop und verkaufe Deine Produkte!</H2>
<BR>
<UL class=\"verkaufen\">
    <LI class=\"head\">Sie sind ...</LI>
    <LI id=\"sellli0\" class=\"aktiv\"><A href=\"#\" onclick=\"show_shop_assi_firstpage_div('0');return false\">... ein Fotograf oder eine Fotoagentur</A></LI>
    <LI id=\"sellli1\"><A href=\"#\" onclick=\"show_shop_assi_firstpage_div('1');return false\">... ein Gestalter, ein Grafiker oder Illustrator</A></LI>
    <LI id=\"sellli2\"><A href=\"#\" onclick=\"show_shop_assi_firstpage_div('2');return false\">... eine Werbeagentur</A></LI>
    <LI id=\"sellli3\"><A href=\"#\" onclick=\"show_shop_assi_firstpage_div('3');return false\">... Webmaster</A></LI>
    <LI id=\"sellli4\"><A href=\"#\" onclick=\"show_shop_assi_firstpage_div('4');return false\">... oder haben einfach Ideen</A></LI>
  
</UL>
<UL class=\"verkaufen\">
    <LI class=\"head\">So einfach geht das</LI>
    <LI id=\"szenarioli0\"><A href=\"#\" onclick=\"show_shop_assi_firstpage_div_sec('0');return false\">Ralf S., Fotograf: \"Jetzt habe ich endlich die ideale Plattform für meine Bilder gefunden - myprintmall. ...\"</A></LI>
    <LI id=\"szenarioli1\"><A href=\"#\" onclick=\"show_shop_assi_firstpage_div_sec('1');return false\">Sascha B. Grafikdesigner: \"Ich kann jetzt all meine guten Entwürfe neuen potenziellen Kunden anbieten. ...\"</A></LI>
    <LI id=\"szenarioli2\"><A href=\"#\" onclick=\"show_shop_assi_firstpage_div_sec('2');return false\">Max M., Fußballklub Kick e. V.: \"Die haben da ein einfaches Layout-Gestaltungsprogramm für unsere Vereinszeitung. ...\"</A></LI>
    <LI id=\"szenarioli3\"><A href=\"#\" onclick=\"show_shop_assi_firstpage_div_sec('3');return false\">Ansgar B., Jazzfan, Hobbyfotograf:\" Ich vertreibe meine Fotobücher in meinem eigenen Shop und unsere offizielle Jazzfestivalsite. ...\"</A></LI>
</UL>
<UL class=\"verkaufen hlastm\">
    <LI class=\"head\">Aller Anfang ist Dein Shop</LI>
    <LI class=\"aktiv\"><A href=\"resale/shopstep0\">Jetzt kostenlos registrieren</A></LI>
    <LI class=\"aktiv\"><A href=\"resale/shopstep0\">Jetzt kostenlos Produkte gestalten</A></LI>
    <LI class=\"aktiv\"><A href=\"resale/shopstep0\">Jetzt kostenlos Shop eröffnen</A></LI>
    <LI class=\"los\"><A href=\"resale/shopstep0\">Los geht's</A></LI>
</UL>
<BR class=\"clear\">

<span id=\"youare0\" style=\"display:inline\">
<DIV class=\"shop_assi_firstpage_div\" >
    <H1>Sie sind ein Fotograf oder eine Fotoagentur?</H1>
<br>
Auf myprintmall kann jeder einfach und kostenlos eigene Fotos präsentieren und verkaufen. Ihre Motive werden von einem besonders dankbaren Publikum wahrgenommen, denn die Plattform bietet eine Vielzahl von Produkten, die mit diesen Motiven online gestaltet werden können. Vom Fotobuch bis T-Shirts - im Prinzip alles, was sich bedrucken lässt. 
Was zählt ist die eigene Idee und Kreativität.
<br><br>
Richten Sie jetzt kostenlos Ihren eigenen Motiv-Shop und Fotoprodukte-Shop ein. z.B.:
<ul>
<li>Event - Foto & Fotoprodukte-Shop</li>
<li>Sport - Foto & Fotoprodukte-Shop</li>
<li>Themen - Foto & Fotoprodukte</li>
</ul>
<br>
Exklusive Bilder von Veranstaltungen anzubieten und diese auf ausgewählten Druckprodukten zu präsentieren erhöht die Verkaufschancen mit einem Schlag um ein Vielfaches. 
Als registrierter Nutzer können Sie unsere Features wie z.B. Fotos verkaufen in vollem Umfang kostenlos nutzen, die frei gewählte Provision definieren - den Rest macht myprintmall: Vermarktung, Produktion, Versand und Service. 
</DIV>
</span>


<span id=\"youare1\" style=\"display:none\">
<DIV class=\"shop_assi_firstpage_div\">
    <H1>Sie sind ein Gestalter, ein Grafiker oder Illustrator?</H1>
\"Jeder Mensch ist ein Künstler\", so Joseph Beuys im November 1985 in einem Vortrag. Das stimmt heute mehr denn je.
<br>
Sie haben Ideen, die bei anderen gut ankommen? Jedoch war Ihnen der entscheidende Schritt, daraus vermarktbare Produkte zu machen, mit einem zu hohem finanziellen Risiko verbunden?
<br>
Das ist jetzt vorbei. Gestalten Sie völlig kostenfrei eigene Produkte und verkaufen jetzt Designvorlagen und fertige Produkte ggf. auf Basis bereits bestehender Layouts und Ideen, den Rest macht myprintmall: 
<br>
Vermarktung, Produktion, Versand und Service.
<br><br>
Sie verdienen bei jedem Produkt die frei gewählte Provision und sind jederzeit im Bilde, wie sich Ihre Produkte verkaufen.
<br>
Richten Sie sich Ihren persönlichen Account auf myprintmall ein. Als registrierter Nutzer können Sie unsere Features wie z.B. Motive verkaufen und Designs verkaufen  in vollem Umfang nutzen. 

</DIV>
</span>

<span id=\"youare2\" style=\"display:none\">
<DIV class=\"shop_assi_firstpage_div\">
    <H1>Sie sind eine Werbeagentur?</H1>
<b>BtoB Mandantenshops:</b>
<br>
Verwöhnen Sie Ihre Kunden mit einem passwortgeschützen Web2Print-Shop im LookAndFeel der eigenen Agentur und Ihres Kunden. Der BtoB Mandantenshop ist praktizierte Kundenbindung. Sie richten kostenfrei Ihren eigenen Onlineshop ein und stellen die Druckprodukte (CD-konforme Visitenkarten, Produktflyer und Imagebroschüren) für Ihren Kunden ein, die dieser einfach anpassen und bestellen kann. Fertige Printprodukte können als HTML CodeSnippet in der Firmenhomepage Ihres Kunden zum direkten Bestellen durch deren Besucher angezeigt werden (z.B. Produktbroschüre). Ein perfekter Kundenservice, der beeindrucken wird. 
Ohne Arbeit für Sie oder Ihre Mitarbeiter wird die komplette Historie des Workflows inkl. Freigabeprozesse automatisch dokumentiert den Rest macht myprintmall: Produktion, Versand und Service.
<br><br>
<b>Zweitvermarktung:</b>
<br>
Bieten Sie auch in Ihrem offenen Shop z.B. branchenorientiert vorgestaltete Visitenkarten an oder eröffnen kostenlos eigene Spezialshops z.B. für Veranstaltungsplakate oder Einladungs- und Grusskarten.

</DIV>
</span>


<span id=\"youare3\" style=\"display:none\">
<DIV class=\"shop_assi_firstpage_div\">
    <H1>Sie sind Webmaster?</H1>
Sie wenden sich über die von Ihnen administrierte Portalsite professionell an eine attraktive Zielgruppe? Richten Sie jetzt Ihren eigenen, offenen Themenmarktplatz ein und überlassen es der Fantasie und Dynamik Ihrer Besucher eigene Produkte, Inhalte, Motive anzulegen und zu verkaufen.
Für spezifische Anpassungen oder Implementierungen unserer Technologie in Ihre Plattform oder umgekehrt können Sie uns zwecks einer Kooperation auch direkt ansprechen.

</DIV>
</span>

<span id=\"youare4\" style=\"display:none\">
<DIV class=\"shop_assi_firstpage_div\">
    <H1>Sie haben einfach Ideen?</H1>
Eröffnen Sie jetzt Ihren kostenfreien Online-Shop bei myprintmall und vedienen Geld mit Ihren Ideen. Das geht schnell und ist kinderleicht. Der Shop-Assistent hilft dabei Schritt für Schritt mit Tipps, Tricks und Tutorials. 
Eigene Produkte (z. B. Kalender mit den Rezepten Ihrer Lieblingscocktails oder selbstgestaltete T-Shirts) lassen sich aus der groﬂen Auswahl gestalten und dann im eigenen Shop verkaufen. Wählen Sie einfach ein Bestandsprodukt und gestalten es online mit Ihren Motiven und nach Ihren Vorstellungen. Verdienen Sie Geld mit Ihren Ideen, Designs und Motiven.
<br><br>
Sie können aber auch einfach Produkte für sich selbst bestellen

</DIV>
</span>

<span id=\"szenario0\" style=\"display:none\">
<DIV class=\"shop_assi_firstpage_div\">
    <H1>Ralf S., Fotograf:</H1>
\"Ich fotografiere seit Jahren beruflich und mit Leidenschaft. Dabei sind natürlich auch viele freie Arbeiten entstanden. Meine Bilder sind sehr speziell und passen nicht unbedingt in das Schubladendenken vieler Menschen. Und in meinen Schubladen sollten die Bilder natürlich nicht bleiben. Es war oft nicht einfach eine kommerzielle Verwendung dafür zu finden.
Doch jetzt habe ich endlich die ideale Plattform für meine Bilder gefunden - myprintmall. Dort werden lediglich geringauflösende Thumbnails gezeigt und keine Downlods angeboten, dass der elektronische Bilderklau ausgeschlossen ist. Jedoch lassen sich dort mit meinen Motiven tolle Druckprodukte erstellen, die die Leute liebe, als Geschenk oder für sich selbst.
Und ich verdiene an jedem Exemplar mit.\"
</DIV>
</span>

<span id=\"szenario1\" style=\"display:none\">
<DIV class=\"shop_assi_firstpage_div\">
    <H1>Sascha B. Grafikdesigner:</H1>
\"Prima Idee von den Leuten von myprintmall! Ich kann jetzt all die guten Entwürfe, die leider nie gedruckt wurden, weil der Auftraggeber sie nicht verstanden hat oder weil er was anderes schöner fand, neuen potenziellen Kunden anbieten. Das nenne ich mal einen Synergieeffekt!
Und der eigene Web2Printshop ist für mich völlig kostenlos. Ich habe mich einfach registriert und meine Sachen online gestellt. Den Shop habe ich in meine Homepage eingebunden, aber auch gleich die Freigabe für die Plattform gegeben. Da kommt mehr, als ich zunächst dachte.\"
</DIV>
</span>

<span id=\"szenario2\" style=\"display:none\">
<DIV class=\"shop_assi_firstpage_div\">
    <H1>Max M., Fuﬂballklub Kick e. V.:</H1>
\"Die haben da ein einfaches Layout-Gestaltungsprogramm. Das ist online und damit mache ich jetzt seit zwei Ausgaben unsere Vereinszeitung. Die Bilder lade ich einfach hoch und die Texte kopiere ich in die Textboxen. Wenn ich meinen Artikel fertig habe, schicke ich den anderen einfach eine eMail. So kann unsere Redaktionsteam der Reihe nach die Ausgabe fertig stellen.
Ist die Zeitung fertig schicke ich eine Rundmail mit dem Bestelllink - den Rest macht myprintmall: Produktion, Versand und Service.\"
</DIV>
</span>

<span id=\"szenario3\" style=\"display:none\">
<DIV class=\"shop_assi_firstpage_div\">
    <H1>Ansgar B., Jazzfan:</H1>
\"Manchmal passen die Dinge einfach zusammen. Ich bin Webdesigner und betreue das Jazzfestival Münster (www.jazzfestival-muenster.de), mein Hobby ist die Fotografie und ich liebe Musik. Das sieht man meinen Fotos auch an, glaube ich. Ich wurde von vielen Seite auf meine Fotos angeprochen und habe kurzerhand ein Fotobuch daraus gemacht, das ich jetzt auf dem Marktplatz myprintmall, meinem eigenen Shop und die offizielle Jazzfestivalsite vertreibe - den Rest macht myprintmall: Produktion, Versand und Service.\"
</DIV>
</span>

</DIV>", 'textarea', 'resalebegin');