<div class="page-header"><h1><?php echo $this->translate('Produkt verkaufen') ?></h1></div>

<div class="row overview">

    <?php if($this->hasShop): ?>
    <div class="span4"><div class="well">
        <h3><?php echo $this->translate('Verkaufen in meinem Shop')?></h3>
        <p><?php echo $this->translate('Sie m&ouml;chten dieses Produkt in Ihr Sortiment aufnehmen, weil Sie bereits einen Shop über primabu.de er&ouml;ffnet haben? Dann sind Sie hier richtig!')?></p>
        <a class="btn btn-info btn-large" href="<?php echo $this->url(array(), 'resale_articlestep1'); ?>"><?php echo $this->translate("Los geht's")?></a>
    </div></div>
    <?php endif; ?>

    <?php if($this->uuid != ""): ?>
    <?php if($this->layouter !=""):?>
        <div class="span4"><div class="well">
            <h3><?php echo $this->translate('Produkt gestalten')?></h3>
            <p><?php echo $this->translate('&Uuml;ber die Detailansicht dieses Produkts gelangen Sie zum Online-Layouter. Dort k&ouml;nnen Sie Ihr Produkt individuell gestalten.')?></p>
            <a class="btn btn-info btn-large" href="/article/show/uuid/<?= $this->uuid ?>/<?= $this->layouter ?>"><?php echo $this->translate("Los geht's")?></a>
        </div></div>
        <?php else: ?>
        <div class="span4"><div class="well">
            <h3><?php echo $this->translate('Produkt gestalten')?></h3>
            <p><?php echo $this->translate('&Uuml;ber die Detailansicht dieses Produkts gelangen Sie zum Online-Layouter. Dort k&ouml;nnen Sie Ihr Produkt individuell gestalten.')?></p>
            <a class="btn btn-info btn-large" href="/article/show/uuid/<?= $this->uuid ?>"><?php echo $this->translate("Los geht's")?></a>
        </div></div>
        <?php endif; ?>
    <?php endif; ?>

    <div class="span4"><div class="well">
        <h3><?php echo $this->translate('Verkaufen in neuem Shop')?></h3>
        <p><?php echo $this->translate('Sie m&ouml;chten einen kostenfreien Shop er&ouml;ffnen? Dazu m&uuml;ssen Sie sich registrieren. Unser Assistent wird Sie schrittweiße bei der Eingabe der Details begleiten.')?></p>
        <a class="btn btn-info btn-large" href="<?php echo $this->url(array(), 'resale_shopstep0'); ?>"><?php echo $this->translate("Los geht's")?></a>
    </div></div>
</div>
