<?php
$this->headScript()->prependFile('/'.$this->designPath . 'assets/js/ot.js');
?>
<div class="page-header"><h1><?php echo $this->translate('Motivverkauf') ?></h1></div>
<div class="btn-group basket">
    <a class="btn" href="/resale/motivstep2"><em>Schritt 1: <?php echo $this->translate('Name, Preis usw.') ?></em><br /></a>
    <a class="btn active" href="#"><em>Schritt 2: <?php echo $this->translate('Motive einsortieren') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 3: <?php echo $this->translate('Fertigstellen und losstarten') ?></em><br /></a>
</div>
<br/>
<style type="text/css">
    

<?php if($this->motivtheme2name): ?>
#motivtheme2add {
display: none;
}
<?php else: ?>
#motivtheme2delete, #motivtheme2edit {
display: none;
}
<?php endif; ?>
<?php if($this->motivtheme3name): ?>
#motivtheme3add {
display: none;
}
<?php else: ?>
#motivtheme3delete, #motivtheme3edit {
display: none;
}
<?php endif; ?>
<?php if($this->markettheme2name): ?>
#markettheme2add {
display: none;
}
<?php else: ?>
#markettheme2delete, #markettheme2edit {
display: none;
}
<?php endif; ?>
<?php if($this->markettheme3name): ?>
#markettheme3add {
display: none;
}
<?php else: ?>
#markettheme3delete, #markettheme3edit {
display: none;
}
<?php endif; ?>
</style>
<div id="dialog-form" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Neuen Eintrag erstellen</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="control-group">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-info" data-toggle="modal" id="saveAddress" href="#addAdresse" value="Speichern"/><a href="#" class="btn" data-dismiss="modal">Schließen</a>
    </div>
</div>
				
				
    <?php  if(Zend_Auth::getInstance()->hasIdentity()): ?>

    <form class="niceform" id="motiv_resale" action="<?php echo $this->form->getAction() ?>" enctype="multipart/form-data" method="POST">

<h3><?= $this->translate('A. Motivthema für Ihren Shop wählen','RTE') ?></h3>
<span class="box_right"><h3>Wieso brauchen Sie ein Motivthema?</h3><p>Unter welchem Thema sollen Ihre Motive zu finden sein?
(Für Ihren eigenen Shop können Sie auch neue Themen anlegen.) Sie können ein weitere Gruppe auswählen in dem Sie das Plus (+) Symbol klicken.</p></span>
<table width="50%">
	<tr>
	<td class="navigator">
		<input id="motivtheme" name="motivtheme" type="hidden"/>
        </td>
	</tr>
        <tr>
	<td>
		<b>Motivthema 1:</b><input name="motivtheme1" type="hidden" id="motivtheme1" value="<?php echo $this->form->motivtheme1->getValue() ?>" /><span id="motivtheme1_name"><?php echo $this->motivtheme1name; ?></span> <a title="Ändern" class="btn btn-danger btn-mini" href="#" onclick="javascript:$('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme1', select: 'themes', shop: $('#shop').val()}); return false;"> <i class="icon-pencil"></i></a><br/>
		<b>Motivthema 2:</b><input name="motivtheme2" type="hidden" id="motivtheme2" value="<?php echo $this->form->motivtheme2->getValue() ?>" /><span id="motivtheme2_name"><?php echo $this->motivtheme2name; ?></span> <a title="Hinzufügen" class="btn btn-success btn-mini" id="motivtheme2add" href="#" onclick="javascript:$('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme2', select: 'themes', shop: $('#shop').val()}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" class="btn btn-warning btn-mini" id="motivtheme2edit" href="#" onclick="javascript:$('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme2', select: 'themes', shop: $('#shop').val()}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" id="motivtheme2delete" class="btn btn-danger btn-mini" href="#" onclick="javascript:$('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme2',clear: true, select: 'themes', shop: $('#shop').val()}); return false;"> <i class="icon-remove"></i></a><br/>
		<b>Motivthema 3:</b><input name="motivtheme3" type="hidden" id="motivtheme3" value="<?php echo $this->form->motivtheme3->getValue() ?>" /><span id="motivtheme3_name"><?php echo $this->motivtheme3name; ?></span> <a title="Hinzufügen" class="btn btn-success btn-mini" id="motivtheme3add" href="#" onclick="javascript:$('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme3', select: 'themes', shop: $('#shop').val()}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" class="btn btn-warning btn-mini" id="motivtheme3edit" href="#" onclick="javascript:$('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme3', select: 'themes', shop: $('#shop').val()}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" id="motivtheme3delete" class="btn btn-danger btn-mini" href="#" onclick="javascript:$('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme3',clear: true, select: 'themes', shop: $('#shop').val()}); return false;"> <i class="icon-remove"></i></a>
		</td></tr>
		<tr>
		<td>&nbsp;</td>
	</tr>
        <tr>
</table>
<h3><?= $this->translate('B. Motivthema für den Marktplatz wählen','RTE') ?></h3>
				<span class="box_right"><h3>Was ist der Marktplatz?</h3><p>Der Marktplatz wird auf der Startseite von primabu.de angezeigt und ist für jeden sichtbar und zugänglich. Hier erscheinen die neusten und beliebtesten Produkte, Motive und Shops.</p><h3>Wieso brauchen Sie ein Marktthema?</h3><p>Sie möchten Ihre Motive auch auf dem Marktplatz anbieten? Dann setzen Sie den Haken und wählen hier ein geeignetes Thema aus. (Beim Marktplatz ist Ihre Auswahl auf die bestehenden Themen begrenzt.) Sie können eine weitere Gruppe auswählen in dem Sie auf das Plus (+) Symbol klicken.</p></span>
<?php if($this->shop->pmb || $this->shop->market): ?>
<dl class="zend_form">
		
		
		
		<p><input type="checkbox" <?php if($this->form->resale_market->isChecked()): ?>checked="checked"<?php endif; ?> value="1" id="resale_market" name="resale_market" /><span class="checklabel"> auf dem Marktplatz anbieten</p>
</dl>
<br/><table width="50%">
	<tr>
	<td class="navigator">
		<input id="markettheme" name="markettheme" type="hidden"/>
        </td>
	</tr>
        <tr>
	<td>
		<b>Marktthema 1:</b><input name="markettheme1" type="hidden" id="markettheme1" value="<?php echo $this->form->markettheme1->getValue() ?>" /><span id="markettheme1_name"><?php echo $this->markettheme1name; ?></span> <a title="Ändern" class="btn btn-danger btn-mini" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme1', select: 'themes'}); return false;"> <i class="icon-pencil"></i></a><br/>
		<b>Marktthema 2:</b><input name="markettheme2" type="hidden" id="markettheme2" value="<?php echo $this->form->markettheme2->getValue() ?>" /><span id="markettheme2_name"><?php echo $this->markettheme2name; ?></span> <a title="Hinzufügen" class="btn btn-success btn-mini" id="markettheme2add" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme2', select: 'themes'}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" class="btn btn-warning btn-mini" id="markettheme2edit" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme2', select: 'themes'}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" id="markettheme2delete" class="btn btn-danger btn-mini" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme2',clear: true, select: 'themes'}); return false;"> <i class="icon-remove"></i></a><br/>
		<b>Marktthema 3:</b><input name="markettheme3" type="hidden" id="markettheme3" value="<?php echo $this->form->markettheme3->getValue() ?>" /><span id="markettheme3_name"><?php echo $this->markettheme3name; ?></span> <a title="Hinzufügen" class="btn btn-success btn-mini" id="markettheme3add" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme3', select: 'themes'}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" class="btn btn-warning btn-mini" id="markettheme3edit" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme3', select: 'themes'}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" id="markettheme3delete" class="btn btn-danger btn-mini" href="#" onclick="javascript:$('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme3',clear: true, select: 'themes'}); return false;"> <i class="icon-remove"></i></a>
		</td></tr>
</table>
<input id="addid" name="addid" value="0" type="hidden"/>
<?php endif; ?><br/>
<input type="submit" class="btn btn-warning btn-large" value="Zurück" onclick="document.location.href='/resale/motivstep2'; return false" /> <input type="submit" class="btn btn-success btn-large" value="<?php echo $this->translate("weiter") ?>"/>
</form>
    <?php else: ?>

    <p><?php echo $this->translate('Bitte melden Sie sich an um mit dem Upload fortzufahren. <a href="/user/login?mode=motiv_upload">Hier entlang</a>', 'rte', 'motive_upload') ?></p>
    <?php endif; ?>
<script type="text/javascript">

    $(document).ready(function() {

            $('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme1', select: 'themes', shop: $('#shop').val()});
<?php if($this->shop->pmb || $this->shop->market): ?>
            $('#markettheme').optionTree(0, {mode:'themesmarketmotiv', field: 'markettheme1', select: 'themes'});
<?php endif; ?>
            $('#shop').change(function() {

                $('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme1', select: 'themes', shop: $(this).val()});
            });
            function updateTips(t) {
			tips
				.text(t)
				.addClass('ui-state-highlight');
			setTimeout(function() {
				tips.removeClass('ui-state-highlight', 1500);
			}, 500);
		}


		function checkLength(o,n,min,max) {

			if ( o.val().length > max || o.val().length < min ) {
				o.addClass('ui-state-error');
				updateTips("Länge von " + n + " muß zwischen "+min+" und "+max+" sein.");
				return false;
			} else {
				return true;
			}

		}

		function checkRegexp(o,regexp,n) {

			if ( !( regexp.test( o.val() ) ) ) {
				o.addClass('ui-state-error');
				updateTips(n);
				return false;
			} else {
				return true;
			}

		}

		var name = $("#name"),
		allFields = $([]).add(name),
		tips = $(".validateTips");



		$("#saveAddress").click(function(){

            var bValid = true;

            bValid = bValid && checkLength(name,"name",3,16);

            bValid = bValid && checkRegexp(name,/^[a-z]([0-9a-z_öüäÖÜÄ])+$/i,"");

            if (bValid) {

                $.ajax({
                      url: "/resale/savemotivtheme/format/json",
                      global: false,
                      type: "POST",
                      data: ({parent_id : $('#dialog-form').data('parent'), title: name.val(), sid: $('#shop').val(), save: 1}),
                      dataType: "json",
                      success: function(msg){
                            $('#motivtheme').optionTree(0, {mode:'themesmotiv', field: 'motivtheme1', select: 'themes', shop: $('#shop').val()});
                            $('#dialog-form').modal('hide');
                            name.parent().removeClass('error');
                      }
                   }
                )
            }else{
                name.parent().addClass('error');
            }


		});
    });

</script>