<?php $this->headScript()->prependFile('/production_files/portal.js'); ?>
<header class="jumbotron subhead" id="overview">
  <h1><img style="" id="myprintmall" src="/<?php echo $this->image()->thumbnailImage('logo', 'logo1', $this->shop->Install->mall_logo, true, true); ?>"></h1>
</header>

<h1>Aufträge</h1>
<p></p>
<form class="well form-search" method="post">
  <input type="text" name="search_field" id="search_field" value="" class="input-medium search-query span3">
  <button type="submit" class="btn">Suche</button>
</form>
<p></p>
<?php if($this->order): ?>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Auftragsnummer</th>
      <th>Status</th>
      <th>Kundennummer</th>
      <th>Kunde</th>
      <th>Versandfertig</th>
      <th>Aktion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td><?php echo $this->order->alias ?></td>
      <td><div class="btn-group">
  <a class="btn dropdown-toggle btn-success" data-toggle="dropdown" href="#">
    Status: <?php echo $this->status ?>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <?php foreach($this->stati as $key => $name): ?>
      <li><a href="/production/index/portal/uuid/<?php echo $this->order->uuid ?>/status/<?php echo $key ?>" class="change_stati"><?php echo $name ?></a></li>
    <?php endforeach; ?>
  </ul>
</div><?php if($this->order->install_id != 7): ?><a class="btn" href="/production/index/portal/uuid/<?php echo $this->order->uuid ?>/status/200">auf versendet ändert</a><?php endif; ?></td>
      <td><?php echo $this->order->contact_id ?></td>
      <td><?php echo $this->order->Contact->self_firstname ?> <?php echo $this->order->Contact->self_lastname ?></td>
      <td><?php if($this->order->delivery_date != "0000-00-00"): ?><?php echo $this->date($this->order->delivery_date) ?><?php endif; ?></td>
      <td>
          <a class="btn" href="/service/?type=print&mode=delivery&uid=<?php echo $this->order->id ?>" target="_blank"><i class="icon-download"></i> Lieferschein</a>
          <?php if($this->order->install_id != 34): ?><a class="btn" href="/service/index/getzip?uid=<?php echo $this->order->id ?>" target="_blank"><i class="icon-download"></i> Download</a><?php endif; ?>
      </td>
    </tr>
  </tbody>
</table>
<?php endif; ?>