<?php $this->headScript()->prependFile('/production_files/portal.js'); ?>

<h1>Aufträge</h1>
<p></p>
<form class="well form-search" method="post">
  <input type="text" name="search_field" id="search_field" value="" class="input-medium search-query span3">
  <button type="submit" class="btn">Suche</button>
</form>
<p></p>
<?php if($this->orders): ?>
    <table class="table">
        <thead>
        <tr>
            <th>Auftragsnummer</th>
            <th>Pos</th>
            <th>Status</th>
            <th></th>
            <th>Kunde</th>
            <th>Versandart</th>
            <th>Versandfertig</th>
            <th>Aktion</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($this->orders as $order): ?>
            <tr>
                <td><?php echo $order->alias ?></td>
                <td>(<?php echo count($order->Orderspos) ?>)</td>
                <td><div class="btn-group">
                        <a class="btn dropdown-toggle btn-large btn-success" data-toggle="dropdown" href="#">
                            Status: <?php echo $this->stati[$order->status] ?>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <?php foreach($this->stati as $key => $name): ?>
                                <li><a href="/production/druck/portal/uuid/<?php echo $order->uuid ?>/status/<?php echo $key ?>" class="change_stati"><?php echo $name ?></a></li>
                            <?php endforeach; ?>
                        </ul>
                    </div></td>
                <td><?php echo $order->contact_id ?></td>
                <td><?php echo $order->Contact->self_firstname ?> <?php echo $order->Contact->self_lastname ?></td>
                <td><?php echo $order->Shippingtype->title ?></td>
                <td><?php if($order->delivery_date != "0000-00-00"): ?><?php echo $this->date($order->delivery_date) ?><?php endif; ?></td>
                <td><?php if($this->order->install_id != 34): ?><a class="btn btn-large" href="/service/index/getzip?uid=<?php echo $order->id ?>" target="_blank"><i class="icon-download"></i> Download</a><?php endif; ?></td>
            </tr>
            <?php foreach($order->Orderspos as $orderspos): ?>
                <tr>
                    <td style="border-top: 0"></td>
                    <td><?php echo $orderspos->pos ?></td>
                    <td colspan="2"><?php foreach($orderspos->Article->getOptArray($orderspos->data) as $key => $value): ?>
                            <?= $value ?><br/>
                        <?php endforeach; ?></td>
                    <td colspan="2">
                    <?php foreach ($orderspos->Upload as $upload): ?>
                        <h2><?php echo $upload->typ ?></h2>
                        <a href="/uploads/<?php echo $this->shop->uid ?>/article/<?php echo $upload->path ?>" target="_blank"><?php echo $upload->name ?></a>
                        <?php echo $upload->preflight_errors ?><br/>
                    <?php endforeach; ?>
                        <?php if($this->order->install_id == 34): ?><a class="btn btn-large" href="/market/steplayouter/basket/<?php echo $orderspos->orders_id . '/' . $orderspos->pos ?>/<?php echo $order->alias . '_' . $orderspos->pos ?>.pdf" target="_blank"><i class="icon-download"></i> Download</a><?php endif; ?>
                    </td>
                    <td>

                    </td>

                    <td></td>
                </tr>
            <?php endforeach; ?>
        <?php endforeach; ?>
        </tbody>
    </table>

<?php endif; ?>