<script>
	function loadFile(link, file, title) {
    if(file == "pic") {
        $('.thumbnail').html('<a href="' + link + '" data-lightbox="article_detail"><img id="layouter" src="' + link +'" class="articlelistimg " alt="' + title + '" title="' + title + '"></a>');
    } else if(file == "youtube") {
        $('.thumbnail').html('<iframe style="width:100%;" src="' + link + '" frameborder="0" allowfullscreen=""></iframe>');
    }
}
</script>

<div class="row articletemplates-2">
    
    <div class="col-xs-12">
	<a class="btn-large pull-right" href="<?php echo $this->backurl ?>"><?php echo $this->translate('Zurück') ?></a>
	 <h1><?php echo $this->article->title ?></h1>
    </div>

   <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            
                <li class="active" role="presentation" ><a href="#details" data-toggle="tab"><?php echo $this->translate('Produkt') ?></a></li>   
		<?php if(!$this->designsettings()->get('einbetten')): ?><li><a href="#einbetten" data-toggle="tab"><?php echo $this->translate('Einbetten')?></a></li><?php endif; ?>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="details">
	    
	    <div class="col-md-3">

                        <div class="thumbnail">

                            <?php echo $this->image()->thumbnailImage($this->article->title, 'layouter', $this->article->file); ?>
                            <br/>
			    
			    
                        </div>
	
						


			<?php if ($this->admin && $this->role->level >= 40): ?>

			    <a class="btn btn-inverse btn-large pop_over" data-trigger="hover" data-placement="bottom" data-content="Bearbeiten Sie die Eigenschaften des Produkts." data-original-title="Eigenschaften"  onclick="javascript:window.open('/admin/article/edit?sid=<?= $this->article->shop_id ?>&uid=<?= $this->article->id ?>&type=<?= $this->article->typ ?>', 'contactWindow', 'width=800,height=600,top=10,left=10,directories=no,toolbar=no,location=no,menubar=no,scrollbars=no,status=no,resizable=yes,dependent=no');return false;" href="/myshop/editarticle/<?= $this->article->uuid ?>">
				<span class="glyphicon glyphicon-folder-open"></span> &nbsp;  <?php echo $this->translate('Eigenschaften bearbeiten')?>
			    </a>
			<?php endif; ?>
                   
	    </div>
		
		
		
		
                     <?php 
		    /******************************************************************************************************************************************************************************
		     * Beginn SPalte 2
		     */
		    ?>
                    <div class="col-md-9">

                        <form method="post" action="">
                            <dl>                                                <?php echo $this->form->auflage ?></dl> <?php echo $this->form->ajax_calc_id ?>
                        </form>

                        <?php
			/** 
			 * Produktkonfiguration und Summe:
			 * Verschachtelte Anzeige: daher: neue Row 
			 */
			?>

			<div class="row">
			    <div class="col-md-8" style="padding:0 2em">
                                <?php if ($this->article->lager_file_preview != ""): ?>

                                <a href="<?= $this->image()->thumbnailImage('test', 'test', $this->article->lager_file_preview, true, true) ?>"><?php $this->translate('Vorschau') ?></a>

                                <?php endif; ?>
                                <?= $this->article->info ?>
				

                                <p><br/></p>
                            </div>
			    
                       <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
                                <div class="well wellMobile2 andMobile" style="padding: 10px;">
                                    <?php if(!$this->article->display_no_price): ?>
                        <?php if($this->article->stock): ?>
                            <label class="basketstocklabel"><?php echo $this->translate('Aktueller Bestand')?>: <?php echo $this->article->stock_count ?> <?php echo $this->translate('Stk.')?></label><br />
                        <?php endif; ?>
                        <?php if(!$this->article->display_no_price AND !$this->designsettings()->get('display_no_price')): ?>
						<h3><?php echo $this->translate('Summe')?></h3>
						<br/>
						<?php endif; ?>
                        <?php endif; ?>
						<?php if($this->weight > 0): ?>
						<p id="weight_display" class="text-info"><?php echo $this->translate('Gewicht')?>: <span><?php echo $this->weight ?></span>g</p>
						<?php endif; ?>
						<div class="wellforMobilePrice">
                        <?php if(!$this->article->display_no_price AND !$this->designsettings()->get('display_no_price')): ?>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td><?php echo $this->translate('Preis (netto)')?>:</td>
                                            <td class="pull-right"><span
                                                id="price_netto"><?= $this->currency->toCurrency($this->netto) ?></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><?= $this->translate('zzgl. ') ?> <?php echo $this->article->mwert; ?>% <?= $this->translate('MwSt.') ?></td>
                                            <td class="pull-right"><span
                                                id="price_steuer"><?= $this->currency->toCurrency(($this->brutto - $this->netto) * 1) ?></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong><?php echo $this->translate('Preis (brutto)')?>:</strong></td>
                                            <td class="pull-right"><strong><span
                                                id="price_brutto"><?= $this->currency->toCurrency($this->brutto) ?></span></strong>
                                            </td>
                                        </tr>
                                        </tbody>
									</table>
                                    <?php endif; ?>
						</div>
						<div class="wellforMobileBTN">
                                    <form action="/article/buy/?id=<?= $this->article->id ?>" target="_self" role="form" class="form-horizontal buy" id="buyform" method="POST" style="padding:8px">
					<div class="form-group form-group-sm">
						<label class="col-sm-3 control-label" for="count"><?php echo $this->translate('Anzahl')?>: </label>
						<div class="col-sm-5 col-sm-offset-4">
						    <input type="text" value="1" class="form-control" name="count">
						</div>
					</div>
					<div class="clearfix"></div>
						<?= $this->formHidden('load', $this->load) ?>
						<input type="submit" class="btn btn-success btn-large orderbtn"
						       value="<?= $this->translate('Buy') ?>">
									</form>
									
                                </div>
                        </div>

                        </div>


                    </div>
                </div>
            </div>
       
        <?php if(!$this->designsettings()->get('einbetten')): ?>
	    <div class="tab-pane" id="einbetten">
		<h2><?php echo $this->translate('Einbetten') ?></h2>
		<p><?php echo $this->translate('Teilen Sie dieses Produkt mit Anderen, bewerben Sie es im eigenen BLOG oder Ihrer Website') ?></p>
		<div class="htmlSnippet">
		    <textarea onclick="this.focus(); this.select();" style="width:99%; height: 180px;">
			<?php echo $this->escape($this->htmlsnippet) ?>
		    </textarea>
		</div>
	    </div>
        <?php endif; ?>
       
    </div>
	<div class="clearfix"></div>
	<div class="col-xs-12">	
<!-- vorschau-bilder -->
<?php if($this->article->file1 != "" || $this->article->file2 != "" || $this->article->file3 != "" || $this->article->file4 != "" || $this->article->file5 != ""): ?>
			    
				<div class="vorschau-bilder-klein clearfix">

				<?php if($this->article->file != ""): ?>
                            <label onclick="loadFile('<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file, true); ?>', 'pic', '<?php echo $this->article->title ?>')">
                                <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file, true); ?>" class="img-fluid">
                            </label>
                            <?php endif; ?>
                            <?php if($this->article->file1 != ""): ?>
                            <label onclick="loadFile('<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file1, true); ?>', 'pic', '<?php echo $this->article->title ?>')">
                                <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file1, true); ?>" class="img-fluid">
                            </label>
                            <?php endif; ?>
                            <?php if($this->article->file2 != ""): ?>
                            <label onclick="loadFile('<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file2, true); ?>', 'pic', '<?php echo $this->article->title ?>')">
                                <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file2, true); ?>" class="img-fluid">
                            </label>
                            <?php endif; ?>
                            <?php if($this->article->file3 != ""): ?>
                            <label onclick="loadFile('<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file3, true); ?>', 'pic', '<?php echo $this->article->title ?>')">
                                <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file3, true); ?>" class="img-fluid">
                            </label>
                            <?php endif; ?>
                            <?php if($this->article->file4 != ""): ?>
                            <label onclick="loadFile('<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file4, true); ?>', 'pic', '<?php echo $this->article->title ?>')">
                                <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file4, true); ?>" class="img-fluid">
                            </label>
                            <?php endif; ?>
                            <?php if($this->article->file5 != ""): ?>
                            <label onclick="loadFile('<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file5, true); ?>', 'pic', '<?php echo $this->article->title ?>')">
                                <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file5, true); ?>" class="img-fluid">
                            </label>
                            <?php endif; ?>
                            <?php if($this->article->file6 != ""): ?>
                            <label onclick="loadFile('<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file6, true); ?>', 'pic', '<?php echo $this->article->title ?>')">
                                <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file6, true); ?>" class="img-fluid">
                            </label>
                            <?php endif; ?>
                            <?php if($this->article->file7 != ""): ?>
                            <label onclick="loadFile('<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file7, true); ?>', 'pic', '<?php echo $this->article->title ?>')">
                                <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file7, true); ?>" class="img-fluid">
                            </label>
                            <?php endif; ?>
                            <?php if ( $this->article->getYoutubeId() != '') : ?>
                            <label onclick="loadFile('//www.youtube.com/embed/<?php echo $this->article->getYoutubeId(); ?>', 'youtube')">
                                <img style="background:url(<?php echo'https://img.youtube.com/vi/'.$this->article->getYoutubeId().'/1.jpg'; ?>)" src="/<?php echo $this->designPath ?>bootstrap/img/miniplay.png"alt="" />
                            </label>
                            <?php endif; ?>				

	
	
			   </div>
			   <?php endif; ?>
	   </div>
       <hr />
       <div class="col-md-4" style="padding-left: 0px;padding-right: 0px;"> 
                   <?php if($this->article->text_art != ""):?><?php echo $this->article->text_art ?><br/><?php endif; ?>
						<?php if($this->article->text_format != ""):?><?php echo $this->article->text_format ?><br/><?php endif; ?>
                            <?php if($this->article->kostenstelle): ?> 
                                <?= $this->translate('Kostenstelle') ?>: <?php echo $this->article->kostenstelle; ?><br />
                            <?php endif; ?>
                            <?php if($this->article->article_nr_extern): ?> 
                                <?= $this->translate('Artikelnummer') ?>: <?php echo $this->article->article_nr_extern; ?><br />
                            <?php endif; ?>
                        <?php if($this->weight > 0): ?>
						<p id="weight_display" class="text-info"><?= $this->translate('Gewicht') ?>: <span><?php echo $this->weight ?></span>g</p>
						<?php endif; ?>
                        <?php if($this->article->article_nr_extern or $this->article->stock or $this->weight > 0): ?>
                            <?php endif; ?>
                        <p>
			    <br/><?php if($this->shop->install_id == 7):?><a target="_blank" href="/cms/zahlung-versand#lieferzeiten"><?php echo $this->translate('Die Lieferzeiten in der Übersicht')?></a><?php endif; ?>
			</p>
                </div>
                <div class="col-md-5" style="padding-left: 0px;padding-right: 0px;">
                <?php /*var_dump($this->article->getAblaufDatum(),"d.m.Y"); if($this->article->getAblaufDatum()) { echo "Ablaufdatum: " . date_format($this->article->getAblaufDatum(),"d.m.Y") . "<br />"; }*/
                 if($this->article->getZusatzDesigner() != "") { echo $this->article->getZusatzDesigner() . "<br />"; }
					          if($this->article->getZusatzAbmessung() != "") { echo $this->article->getZusatzAbmessung() . "<br />"; }
					          if($this->article->getZusatzShipping() != "") { echo $this->article->getZusatzShipping() . "<br />"; }
					          if($this->article->getAnsprechPartner() != "") { echo $this->article->getAnsprechPartner() . "<br />"; }
                              ?>
            </div> 
<div class="clearfix"></div>
            <div style="margin-bottom:50px;"><?php echo $this->article->getText() ?></div>
</div> <!-- // row articletemplates-2 -->