<?php

    $basketArticle = $this->article['article'];

    $filesOptions =$this->article['basketarticle']->getFiles();

?>



    <td><?php echo $this->image()->thumbnailImage($basketArticle['title'], 'articlelist', $basketArticle['file']); ?></td>

    <td><b><?php echo $basketArticle['title'] ?></b></td>

    <td align="center"><?php echo $this->article['basketarticle']->getAuflage() ?></td>

    <td align="right"><?php echo $this->currency->toCurrency($this->article['basketarticle']->getNetto()) ?><p>

            <a href="<?php echo $this->url(array('del' => $this->article['uuid']), 'basketdel') ?>"><?php echo $this->translate('Löschen'); ?></a></p></td>

</tr>

<tr><td colspan="4">

<?php if(is_array($this->article['basketarticle']->getOptions())): ?>

<ul>

<?php foreach ($this->article['basketarticle']->getOptions() as $key => $option):
    if($key == 'auflage') continue;
    ?>

<li><?php echo $option ?></li>

<?php endforeach; ?>

</ul>

<?php endif; ?>

<ul>

<?php foreach ($filesOptions as $key => $option): ?>

<li><b><a href="/uploads/<?php echo $this->shop->uid ?>/article/<?php echo $option['value'] ?>" target="_blank"><?php echo $option['name'] ?></a></b></li>

<?php endforeach; ?>

</ul>

</td>