<div class="row articletemplates-2">
    
    <div class="col-xs-12">
	<a class="btn-large pull-right" href="<?php echo $this->backurl ?>"><?php echo $this->translate('Zurück') ?></a>
	 <h1><?php echo $this->article->title ?></h1>
    </div>

   <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            
                <li class="active" role="presentation" ><a href="#details" data-toggle="tab"><?php echo $this->translate('Produkt') ?></a></li>   
		<?php if(!$this->designsettings()->get('einbetten')): ?><li><a href="#einbetten" data-toggle="tab">Einbetten</a></li><?php endif; ?>
    </ul>


    <div class="tab-content">
        <div class="tab-pane active" id="details">
	    
	    <div class="col-md-4">

                        <div class="thumbnail">

                            <?php echo $this->image()->thumbnailImage($this->article->title, 'layouter', $this->article->file); ?>
                            <br/>
			    
			    <!-- vorschau-bilder -->
                            <?php if($this->article->file1 != "" || $this->article->file2 != "" || $this->article->file3 != "" || $this->article->file4 != "" || $this->article->file5 != ""): ?>
			    
                             <div class="thumbnail vorschau-bilder-klein clearfix">
				
				 <?php if($this->article->file1 != ""): ?>
					    <a data-toggle="modal" href="#" data-target="#preview1" title="<?php echo $this->article->title ?>"><?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file1); ?></a>
					    
					    <!-- Modal: -->
					    <div class="modal fade" id="preview1" tabindex="-1" role="dialog" aria-labelledby="preview1Label" aria-hidden="true">
					      <div class="modal-dialog modal-lg">
						<div class="modal-content">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
						    <h4 class="modal-title" id="preview1Label"><?php echo $this->translate('Vorschau')?></h4>
						  </div>
						  <div class="modal-body">
						     <img class="center-block" src="/<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file1, true); ?>"/>
						  </div>
						</div>
					      </div>
					    </div>
					    
					<?php endif; ?>

					<?php if($this->article->file2 != ""): ?>
					    <a data-toggle="modal" href="#" data-target="#preview2" title="<?php echo $this->article->title ?>"><?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file2); ?></a>
					    <!-- Modal: -->
					    <div class="modal fade" id="preview2" tabindex="-1" role="dialog" aria-labelledby="preview2Label" aria-hidden="true">
					      <div class="modal-dialog modal-lg">
						<div class="modal-content">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
						    <h4 class="modal-title" id="preview2Label"><?php echo $this->translate('Vorschau')?></h4>
						  </div>
						  <div class="modal-body">
						     <img class="center-block" src="/<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file2, true); ?>"/>
						  </div>
						</div>
					      </div>
					    </div>
					<?php endif; ?>


					<?php if($this->article->file3 != ""): ?>
					    <a data-toggle="modal" href="#" data-target="#preview3" title="<?php echo $this->article->title ?>"><?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file3); ?></a>
					    <!-- Modal: -->
					    <div class="modal fade" id="preview3" tabindex="-1" role="dialog" aria-labelledby="preview3Label" aria-hidden="true">
					      <div class="modal-dialog modal-lg">
						<div class="modal-content">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
						    <h4 class="modal-title" id="preview3Label"><?php echo $this->translate('Vorschau')?></h4>
						  </div>
						  <div class="modal-body">
						     <img class="center-block" src="/<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file3, true); ?>"/>
						  </div>
						</div>
					      </div>
					    </div>
					<?php endif; ?>


					<?php if($this->article->file4 != ""): ?>
					    <a data-toggle="modal" href="#" data-target="#preview4" title="<?php echo $this->article->title ?>"><?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file4); ?></a>
					    <!-- Modal: -->
					    <div class="modal fade" id="preview4" tabindex="-1" role="dialog" aria-labelledby="preview4Label" aria-hidden="true">
					      <div class="modal-dialog modal-lg">
						<div class="modal-content">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
						    <h4 class="modal-title" id="preview4Label"><?php echo $this->translate('Vorschau')?></h4>
						  </div>
						  <div class="modal-body">
						     <img class="center-block" src="/<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file4, true); ?>"/>
						  </div>
						</div>
					      </div>
					    </div>
					<?php endif; ?>


					<?php if($this->article->file5 != ""): ?>
					    <a data-toggle="modal" href="#" data-target="#preview5" title="<?php echo $this->article->title ?>"><?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file5); ?></a>
					    <!-- Modal: -->
					    <div class="modal fade" id="preview5" tabindex="-1" role="dialog" aria-labelledby="preview5Label" aria-hidden="true">
					      <div class="modal-dialog modal-lg">
						<div class="modal-content">
						  <div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
						    <h4 class="modal-title" id="preview5Label"><?php echo $this->translate('Vorschau')?></h4>
						  </div>
						  <div class="modal-body">
						     <img class="center-block" src="/<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file5, true); ?>"/>
						  </div>
						</div>
					      </div>
					    </div>
					<?php endif; ?>
				 
				 
                            </div>
                            <?php endif; ?>
                        </div>
		
			<?php if ($this->admin && $this->role->level >= 40): ?>

			    <a class="btn btn-inverse btn-large pop_over" data-trigger="hover" data-placement="bottom" data-content="Bearbeiten Sie die Eigenschaften des Produkts." data-original-title="Eigenschaften"  onclick="javascript:window.open('/admin/article/edit?sid=<?= $this->article->shop_id ?>&uid=<?= $this->article->id ?>&type=<?= $this->article->typ ?>', 'contactWindow', 'width=800,height=600,top=10,left=10,directories=no,toolbar=no,location=no,menubar=no,scrollbars=no,status=no,resizable=yes,dependent=no');return false;" href="/myshop/editarticle/<?= $this->article->uuid ?>">
				<span class="glyphicon glyphicon-folder-open"></span> &nbsp;  Eigenschaften bearbeiten
			    </a>
			<?php endif; ?>
                   
	    </div>
		
		
		
		
                     <?php 
		    /******************************************************************************************************************************************************************************
		     * Beginn SPalte 2
		     */
		    ?>
                    <div class="col-md-8">

                        <form method="post" action="">
                            <dl>                                                <?php echo $this->form->auflage ?></dl> <?php echo $this->form->ajax_calc_id ?>
                        </form>

                        <?php
			/** 
			 * Produktkonfiguration und Summe:
			 * Verschachtelte Anzeige: daher: neue Row 
			 */
			?>

			<div class="row">
			    <div class="col-md-7" style="padding:0 2em">
                                <?php if ($this->article->lager_file_preview != ""): ?>

                                <a href="<?= $this->image()->thumbnailImage('test', 'test', $this->article->lager_file_preview, true, true) ?>"><?php $this->translate('Vorschau') ?></a>

                                <?php endif; ?>
                                <?= $this->article->info ?>
				

                                <p><br/></p>
                            </div>
			    
                       <div class="col-md-4 col-md-offset-1">
                                <div class="well" style="padding: 10px;">
                                    <h3><?php echo $this->translate('Summe')?></h3>
                                    <br/>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Preis (netto):</td>
                                            <td class="pull-right"><span
                                                id="price_netto"><?= $this->currency->toCurrency($this->netto) ?></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><?= $this->translate('zzgl. ' . $this->article->mwert . '% MwSt.') ?></td>
                                            <td class="pull-right"><span
                                                id="price_steuer"><?= $this->currency->toCurrency(($this->brutto - $this->netto) * 1) ?></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Preis (brutto):</strong></td>
                                            <td class="pull-right"><strong><span
                                                id="price_brutto"><?= $this->currency->toCurrency($this->brutto) ?></span></strong>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <form action="/article/buy/?id=<?= $this->article->id ?>" target="_self" role="form" class="form-horizontal buy" id="buyform" method="POST" style="padding:8px">
					<div class="form-group form-group-sm">
						<label class="col-sm-3 control-label" for="count">Anzahl: </label>
						<div class="col-sm-5 col-sm-offset-4">
						    <input type="text" value="1" class="form-control" name="count">
						</div>
					</div>
						<?= $this->formHidden('load', $this->load) ?>
						<input type="submit" class="btn btn-success btn-large"
						       value="<?= $this->translate('Buy') ?>">
                                    </form>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
       
        <?php if(!$this->designsettings()->get('einbetten')): ?>
	    <div class="tab-pane" id="einbetten">
		<h2><?php echo $this->translate('Einbetten') ?></h2>
		<p><?php echo $this->translate('Teilen Sie dieses Produkt mit Anderen, bewerben Sie es im eigenen BLOG oder Ihrer Website') ?></p>
		<div class="htmlSnippet">
		    <textarea onclick="this.focus(); this.select();" style="width:99%; height: 180px;">
			<?php echo $this->escape($this->htmlsnippet) ?>
		    </textarea>
		</div>
	    </div>
        <?php endif; ?>
       
    </div>
    
</div> <!-- // row articletemplates-2 -->