<?php
$basketArticle = $this->article['article'];
$articleObj = new market_article();
$filesOptions =$this->article['basketarticle']->getFiles();
?>
    <td>
    	<?php if(($basketArticle['a6_org_article'] == 0 || $basketArticle['a6_org_article'] == "") && ($this->article['basketarticle']->getLayouterId() == "" || $this->article['basketarticle']->getLayouterId() == false)): ?>
    		<?php echo $this->image()->thumbnailImage($basketArticle['title'], 'articlelist', $basketArticle['file']); ?>
    	<?php elseif(($basketArticle['a6_org_article'] != 0 && $basketArticle['file'] != "") && ($this->article['basketarticle']->getLayouterId() == "" || $this->article['basketarticle']->getLayouterId() == false)): ?>
            <?php echo $this->image()->thumbnailImage($basketArticle['title'], 'articlelist', $basketArticle['file']); ?>
        <?php else: ?>
            <?= $articleObj->generatePreview($basketArticle['id'],$this->article['basketarticle']->getLayouterId()); ?>
        <?php endif; ?>
    </td>
    <td>
        <?php if(($this->article['basketarticle']->getLayouterId() == "" || $this->article['basketarticle']->getLayouterId() == false)): ?>
            <strong><?php echo $basketArticle['title'] ?></strong><br />
        <?php else: ?>
            <strong><?php echo $this->layouter()->getTitle($this->article['basketarticle']->getLayouterId()); ?></strong><br />
        <?php endif; ?>
         <?php if(($this->article['options'])): ?>
            <ul>
                    <?php foreach ($this->article['options'] as $key => $option): ?>
                    <?php 
                    
                    	if(stripos($option, 'Auflage') === 0) {
                    		$count = str_replace('Auflage: ', '', $option);
                    	}else{
                    ?>
                    <li><?php echo $option ?></li>
                    <?php } ?>
                    <?php endforeach; ?>

                </ul>
                <ul>
                    <?php foreach ($filesOptions as $key => $option): ?>
                    <li><b><a href="/uploads/<?php echo $this->shop->uid ?>/article/<?php echo $option['value'] ?>" target="_blank"><?php echo $option['name'] ?></a></b></li>
                    <?php endforeach; ?>
            </ul>
        <?php endif; ?>
        <?php if($this->shop->basketposfield1 != ""): ?><?php echo $this->shop->basketposfield1 ?>
        <form enctype="multipart/form-data" method="post">
            <div><input type="text" class="span3" style="margin-bottom: 0;" name="ref_<?php echo $this->article['uuid'] ?>" value="<?php echo $this->article['basketarticle']->getRef(); ?>"/>
            <input type="submit" class="btn" style="" value="übernehmen"/></div>
        </form>
        <?php endif; ?>
        <?php if($this->shop->basketposfield2 != ""): ?><?php echo $this->shop->basketposfield2 ?>
        <form enctype="multipart/form-data" method="post">
            <div><input type="text" class="span3" style="margin-bottom: 0;" name="kst_<?php echo $this->article['uuid'] ?>" value="<?php echo $this->article['basketarticle']->getKst(); ?>"/>
                <input type="submit" class="btn" style="" value="übernehmen"/></div>
        </form>
        <?php endif; ?>
    </td>
    <td align="center">
        <?php if(isset($count)): ?>
    	<?php echo $count ?>
    	<?php else: ?>
        <?php echo $this->article['basketarticle']->getCount() ?>
        <?php endif; ?>
    </td>
    <td align="right">
        <?php echo $this->currency->toCurrency($this->article['basketarticle']->getBrutto()*$this->article['basketarticle']->getCount()) ?>
        <br/><a href="<?php echo $this->url(array('del' => $this->article['uuid']), 'basketdel') ?>"><?php echo $this->translate('Löschen'); ?></a>
        <br/><a href="<?php echo $this->url(array('key' => $this->article['uuid']), 'articleload') ?>"><?php echo $this->translate('Bearbeiten') ?></a>

    </td>

