<?= $this->partial ( 'user_tabs.phtml', array ('shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );?>

    <?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?>

            <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); ?>
            <div class="table-responsive">
            <table class="table table-hover myorders">
                <thead>
                        <tr class="bg-primary">
                                <th align="left" class="left"><?php echo $this->translate('Auftragsnummer') ?></th>
                                <th align="left"><?php echo $this->translate('Datum') ?></th>
                                <th align="left" class="right"><?php echo $this->translate('Referenz') ?></th>
                                <th align="left"><?php echo $this->translate('Wert') ?></th>
                                <th align="left"><?php echo $this->translate('Zahlart') ?></th>
                                <th align="left"><?php echo $this->translate('Auftragsstatus') ?></th>
                        </tr>
                </thead>
            <tbody>
            <?php foreach($this->paginator as $order): ?>
                    <tr class="<?php echo $this->cycle(array("odd","even"))->next()?> top bg-info">
                        <td align="left" class="left" width="50" valign="top"><?php echo $order['alias'] ?></td>
                        <td align="left" width="50" valign="top"><?php echo $this->date($order['created'])->toString(Zend_Date::DATE_SHORT) ?></td>
                        <td align="left" class="right" valign="top">
                            <?php if($order['basketfield1'] != ""): ?><b><?php echo $this->shop->basketfield1 ?>:</b> <?php echo $order['basketfield1'] ?><br><?php endif; ?>
                            <?php if($order['basketfield2'] != ""): ?><b><?php echo $this->shop->basketfield2 ?>:</b> <?php echo $order['basketfield2'] ?><br><?php endif; ?>
                        </td>
                        <td align="left" valign="top"><?php echo $this->currency->toCurrency($order['preisbrutto']+0) ?></td>
                        <td align="left" valign="top"><?php echo $order['payment'] ?></td>
                        <td align="left" valign="top"><?php echo TP_Status::getStatusText($order['status']) ?></td>
                        
                    </tr>

                    <?php 
                        $i = 0;
                        foreach($order['pos'] as $pos):

                        $i++;
                    ?>
                    <tr class="<?php echo $this->cycle(array("odd","even"))?> positions">
                        <td align="right" width="50" valign="top" class="leftborder">Position <?= $i ?><br/><br/><a href="<?php echo $this->url(array('uuid' => $order['uuid'], 'pos_uuid' => $pos['uuid']), 'articlerebuy'); ?>">Nachbestellen</a></td>
                        <td align="left" width="50" class="image" valign="top">
                            <?php if(($pos->Article->typ == 6 && $pos->Article->a6_org_article != 0) && $pos->layouter_mode == 2):
                                echo '<img src="'.$this->image()->thumbnailMyOrders($pos, 'articlelist', true).'" width="200"/>';
                            elseif(($pos->Article->typ == 6 && $pos->Article->a6_org_article != 0) && $pos->layouter_mode == 4):
                                echo '<img src="'.$this->image()->thumbnailSteplayouter2($pos->Article->title, 'articlelist', $pos, true).'" width="200"/>';
                            else:
                                echo $this->image()->thumbnailImage($pos->Article->title, 'articlelist', $pos->Article->file);
                            endif;
                            ?></td>
                        <td align="left" valign="top">
                            <?php if($pos['ref'] != ""): ?><b><?php echo $this->shop->basketposfield1 ?>:</b> <?php echo $pos['ref'] ?><br><?php endif; ?>
                            <?php if($pos['kst'] != ""): ?><b><?php echo $this->shop->basketposfield2 ?>:</b> <?php echo $pos['kst'] ?><br><?php endif; ?>
                            <?php echo $this->translate('Preis Netto').' '.$this->currency->toCurrency($pos['priceallbrutto']-$pos['priceallsteuer']+0) ?><br/>
                            <?php echo $this->translate('Preis Brutto').' '.$this->currency->toCurrency($pos['priceallbrutto']+0) ?><br/>
                            <?php if($pos->layouter_mode != 2): ?><b><?php echo $this->translate('Dateien:')?></b><br/>
                            <?php foreach($pos->Upload as $upload): ?>
                                   <a href="/uploads/<?php echo $this->shop->uid ?>/article/<?php echo $upload->path; ?>" target="_blank"><?php echo $upload->name; ?></a><br/>
                            <?php endforeach; ?>
                            <p>
                            <?php if(($pos['status'] >= 10 && $pos['status'] < 50) && ( $pos->Article->typ != 9 ) && $pos->layouter_mode != 3 && $pos->layouter_mode != 2): ?><a href="/uploadcenter?id=<?php echo $order['id'] ?>&pos=<?php echo $pos['id'] ?>"><?php echo $this->translate('Hochladen'); ?></a><?php endif; ?>
                            </p>
                            <?php endif; ?><br/>
                            <b>Status: <?php echo TP_Status::getPositionStatusText($pos['status']) ?></b>

                        </td>
                        <td align="left" colspan="3">

                        <b><?php echo $this->translate('Eigenschaften') ?></b><br/>
                        <?php foreach($pos->Article->getOptArray($pos->data) as $key => $value): ?>
                        <?= $value ?><br/>
                        <?php endforeach; ?>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                    
            <?php endforeach; ?>
                    
          </tbody>
        </table>


        </div>

            <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); ?>


<?php endif; ?>
