<?= $this->partial ( 'user_tabs.phtml', array ('shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );?>

<section>
    <div class="bg-info" style="padding:1em;">
         <span class="glyphicon glyphicon-info-sign"></span>
         <?php echo $this->translate('Hallo')?> <?php echo $this->user->self_firstname ?> <?php echo $this->user->self_lastname ?>, <?php echo $this->translate('verwalten Sie hier Ihr Benutzerkonto')?>
        </div>
</section>

    <?php if($this->designsettings()->get('myoverview_random_products')): ?>
            <div class="row myoverview">
                <div class="col-xs-6 col-md-4">
                    <div class="well">
                        <h3><?php echo $this->translate('Meine Einstellungen')?></h3>
                        <a class="btn btn-info" href="/user/mysettings"><?php echo $this->translate("Los geht's")?></a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="well">
                        <h3><?php echo $this->translate('Meine Adressen')?></h3>
                        <a class="btn btn-info" href="/user/myaddress"><?php echo $this->translate("Los geht's")?></a>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <div class="well">
                        <h3><?php echo $this->translate('Meine Bestellungen')?></h3>
                        <a class="btn btn-info" href="/user/myorders"><?php echo $this->translate("Los geht's")?></a>
                    </div>
                </div>
            </div>
            <h3>Produktempfehlungen</h3>
            <?php
                 $articles = $this->article()->getRandomArticle(5);
            ?>
            <ul class="thumbnails">
                <?php foreach ($articles as $article): ?>
                <?= $this->partial('article/_articlelistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>
                <?php endforeach; ?>
            </ul>
            
    <?php else: ?>
	<?php if($this->shop->private): ?>
        <div class="row myoverview">
            <div class="col-xs-6 col-md-3">
                <div class="well">
                    <h3><?php echo $this->translate('Zu den Produkten')?></h3>
                    <p><?php echo $this->translate('Hier gelangen Sie zu allen Produkten, die Sie bestellen können.')?></p>
                    <a class="btn btn-info" href="/overview"><?php echo $this->translate("Los geht's")?></a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="well">
                    <h3><?php echo $this->translate('Meine Bestellungen')?></h3>
                    <p><?php echo $this->translate('Hier erhalten Sie eine Übersicht über alle Ihre Bestellungen und des jeweiligen Auftragsstatus.')?></p>
                    <a class="btn btn-info" href="/user/myorders"><?php echo $this->translate("Los geht's")?></a>
                </div>
            </div>
            <?php if($this->shop->template_display_user_approval): ?>
           <div class="col-xs-6 col-md-3">
                <div class="well">
                    <h3><?php echo $this->translate('Meine Freigaben')?></h3>
                    <p><?php echo $this->translate('Hier erhalten Sie eine übersicht über alle Bestellungen, für die Sie eine "Freigabe" erteilen oder die "Freigabe" ablehnen müssen.')?></p>
                    <a class="btn btn-info" href="/user/myapproval"><?php echo $this->translate("Los geht's")?></a>
                </div>
            </div>
            <?php else: ?>
            <div class="col-xs-6 col-md-3">
                <div class="well">
                    <h3><?php echo $this->translate('Meine Einstellungen')?></h3>
                    <p><?php echo $this->translate('Hier können Sie Ihre Zugangs- und Benutzerdaten sowie Ihre Kontoeinstellungen bearbeiten.')?></p>
                    <a class="btn btn-info" href="/user/mysettings"><?php echo $this->translate("Los geht's")?></a>
                </div>
            </div>
            <?php endif; ?>
            <div class="col-xs-6 col-md-3">
                <div class="well">
                    <h3><?php echo $this->translate('Persönliche Produkte')?></h3>
                    <p><?php echo $this->translate('Hier gelangen Sie zu den "privatisierten" Produkten, für deren Bestellung Sie ein Sonderrecht haben.')?></p>
                    <a class="btn btn-info" href="/article/mypersarticle"><?php echo $this->translate("Los geht's")?></a>
                </div>
            </div>
        </div>
    <?php else: ?>
        <div class="row myoverview">
            <div class="col-xs-6 col-md-3">
                <div class="well">
                    <h3><?php echo $this->translate('Zur Startseite')?></h3>
                    <a class="btn btn-info" href="/"><?php echo $this->translate("Los geht's")?></a>
                </div>
            </div>
            <div class="col-xs-6 col-md-3">
                <div class="well">
                    <h3><?php echo $this->translate('Meine Bestellungen')?></h3>
                    <p><?php echo $this->translate('Hier erhalten Sie eine Übersicht über alle Ihre Bestellungen und des jeweiligen Auftragsstatus.')?></p>
                    <a class="btn btn-info" href="/user/myorders"><?php echo $this->translate("Los geht's")?></a>
                </div>
            </div>
           <div class="col-xs-6 col-md-3">
                <div class="well">
                    <h3><?php echo $this->translate('Meine Einstellungen')?></h3>
                    <p><?php echo $this->translate('Hier können Sie Ihre Zugangs- und Benutzerdaten sowie Ihre Kontoeinstellungen bearbeiten.')?></p>
                    <a class="btn btn-info" href="/user/mysettings"><?php echo $this->translate("Los geht's")?></a>
                </div>
            </div>

            <div class="col-xs-6 col-md-3">
                <div class="well">
                    <h3><?php echo $this->translate('Persönliche Produkte')?></h3>
                    <p><?php echo $this->translate('Hier gelangen Sie zu den "privatisierten" Produkten, für deren Bestellung Sie ein Sonderrecht haben.')?></p>
                    <a class="btn btn-info" href="/article/mypersarticle"><?php echo $this->translate("Los geht's")?></a>
                </div>
            </div>

        </div>
    <?php endif; ?>
    <?php endif; ?>
