    <h1><?php echo $this->translate('Jetzt Registrieren!') ?></h1>
 


    <?php if($this->finish != true): ?>
        <div class="bg-info" style="padding:1em;">
             <?php echo $this->translate('Bitte geben Sie Ihre Daten ein!') . ' &ndash; ' . $this->translate('Mit * gekennzeichnete Felder sind Pflichtfelder!'); ?>
        </div>


        <section id="mysettings">
            <?php 
                    EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
                     
		    //echo $this->form->render();
		   $owd_FORM =  $this->form->setAttrib('class', 'niceform form-horizontal')->render();
		   echo str_replace(	array('Telefon:'),
					array('Telefon'), 
						$owd_FORM ); 
            ?>
        </section>

    <?php else: ?>

         <div class="bg-info" style="padding:1em;">
             <?php echo $this->translate('Thank you for register') ?>
         </div>

    <?php endif; ?>