<div class="row">
    
    <div class="col-xs-12">
	
	<br>

	<h1><?php echo $this->translate('Forget password?') ?></h1> 


	<p>
	    <?php echo $this->translate('Wir haben Ihnen eine Email an die Emailadresse Ihres Accounts gesendet. Folgen Sie bitte dem darin enthaltenen Link.')?>

		<br>
	    <?php echo $this->translate('Daraufhin erhalten Sie eine Email mit Ihren neuen Zugangsdaten.')?>
	</p>

	<br>

	<p style="margin-bottom:5em;">
	    <?php echo $this->translate('Durch die Best&auml;tigungsemail versichern wir uns, dass Sie auch wirklich ein neues Passwort angefordert haben und <br>fremde Personen keinen Blick auf Ihre pers&ouml;nlichen Daten erhalten.')?>
	</p>

	</div>
    
    </div>