
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Production Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Production Tool">
    <meta name="author" content="PrintshopCreator GmbH">

    <!-- Le styles -->
    <link href="/production_files/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/production_files/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
  </head>

  <body>
    <div class="container">
    <?php
    $PriorityMessenger = $this->PriorityMessenger();
    if(count($PriorityMessenger)): ?>
    <?php foreach ($PriorityMessenger as $label => $messages): ?>
    <?php if (count($messages)): ?>
        <?php foreach ($messages as $message): ?>
                <?php if($label == "error"): ?>
                    <div class="alert alert-error">
                        <?php echo $this->translate($message); ?>
                    </div>
                <?php else: ?>
                    <div class="alert alert-success">
                        <?php echo $this->translate($message); ?>
                    </div>
                <?php endif; ?>
        <?php endforeach; ?>
    <?php endif; ?>
    <?php endforeach; ?>
    <?php endif; ?>
      
    <?php echo $this->layout()->CONTENT; ?>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/production_files/bootstrap/js/jquery.js"></script>
    <script src="/production_files/bootstrap/js/bootstrap.js"></script>
    <?= $this->headScript(); ?>
  </body>
</html>
