<div class="page-header"><h1><?php echo $this->translate('News') ?></h1></div>
<table class="">
<?php foreach($this->news as $news): ?>
    <tr><td><h5><strong><?php echo $this->date($news->sort_date)->toString(Zend_Date::DATE_MEDIUM) ?></strong> <?= $news->title ?></h5><p><?= $news->einleitung ?> <a href="/news/<?= $news['url'] ?>">[<?php echo $this->translate('mehr')?>...]</a></p></td></tr>
<?php endforeach; ?>
</table>