<div class="page-header"><h1><?php echo $this->date($this->news->sort_date)->toString(Zend_Date::DATE_MEDIUM) ?> <?php echo $this->news->title ?></h1></div>
<p><?php echo $this->news->text ?></p>
<a href="/news">Zurück</a>
<br /><br /><br /><br />