<div class="col-sm-12">
<h1><?php echo $this->translate('Oh je! Ein Fehler ist aufgetreten.')?></h1>
<h2><?php echo $this->translate('Anscheinend ist die Seite die Sie aufrufen wollten nicht erreichbar oder verfügbar, bzw. Ihre Adresse hat sich geändert.')?></h2>
<p><?php echo $this->message ?> (<?php echo $this->code ?>) </p>
<?php
if( $this->env == 'development' ) {
 if ( isset($this->info ) ) { ?>
<?php if ( 404 == $this->code ) { ?>
  <p><b>Reason:</b> <?php echo $this->info ?></p>
<?php } elseif (500 == $this->code) { ?>
  <p>Bad server, naughty server!<br />No donut for you!</p>
  <h4>Exception information:</h4>
 <p><b>Message:</b> <?php echo $this->info->getMessage() ?></p>
 <h4>Stack trace:</h4>
 <pre><?php echo $this->info->getTraceAsString() ?></pre>
<?php } ?>
<?php } ?>
<?php } ?>
</div>