<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
          "http://www.w3.org/TR/html4/loose.dtd"><html> 
<head> 
<script src="/layouter/swfobject.js" language="javascript"></script>
<script src="/layouter/swffit.js" language="javascript"></script>
<style>
body, html {
	margin: 0;
	padding: 0;
}
</style>
<script type="text/javascript">
<?php if($this->list == false): ?>
	<?php if($this->resale): ?>
	    function closewin(uuid) {
                parent.$("#CALCFORM").data("lastButtonClicked", 'layouter');
	        <?php if(Zend_Auth::getInstance()->hasIdentity() && $this->copy != 2 && $this->copy != 3):?>
	    	parent.$('#CALCFORM').attr('action','/resale/layouterindex/' + uuid);
	    	parent.$('#CALCFORM').submit();
	    	<?php else:?>
	    	parent.$('#CALCFORM').attr('action','/resale/layouterindex/<?= ($this->orginal != "")? $this->orginal: $this->uuid; ?>/' + uuid);
	    	parent.$('#CALCFORM').submit();
	    	<?php endif;?>
	        
	    };
	<?php else: ?>
        function closewin(uuid) {
                parent.$("#CALCFORM").data("lastButtonClicked", 'layouter');
	       	<?php if(Zend_Auth::getInstance()->hasIdentity() && $this->copy != 2 && $this->copy != 3):?>
	    	parent.$('#CALCFORM').attr('action','/article/show/uuid/' + uuid);
	    	parent.$('#CALCFORM').submit();
	    	<?php else:?>
	    	parent.$('#CALCFORM').attr('action','/article/show/uuid/<?= ($this->orginal != "")? $this->orginal: $this->uuid; ?>/' + uuid);
	    	parent.$('#CALCFORM').submit();
	    	<?php endif;?>
	        
	    };
	<?php endif; ?>
<?php else: ?>
	<?php if($this->resale): ?>
	function closewin(uuid) {
	        <?php if(Zend_Auth::getInstance()->hasIdentity() && $this->copy != 2 && $this->copy != 3):?>
		parent.document.location = '/resale/layouterindex/' + uuid;
		<?php else:?>
		parent.document.location = '/resale/layouterindex/<?= ($this->orginal != "")? $this->orginal: $this->uuid; ?>/' + uuid;
		<?php endif;?>
	    
	};
	<?php else: ?>
	function closewin(uuid) {
                <?php if(Zend_Auth::getInstance()->hasIdentity() && $this->copy != 2 && $this->copy != 3):?>
	   	parent.document.location = '/article/show/uuid/' + uuid;
		<?php else:?>
		parent.document.location = '/article/show/uuid/<?= ($this->orginal != "")? $this->orginal: $this->uuid; ?>/' + uuid;
		<?php endif;?>
	    
	};
	<?php endif; ?>
<?php endif; ?>
    function backwin() {
    	window.parent.backwin();
    	
    }

    function toggleScreen(fullscreen) {
        parent.toggleScreen(fullscreen);
    }

    

    
</script>
<script type="text/javascript">

		var params = {};
		var flashvars = {};
        flashvars.uuid = "<?= $this->uuid ?>";
        flashvars.artid = "<?= Zend_Session::getId() ?>";
        flashvars.do_copy = "<?= $this->copy ?>";
        flashvars.domain = "<?php echo $this->basepath; ?>/";
		<?php if($this->autofill): ?>
		flashvars.autoExec = "autoFill";
		<?php endif; ?>
		params.allowscriptaccess = "always";

        var width = parent.$(parent.window).width()/100*90;
		var height = parent.$(parent.window).height()/100*90;
		
		swfobject.embedSWF("/layouter/<?php echo $this->layouterversion ?>PMB_LAYOUTER.swf", "my_flash", width, height, "10.0.42.34", "expressInstall.swf", flashvars, params);
		
</script>
</head>
<body>

<div id="my_flash"style="background:#fff; width:450px; height:200px;margin:auto;padding: 5px 10px; border: 1px solid #000000; ">
<h3 style="font-family: trebuchet ms, tahoma, arial, verdana, sans-serif; color:#BA0808; font-size:120%; font-weight:bold; margin:5px 0 10px;">Die Nutzung des Onlinedesigners erfordert die aktuelle Version des Flashplayers.</h3><p style="font-family: trebuchet ms, tahoma, arial, verdana, sans-serif;font-weight:normal;
margin:10px 0;"> Sie haben keinen Flashplayer installiert oder ihre Version ist nicht aktuell.<br /> Den aktuellen Player können Sie <a href="http://www.adobe.com/go/getflashplayer" target="_blank" border="0">hier</a> kostenlos herunterladen.</p><a href="http://www.adobe.com/go/getflashplayer" target="_blank" border="0"><img src="http://directprint24.de/shops/3214981973/images/160x41_Get_Flash_Player.jpg" alt="Downloadlink Flashplayer"></a> 
</div>
<noscript>
  	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			id="PMB_LAYOUTER" width="100%" height="100%"
			codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
			<param name="movie" value="/layouter/<?php echo $this->layouterversion ?>PMB_LAYOUTER.swf" />
			<param name="quality" value="high" />
            <param name="flashvars" value="uuid=<?= $this->uuid ?>&artid=<?= Zend_Session::getId() ?>&do_copy=<?= $this->copy ?>&domain=<?php echo $this->basepath; ?><?php if($this->autofill): ?>&autoExec=autoFill<?php endif; ?>/" />
			<param name="bgcolor" value="#869ca7" />
			<param name="allowFullScreen" value="true" /> 
			<param name="allowScriptAccess" value="sameDomain" />
			<embed src="/layouter/<?php echo $this->layouterversion ?>PMB_LAYOUTER.swf" quality="high"
				width="100%" height="100%" name="PMB_LAYOUTER" align="middle"
				play="true"
				loop="false"
				allowFullSceen="true"
                allowScriptAccess="always"
				quality="high"
				type="application/x-shockwave-flash"
				pluginspage="http://www.adobe.com/go/getflashplayer">
			</embed>
	</object>
</noscript>
</body> 
</html> 