<form class="form-horizontal" method="post">
  <fieldset>
    <legend>Login</legend>
    <div class="control-group">
      <label class="control-label" for="input01">E-Mail</label>
      <div class="controls">
        <input type="text" class="input-xlarge" name="username" id="username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input02">Password</label>
      <div class="controls">
        <input type="password" class="input-xlarge" name="password" id="password">
      </div>
    </div>
	  <div class="form-actions">
	        <button type="submit" class="btn btn-success">Login</button>
	  </div>
  </fieldset>
</form>