<?php

$this->headLink()->appendStylesheet('/scripts/SmartWizard/styles/smart_wizard.css');
$this->headLink()->appendStylesheet('/'. $this->designPath . '/assets/uploaderwcrop/css/jquery.Jcrop.css');
$this->headLink()->appendStylesheet('/'. $this->designPath . '/assets/uploaderwcrop/css/jquery.fileupload-ui.css');

$this->headScript()->prependFile('/'. $this->designPath . '/upload.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploaderwcrop/js/locale.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploaderwcrop/js/jquery.fileupload-process.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploaderwcrop/js/jquery.fileupload-ui.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploaderwcrop/js/jquery.fileupload.js');

$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploaderwcrop/js/jquery.zclip.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploaderwcrop/js/jquery.Jcrop.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploaderwcrop/js/jquery.iframe-transport.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploaderwcrop/js/vendor/jquery.ui.widget.js');

$this->headScript()->prependFile('/scripts/SmartWizard/js/jquery.smartWizard-2.0.js');


$this->headScript()->prependFile('/scripts/ckeditor/ckeditor.js');

?>

<script type="text/javascript">
 
window.onload = function () {
    $('#loadingindicator').addClass('hidden');
    $('#articletemplate-buttons').removeClass('hidden').addClass('show');
    
    $('#in_basket').removeClass('disabled');
}
</script>
<?php if($this->article->getPluginSettings('saxoprint', 'saxoprinton')) { ?>
<script type="text/javascript">
$(document).ready(function(){
    $('#wait').show();
$.post("/apps/plugin/custom/psc/saxoprint/apicall/load",
    {
      id: "<?php echo $this->article->getPluginSettings('saxoprint', 'saxoprint'); ?>",
      articleid: <?= $this->article->id ?>,
      auflage: <?php echo $this->article->getPluginSettings('saxoprint', 'saxoprintauflage'); ?>,
      versand: "standard"
    },
    function(data,status){
        //alert("succesData: " + data + "\nStatus: " + status);
        $('#wait').hide();
        $('#saxoprint').html(data);
        $('.standard').removeClass('hidden').addClass('show');
    })  
    .fail(function(data,status) {
        alert("failData: " + data + "\nStatus: " + status);
});
});

   function changeFunc(id, array) {
    $('#wait').show();
       var obj = JSON.parse(array);
if(id != "anzahl" && id != "versand") {      
var newstr = parseInt(id.replace("kalk_product", ""));
//alert(obj[newstr]);
    var selectBox = parseInt(document.getElementById(id).value);
    obj[newstr] = selectBox.toString();
    //alert(obj[newstr]);
}
    var newjson = JSON.stringify(obj);
    //alert(newjson);
    var selectAnzahl = parseInt(document.getElementById("anzahl").value);
    var selectVersand = document.getElementById("versand").value;
    if(Number.isInteger(selectAnzahl)) {
        selectAnzahl = selectAnzahl;
    } else {
        selectAnzahl = <?php echo $this->article->getPluginSettings('saxoprint', 'saxoprintauflage'); ?>;
    }
    $.post("/apps/apicall/load",
    {
      id: "<?php echo $this->article->getPluginSettings('saxoprint', 'saxoprint'); ?>",
      articleid: <?= $this->article->id ?>,
      auflage: selectAnzahl,
      versand: selectVersand,
      data: newjson
    },
    function(data,status){
        //alert("succesData: " + data + "\nStatus: " + status);
        $('#wait').hide();
        $('#saxoprint').html(data);
    })  
    .fail(function(data,status) {
        alert("failData: " + data + "\nStatus: " + status);
});
   }
</script>
<style>
#wait {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
    z-index: 9999;
}
</style>
<?php /*if($this->article->getPluginSettings('saxoprint', 'saxoprinton')) { echo"TRUE"; } else { echo"FALSE"; } ?> - <?php echo $this->article->getPluginSettings('saxoprint', 'saxoprint');*/ ?>
<div id="wait"><img src="/images/preloader.gif" alt="loading"></div>
<?php } ?>
<div class="row articletemplates-6">
    
    <div class="col-xs-12">
        <a class="btn btn-large pull-right" href="<?php echo $this->backurl ?>"><?php echo $this->translate('Zurück') ?></a>
        
        <?php if($this->layouterSession && $this->layouterSession->getTitle() != ""): ?>
            <h1><?php echo $this->layouterSession->getTitle() ?></h1>
        <?php else: ?>
            <h1><?php echo $this->article->getTitle() ?></h1>
        <?php endif; ?>
    </div>
    
    
    <?php if($this->designsettings()->get('socialbuttons')): ?><div class="pull-right"><?php echo $this->designsettings()->get('socialbuttons') ?></div><?php endif; ?>
    
    
    <!-- Reiternavigation ********************************************************************************************************************************************************************* -->
    <div class="col-xs-12">
        <ul class="nav nav-tabs" role="tablist">
            
                <li class="active" role="presentation" ><a href="#details" data-toggle="tab"><?php echo $this->translate('Produkt') ?></a></li>
           
                <?php if($this->article->OrgArticle->custom_1_text != ""): ?>
                    <li role="presentation" ><a href="#fakten"  data-toggle="tab"><?php echo $this->translate('Produktfakten') ?></a></li>
                 <?php endif; ?>

                <?php if (($this->article->a6_org_article == 0 && (($this->article->vorlage_info != "" && $this->article->vorlage_info != "<br>") || $this->article->vorlage_file != ""))): ?>
                    <li role="presentation" ><a href="#vorlagen" data-toggle="tab"><?php echo $this->translate('Dateivorgaben') ?></a></li>
                <?php endif; ?>
                    
                <?php if (($this->article->a6_org_article != 0 && (($this->article->OrgArticle->vorlage_info != "" && $this->article->OrgArticle->vorlage_info != "<br>") || $this->article->OrgArticle->vorlage_file != ""))): ?>
                    <li role="presentation" ><a href="#vorlagen" data-toggle="tab"><?php echo $this->translate('Dateivorgaben') ?></a></li>
                <?php endif; ?>
                        
                <?php if ($this->article->custom_1_title != ""): ?>
                    <li role="presentation" ><a href="#custom_tab" data-toggle="tab"><?= $this->article->custom_1_title ?></a></li>
                <?php endif; ?>
                    
                <?php if(!$this->designsettings()->get('einbetten')): ?>
                  <li role="presentation" ><a href="#einbetten" data-toggle="tab"><?php echo $this->translate('Einbetten') ?></a></li>
                <?php endif; ?>
                  
        </ul>

 
        
        <div class="tab-content">
            
           <!-- #details -->
            <div role="tabpanel" class="tab-pane active" id="details">

                    <div class="col-md-4">
                        
                        <!-- großes Produktbild: file1 (eins) -->
                        <div class="thumbnail">
                            <?php if ($this->article->file1 != "" && $this->layouterPreviewId == ""): ?>
                                <a href="<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file, true); ?>" data-lightbox="article_detail"><?php echo $this->image()->thumbnailImage($this->article->title, 'layouter', $this->article->file); ?></a>



                            <?php elseif ($this->article->file != "" && $this->layouterPreviewId == ""): ?>
                                <a href="<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file, true); ?>" data-lightbox="article_detail"><?php echo $this->image()->thumbnailImage($this->article->title, 'layouter', $this->article->file); ?></a>

                            <?php endif; ?>
				

                            <?php if (($this->article->a6_org_article != 0 && $this->article->file == "" && $this->article->file1 == "") || $this->layouterPreviewId): ?>
                                <a><?= $this->articleObj->generatePreview($this->article->id, $this->layouterPreviewId); ?></a>
                            <?php endif; ?>
                                
				
                        </div>
                        <!-- //großes Produktbild -->
                        

			
                        
                        <!-- vorschau-bilder -->
                        <?php if($this->article->file1 != "" || $this->article->file2 != "" || $this->article->file3 != "" || $this->article->file4 != "" || $this->article->file5 != "" || $this->article->file6 != "" || $this->article->file7 != ""): ?>
                            <div class="thumbnail vorschau-bilder-klein clearfix">

                                <?php if($this->article->file1 != ""): ?>
                                    <a href="<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file1, true); ?>" data-lightbox="article_detail">
                                        <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file1, true); ?>" class="img-fluid">
                                    </a>

                                <?php endif; ?>

                                <?php if($this->article->file2 != ""): ?>
                                    <a href="<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file2, true); ?>" data-lightbox="article_detail">
                                        <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file2, true); ?>" class="img-fluid">
                                    </a>
                                <?php endif; ?>


                                <?php if($this->article->file3 != ""): ?>
                                    <a href="<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file3, true); ?>" data-lightbox="article_detail">
                                        <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file3, true); ?>" class="img-fluid">
                                    </a>
                                <?php endif; ?>


                                <?php if($this->article->file4 != ""): ?>
                                    <a href="<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file4, true); ?>" data-lightbox="article_detail">
                                        <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file4, true); ?>" class="img-fluid">
                                    </a>
                                <?php endif; ?>


                                <?php if($this->article->file5 != ""): ?>
                                    <a href="<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file5, true); ?>" data-lightbox="article_detail">
                                        <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file5, true); ?>" class="img-fluid">
                                    </a>
                                <?php endif; ?>


                                <?php if($this->article->file6 != ""): ?>
                                    <a href="<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file6, true); ?>" data-lightbox="article_detail">
                                        <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file6, true); ?>" class="img-fluid">
                                    </a>
                                <?php endif; ?>


                                <?php if($this->article->file7 != ""): ?>
                                    <a href="<?php echo $this->image()->thumbnailImage($this->article->title, 'articlesinglegreater', $this->article->file7, true); ?>" data-lightbox="article_detail">
                                        <img src="<?php echo $this->image()->thumbnailImage($this->article->title, 'little', $this->article->file7, true); ?>" class="img-fluid">
                                    </a>
                                <?php endif; ?>
			    
			    
                            </div>
                        <?php endif; ?>



		    <!-- ****** BUTTONs  ******************************************************************************************* -->
		    
		    <!-- zunächst aber: die Ladeanzeige -->
		    <div id="loadingindicator" class="well" style="text-align:center">
			<div id="loadingindicator2">
			    <div id="blockG_1" class="indicator_block"></div>
			    <div id="blockG_2" class="indicator_block"></div>
			    <div id="blockG_3" class="indicator_block"></div>
			</div>
			<strong style="font-size:1.5em">... laden ...</strong>
		    </div>
		    
		    <div id="articletemplate-buttons" class="hidden">

                <?php if ($this->layouterPreviewId && $this->article->getPluginSettings('hplayouter', 'hplayouter')): ?>
                    <a class="btn pop_over  btn-success btn-large" rel="#steplayouter" href="//designer.hpwallart.com/huelswitt?web_link=true&auth_token=<?php echo TP_Crypt::encrypt(array('UUID' => $this->article->uuid, 'ARTID' => Zend_Session::getId(), 'USERID' => $this->user->id, 'LAYOUTERID' => $this->layouterPreviewId)) ?>&project_id=<?php echo $this->layouterSession->getTemplatePrintId() ?>"><?php echo $this->translate('Ändern')?></a>
                    <br/>
                <?php endif; ?>
			
                    <?php if($this->article->upload_collecting_orders || $this->article->upload_article || $this->article->upload_weblayouter || $this->article->upload_templateprint || $this->article->upload_steplayouter || $this->article->upload_email || $this->article->upload_post || $this->article->upload_multi || $this->article->upload_steplayouter2 || $this->article->getPluginSettings('formlayouter', 'formlayouter')): ?>
			
			<?php if ($this->layouterPreviewId && !$this->load): /***** aus Bearbeitungsliste ENTFERNEN *****/ ?>
			    <br/>
			    <br/>
			    <a class="btn btn-primary btn-large pop_over" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Dieses Produkt aus der in Bearbeitungs Liste entfernen." data-original-title="In Bearbeitung" href="<?php echo $this->url(array('articlegroup' => 'all'), 'inworkarticle') ?>?del=<?= $this->layouterPreviewId ?>">
				    <span class="glyphicon glyphicon-remove-circle"></span>  &nbsp; 
				    <?php echo $this->translate('Aus Bearbeitung löschen')?>
			    </a>
			<?php endif; ?>
			    
			<?php if(!$this->article->not_edit && !$this->layouterPreviewId): /**** GESTALTEN / HOCHLADEN  *****/  ?>
			    <br/>
			    <br/>
			    <a class="btn btn-primary btn-large pop_over" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Gestalten Sie direkt in unserem Online-Designer oder übertragen Sie Ihre fertige Druckdatei im PDF Format." href="" rel="#myUploadMode">
				    <span class="glyphicon glyphicon-upload"></span> &nbsp;
				    <?php if($this->article->upload_templateprint): ?>
					<?php echo $this->translate('gestalten/hochladen') ?>
				    <?php elseif($this->article->upload_article || $this->article->upload_templateprint || $this->article->upload_email || $this->article->upload_post || $this->article->upload_center || $this->article->getPluginSettings('formlayouter', 'formlayouter') ): ?>
					<?php echo $this->translate('hochladen')?>
				    <?php else: ?>
					<?php echo $this->translate('gestalten')?>
				    <?php endif; ?>
			    </a>
			<?php else: ?>
			    
			    <?php if(!$this->article->not_edit && ($this->shop->id != 224)):  /**** ÄNDERN / GESTALTEN *****/ ?>
				<br/>
				<br/>
				<a class="btn btn-primary btn-large pop_over" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Gestalten Sie direkt in unserem Online-Designer oder übertragen Sie Ihre fertige Druckdatei im PDF Format." href="" rel="#myUploadMode">
					<span class="glyphicon glyphicon-upload"></span> &nbsp;
					<?php if($this->article->upload_weblayouter || $this->article->upload_templateprint): ?>
					    <?php echo $this->translate('Ändern') ?>
					<?php elseif($this->article->upload_article || $this->article->upload_templateprint || $this->article->upload_email || $this->article->upload_post || $this->article->upload_center || $this->article->getPluginSettings('hplayouter', 'hplayouter') || $this->article->getPluginSettings('formlayouter', 'formlayouter') ): ?>
					    <?php echo $this->translate('hochladen')?>
					<?php else: ?>
					    <?php echo $this->translate('gestalten')?>
					<?php endif; ?>
				</a>
			    <?php endif; ?>
				
			<?php endif; ?>
				
		    <?php endif; ?>
				
				
			<!-- mehr Buttons:  -->
			<?php if (!$this->article->not_edit): ?>

			    <?php if ($this->layouterPreviewId && $this->article->resale && $this->article->a6_org_article == 0): ?>
				<br/>
				<br/>
				<a class="btn btn-warning btn-large pop_over" rel="popover" data-trigger="hover" data-placement="top" data-content="Das Produkt verkaufen." data-original-title="<?= $this->translate('product_resale') ?>" title="<?= $this->translate('product_resale') ?>" href="<?php echo $this->url(array('uuid' => $this->article->uuid, 'layouterid' => $this->layouterPreviewId), 'resale'); ?>">
				    <span class="glyphicon glyphicon-refresh"></span> &nbsp;  <?php echo $this->translate('verkaufen')?>
				</a>

			    <?php elseif($this->article->a6_org_article != 0 && (isset($this->user) && $this->article->contact_id == $this->user->id) && $this->article->resale): ?>
				<br/>
				<br/>
				<a class="btn btn-warning btn-large pop_over" rel="popover" data-trigger="hover" data-placement="top"  data-content="Das Produkt verkaufen." data-original-title="<?= $this->translate('product_resale') ?>"  title="<?= $this->translate('product_resale') ?>" href="<?php echo $this->url(array('uuid' => $this->article->uuid), 'resale'); ?>">
				    <span class="glyphicon glyphicon-refresh"></span>  &nbsp;  <?php echo $this->translate('verkaufen')?>
				</a>

			    <?php elseif($this->article->a6_org_article != 0  && $this->article->resale): ?>
				<br/>
				<br/>
				<a class="btn btn-warning btn-large pop_over" rel="popover" data-trigger="hover" data-placement="top"  data-content="Ähnliches Produkt verkaufen." data-original-title="<?= $this->translate('product_resale') ?>"  title="<?= $this->translate('product_resale') ?>" href="/article/show/<?= $this->article->OrgArticle->url ?>">
				    <span class="glyphicon glyphicon-refresh"></span>  &nbsp; <?php echo $this->translate('Ähnliches Prod. verkaufen')?>
				</a>

			    <?php endif; ?>

			<?php endif; ?>



			<?php if($this->article->upload_collecting_orders || $this->article->upload_templateprint || $this->article->upload_steplayouter || $this->article->upload_article || $this->article->upload_weblayouter || $this->article->upload_templateprint): ?>

			    <?php if ((($this->admin && $this->role->level >= 40) || (isset($this->user) && $this->article->contact_id == $this->user->id)) && !$this->layouterPreviewId && $this->article->upload_weblayouter): ?>
				<br/>
				<br/>
				<a  class="btn btn-warning btn-large pop_over" rel="#overlay" data-trigger="hover" data-placement="bottom"  data-content="Dieses Produkt als Eigentümer gestalten." data-original-title="gestalten" title="<?= $this->translate('product_owner') ?>" href="<?php echo $this->basepath; ?><?php echo $this->url(array('uuid' => $this->article->uuid), 'layouter') ?>" target="_self">
				    <span class="glyphicon glyphicon-pencil"></span> &nbsp;  <?php echo $this->translate('gestalten als Eigentümer')?>
				</a>
			    <?php endif; ?>

			    <?php if ((($this->admin && $this->role->level >= 40)) && !$this->layouterPreviewId && ($this->article->upload_collecting_orders || $this->article->upload_templateprint)): ?>
				<br/>
				<br/>
				<a  class="btn btn-warning btn-large pop_over" rel="#overlay" data-trigger="hover" data-placement="bottom" data-content="Dieses Produkt als Eigentümer gestalten." data-original-title="gestalten" title="<?= $this->translate('product_owner') ?>" href="//tp.shopsrv.de/w2p/designer/init?w2pinframeredirect=true<?php echo TP_Templateprint::isTemplateExists($this->article) ?>&w2puserid=<?php echo $this->user->id ?>&w2pcustomerid=<?php echo $this->shop->id ?>&ARTID=<?php echo TP_Crypt::encrypt(array('UUID' => $this->article->uuid, 'ARTID' => Zend_Session::getId(), 'COPY' => 3, 'load' => $this->load, 'SERVER' => $this->basepath)) ?><?php echo $this->article()->checkTemplatePrintExists($this->article) ?>&time=<?= time(); ?>" target="_self">
				    <span class="glyphicon glyphicon-pencil"></span> &nbsp;  <?php echo $this->translate('gestalten als Eigentümer')?>
				</a>
			    <?php endif; ?>

			    <?php if ((($this->admin && $this->role->level >= 40)) && !$this->layouterPreviewId && $this->article->upload_steplayouter): ?>
				<br/>
				<br/>
				<a class="btn btn-success btn-large" rel="#steplayouter" uuid="<?php echo $this->article->uuid ?>" mode="1">
				    <span class="glyphicon glyphicon-pencil"></span> &nbsp;  <?php echo $this->translate('gestalten als Eigentümer')?>
				</a>
			    <?php endif; ?>

			<?php endif; ?>


			<?php 
			    /*
			    if (($this->admin && $this->role->level >= 40) && !$this->layouterPreviewId): ?>
			    <br/>
			    <br/>
				<a class="btn btn-info btn-large pop_over" data-trigger="hover" data-placement="bottom" data-content="Verwalten Sie ihr Produkt." data-original-title="Eigenschaften" href="/myshop/editarticle/<?= $this->article->uuid ?>">
				    <span class="glyphicon glyphicon-folder-open"></span>  &nbsp; <?php echo $this->translate('Produkt verwalten')?>
				</a>
			<?php endif;
			     */
			?>


			<?php if ($this->admin && $this->role->level >= 40): ?>
			    <br/>
			    <br/>
			    <a class="btn btn-inverse btn-large pop_over" data-trigger="hover" data-placement="bottom" data-content="Bearbeiten Sie die Eigenschaften des Produkts." data-original-title="Eigenschaften" target="_blank" href="/apps/backend/product/edit/index/<?= $this->article->uuid ?>">
				<span class="glyphicon glyphicon-folder-open"></span> &nbsp;  Eigenschaften bearbeiten
			    </a>
			<?php endif; ?>
			    
			    
			</div><!-- // #articletemplate-buttons -->    
			
			
			 <?php 
			 /** 
			  * YouTube Video einbinden
			  */
			 if ( $this->article->getYoutubeId() != '') : ?>
			<div class="video-container">
			    <iframe width="350" height="196" src="//www.youtube.com/embed/<?php echo $this->article->getYoutubeId(); ?>" frameborder="0" allowfullscreen></iframe>
			</div>			    
			 <?php endif; ?>   
			    
		 

			
                    </div><!-- // spalte 1 #details -->
                
		    
		    
		    <?php 
		    /******************************************************************************************************************************************************************************
		     * Beginn SPalte 2
		     */
		    ?>
                    <div class="col-md-8">
						<?php if($this->article->text_format != ""):?><b><?php echo $this->article->text_format ?></b><br/><?php endif; ?>
						<?php if($this->article->text_art != ""):?><b><?php echo $this->article->text_art ?></b><br/><?php endif; ?>
                        <?php echo $this->article->getInfo() ?>
                        <p>
			    <br/><?php if($this->shop->install_id == 7):?><a target="_blank" href="/cms/zahlung-versand#lieferzeiten">Die Lieferzeiten in der Übersicht</a><?php endif; ?>
			</p>
				   

				    <?php
				    /** 
				     * Produktkonfiguration und Summe:
				     * Verschachtelte Anzeige: daher: neue Row 
				     */
				    ?>
				    <?php if(!$this->article->getPluginSettings('saxoprint', 'saxoprinton')) { ?>
				    <div class="row calcBasket">
					<div class="col-md-7" style="padding:0 2em">
					    <h3><?php echo $this->translate('Produktkonfiguration')?></h3>
					    <br/>
					    <?php
						    $this->form->send->setLabel('Berechnen')->setValue('Berechnen')->setAttrib('class', 'btn btn-large btn-success');
						    EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
						     $owd_CALCFORM =  $this->form->setAttrib('class', 'niceform form-horizontal')->render();
						     
						      echo str_replace(	array('control-group','control-label','class="controls"', '<input type="text"', '<select','value="Individuelle Anfrage"'),
									array('form-group','form-label','class="form-controls"', '<input type="text" class="form-control"','<select class="form-control"','value="... jetzt starten"'), 
									$owd_CALCFORM );    
							       
					    ?>
						 
					</div>
					
					
					<!-- Buyform -->
					<div class="col-md-4 col-md-offset-1">
					    <div class="well" style="padding: 10px;">
						<?php if(!$this->article->display_no_price): ?>
						<h3><?php echo $this->translate('Summe')?></h3>
						<br/>
						<?php endif; ?>
                        <?php if($this->article->stock): ?>
                            <h5>Aktueller Bestand: <?php echo $this->article->stock_count ?> Stk.</h5>
                        <?php endif; ?>
						<?php if($this->weight > 0): ?>
						<p id="weight_display" class="text-info">Gewicht: <span><?php echo $this->weight ?></span>g</p>
						<?php endif; ?>
						<?php if(!$this->article->display_no_price): ?>
						<table class="table">
						    <tbody>
						    <tr>
							<td><?php echo $this->translate('Preis (netto)')?>:</td>
							<td class="pull-right"><span id="price_netto"><?= $this->currency->toCurrency($this->netto) ?></span></td>
						    </tr>
						    <tr>
							<td><?= $this->translate('zzgl. ' . $this->article->mwert . '% MwSt.') ?></td>
							<td class="pull-right"><span id="price_steuer"><?= $this->currency->toCurrency(($this->brutto - $this->netto) * 1) ?></span></td>
						    </tr>
						    <tr>
							<td><strong><?php echo $this->translate('Preis (brutto)')?>:</strong></td>
							<td class="pull-right"><strong><span id="price_brutto"><?= $this->currency->toCurrency($this->brutto) ?></span><?php if($this->shop->install_id == 7):?>*<?php endif; ?></strong></td>
						    </tr>
						    </tbody>
						</table>
						<?php endif; ?>
							<?php if(!$this->article->not_buy): ?>
						<form action="/article/buy/?id=<?= $this->article->id ?>" target="_self" class="buy" role="form" id="buyform" method="POST">
						    <input type="hidden" value="1" name="count">
						    <input type="hidden" value="" name="collecting_orders_data" id="collecting_orders_data"/>
						    <?= $this->formHidden('load', $this->load) ?>
						    <input type="submit" id="in_basket" class="btn btn-success disabled btn-large <?php if($this->netto_raw == 0 && !$this->article->can_buy_with_no_price): ?>disabled<?php endif; ?>" value="<?= $this->translate('Buy') ?>">
						</form>
							<?php endif; ?>
						    <!-- Angebot drucken -->
                            <?php if($this->article->as_offer): ?><a href="/apps/product/offer/<?= $this->article->uuid ?>" style="height: 29px;width: 245px;clear: both;display: block;line-height: 40px;font-weight: bold;" target="_blank">Angebot drucken</a><?php endif; ?>
						
						    <?php if($this->designsettings()->get('b2bshop')): ?><p><small>Bitte prüfen Sie die von Ihnen eingegebenen Daten sorgfältig auf Richtigkeit.
						    Mit der Bestellung erteilen Sie automatisch die Druckfreigabe für Ihr Produkt.
						    Diese entbindet uns von jeder Haftung für evtl. stehengebliebene Fehler.</small></p><?php endif; ?>
						<?php if($this->shop->install_id == 7):?>*inkl. MwSt. zzgl. <a target="_blank" href="/cms/zahlung-versand#versandkosten">Versand</a><?php endif; ?>

					    </div>
					</div>
                    </div>
                        <?php } else { ?>
                            <div class="row calcBasket">
                        <div id="saxoprint"></div>
                        </div>
                        <?php } ?>
				    <!-- // Verschachtelte Anzeige: neue Row -->
			
			
                    <?php if(!$this->article->getPluginSettings('saxoprint', 'saxoprinton')) { ?>
                        <?php if (isset($this->precalc)): ?>
                        <br class="clear" />
                            <h3><?php echo $this->translate('Vorkalkulation')?></h3>
                            <table class="table">
                                <?php foreach ($this->precalc as $key => $row): ?>
                                <tr class="<?php echo $this->cycle(array("odd", "even"))->next() ?>">
                                    <td align="left">Auflage: <?= $key ?></td>
                                    <td class="right" id="precalc_sum_<?= $key ?>"><?= $this->currency->toCurrency($row['sum']); ?></td>
                                    <td class="right" id="precalc_mwert_<?= $key ?>">+<?= $this->mwert . '% ' . $this->translate('MwSt') ?> <?= $this->currency->toCurrency(($row['sum'] / 100 * $this->mwert)); ?></td>
                                    <td class="right" id="precalc_summe_<?= $key ?>"><?= $this->currency->toCurrency(($row['sum']) + ($row['sum'] / 100 * $this->mwert)); ?></td>
                                    <td style="text-align: right">
                                        <input type="submit" class="btn" onClick="javascript:$('#auflage').val('<?= $key ?>');$('#CALCFORM').submit();return false;" value="<?php echo $this->translate('anwenden')?>"/></td>
                                </tr>
                                <?php endforeach; ?>
                            </table>
                        <?php endif; ?>
                    <?php } ?>
                    </div><!-- // Spalte 2 -->
               
            </div> <!-- //  id="details" -->

            
            <?php if($this->article->OrgArticle->custom_1_text != ""): ?>
                <div role="tabpanel" class="tab-pane" id="fakten">
                    <?php echo $this->article->OrgArticle->custom_1_text; ?>
                </div>
            <?php endif; ?>
            
	    
	    
            <?php 
	    /**********************************************************************************************************************************
	     *  Inhalt Reiter DATEIVORGABEN 
	     */
	      if (($this->article->a6_org_article == 0 && (($this->article->vorlage_info != "" && $this->article->vorlage_info != "<br>") || $this->article->vorlage_file != ""))): ?>
            <div role="tabpanel"  class="tab-pane" id="vorlagen">
                <div class="row">
                    <div class="col-md-4">
                        <?php if($this->article->vorlage_file != ""): ?>
                            <?php $file1 = $this->image()->getObj($this->article->vorlage_file); ?>
                            <?php if($file1->path != ""): ?>
                                <a class="downloadlink" href="/<?php echo $file1->path ?>" target="_blank"><b><?php echo $file1->name ?></b></a><br/>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if($this->article->vorlage_file1 != ""): ?>
                            <?php $file2 = $this->image()->getObj($this->article->vorlage_file1); ?>
                            <?php if($file2->path != ""): ?>
                                <a class="downloadlink" href="/<?php echo $file2->path ?>" target="_blank"><b><?php echo $file2->name ?></b></a><br/>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if($this->article->vorlage_file2 != ""): ?>
                            <?php $file3 = $this->image()->getObj($this->article->vorlage_file2); ?>
                            <?php if($file3->path != ""): ?>
                                <a class="downloadlink" href="/<?php echo $file3->path ?>" target="_blank"><b><?php echo $file3->name ?></b></a><br/>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if($this->article->vorlage_file3 != ""): ?>
                            <?php $file4 = $this->image()->getObj($this->article->vorlage_file3); ?>
                            <?php if($file4->path != ""): ?>
                                <a class="downloadlink" href="/<?php echo $file4->path ?>" target="_blank"><b><?php echo $file4->name ?></b></a><br/>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                    <div class="col-md-8"><?php echo $this->article->vorlage_info ?></div>
                </div>
            </div>
            <?php endif; ?>
	    
            <?php if (($this->article->a6_org_article != 0 && (($this->article->OrgArticle->vorlage_info != "" && $this->article->OrgArticle->vorlage_info != "<br>") || $this->article->OrgArticle->vorlage_file != ""))): ?>
            <div role="tabpanel" class="tab-pane" id="vorlagen">
                <div class="row">
                    <div class="col-md-4">
                        <?php if($this->article->OrgArticle->vorlage_file != ""): ?>
                        <?php $file1 = $this->image()->getObj($this->article->OrgArticle->vorlage_file); ?>
                        <?php if($file1->path != ""): ?>
                            <a class="downloadlink" href="/<?php echo $file1->path ?>" target="_blank"><b><?php echo $file1->name ?></b></a><br/>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if($this->article->OrgArticle->vorlage_file1 != ""): ?>
                        <?php $file2 = $this->image()->getObj($this->article->OrgArticle->vorlage_file1); ?>
                        <?php if($file2->path != ""): ?>
                            <a class="downloadlink" href="/<?php echo $file2->path ?>" target="_blank"><b><?php echo $file2->name ?></b></a><br/>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if($this->article->OrgArticle->vorlage_file2 != ""): ?>
                        <?php $file3 = $this->image()->getObj($this->article->vOrgArticle->orlage_file2); ?>
                        <?php if($file3->path != ""): ?>
                            <a class="downloadlink" href="/<?php echo $file3->path ?>" target="_blank"><b><?php echo $file3->name ?></b></a><br/>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if($this->article->OrgArticle->vorlage_file3 != ""): ?>
                        <?php $file4 = $this->image()->getObj($this->article->OrgArticle->vorlage_file3); ?>
                        <?php if($file4->path != ""): ?>
                            <a class="downloadlink" href="/<?php echo $file4->path ?>" target="_blank"><b><?php echo $file4->name ?></b></a><br/>
                            <?php endif; ?>
                        <?php endif; ?>
                    </div>
                    <div class="col-md-8"><?php echo $this->article->OrgArticle->vorlage_info ?></div>
                </div>
            </div>
            <?php endif; ?>
            
	    
            
            
            <?php if ($this->article->custom_1_title != ""): ?>
            <div role="tabpanel" class="tab-pane" id="custom_tab">
                <?php echo $this->article->custom_1_text; ?>
            </div>
            <?php endif; ?>
            
            
            
            
            <?php if(!$this->designsettings()->get('einbetten')): ?>
            <div role="tabpanel"  class="tab-pane" id="einbetten">
                <h2><?php echo $this->translate('Einbetten') ?></h2>
                <p><?php echo $this->translate('Teilen Sie dieses Produkt mit Anderen, bewerben Sie es im eigenen BLOG oder Ihrer Website') ?></p>
                <div class="htmlSnippet">
                    <textarea onclick="this.focus(); this.select();" style="width:99%; height: 180px;">
                        <?php echo $this->escape($this->htmlsnippet) ?>
                    </textarea>
                </div>
            </div>
            <?php endif; ?>
            
            
            
        </div>
    </div> <!-- // tabbable // <div class="col-xs-12"> -->
    
    
    
    <!-- MODAL: croppingModal  -->
    <!-- Modal -->   
  <div class="modal fade" id="croppingModal" tabindex="-1" role="dialog" aria-labelledby="croppingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title" id="croppingModalLabel">Bild beschneiden <span class="dimentions"></span></h4>
	</div>
	<div class="modal-body">
	     <canvas id="canvasToCrop"></canvas>
	</div>
        <div class="modal-footer">
 	   <a href="#" class="btn btn-default closeModal" data-dismiss="modal">Abbrechen</a>
           <a href="#" class="btn btn-primary" id="btnDoCrop">Speichern</a>
        </div>
      </div>
    </div>
  </div>

    
    <?php
    /*
    <div id="croppingModalXXXXXXXXXXXXXXXXXxx" class="modal hide" style="z-index: 9999;" data-width="760" data-height="300">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Bild beschneiden <span class="dimentions"></span></h3>
        </div>
        <div class="modal-body">
            <canvas id="canvasToCrop"></canvas>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn closeModal" data-dismiss="modal">Abbrechen</a>
            <a href="#" class="btn btn-primary" id="btnDoCrop">Speichern</a>
        </div>
    </div>
     */
   ?>

    
    
    
    <!-- MODAL: MyUpload - @see code.js  : nicht die <a rel="x" ...> entfernen! -->
    <!-- Modal -->
    <div class="modal fade" id="myUpload" tabindex="-1" role="dialog" aria-labelledby="myUploadLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
	    <h4 class="modal-title" id="myUploadLabel"><?php echo $this->translate('Wie möchten Sie Ihr Produkt gestalten?')?></h4>
	  </div>
	  <div class="modal-body">
	      
	              <table class="table">
			  
			<?php $i = 1; ?>
			  
			<?php /* Steplayouter 2 */
			    if($this->shop->id == 208 || $this->shop->id == 157 || $this->shop->id == 210 ||  ($this->shop->install_id == 27 && $this->shop->id != 219) || $this->article->upload_steplayouter2): ?>
			  
			    <tr>
				<td>
				    <h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('Online gestalten')?></h3>
					<?php echo $this->translate('Gestalten Sie per Drag & Drop Ihr Wunschprodukt im Online-Designer. Nutzen Sie eigene Grafiken und Fotos oder wählen Sie aus unserer Motiv-Galerie. Sie können Schriften wählen, Größen anpassen, Farben definieren uvm.')?>
				</td>
				<td>
                    <?php if($this->article->id == 51137): ?>
                        <?php if ($this->layouterPreviewId): /** Aufruf des Steplayouters (Steplayouter2) */ ?>
                            <a class="btn pop_over  btn-success btn-large" rel="#overlaystep" href="//kuschapp.msp-druck.com/index.html#/start?article_uuid=<?= $this->layouterPreviewId ?>&loadProduct=1&shop_uuid=<?= $this->shop->uid ?>&session_uuid=<?php echo Zend_Session::getId() ?>"><?php echo $this->translate('Zum Online-Designer')?></a>
                        <?php else: ?>
                            <a class="btn pop_over  btn-success btn-large" rel="#overlaystep" href="//kuschapp.msp-druck.com/index.html#/start?article_uuid=<?= $this->article->uuid ?>&shop_uuid=<?= $this->shop->uid ?>&session_uuid=<?php echo Zend_Session::getId() ?>"><?php echo $this->translate('Zum Online-Designer')?></a>
                        <?php endif; ?>
                    <?php else: ?>
                        <?php if ($this->layouterPreviewId): /** Aufruf des Steplayouters (Steplayouter2) */ ?>
                        <a class="btn pop_over  btn-success btn-large" rel="#overlaystep" href="/apps/steplayouter/index.html#/!?article_uuid=<?= $this->layouterPreviewId ?>&loadProduct=1&shop_uuid=<?= $this->shop->uid ?>&theme=psc"><?php echo $this->translate('Zum Online-Designer')?></a>
                        <?php else: ?>
                        <a class="btn pop_over  btn-success btn-large" rel="#overlaystep" href="/apps/steplayouter/index.html#/!?article_uuid=<?= $this->article->uuid ?>&shop_uuid=<?= $this->shop->uid ?>&theme=psc"><?php echo $this->translate('Zum Online-Designer')?></a>
                        <?php endif; ?>
                    <?php endif; ?>
				</td>
			    </tr>
			    
			<?php else: ?>
			    
				<?php if($this->article->upload_steplayouter): ?>
				    <tr>
					<td>
					    <h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('Online gestalten')?></h3>
						<?php echo $this->translate('Gestalten Sie per Drag & Drop Ihr Wunschprodukt im Online-Designer. Nutzen Sie eigene Grafiken und Fotos oder wählen Sie aus unserer Motiv-Galerie. Sie können Schriften wählen, Größen anpassen, Farben definieren uvm.')?>
					</td>
					<td>
					    <?php if ($this->layouterPreviewId): ?>
						<a class="btn pop_over  btn-success btn-large" rel="#steplayouter" uuid="<?php echo $this->layouterPreviewId ?>" mode="2"><?php echo $this->translate('Zum Online-Designer')?></a>
					    <?php else: ?>
						<a class="btn pop_over  btn-success btn-large" rel="#steplayouter" uuid="<?php echo $this->article->uuid ?>" mode="3"><?php echo $this->translate('Zum Online-Designer')?></a>
					    <?php endif; ?>
					</td>
				    </tr>
				<?php endif; ?>
			    
			<?php endif; ?>
				    
				    
				    
			<?php if($this->article->upload_article): ?>
				<tr>
				    <td>
					<h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('Datei Upload')?></h3>
					    <?php echo $this->translate('Übertragen Sie uns Ihre <strong>fertige</strong> Druckdatei.')?>
					
					    <?php if (($this->article->vorlage_info != "" && $this->article->vorlage_info != "<br>") || $this->article->vorlage_file != ""): ?> 
						<?php echo $this->translate('Mehr zu unseren Druckvorgaben finden Sie unter')?> <a data-toggle="modal" href="#" data-target="#myVorlagen"><?php echo $this->translate('Hilfe/Druckdaten')?></a>.
					    <?php endif; ?>
				    </td>
				    <td><!-- ok -->
					<a rel="upload_form" class="btn pop_over btn-success btn-large" style="float: left;" href="#"><?php echo $this->translate('Datei Upload')?></a>
				    </td>
				</tr>
			<?php endif; ?>
				
				
			<?php if($this->article->upload_center): ?>
				<tr>
				    <td>
					<h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('Datei Upload Später')?></h3>
					    <?php echo $this->translate('Übertragen Sie uns Ihre <strong>fertige</strong> Druckdatei.')?>
					
					    <?php if (($this->article->vorlage_info != "" && $this->article->vorlage_info != "<br>") || $this->article->vorlage_file != ""): ?>
						 <?php echo $this->translate('Mehr zu unseren Druckvorgaben finden Sie unter')?> <a data-toggle="modal" href="#" data-target="#myVorlagen"><?php echo $this->translate('Hilfe/Druckdaten')?></a>.
					    <?php endif; ?>
				    </td>
				    <td><!-- ok -->
					<a rel="#myUploadCenter" class="btn pop_over btn-success btn-large" style="float: left;" href="#"><?php echo $this->translate('Datei Upload später')?></a>
				    </td>
				</tr>
			<?php endif; ?>
			
			
			<?php if($this->article->upload_weblayouter): ?>
				<tr>
				    <td>
					<h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('Online gestalten')?></h3>
					    <?php echo $this->translate('Gestalten Sie per Drag & Drop Ihr Wunschprodukt im Online-Designer. Nutzen Sie eigene Grafiken und Fotos oder wählen Sie aus unserer Motiv-Galerie. Sie können Schriften wählen, Größen anpassen, Farben definieren uvm.')?>
				    </td>
				    <td>
					<?php if ($this->layouterPreviewId): ?>
					    <a class="btn pop_over  btn-success btn-large" rel="#overlay" href="<?php echo $this->url(array('uuid' => $this->layouterPreviewId, 'orginal' => $this->article->uuid), 'layouter') ?>?copy=2"><?php echo $this->translate('Zum Online-Designer')?></a>
					<?php else: ?>
					    <a class="btn pop_over  btn-success btn-large" rel="#overlay" href="<?php echo $this->url(array('uuid' => $this->article->uuid), 'layouter') ?>?copy=3"><?php echo $this->translate('Zum Online-Designer')?></a>
					<?php endif; ?>
				    </td>
				</tr>
			<?php endif; ?>
				
				
			<?php if($this->article->upload_templateprint): ?>
				<tr>
				    <td>
					<h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('Online gestalten')?></h3>
				    </td>
				    <td>
                    <?php if ($this->layouterPreviewId): ?>
                        <a class="btn btn-success btn-large" id="tp_fullscreen" href="//tp.shopsrv.de/w2p/editor/init?w2pinframeredirect=true&w2pproductid=<?php echo $this->article->uuid ?><?php echo ($this->user)? '&w2puserid='.$this->user->uuid:''; ?>&ARTID=<?php echo TP_Crypt::encrypt(array('UUID' => $this->article->uuid, 'ARTID' => Zend_Session::getId(), 'COPY' => 1, 'load' => $this->load, 'SERVER' => $this->basepath, 'LAYOUTERID' => $this->layouterPreviewId, 'fullscreen' => 1)) ?>&time=<?= time(); ?>"><?php echo $this->translate('Aufrufen')?></a>
                    <?php else: ?>
                        <a class="btn btn-success btn-large" id="tp_fullscreen" href="//tp.shopsrv.de/w2p/editor/init?w2pinframeredirect=true&w2pproductid=<?php echo $this->article->uuid ?><?php echo ($this->user)? '&w2puserid='.$this->user->uuid:''; ?>&ARTID=<?php echo TP_Crypt::encrypt(array('UUID' => $this->article->uuid, 'ARTID' => Zend_Session::getId(), 'COPY' => 2, 'load' => $this->load, 'SERVER' => $this->basepath, 'LAYOUTERID' => TP_Util::uuid(), 'fullscreen' => 1)) ?>&time=<?= time(); ?>"><?php echo $this->translate('Aufrufen')?></a>
                    <?php endif; ?>
				    </td>
				</tr>
			<?php endif; ?>
				
				
			<?php if($this->article->upload_post): ?>
				<tr>
				    <td>
					<h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('per Post')?></h3>
						<?= $this->shop->betreiber_company ?> <?= $this->shop->betreiber_name ?> <?= $this->shop->betreiber_street ?> <?= $this->shop->betreiber_address ?>
				    </td>
				    <td>
					<a class="btn pop_over  btn-success btn-large" rel="#post" href="#"><?php echo $this->translate('Per Post')?></a>
				    </td>
				</tr>
			<?php endif; ?>
				
				
			<?php if($this->article->upload_email): ?>
				<tr>
				    <td>
					<h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('per Mail')?></h3>
					<a href="mailto:<?= $this->shop->betreiber_email ?>" title="E-Mail senden"><?= $this->shop->betreiber_email ?></a>
				    </td>
				    <td>
					<a class="btn pop_over  btn-success btn-large" rel="#mail" href="#"><?php echo $this->translate('Per Mail')?></a>
				    </td>
				</tr>
			<?php endif; ?>
				
				
			<?php if($this->article->upload_collecting_orders && isset($this->user) && $this->user->is_sek && !$this->load): ?>
				<tr>
				    <td>
					<h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('Online gestalten (Sammelbestellung)')?></h3>
				    </td>
				    <td>
					<a class="btn pop_over  btn-success btn-large" rel="#collecting_orders" href="#"><?php echo $this->translate('Aufrufen')?></a>
				    </td>
				</tr>
			<?php endif; ?>
				

			<?php if($this->article->upload_collecting_orders && isset($this->user) && $this->user->is_sek && $this->load && $this->layouterPreviewId): ?>
				<tr>
				    <td>
					<h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('Online gestalten')?></h3>
				    </td>
				    <td>
					<a class="btn pop_over  btn-success btn-large" rel="#overlaytemp" href="//tp.shopsrv.de/w2p/editor/init?w2pinframeredirect=true&w2pproductid=<?php echo $this->article->uuid ?><?php echo ($this->user)? '&w2puserid='.$this->user->uuid:''; ?>&ARTID=<?php echo TP_Crypt::encrypt(array('UUID' => $this->article->uuid, 'ARTID' => Zend_Session::getId(), 'COPY' => 1, 'load' => $this->load, 'SERVER' => $this->basepath, 'LAYOUTERID' => $this->layouterPreviewId)) ?>&time=<?= time(); ?>"><?php echo $this->translate('Aufrufen')?></a>
				    </td>
				</tr>
			<?php endif; ?>
				
				
			<?php if($this->article->upload_multi): ?>
				<tr>
				    <td>
					<h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('Multiupload')?></h3>
				    </td>
				    <td>
					<a class="btn pop_over  btn-success btn-large" rel="#upload_multi" href="#"><?php echo $this->translate('Aufrufen')?></a>
				    </td>
				</tr>
			<?php endif; ?>

              <?php if($this->article->getPluginSettings('hplayouter', 'hplayouter')): ?>
                  <tr>
                      <td>
                          <h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('HP Layouter')?></h3>
                      </td>
                      <td>
                          <?php if ($this->layouterPreviewId): ?>
                              <a class="btn pop_over  btn-success btn-large" rel="#steplayouter" href="//designer.hpwallart.com/huelswitt?web_link=true&auth_token=<?php echo TP_Crypt::encrypt(array('UUID' => $this->article->uuid, 'ARTID' => Zend_Session::getId(), 'USERID' => $this->user->id, 'LAYOUTERID' => $this->layouterPreviewId)) ?>&project_id=<?php echo $this->layouterSession->getTemplatePrintId() ?>"><?php echo $this->translate('Aufrufen')?></a>
                          <?php else: ?>
                              <a class="btn pop_over  btn-success btn-large" rel="#steplayouter" href="//designer.hpwallart.com/huelswitt?web_link=true&auth_token=<?php echo TP_Crypt::encrypt(array('UUID' => $this->article->uuid, 'ARTID' => Zend_Session::getId(), 'USERID' => $this->user->id, 'LAYOUTERID' => $this->layouterPreviewId)) ?>"><?php echo $this->translate('Aufrufen')?></a>
                          <?php endif; ?>
                      </td>
                  </tr>
              <?php endif; ?>
              <?php if($this->article->getPluginSettings('formlayouter', 'formlayouter')): ?>
                  <tr>
                      <td>
                          <h3><?php echo $this->translate('Möglichkeit')?> <?= $i; $i++; ?>: <?php echo $this->translate('Form Layouter')?></h3>
                      </td>
                      <td>
                          <?php if ($this->layouterPreviewId): /** Aufruf des Steplayouters (Steplayouter2) */ ?>
                              <a class="btn pop_over  btn-success btn-large" rel="#overlaystep" href="/apps/api/formlayouter/designer/load/<?= $this->article->uuid ?>/<?= $this->layouterPreviewId ?>"><?php echo $this->translate('Zum Online-Designer')?></a>
                          <?php else: ?>
                              <a class="btn pop_over  btn-success btn-large" rel="#overlaystep" href="/apps/api/formlayouter/designer/start/<?= $this->article->uuid ?>"><?php echo $this->translate('Zum Online-Designer')?></a>
                          <?php endif; ?>
                      </td>
                  </tr>
              <?php endif; ?>
		    </table>
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal"><?php echo $this->translate('Schließen')?></button>
	  </div>
	</div>
      </div>
    </div>
    
    
   
    
   <?php
   /***********************************************************************
	MODAL myVorlagen 
	im modal-body wird <ul> ersetzt mit dem upload template 
	id="template-wizard" ~ 100 zeilen weiter unten
	***********************************************************************/
   ?>
  <div class="modal fade" id="myVorlagen" tabindex="-1" role="dialog" aria-labelledby="myVorlagenlLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title" id="myVorlagenLabel"><?php echo $this->translate('Dateivorgaben') ?>t</h4>
        </div>

        <div class="modal-body" style="max-height:30em; overflow-x: auto">
	    <div class="row">
                <div class="col-md-2">
                    <?php if($this->article->vorlage_file != ""): ?>
			<?php $file1 = $this->image()->getObj($this->article->vorlage_file); ?>
			<?php if($file1->path != ""): ?>
			    <a class="downloadlink" href="/<?php echo $file1->path ?>" target="_blank"><b><?php echo $file1->name ?></b></a><br/>
                        <?php endif; ?>
                    <?php endif; ?>
			
                    <?php if($this->article->vorlage_file1 != ""): ?>
			<?php $file2 = $this->image()->getObj($this->article->vorlage_file1); ?>
			<?php if($file2->path != ""): ?>
			    <a class="downloadlink" href="/<?php echo $file2->path ?>" target="_blank"><b><?php echo $file2->name ?></b></a><br/>
                        <?php endif; ?>
                    <?php endif; ?>
			    
                    <?php if($this->article->vorlage_file2 != ""): ?>
			<?php $file3 = $this->image()->getObj($this->article->vorlage_file2); ?>
			<?php if($file3->path != ""): ?>
			    <a class="downloadlink" href="/<?php echo $file3->path ?>" target="_blank"><b><?php echo $file3->name ?></b></a><br/>
                        <?php endif; ?>
                    <?php endif; ?>
			    
                    <?php if($this->article->vorlage_file3 != ""): ?>
			<?php $file4 = $this->image()->getObj($this->article->vorlage_file3); ?>
			<?php if($file4->path != ""): ?>
			    <a class="downloadlink" href="/<?php echo $file4->path ?>" target="_blank"><b><?php echo $file4->name ?></b></a><br/>
                        <?php endif; ?>
                    <?php endif; ?>
                </div>
                <div class="col-md-9"><?php echo $this->article->vorlage_info ?></div>
            </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>
    
    
    
  <!-- Modal -->
  <div class="modal fade" id="myUploadMail" tabindex="-1" role="dialog" aria-labelledby="myUploadMailLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title" id="myUploadMailLabel"><?php echo $this->translate('&raquo; Daten&uuml;bertragung per Mail') ?></h4>
        </div>
        <div class="modal-body">
	    <?php echo $this->translate('Senden Sie bitte die Daten per Mail an') ?> <a href="mailto:<?= $this->shop->betreiber_email ?>"><?= $this->shop->betreiber_email ?></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>
      
      
    <?php 
    /*
    <div class="modal hide" id="myUploadMailXXXXXXXXXXXXXXx" style="width: 830px;margin-left: -380px;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3<?php echo $this->translate('&raquo; Daten&uuml;bertragung per Mail') ?></h3>
        </div>
        <div class="modal-body">
	    <?php echo $this->translate('Senden Sie bitte die Daten per Mail an') ?> <a href="mailto:<?= $this->shop->betreiber_email ?>"><?= $this->shop->betreiber_email ?></a>
        </div>
        <div style="clear:both"></div>
    </div>
*/
    ?>





  <!-- Modal -->

  <div class="modal fade" id="myUploadPost" tabindex="-1" role="dialog" aria-labelledby="myUploadPostLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title" id="myUploadPostLabel"><?php echo $this->translate('Daten&uuml;bertragung per Post') ?></h4>
        </div>
        <div class="modal-body">
            <?= $this->shop->betreiber_company ?><br/>
            <?= $this->shop->betreiber_name ?><br/>
            <?= $this->shop->betreiber_street ?><br/>
            <?= $this->shop->betreiber_address ?><br/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
<?php
/*
    <div class="modal hide" id="myUploadPost" style="width: 830px;margin-left: -380px;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3><?php echo $this->translate('Daten&uuml;bertragung per Post') ?></h3>
        </div>
        <div class="modal-body">
        <p>
            <?= $this->shop->betreiber_company ?><br/>
            <?= $this->shop->betreiber_name ?><br/>
            <?= $this->shop->betreiber_street ?><br/>
            <?= $this->shop->betreiber_address ?><br/>
        </p>
        </div>
        <div style="clear:both"></div>
    </div>
*/
?>
    
    
   <?php
   /***********************************************************************
	MODAL myUploadWizard 
	im modal-body wird <ul> ersetzt mit dem upload template 
	id="template-wizard" ~ 100 zeilen weiter unten
	***********************************************************************/
   ?>
    <div class="modal fade" id="myUploadWizard" tabindex="-1" role="dialog" aria-labelledby="myUploadWizardLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close closeMyUploadWizard"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title" id="myUploadWizardLabel"><?php echo $this->translate('Uploadassistent')?></h4>
        </div>
	    <div class="modal-body">
		 <div id="wizard" class="swMain">
		    <ul>

		    </ul>
		</div>
		<br style="clear:both">
	    </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default closeMyUploadWizard">Schließen</button>
        </div>
      </div>
    </div>
  </div>
    
   
    
    
    <script>var sessionid = '<?= Zend_Session::getId() ?>';</script>



    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td class="preview"><span class="fade"></span></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
            {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            <td class="start">{% if (!o.options.autoUpload) { %}
                <button class="btn btn-primary">
                    <i class="icon-upload icon-white"></i>
                    <span>{%=locale.fileupload.start%}</span>
                </button>
                {% } %}</td>
            {% } else { %}
            <td colspan="2"></td>
            {% } %}
            <td class="cancel">{% if (!i) { %}
                <button class="btn btn-warning">
                    <i class="icon-ban-circle icon-white"></i>
                    <span>{%=locale.fileupload.cancel%}</span>
                </button>
                {% } %}</td>
        </tr>
        {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download" id="upload-{%=file.key%}">
            {% if (file.error) { %}
            <td></td>
            <td class="name"><span>{%=file.name%}</span></td>
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else { %}
            <td class="name">
                {%=file.name%}
            </td>
            <td class="preflight"><span><span class="glyphicon glyphicon-time"></span></i> Preflightcheck</span></td>
            <td colspan="2"></td>
            {% } %}
            <td class="delete" style="text-align: right">
                <a class="btn btn-danger" onClick="{%=file.delete_url%}">
                    <span class="glyphicon glyphicon-trash"></span>
                    <span><?php echo $this->translate('Löschen') ?></span>
                </a>
            </td>
        </tr>
        {% } %}
    </script>

    <!-- *********************************************************************** 
	The template for upload 
    *************************************************************************-->
    <script id="template-wizard" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <form id="fileupload" action="/preflight/uploadbootstrap/format/json" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{%=file.id%}"/>
            <input type="hidden" name="ARTID" value="{%=file.sessionid%}"/>
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar">
                <div class="col-xs-12">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-mini btn-success fileinput-button">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span><?php echo $this->translate('Dateien hinzufügen')?>...</span>
                        <input type="file" name="files[]" multiple>
                    </span>
                </div>
                <!-- The global progress information -->
                <div class="col-xs-12 fileupload-progress fade">
                    <!-- The OLD global progress bar
                    <div class="progress progress-success progress-striped active">
                        <div class="bar" style="width:0%;"></div>
                    </div> -->
		    <div class="progress">
		      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		    </div>
                    <!-- The extended global progress information -->
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            <!-- The loading indicator is shown during file processing -->
            <div class="fileupload-loading"></div>
            <br>
            <!-- The table listing the files available for upload/download -->
	      <table class="table table-striped"><tbody class="files" id="files_{%=file.id%}"></tbody></table>
        </form>
        {% } %}
    </script>

    <!-- The template for upload -->
    <script id="step-wizard" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <form id="fileupload" action="/service/steplayouter/upload/format/json" method="POST" enctype="multipart/form-data">
            <input type="hidden" id="upload_id" name="id" value="{%=file.id%}"/>
            <input type="hidden" name="ARTID" value="{%=file.sessionid%}"/>
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar">
                <div class="col-xs-12">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span><?php echo $this->translate('Bild hinzufügen')?>...</span>
                        <input type="file" name="files[]">
                    </span>
                    <button type="button" class="btn selectlayer" data-layer-id="{%=file.selectlayer%}"><span class="glyphicon glyphicon-move"></span></button>
                </div>

            </div>
            <!-- The loading indicator is shown during file processing -->
            <div class="fileupload-loading"></div>
            <br>
            <!-- The table listing the files available for upload/download -->
            <table class="table table-striped"><tbody class="files" id="files_{%=file.id%}"></tbody></table>
        </form>
        {% } %}
    </script>

    <script id="step-wizard-motiv" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <form id="fileupload" action="/service/steplayouter/uploadmotiv/format/json" method="POST" enctype="multipart/form-data">
            <input type="hidden" id="upload_id" name="id" value="{%=file.id%}"/>
            <input type="hidden" id="{%=file.id%}_crop" name="{%=file.id%}_crop" value="{%=file.crop%}"/>
            <input type="hidden" name="ARTID" value="{%=file.sessionid%}"/>
            <input type="hidden" class="data-select-layer" name="select-layer" value="{%=file.selectlayer%}"/>
            <input type="hidden" class="data-holding" id="{%=file.id%}" value="{%=file.value%}"/>
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar">
                <div class="span8">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-mini btn-success fileinput-button">
                        <i class="icon-plus icon-white"></i>
                        <span><?php echo $this->translate('Bild einfügen')?></span>
                        <input type="file" name="files[]" style="border-left-width: 0; border-bottom-width: 0;">
                    </span>
                    {% if (file.selectgallery) { %}
                    <button type="button" class="btn btn-mini" id="selectgallery" data-id="{%=file.id%}" data-target="#step_gallery"><i class="icon-picture"></i> Motivgallerie</button>
                    {% } %}
                    <a class="btn btn-mini hidden crop_{%=file.id%}" id="startCrop" title="<?php echo $this->translate('Beschneiden') ?>" data-width="{%=file.width%}" data-height="{%=file.height%}">
                        <i class="icon-resize-small"></i>

                    </a>
                    <a class="btn btn-mini btn-danger deletemotivstep" data-elementid="{%=file.id%}" title="<?php echo $this->translate('Löschen') ?>">
                        <i class="icon-trash icon-white"></i>
                    </a>
                </div>
                <div class="span4 fileupload-progress fade">
                    <!-- The global progress bar -->
                    <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="bar" style="width:0%;"></div>
                    </div>

                </div>
            </div>
            <!-- The table listing the files available for upload/download -->
            <table class="table table-striped" style="{%=file.displayTable%}"><tbody class="files" id="files_{%=file.id%}"></tbody></table>
        </form>
        {% } %}
    </script>

    <script id="step-wizard-multiuploadmotiv" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <form id="filemultiupload" action="/service/steplayouter/uploadmotiv/format/json" method="POST" enctype="multipart/form-data">
            <input type="hidden" id="upload_id" name="id" value="{%=file.id%}"/>
            <input type="hidden" name="ARTID" value="{%=file.sessionid%}"/>
            <h3>Ihr akuelles Layout benötigt: {%=file.motive_count%} Bilder</h3>
            <div class="row fileupload-buttonbar">
                <div class="span10">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-mini btn-success fileinput-button">
                        <i class="icon-plus icon-white"></i>
                        <span><?php echo $this->translate('Bild hinzufügen')?>...</span>
                        <input type="file" name="files[]" multiple="multiple">
                    </span>
                    {% if (file.selectgallery) { %}
                    <button type="button" class="btn btn-mini" id="selectgallery" data-id="{%=file.id%}" data-target="#step_gallery"><i class="icon-picture"></i> Motivgallerie</button>
                    {% } %}
                    {% if (file.selectgallery) { %}
                     <button type="button" class="btn btn-mini " id="usegallery" data-id="{%=file.id%}" data-target="#step_use_gallery"><i class="icon-heart"></i> Mit meinen Motiven befüllen</button>
                     <button type="button" class="btn btn-mini btn-danger" id="emptygallery" data-id="{%=file.id%}" data-target="#step_use_gallery"><i class="icon-trash"></i> Liste leeren</button>
                    {% } %}
                </div>

            </div>
            <!-- The loading indicator is shown during file processing -->
            <div class="fileupload-loading"></div>
            <br>
            <!-- The table listing the files available for upload/download -->
            <div class="files thumbnails" id="files_{%=file.id%}"></div>
        </form>
        {% } %}
    </script>

    <!-- The template to display files available for upload -->
    <script id="step-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td class="preview"><span class="fade"></span></td>
            {% if (file.error) { %}
            <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
            {% } else if (o.files.valid && !i) { %}
            <td>
                <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
            </td>
            {% } else { %}
            {% } %}
        </tr>
        {% } %}
    </script>

    <!-- The template to display files available for upload -->
    <script id="step-multiupload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <span class="col-xs-1" data-value="{%=i%}">
            <span class="percent" style="position: absolute;text-align: center;display: block;width: 80px;padding-top: 15px;color: white;"></span><span class="preview"><span class="fade"></span></span>
        </span>
        {% } %}
    </script>

    <!-- The template to display files available for download -->
    <script id="step-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download" id="upload-{%=file.key%}">
            <td class="preview"></td>
            <td class="cropping" style="text-align: right">
                <a class="btn hidden" id="startCrop-{%=file.key%}" title="<?php echo $this->translate('Beschneiden') ?>" data-width="{%=file.width%}" data-height="{%=file.height%}">
                <i class="icon-resize-small"></i>

            </a> <button type="button" class="btn hidden selectlayer" data-layer-id="{%=file.selectlayer%}"><i class="icon-move"></i></button></td>

            <td class="delete" style="text-align: right">

                <a class="btn btn-danger deletemotivstep" data-elementid="{%=file.elementid%}" title="<?php echo $this->translate('Löschen') ?>">
                    <i class="icon-trash icon-white"></i>
                </a>
            </td>
        </tr>
        {% } %}
    </script>

    <!-- The template to display files available for download -->
    <script id="step-multidownload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <span class="span1" data-value="{%=i%}">
            <span class="preview"><img width="80" height="80" src="{%=file.thumbnail%}"/></span>
        </span>
        {% } %}
    </script>
    
    
   <!-- Modal -->

  <div class="modal fade" id="tellafriend" tabindex="-1" role="dialog" aria-labelledby="tellafriendLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title" id="tellafriendLabel">Einem Freund empfehlen:</h4>
        </div>
        <div class="modal-body">
	    
           <form method="post" id="tellafriendForm">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="control-group">
                            <label>Ihr Name*:</label>
                            <input id="yourname" name="yourname" class="required" type="text">
                        </div>
                        <div class="control-group">
                            <label>Ihre Email*:</label>
                            <input id="youremail" name="youremail" class="required email" type="text">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="control-group">
                            <label>Name des Freundes*:</label>
                            <input id="friendname" name="friendname" class="required" type="text">
                        </div>
                        <div class="control-group">
                            <label>Email des Freundes*:</label>
                            <input id="friendemail" name="friendemail" class="required email" type="text">
                        </div>
                    </div>
                </div>
                <br class="clear">
                <p>Hallo,<br>
                    ich habe gerade etwas Interessantes auf <?php echo $this->shop->title ?> entdeckt.
                    Es lohnt sich dort einmal vorbeizuschauen:</p>
                <label>Deine persönliche Nachricht</label>
                <div class="control-group">
                <textarea id="yourmessage" name="yourmessage" rows="2" class="input-xlarge"></textarea>
                </div>
                <div id="captcha" class="control-group">
                    <?php echo $this->captcha()->getCaptcha(); ?>
                </div>
            </form>
            <p class="InfoText">Mit <font class="importantInfo">*</font> gekennzeichnete Felder sind Pflichtfelder.
                Ohne dieses Angaben kann die Empfehlung nicht abgegeben werden. Das Formular wird NICHT versendet!</p>
         
        </div>
        <div class="modal-footer"> 
	    <a href="#" class="btn" data-dismiss="modal">Schließen</a>
            <a href="#" class="btn btn-primary send-tell">Empfehlung senden</a> 
        </div>
        </div>
    </div>
  </div>
    
    
<?php
/*
    <div id="tellafriend" class="modal hide fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Einem Freund empfehlen:</h3>
        </div>
        <div class="modal-body">
            <form method="post" id="tellafriendForm">
                <div class="row">
                    <div class="span3">
                        <div class="control-group">
                            <label>Dein Name*:</label>
                            <input id="yourname" name="yourname" class="required" type="text">
                        </div>
                        <div class="control-group">
                            <label>Deine Email*:</label>
                            <input id="youremail" name="youremail" class="required email" type="text">
                        </div>
                    </div>
                    <div class="span3">
                        <div class="control-group">
                            <label>Name des Freundes*:</label>
                            <input id="friendname" name="friendname" class="required" type="text">
                        </div>
                        <div class="control-group">
                            <label>Email des Freundes*:</label>
                            <input id="friendemail" name="friendemail" class="required email" type="text">
                        </div>
                    </div>
                </div>
                <br class="clear">
                <p>Hallo,<br>
                    ich habe gerade etwas Interessantes auf <?php echo $this->shop->title ?> entdeckt.
                    Es lohnt sich dort einmal vorbeizuschauen:</p>
                <label>Deine persönliche Nachricht</label>
                <div class="control-group">
                <textarea id="yourmessage" name="yourmessage" rows="2" class="input-xlarge"></textarea>
                </div>
                <div id="captcha" class="control-group">
                    <?php echo $this->captcha()->getCaptcha(); ?>
                </div>
            </form>
            <p class="InfoText">Mit <font class="importantInfo">*</font> gekennzeichnete Felder sind Pflichtfelder.
                Ohne dieses Angaben kann die Empfehlung nicht abgegeben werden. Das Formular wird NICHT versendet!</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Schließen</a>
            <a href="#" class="btn btn-primary send-tell">Empfehlung senden</a>
        </div>
    </div>
 */
?>
      

    
 <!-- Modal -->

  <div class="modal fade" id="cancel_window" tabindex="-1" role="dialog" aria-labelledby="cancel_windowLabel" aria-hidden="true" style="z-index: 9999;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title" id="cancel_windowLabel">Abbrechen</h4>
        </div>
        <div class="modal-body">
          <p>Wollen Sie wirklich abbrechen? Alle Änderungen gehen verloren!</p>
        </div>
        <div class="modal-footer">
	     <a href="#" class="btn ok">Ja</a>
             <a href="#" class="btn btn-danger">Nein</a>
        </div>
      </div>
    </div>
  </div>


 
 <?php
 /*
    <div id="cancel_window" class="modal hide fade" style="z-index: 9999;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Abbrechen?</h3>
        </div>
        <div class="modal-body">
            <p>Wollen Sie wirklich abbrechen? Alle Änderungen gehen verloren!</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn ok">Ja</a>
            <a href="#" class="btn btn-danger">Nein</a>
        </div>
    </div>
  * 
  */?>

    <?php if($this->article->upload_collecting_orders && $this->article->isCollectingOrdersIntegrated()): ?>
        <?php $this->headScript()->prependFile('/'. $this->designPath . 'collecting_orders_integrated.js'); ?>
        <?= $this->partial('article/_collecting_orders_integrated.phtml', array('article' => $this->article, 'basepath' => $this->basepath, 'addcontactform' => $this->addcontactform, 'shop' => $this->shop, 'user' => $this->user)) ?>
    <?php else: ?>
        <?php $this->headScript()->prependFile('/'. $this->designPath . 'collecting_orders.js'); ?>
        <?= $this->partial('article/_collecting_orders.phtml', array('article' => $this->article, 'basepath' => $this->basepath, 'addcontactform' => $this->addcontactform, 'shop' => $this->shop, 'user' => $this->user)) ?>
    <?php endif; ?>

    <?php if($this->article->upload_multi): ?>
        <?= $this->partial('article/_upload_multi.phtml', array('article' => $this->article, 'basepath' => $this->basepath, 'addcontactform' => $this->addcontactform)) ?>
    <?php endif; ?>

</div><!-- // row -->