<?php

    $basketArticle = $this->article['article'];

    $filesOptions =$this->article['basketarticle']->getFiles();

?>

<div class="col-sm-3"><?php echo $this->image()->thumbnailImage($basketArticle['title'], 'articlelist', $basketArticle['file']); ?></div>
<div class="col-sm-5"><?php echo $this->translate('Anzahl')?>: <?php echo$this->article['basketarticle']->getAuflage() ?><br /><br /><b><?php echo $basketArticle['title'] ?></b>
<br />
<?php if(is_array($this->article['options'])): ?>

<ul>

<?php foreach ($this->article['options'] as $key => $option): ?>

<li><?php echo $option ?></li>

<?php endforeach; ?>

</ul>

<?php endif; ?>

<ul>

<?php foreach ($filesOptions as $key => $option): ?>

<li><b><a href="/uploads/<?php echo $this->shop->uid ?>/article/<?php echo $option['value'] ?>" target="_blank"><?php echo $option['name'] ?></a></b></li>

<?php endforeach; ?>

</ul>
</div>

<div class="col-sm-4" style="text-align: right;"> <?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo $this->currency->toCurrency($this->article['basketarticle']->getNetto()*$this->article['basketarticle']->getCount()) ?> <label style="font-size:14px; font-weight:100;width: 45px;"><?php echo $this->translate('(Netto)')?></label><br /><strong><?php echo $this->currency->toCurrency($this->article['basketarticle']->getBrutto()*$this->article['basketarticle']->getCount()) ?></strong> <label style="font-size:14px; font-weight:100;"><?php echo $this->translate('(Brutto inkl. '.$basketArticle["mwert"].'% MwSt.)')?></label></label><?php } ?><br />

            <a href="<?php echo $this->url(array('del' => $this->article['uuid']), 'basketdel') ?>"><?php echo $this->translate('Löschen'); ?></a></p></div>


            <div class="clearfix"></div>