<?= $this->partial ( 'myshop/_head.phtml', array ('role' => $this->role, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath, 'current_shop' => $this->current_shop, 'myshop_selector' => $this->myshop_selector ) );?>


    <h2>Produkte</h2>
	<a href="/marketoverview" class="btn btn-success btn-large"><i class="icon-plus-sign icon-white"></i> Neues Produkt anlegen</a>
	<table class="table table-striped">
	<thead><tr><th></th><th>Aktiv</th><th>Title</th><th>Pos</th><th></th></tr></thead>
	<tbody>
	<?php foreach($this->articles as $article): ?>
	<tr><td style="text-align: center"><?php if((($article->typ == 6 && $article->a6_org_article != 0) || $article->typ == 8   ) && $article->file == ""):
        echo $this->image()->thumbnailFop($article->title, 'articlelist_overview_box', $article->getMarketFile(), false, $this->article->id);
    else:
        echo $this->image()->thumbnailImage($article->title, 'articlelist_overview_box', $article->file);
    endif;
        ?></td><td><?php if($article->enable): ?>Ja<?php else: ?>Nein<?php endif; ?></td><td><?php echo $article->title ?></td><td><?php echo $article->pos ?></td><td style="text-align:right">
		<a class="btn btn-info"title="Produkt bearbeiten" href="/myshop/editarticle/<?php echo $article->uuid ?>"><i class="icon-edit icon-white"></i></a>
        <a class="btn btn-info"title="Produkt kopieren" href="/myshop/copyarticle/<?php echo $article->uuid ?>"><i class="icon-repeat icon-white"></i></a>
        <!--<a class="btn btn-danger" title="Produkt löschen" href="/myshop/delarticle/<?php echo $article->uuid ?>"><i class="icon-remove icon-white"></i></a>-->
	</td></tr>
	<?php endforeach; ?>
	</tbody>
	</table>
</div>
</div>
</div>