<?= $this->partial ( 'myshop/_head.phtml', array ('role' => $this->role, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath, 'current_shop' => $this->current_shop, 'myshop_selector' => $this->myshop_selector ) );?>

    <?php
	EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
				$this->form->setAttrib('class', 'form-horizontal');
				$this->form->save->setAttrib('class', 'btn-success btn-large');
				
				//echo $this->form; 
				
				$owd_FORM =  $this->form->setAttrib('class', 'niceform form-horizontal')->render();
						     
						      echo str_replace(	array('control-group','control-label','class="controls"', '<input type="text"', '<input type="password"', '<select', '(960x120px)', '(960x250px)'),
									array('form-group','form-label','class="form-controls"', '<input type="text" class="form-control"', '<input type="password" class="form-control"', '<select class="form-control"', '',''), 
									$owd_FORM ); 
				
    ?>
</div>
</div>
</div>