<?= $this->partial ( 'myshop/_head.phtml', array ('role' => $this->role, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath, 'current_shop' => $this->current_shop, 'myshop_selector' => $this->myshop_selector ) );?>

<a class="btn-large pull-right" href="<?php echo $this->backurl ?>">Zurück</a><h2>"<?php echo $this->motiv->title ?>" <?php echo $this->translate('Motiv löschen')?></h2>

<?php if($this->motiv_in_use > 0): ?>
<p><?php echo $this->translate("Motiv ist in Benutzung, löschen nicht möglich"); ?></p>

<?php else: ?>
<form method="post">
    <input class="btn btn-danger" type="submit" value="<?php echo $this->translate('Löschen')?>"/>
</form>
<?php endif; ?>
</div>
</div>
</div>