<?= $this->partial ( 'myshop/_head.phtml', array ('role' => $this->role, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath, 'current_shop' => $this->current_shop, 'myshop_selector' => $this->myshop_selector ) );?>

    <h3>Domains.</h3>
	<a href="/myshop/editdomain" class="btn btn-success btn-large"><i class="icon-plus-sign icon-white"></i> Neue Domain anlegen</a>
	<table class="table table-striped">
	<thead><tr><th>Domain</th><th></th></tr></thead>
	<tbody>
	<?php foreach($this->domains as $domain): ?>
	<tr><td><?php echo $domain['name'] ?></td><td style="text-align: right">
		<?php if($domain['edit']): ?><a class="btn btn-info" title="Domain bearbeiten" href="/myshop/editdomain/<?php echo $domain['id'] ?>"><i class="icon-edit icon-white"></i></a> <a class="btn btn-danger" title="Domain löschen" href="/myshop/deldomain/<?php echo $domain['id'] ?>"><i class="icon-remove icon-white"></i></a><?php endif; ?>
	</td></tr>
	<?php endforeach; ?>
	</tbody>
	</table>
</div>
</div>
</div>