<?= $this->partial ( 'myshop/_head.phtml', array ('role' => $this->role, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath, 'current_shop' => $this->current_shop, 'myshop_selector' => $this->myshop_selector ) );?>


	<h2>Motive</h2>
	<a href="/resale/motivstep1" class="btn btn-success btn-large"><i class="icon-plus-sign icon-white"></i> Neues Motiv hochladen</a>
	<table class="table table-striped">
	<thead><tr><th><th>Title</th><th></th></tr></thead>
	<tbody>
	<?php foreach($this->motive as $motiv): ?>
	<tr><td><?php echo $this->image()->thumbnailMotiv($motiv->title, 'motivelist', $motiv->file_thumb, false, $motiv); ?><td><strong><?php echo $motiv->title ?></strong><br/>
        <i>UUID: <?php echo $motiv->uuid ?></i></td><td style="text-align:right">
		<a class="btn btn-info" title="Motiv bearbeiten" href="/myshop/editmotiv/<?php echo $motiv->uuid ?>"><i class="icon-edit icon-white"></i></a>
        <a class="btn btn-danger" title="Motiv löschen" href="/myshop/delmotiv/<?php echo $motiv->uuid ?>"><i class="icon-remove icon-white"></i></a>
	</td></tr>
	<?php endforeach; ?>
	</tbody>
	</table>
</div>
</div>
</div>