<?= $this->partial ( 'myshop/_head.phtml', array ('role' => $this->role, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath, 'current_shop' => $this->current_shop, 'myshop_selector' => $this->myshop_selector ) );?>


	<h2>Motivthemen</h2>
	<a href="/myshop/editthememotiv" class="btn btn-success btn-large"><i class="icon-plus-sign icon-white"></i> Neues Thema anlegen</a>
	<table class="table table-striped">
	<thead><tr><th>Title</th><th></th></tr></thead>
	<tbody>
	<?php foreach($this->themes as $theme): ?>
	<tr><td><?php echo $theme->title ?></td><td style="text-align:right">
		<a class="btn btn-info" title="Motivthema bearbeiten" href="/myshop/editthememotiv/<?php echo $theme->id ?>"><i class="icon-edit icon-white"></i></a> <a class="btn btn-danger" title="Motivthema löschen" href="/myshop/delthememotiv/<?php echo $theme->id ?>"><i class="icon-remove icon-white"></i></a>
	</td></tr>
	<?php endforeach; ?>
	</tbody>
	</table>
</div>
</div>
</div>