<?= $this->partial ( 'user_tabs.phtml', array ('shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );
  $link = $_SERVER["HTTP_HOST"].$_SERVER["REQUEST_URI"];
  $str_arr = explode ("/", $link);  
  $linkend = end($str_arr);
?>
<?php if($linkend == 1) { ?>
<div class="page-header"><h1><?php echo $this->translate('Rechnungsadresse hinzufügen')?></h1></div>
<?php } ?>
<?php if($linkend == 2) { ?>
<div class="page-header"><h1><?php echo $this->translate('Lieferadresse hinzufügen')?></h1></div>
<?php } ?>
<?php if($linkend == 3) { ?>
<div class="page-header"><h1><?php echo $this->translate('Absendeadresse hinzufügen')?></h1></div>
<?php } ?>
<?php 
EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
echo $this->form ?>