<?php
if($this->shop->registration AND $this->shop->isGuestEnable()) {
	$col = 4;
} else if(!$this->shop->registration AND !$this->shop->isGuestEnable()) {
	$col = 12;
} else if($this->shop->registration AND !$this->shop->isGuestEnable()) {
	$col = 6;
} else if(!$this->shop->registration) {
	$col = 12;
}
?>
 
    <div class="col-xs-12">
        <h1 style="margin-left:0.1em"><?php echo $this->translate('Login') ?></h1>
    </div>
 


<div class="row user_login">
	<div class="col-sm-<?php echo $col; ?> col-xs-12">
		<div class="well">
			<h4><?php if(!$this->shop->private): ?><?php echo $this->translate('Wenn Sie bereits Kunde sind') ?><?php endif; ?></h4>
			<p><?php echo $this->translate('Please fill out the Form') ?></p>
			<div id="userreg" class="login" style="padding: 3em;">
				<fieldset>
				<?php 
				EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
				//echo $this->form->render();
				  $owd_FORM =  $this->form->setAttrib('class', 'niceform form-horizontal')->render();
				 					     
						      echo str_replace(	array('control-group','control-label','class="controls"', '<input type="text"', '<input type="password"', '<select'),
									array('form-group','form-label','class="form-controls"', '<input type="text" class="form-control"', '<input type="password" class="form-control"', '<select class="form-control"'), 
									$owd_FORM ); 
				
				?>
				<a id="passwordreset" href="/user/resetpassword"><?php echo $this->translate('Forget password') ?></a>
				</fieldset>
			</div>
		</div>
	</div>
	<div class="col-sm-<?php echo $col; ?> col-xs-12">
		<?php if($this->shop->registration): ?>
		<div class="well">
			<h4><?php echo $this->translate('Wenn Sie noch kein Kunde sind') ?></h4>
			<p><?php echo $this->translate('Nutzen Sie die Vorteile eines registrierten Accounts!') ?></p>

			<?php if($this->shop->market): ?>
			    <div id="einfach-verkaufen">
				<ul class="werbung-bar-list green">		    
				    <li><?php echo $this->translate('Eigener Online-Shop er&ouml;ffnen')?></li>
				    <li><?php echo $this->translate('Produkte und Motive verkaufen')?></li>
				    <li><?php echo $this->translate('Produkte verwalten')?></li>
				</ul>
				<br/>
			    </div>
			<?php endif; ?>

			<div style="clear:both"></div>
			<p><a href="/user/register<?php if($this->mode) echo '?mode='.$this->mode; ?>" id="login_reg"><?php echo $this->translate('Registrieren Sie sich jetzt als Neukunde') ?></a></p>
		</div>
		<?php endif; ?>

</div>


<div class="col-sm-<?php echo $col; ?> col-xs-12">
		<?php if($this->shop->isGuestEnable()): ?>
		<div class="well">
			<h4><?php echo $this->translate('Als Gast bestellen') ?></h4>
			<p><?php echo $this->translate('Bestellen Sie hier auch ganz bequem ohne Registrierung.') ?></p>

			<?php if($this->shop->market): ?>
			    <div id="einfach-verkaufen">
				<ul class="werbung-bar-list green">		    
				    <li><?php echo $this->translate('Eigener Online-Shop er&ouml;ffnen')?></li>
				    <li><?php echo $this->translate('Produkte und Motive verkaufen')?></li>
				    <li><?php echo $this->translate('Produkte verwalten')?></li>
				</ul>
				<br/>
			    </div>
			<?php endif; ?>

			<div style="clear:both"></div>
			<p><a href="/user/guest<?php if($this->mode) echo '?mode='.$this->mode; ?>" id="login_reg"><?php echo $this->translate('Weiter als Gast') ?></a></p>
		</div>
		<?php endif; ?>

</div>