<?= $this->partial ( 'user_tabs.phtml', array ('shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );?>

    <?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?>

            <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); ?>
            <!--<div class="table-responsive">
            <table class="table table-hover myorders">
                <thead>
                        <tr class="bg-primary">
                                <th align="left" class="left"><?php echo $this->translate('Auftragsnummer') ?></th>
                                <th align="left"><?php echo $this->translate('Datum') ?></th>
                                <th align="left" class="right"><?php echo $this->translate('Referenz') ?></th>
                                <th align="left"><?php echo $this->translate('Wert') ?></th>
                                <th align="left"><?php echo $this->translate('Zahlart') ?></th>
                                <th align="left"><?php echo $this->translate('Auftragsstatus') ?></th>
                        </tr>
                </thead>-->
            <?php $ia = 0; foreach($this->paginator as $order): ?>
                <div class="col-lg-12 bg-info nomobilehead" <?php if ($ia > 0) { ?>style="margin-top: 20px;"<?php } ?>>
                <div class="col-lg-2"><strong><?php echo $this->translate('Auftragsnummer') ?></strong></div>        
                <div class="col-lg-2"><strong><?php echo $this->translate('Datum') ?>/<?php echo $this->translate('Besteller') ?></strong></div>    
                <div class="col-lg-2"><strong><?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo $this->translate('Wert') ?><?php } ?></strong></div>            
                <div class="col-lg-2"><strong><?php echo $this->translate('Referenz') ?></strong></div>        
                <div class="col-lg-2"><strong><?php echo $this->translate('Auftragsstatus') ?></strong></div>   
                <div class="col-lg-2"><strong><?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo $this->translate('Zahlart') ?><?php } ?></strong></div>        
                     
            </div>
            <div class="clearfix"></div>
                <div class="col-lg-12 <?php echo $this->cycle(array("even","odd"))->next()?> bg-info">
                <div class="col-lg-2"><label class="mobilelabel"><?php echo $this->translate('Auftragsnummer') ?>: <small style="font-size: 100%"><?php echo $order['alias'] ?></small></label>
                                      <span class="nomobilehead"><?php echo $order['alias'] ?></span>
                                    </div>        
                <div class="col-lg-2"><label class="mobilelabel"><?php echo $this->translate('Datum') ?>: <small style="font-size: 100%"><?php echo $this->date($order['created'])->toString(Zend_Date::DATE_SHORT) ?></small></label>
                                      <span class="nomobilehead"><?php echo $this->date($order['created'])->toString(Zend_Date::DATE_SHORT) ?><br /><?php echo $order['email'] ?><br /><?php echo $order['contact'] ?></span>
                                    </div>
                <div class="col-lg-2"><label class="mobilelabel"><?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo $this->translate('Wert')?>: <small style="font-size: 100%"><?php echo $this->currency->toCurrency($order['preisbrutto']+0) ?><?php } ?></small></label>
                                      <span class="nomobilehead"><?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo $this->currency->toCurrency($order['preisbrutto']+0) ?><?php } ?></span>
                                    </div>        
                <div class="col-lg-2" style="color:#000000;"><?php if($order['basketfield1'] != ""): ?><b><?php echo $this->shop->basketfield1 ?>:</b> <?php echo $order['basketfield1'] ?><br><?php endif; ?>
                            <?php if($order['basketfield2'] != ""): ?><b><?php echo $this->shop->basketfield2 ?>:</b> <?php echo $order['basketfield2'] ?><br><?php endif; ?></div>        
                <div class="col-lg-2"><label class="mobilelabel"><?php echo $this->translate('Auftragsstatus')?>: <small style="font-size: 100%"><?php echo $this->translate(TP_Status::getStatusText($order['status'])) ?></small></label>
                                      <span class="nomobilehead"><?php echo  $this->translate(TP_Status::getStatusText($order['status'])) ?></span>
                                    </div>          
                <div class="col-lg-2"><label class="mobilelabel"><?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo $this->translate('Zahlart')?>: <small style="font-size: 100%"><?php echo  $this->translate($order['payment']) ?></small><?php } ?></label>
                                      <span class="nomobilehead"><?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo  $this->translate($order['payment']) ?><?php } ?></span>
                                    </div>        
                    
            </div>
            <div class="clearfix"></div>

                    <?php 
                        $i = 0;
                        foreach($order['pos'] as $pos):

                        $i++;
                    ?>
                    <div class="col-lg-12 top nomobilehead">
                    <div class="col-lg-4"><strong><?= $i ?>. <?php echo $this->Text()->truncate_text($this->escape($pos->Article->title),40) ?></strong></div>
                    <div class="col-lg-2"><strong><?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo $this->translate('Preis'); ?><?php } ?></strong></div>
                    <div class="col-lg-2"><strong><?php echo $this->translate('Referenz'); ?></strong></div>
                    <div class="col-lg-4"><strong><?php echo $this->translate('Positionsstatus'); ?></strong>/<strong><?php echo $this->translate('Dateien')?></strong></div>
                    
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 <?php if($i % 2 == 0) { echo "even"; } else { echo "even"; } ?> positions top">
                    <div class="col-lg-4" style="margin-bottom: 10px;"><label class="mobilelabel"><?= $i ?>. <?php echo $this->Text()->truncate_text($this->escape($pos->Article->title),40) ?><br /></label>
                    <?php foreach($pos->Article->getOptArray($pos->data) as $key => $value): ?>
                        <?php echo str_replace('Typ: ', '', $value); ?><br/>
                        <?php endforeach; ?>
                </div>
                    <div class="col-lg-2"><?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo $this->translate('Preis Netto').' '.$this->currency->toCurrency($pos['priceallbrutto']-$pos['priceallsteuer']+0) ?><br/>
                            <?php echo $this->translate('Preis Brutto').' '.$this->currency->toCurrency($pos['priceallbrutto']+0) ?><br/><?php } ?></div>
                    <div class="col-lg-2"><?php if($pos['ref'] != ""): ?><b><?php echo $this->shop->basketposfield1 ?>:</b> <?php echo $pos['ref'] ?><br><?php endif; ?>
                            <?php if($pos['kst'] != ""): ?><b><?php echo $this->shop->basketposfield2 ?>:</b> <?php echo $pos['kst'] ?><br><?php endif; ?></div>
                <div class="col-lg-4"  style="overflow-wrap: break-word;"><label <?php if(TP_Status::getPositionStatusText($pos['status']) == "Upload offen") { echo'style="color:red;font-weight: 100;"'; } else { echo'style="font-weight: 100;"'; } ?>><?php echo $this->translate(TP_Status::getPositionStatusText($pos['status'])) ?></label><br />
                            <?php if($pos->layouter_mode != 2): ?>
                            <?php $datacount = 1; foreach($pos->Upload as $upload): ?>
                                   <?php echo $datacount ?>. <a href="/uploads/<?php echo $this->shop->uid ?>/article/<?php echo $upload->path; ?>" target="_blank"><?php echo $upload->name; ?></a><br/>
                                   <?php $datacount++ ?>
                                   <?php endforeach; ?>
                            <?php if(($pos['status'] >= 10 && $pos['status'] < 50) && ( $pos->Article->typ != 9 ) && $pos->layouter_mode != 3 && $pos->layouter_mode != 2): ?><?php $nameuser=$this->user->self_firstname . ' '.$this->user->self_lastname; if($nameuser == $order['contact']) { ?><a style="color:#fff !important;margin-top: 10px;margin-bottom: 10px;" class="btn vouchersubmit" href="/uploadcenter?id=<?php echo $order['id'] ?>&pos=<?php echo $pos['id'] ?>"><?php echo $this->translate('Hochladen'); ?></a><?php } ?><br /><?php endif; ?><a style="color:#fff !important;" class="btn vouchersubmit" href="<?php echo $this->url(array('uuid' => $order['uuid'], 'pos_uuid' => $pos['uuid']), 'articlerebuy'); ?>"><?php echo $this->translate('Nachbestellen'); ?></a><br /><br />
                            <?php endif; ?>
                            <label class="mobilelabel"><hr style="margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #000;"></label>
                        </div>
                    
                    </div>
                    <div class="clearfix"></div>
                        
                    <?php endforeach; ?>
                    
            <?php $ia++; endforeach; ?>


            <?php echo $this->paginationControl($this->paginator, 'Sliding', 'pagination.phtml'); ?>


<?php endif; ?>
