<?= $this->partial ( 'user_tabs.phtml', array ('shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );?>


<section>
    <div class="bg-info" style="padding:1em;">
         <span class="glyphicon glyphicon-info-sign"></span>
         <?php echo $this->translate('Hallo')?> <?php echo $this->user->self_firstname ?> <?php echo $this->user->self_lastname ?>, <?php echo $this->translate('verwalten Sie hier Ihr Benutzerkonto')?>
        </div>
</section>


    <?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?>

        <section id="mysettings">
            
            <?php 
                EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
                echo $this->form;
            ?>
            
         </section>

    <?php endif; ?>
