<br>

    <h1><?php echo $this->translate('Register') ?></h1>
    
<?php if($this->finish != true): ?>
    
    <div class="bg-info" style="padding:1em;">
        <?php echo $this->translate('Please fill out the Form') ?>
    </div>
    
    <?php echo $this->form; ?>
    
<?php else: ?>
    
    <div class="bg-info" style="padding:1em;">
        <?php echo $this->translate('Thank you for register') ?>
    </div>
    
<?php endif; ?>