<div class="row">
    
	<div class="col-xs-12">
	 

	    <h1><?php echo $this->translate('Passwort vergessen?') ?></h1>


	    <p><strong><?php echo $this->translate('Dann sind Sie hier richtig!')?></strong></p>

	    <br>
	</div>

	<div class="col-sm-6 col-xs-12">
	   
	    <p>
		<?php echo $this->translate('Geben Sie bitte die Email-Adresse Ihres registrierten Accounts an und fahren Sie mit "Passwort zurücksetzen" fort. <br><br>Anschließend erhalten Sie eine Bestätigungs-Email.')?>
	    </p>
	</div>

	<div class="col-sm-6 col-xs-12">
	    <div class="well" style="padding: 3em">
		    <?php 
			EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
		       //echo $this->form->render();
					$owd_FORM =  $this->form->setAttrib('class', 'niceform form-horizontal')->render();

					 echo str_replace(	array('control-group','control-label','class="controls"', '<input type="text"', '<input type="password"', '<select', 'Passwort zurücksetzen'),
								array('form-group','form-label','class="form-controls"', '<input type="text" class="form-control"', '<input type="password" class="form-control"', '<select class="form-control"', 'Passwort zurücksetzen'), 
								$owd_FORM ); 
		    ?>
		 
	    </div>
	</div>
	
</div>