<div class="row">
    
    <?php
    /*
    <div class="col-xs-12 col-sm-3">
	<?= $this->partial ( 'sidenav.phtml', array ('shop' => $this->shop, 'showMotiv' => $this->showMotiv)); ?>
    </div>
    */
    ?>
    
    <div class="col-xs-12">
	<h4><?php echo $this->translate('Wählen Sie ihr Lieblingsmotiv')?></h4>
	<?php 
	    /* Tabs laden */		  echo $this->partial ( 'motiv_tabs.phtml', array ('shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'myfavcount' => $this->myfavcount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );
            /* Pagination für Motive */   echo $_motivpagination = $this->partial('doctrinepaginationmotiv.phtml', array('sort' => $this->sort, 'paginator' => $this->paginator, 'sort' => $this->sort, 'dir' => $this->dir, 'tag' => $this->tag));
	?>	
	

        <div class="row">
	  <div>	 
            <?php foreach ($this->motive as $motiv): ?>
		<?php if($motiv): ?>
		    <?php echo $this->partial('motiv/_motivlistitem.phtml', array('shop' => $this->shop, 'user' => $this->user, 'motiv' => $motiv, 'designPath' => $this->designPath, 'myfav' => $this->myfav, 'action' => 'index', 'currency' => $this->currency)) ?>
                <?php endif; ?>
            <?php endforeach; ?>
	  </div>
	</div>

        <?php 
	/* Pagination für Motive */   echo $_motivpagination; //  echo $this->partial('doctrinepaginationmotiv.phtml', array('sort' => $this->sort, 'paginator' => $this->paginator, 'sort' => $this->sort, 'dir' => $this->dir, 'tag' => $this->tag));
	?>

    </div>
    
</div>


 <?= $this->partial ( 'motiv/_myfav_mymotiv_modals.phtml', array ('shop' => $this->shop)); ?>


  
  
  <?php
  /*




  <!-- Modal -->

  <div class="modal fade" id="meinModal" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title" id="meinModalLabel">Modal-Überschrift</h4>
        </div>

        <div class="modal-body">
          ...
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button> <button type="button" class="btn btn-primary">Änderungen speichern</button>
        </div>
      </div>
    </div>
  </div>
  

<div class="modal hide" id="myMotiv" style="width: 750px; margin-left: -380px;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3 <?php if($this->designsettings()->get('motiv_modal_big') == true): ?>class="motivoverlay-headline"<?php endif; ?>><?php echo $this->translate('Was möchten Sie tun')?></h3>
    </div>
    <div class="modal-body">
        <?php if($this->designsettings()->get('motiv_modal_big') == true): ?>
            <span class="overlay-motiv-left-image"></span>
        <?php else: ?>
        <div class="row">
            <div class="span3">
                <span class="overlay-motiv-left-image"></span>
            </div>
            <div class="span5">
                <h3 class="motivoverlay-headline"></h3>
                <p class="motivoverlay-text motivoverlay-text-author"></p>

                <p class="motivoverlay-text motivoverlay-text-info"></p>

                <h4 class="motivoverlay-preis">Motiv-Preis: ab <span class="motivoverlay-preis-preis"></span>*</h4>
                <p class="motivoverlay-preis-hinweis">*Der Preis variiert je nach Größe und Verwendungszweck des Bildes</p>
            </div>
        </div>
        <?php endif; ?>
    </div>
    <div class="modal-footer">
        <a id="motiv-merken" class="btn btn-primary btn-large" style="float: left;">Motiv merken</a>
        <a id="designerbutton" class="btn btn-success btn-large" rel="overlaydesigner">Zum Online-Designer</a>
    </div>
</div>

<div class="modal hide" id="myArticlegroups" style="width: 750px; height: 550px; max-height: 550px; margin-left: -380px;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Wählen Sie eine Produktgruppe</h3>
    </div>
    <div class="modal-body">
        <h1 class="motivoverlay-headline">Schritt 1 // Produktsuche</h1>
        <p class="motivoverlay-text">Wählen Sie hier eine Produktkategorie aus.<br />Mit Hilfe der Pfeile können Sie durch unser Produktsortiment klicken.</p>
        <ul id="product-bar-carousel" class="thumbnails">

        </ul>
    </div>
    <div class="modal-footer">
        <a id="back" class="btn btn-primary btn-large" style="float: left;">Zurück</a>
        <div style="clear:both"></div>
    </div>
</div>

<div class="modal hide" id="myArticlegroups2" style="width: 750px; height: 550px; max-height: 550px; margin-left: -380px;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Wählen Sie eine Produktgruppe</h3>
    </div>
    <div class="modal-body">
        <h1 class="motivoverlay-headline">Schritt 2 // Produktsuche</h1>
        <p class="motivoverlay-text">Wählen Sie hier eine Produktkategorie aus.<br />Mit Hilfe der Pfeile können Sie durch unser Produktsortiment klicken.</p>
        <ul id="product-bar-carousel" class="thumbnails">

        </ul>
    </div>
    <div class="modal-footer">
        <a id="back" class="btn btn-primary btn-large" style="float: left;">Zurück</a>
        <div style="clear:both"></div>
    </div>
</div>

<div class="modal hide" id="myProducts" style="width: 750px; height: 550px; max-height: 550px; margin-left: -380px;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Wählen Sie ein Produkt</h3>
    </div>
    <div class="modal-body">
        <h1 class="motivoverlay-headline">Schritt 1 // Produktsuche</h1>
        <p class="motivoverlay-text">Wählen Sie hier eine Produktkategorie aus.</p>
        <ul id="product-bar-carousel" class="thumbnails">

        </ul>
    </div>
    <div class="modal-footer">
        <a id="back" class="btn btn-primary btn-large" style="float: left;"><?php echo $this->translate('Zurück')?></a>
        <p class="motivoverlay-headline-schritt" style="float:left; margin-left: 10px;line-height: 35px;"><?php echo $this->translate('Ihre Auswahl: nichts')?></p>
        <a id="designerbutton-gestalten" rel="#overlay" class="btn btn-success btn-large disabled"><?php echo $this->translate('Zum Online-Designer')?></a>
    </div>
</div>
   * 
   */
  ?>