<div class="defaultwrap">
<h1><?php echo $this->translate('Motive verkaufen')?></h1>
<h2><?php echo $this->translate('Wie m&ouml;chten Sie vorgehen')?>?</h2>
<div style="height:205px; margin:60px 15px;" class="ktBoxCenter">
<div class="los_gehts_box">
    <h3><?php echo $this->translate('Upload-Manager')?></h3>
<span id="losGehtsBoxImage"><img src="/shops/3214981973/design/mein-account-neuer-shop.png"></span>
<p><?php echo $this->translate('Mehrere Motive hochladen und auf Wunsch direkt zum Verkauf anbieten.')?></p>
    <a class="los_button" href="/resale/motivstep1"><?php echo $this->translate("Los geht's")?></a>
</div>

<div class="los_gehts_box">
    <h3><?php echo $this->translate('Online-Designer Upload')?></h3>
<span id="losGehtsBoxImage"><img src="/shops/3214981973/design/mein-account-upload.png"></span>
<p><?php echo $this->translate('Laden Sie Motive direkt beim Gestalten im Online-Designer hoch. W&auml;hlen Sie einfach ein Produkt und starten Sie den Designer. Zum Verkauf empfehlen wir den Upload-Manager.')?></p>
    <a class="los_button" href="/overview/all/mode/customs"><?php echo $this->translate("Los geht's")?></a>
</div>
<span class="InfoText"><p><?php echo $this->translate('Nutzen Sie eigene Fotos und Grafiken zum Gestalten und Verkaufen.")?></p>
<p>Als Dateiformat k&ouml;nnen Sie JPEG, Tiff, PNG, Gif und Ai (Adobe Illustrator) nutzen. 
Andere Formate werden nicht unterst&uuml;tzt.</p>
<p>Infos zu Vektor-Grafiken</p>
<p>Sollten Sie eine Vektor-Grafik Vorlage besitzen und wollen diese f&uuml;r die Produktion z.B. f&uuml;r ein T-Shirt nutzen,
 wenden Sie sich bitte hier an unseren Grafik-Support</p>
</span>
</div>
<br class="clear">
</div>