<div class="page-header"><h1><?php echo $this->translate("Suche") ?></h1></div>

<?php if($this->error): ?>

    <h3><?php echo $this->translate('Die Suche ist im Moment nicht verfügbar.')?></h3>

<?php else: ?>

<?php if(count($this->cms) > 0): ?>
    <?php foreach ($this->cms as $cms): ?>
        <h3>Seite: <?php echo $cms['title'] ?></h3>
        <p><?php echo $this->text()->truncate_text(strip_tags(preg_replace('#<script(.*?)>(.*?)</script>#is', '', $cms['text1'])), 400, '') ?> <a href="/cms/<?php echo $cms['url'] ?>"><?php echo $this->translate('mehr')?>...</a></p>
        <hr/>
    <?php endforeach; ?>
<?php endif; ?>

<?php if(count($this->article) > 0): ?>
<h3><?php echo $this->translate('Produktliste') ?></h3>
<ul class="thumbnails">
    <?php foreach ($this->article as $article): ?>
        <?php echo $this->partial('article/_articlelistitem.phtml', array('admin' => $this->admin, 'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>
    <?php endforeach; ?>
    <?php endif; ?>

    <div style="clear:both"></div>

    <?php if(count($this->motive) > 0): ?>
        <h3><?php echo $this->translate('Motivliste') ?></h3>
        <ul class="thumbnails">
        <?php foreach ($this->motive as $motiv): ?>
            <?php echo $this->partial('motiv/_motivlistitem.phtml', array('admin' => $this->admin, 'user' => $this->user, 'currency' => $this->currency, 'motiv' => $motiv, 'designPath' => $this->designPath, 'shop' => $this->shop, 'currency' => $this->currency)) ?>
            </ul>
        <?php endforeach; ?>
    <?php endif; ?>
    <?php endif; ?>

    <div style="clear:both"></div>