<?php
// karsten euting  - 
// $this->headLink()->appendStylesheet($this->designPath . '/css/myshops.css');
?>
<?= $this->partial ( 'user_tabs.phtml', array ('shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );?>
<div class="oneColumn">
    <div class="row">
    	<div class="col-md-4">
		<div class="well">
		    <?php $this->myshop_selector->setLabel($this->translate('Shopauswahl') . ': '. $this->current_shop->name); echo $this->myshop_selector ?>

		    <div style="clear:both"></div>
	    	<ul>
		    <li><a href="/myshop/config"><?php echo $this->translate('Grundeinstellungen')?></a></li>
		    <li><a href="/myshop/configstart"><?php echo $this->translate('Startseite')?></a></li>
                <li><a href="/myshop/design"><?php echo $this->translate('Design')?></a></li>
		    </ul>
		</div>
	</div>
    <div class="col-md-8 myshop">