<?= $this->partial ( 'myshop/_head.phtml', array ('role' => $this->role, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath, 'current_shop' => $this->current_shop, 'myshop_selector' => $this->myshop_selector ) );?>


	<h2>Produktgruppen</h2>
	<a href="/myshop/editarticlegroup" class="btn btn-success btn-large"><i class="icon-plus-sign icon-white"></i> Neue Produktgruppe anlegen</a>
	<table class="table table-striped">
	<thead><tr><th>Aktiv</th><th>Title</th><th>Pos</th><th></th></tr></thead>
	<tbody>
	<?php foreach($this->articlegroups as $articlegroup): ?>
	<tr><td><?php if($articlegroup->enable): ?>Ja<?php else: ?>Nein<?php endif; ?></td><td><?php echo $articlegroup->title ?></td><td><?php echo $articlegroup->pos ?></td><td style="text-align:right">
		<a class="btn btn-info" title="Produktgruppe bearbeiten" href="/myshop/editarticlegroup/<?php echo $articlegroup->id ?>"><i class="icon-edit icon-white"></i></a> <a class="btn btn-danger" title="Produktgruppe löschen" href="/myshop/delarticlegroup/<?php echo $articlegroup->id ?>"><i class="icon-remove icon-white"></i></a>
	</td></tr>
	<?php endforeach; ?>
	</tbody>
	</table>
</div>
<div style="clear:both"></div>
</div>