<?= $this->partial ( 'myshop/_head.phtml', array ('role' => $this->role, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath, 'current_shop' => $this->current_shop, 'myshop_selector' => $this->myshop_selector ) );?>


	<h3>Einstellungen für die Startseite</h3>
	<?php 
	EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
				$this->form->setAttrib('class', 'form-horizontal');
				$this->form->save->setAttrib('class', 'btn-success btn-large');
				
				echo $this->form; ?>
    <?php if($this->showSlider): ?>
        <h3>Slider</h3>
        <a href="/myshop/editslide" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Neues Element anlegen</a>
        <table class="table">
            <thead><tr><th>Bild</th><th>Text</th><th>Link</th><th></th></tr></thead>
            <tbody>
            <?php foreach($this->slides as $slide): ?>
            <tr><td><?php echo $this->image()->thumbnailImage($slide['text'], 'articlelist_overview_box', $slide['image']);  ?></td><td><a href="<?php echo $slide['link'] ?>" target="_blank">Link</a></td><td><?php echo $this->Text()->truncate_text($this->escape($slide['text']),50) ?></td>
                <td style="text-align:right">
                    <a class="btn btn-info" title="Slide bearbeiten" href="/myshop/editslide/<?php echo $slide['id'] ?>"><i class="icon-edit icon-white"></i></a> <a class="btn btn-danger" title="Slide löschen" href="/myshop/delslide/<?php echo $slide['id'] ?>"><i class="icon-remove icon-white"></i></a>
                </td></tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    <?php endif; ?>
</div>
</div>
</div>

<script>
$(function() {
    $('#mode option[value=sliderproductstop]').remove();
    $('#mode option[value=sliderproducts]').remove();
    $('#mode option[value=articles]').remove();
})
</script>