<?= $this->partial ( 'myshop/_head.phtml', array ('role' => $this->role, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath, 'current_shop' => $this->current_shop, 'myshop_selector' => $this->myshop_selector ) );?>


	<h3>Konfigurieren Sie Ihr Design.</h3>
	<?php EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
				$this->form->setAttrib('class', 'form-horizontal');
				$this->form->save->setAttrib('class', 'btn-success btn-large');
				
				echo $this->form; ?>

	<div style="clear:both"></div>

</div>
</div>
</div>