<!--  Nav Bootstrap 4.5 ////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<?php $designPath = str_replace(array("styles/vorlagen/", "/"), "", $this->designPath); ?>
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><i class="fa fa-home"></i> <span class="menu-title"><?php echo $this->translate("Start"); ?></span> <span class="sr-only">(current)</span></a>
            </li>
            <?php    
if($_GET["no_cache"]) {
$cachetomenu = "";
$articleGroups = $this->Articlegroup()->getTree();
                    foreach ($articleGroups as $articleGroup) {
                        $subGroups = $this->Articlegroup()->getSubTree($articleGroup);
                        if(count($subGroups) > 0) {   
                            ?>         
            <li class="nav-item dropdown">
                <?php echo'<a class="nav-link dropdown-toggle" href="/overview/' . $articleGroup->url . '" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'.$this->translate($articleGroup->title).'</a>'; ?>
                <?php echo'<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">'; ?>
                <?php echo'<a class="dropdown-item" href="/overview/' . $articleGroup->url . '" id="navbarDropdownMenuLink"><strong>'.$this->translate($articleGroup->title).'</strong></a>'; ?>

<?php
$cachetomenu .= '<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="/overview/' . $articleGroup->url . '" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">'.$this->translate($articleGroup->title).'</a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
<a class="dropdown-item" href="/overview/' . $articleGroup->url . '" id="navbarDropdownMenuLink"><strong>'.$this->translate($articleGroup->title).'</strong></a>'; 
//echo $cachetomenu;
?>
                
            <?php
                foreach ($subGroups as $subGroup) {
                    $subSubGroups = $this->Articlegroup()->getSubTree($subGroup);
                    //echo count($subSubGroups);
                    if(count($subSubGroups) > 0) {
                    ?>
                    <?php /* echo '<li><a class="dropdown-item dropdown-toggle" href="/overview/'.$subGroup->url.'">'.$subGroup->title.'</a></li>'; */ ?>
                    <?php echo '<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="/overview/'.$subGroup->url.'">'.$subGroup->title.'</a><ul class="dropdown-menu">'; ?>
<?php $cachetomenu .= '<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="/overview/'.$subGroup->url.'">'.$subGroup->title.'</a><ul class="dropdown-menu">'; ?>
                        <?php foreach ($subSubGroups as $pgd) { ?>
                            <?php echo'<li class="nav-item"><a class="dropdown-item" href="/overview/'.$pgd->url.'">'.$pgd->title.'</a></li>'; ?>
<?php $cachetomenu .= '<li class="nav-item"><a class="dropdown-item" href="/overview/'.$pgd->url.'">'.$pgd->title.'</a></li>'; ?>
                        <?php } ?>
                        <?php echo'</ul></li>'; ?>
<?php $cachetomenu .= '</ul></li>'; ?>
                    <?php } else { ?>
                        <?php echo '<li class="nav-item"><a class="dropdown-item" href="/overview/'.$subGroup->url.'">'.$subGroup->title.'</a></li>'; ?>
<?php $cachetomenu .= '<li class="nav-item"><a class="dropdown-item" href="/overview/'.$subGroup->url.'">'.$subGroup->title.'</a></li>'; ?>
                    <?php } } ?>
                    <?php echo'</ul></li>'; ?>     
<?php $cachetomenu .= '</ul></li>'; ?>  
<?php
}else{
    echo ' <li class="nav-item"><a class="nav-link" href="/overview/' . $articleGroup->url . '">' . $this->translate($articleGroup->title).'</a>';
$cachetomenu .= ' <li class="nav-item"><a class="nav-link" href="/overview/' . $articleGroup->url . '">' . $this->translate($articleGroup->title).'</a>';
}
echo '</li>';
$cachetomenu .= '</li>';
}
$fp = fopen('/data/www/old/public/styles/vorlagen/'. $designPath .'/'. $this->shop->name .'_categoriemenu.txt', 'w');
fwrite($fp, $cachetomenu);
fclose($fp);
} else {
    $myfile = fopen('/data/www/old/public/styles/vorlagen/'. $designPath .'/'. $this->shop->name .'_categoriemenu.txt', "r") or $nofile = true;
    echo fread($myfile,filesize('/data/www/old/public/styles/vorlagen/'. $designPath .'/'. $this->shop->name .'_categoriemenu.txt'));
    fclose($myfile); 
if($nofile) {
    echo "";
}
}
$infonavigation = $this->cms()->getCms('top');

                    if( count($infonavigation) > 0) : ?>

                        <?php foreach($infonavigation as $hp): ?>
                            <?php if(count($hp->Subs) > 0): ?>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo $this->translate($hp->menu) ?></a>
                                    <ul class="dropdown-menu">
                                        <?php foreach($hp->Subs as $hps): ?>
                                            <li class="nav-item"><a class="dropdown-item" href="/cms/<?php echo $hps->url ?>"><?php echo $this->translate($hps->menu) ?></a></li>
                                        <?php endforeach; ?>
                                    </ul></li>
                                    <?php elseif($hp->modul == 'Redirect'): ?>
                                <li class="nav-item"><a class="dropdown-item" href="<?php echo $hp->parameter ?>"><?php echo $this->translate($hp->menu) ?></a></li>
                            <?php else: ?>
                                <li class="nav-item"><a class="dropdown-item" href="/cms/<?php echo $hp->url ?>"><?php echo $this->translate($hp->menu) ?></a></li>
                            <?php endif;?>

                        <?php endforeach; ?>

                    <?php endif;
?>

<div class="righthidden" style=" border: 1px solid #000; margin-bottom: 10px; "></div>
<li class="righthidden">
<a href="/agb">AGB</a>
</li>
<br />
<li class="righthidden">
<a href="/revocation">Widerrufsbelehrung</a>
</li>
<br />
<li class="righthidden">
<a href="/privacy">Datenschutzerklärung</a>
</li>
<br />
<li class="righthidden">
<a href="/impress">Impressum</a>
</li>
        </ul>

        <form class="navbar-form navbar-right" role="search" id="search" action="<?= $this->url(array(), 'search') ?>" enctype="multipart/form-data" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q">
                        <button class="button-search glyphicon glyphicon-search"></button>
                    </div> <button type="submit" class="hide">ok</button>
        </form>
    </div>
</nav>
