<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <title><?= $this->shop->name; ?></title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Latest compiled and minified CSS -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

      	<link href="/<?php echo $this->designPath ?>/bootstrap/css/style.css" rel="stylesheet">
	
       <?php if($this->shop->css != ""): ?>
            <style type="text/css"><?= $this->shop->css; ?></style>
        <?php endif; ?>

        <?php if($this->designsettings()->get('custom_css') != ""): ?>
   	        <style><?= $this->designsettings()->get('custom_css') ?></style>
        <?php endif; ?>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]><script src="<?php echo $this->designPath ?>/js/html5shiv.js"><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script></script><![endif]-->

        <!-- Fav und touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="<?php echo $this->designPath ?>/img/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="<?php echo $this->designPath ?>/img/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="<?php echo $this->designPath ?>/img/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="<?php echo $this->designPath ?>/img/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="<?php echo $this->designPath ?>/img/favicon.png">

        <?php
        /**
         *    *******************************  
        *     jQuery und Bootstrap JS aus CDN  
        *    *******************************  
         * frühes laden, weil sonst einige JS features nicht funktionieren, die erste später in den templates dazu geladen werden
         * hab's vom </body> schon wieder hoch gesetzt :(
         */
        ?>
       
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" ></script>



        <?php if($this->shop->private): ?><meta name='robots' content='noindex,follow' /><?php endif; ?>


        <?= $this->headMeta(); ?>

    <!-- Le styles -->
    <?php if(!$this->designsettings()->get('preset') || $this->designsettings()->get('preset') == 1): ?>
    <link href="/<?php echo $this->designPath ?>/bootstrap/css/bootstrap.css" rel="stylesheet">
    <?php endif; ?>
    <?php if($this->designsettings()->get('preset') == 2): ?>
    <link href="/<?php echo $this->designPath ?>/design/united/bootstrap.css" rel="stylesheet">
    <?php endif; ?>
    <?php if($this->designsettings()->get('preset') == 3): ?>
    <link href="/<?php echo $this->designPath ?>/design/spruce/bootstrap.css" rel="stylesheet">
    <?php endif; ?>
    <?php if($this->designsettings()->get('preset') == 4): ?>
    <link href="/<?php echo $this->designPath ?>/design/cyborg/bootstrap.css" rel="stylesheet">
    <?php endif; ?>
    <?php if($this->designsettings()->get('preset') == 5): ?>
    <link href="/<?php echo $this->designPath ?>/design/journal/bootstrap.css" rel="stylesheet">
    <?php endif; ?>
    <?php if($this->designsettings()->get('preset') == 6): ?>
    <link href="/<?php echo $this->designPath ?>/design/spacelab/bootstrap.css" rel="stylesheet">
    <?php endif; ?>
    <?php if($this->designsettings()->get('preset') == 7): ?>
    <link href="/<?php echo $this->designPath ?>/design/simplex/bootstrap.css" rel="stylesheet">
    <?php endif; ?>
    <?php if($this->designsettings()->get('preset') == 8): ?>
    <link href="/<?php echo $this->designPath ?>/design/slate/bootstrap.css" rel="stylesheet">
    <?php endif; ?>
    <?php if($this->designsettings()->get('preset') == 9): ?>
    <link href="/<?php echo $this->designPath ?>/design/superhero/bootstrap.css" rel="stylesheet">
    <?php endif; ?>
    <?php if($this->designsettings()->get('preset') == 10): ?>
    <link href="/<?php echo $this->designPath ?>/design/bluegreen/blueandgreen.css" rel="stylesheet">
    <?php endif; ?>
    
    <link rel="shortcut icon" type="image/x-icon" href="<?php echo $this->image()->thumbnailImage('browsericon', 'browsericon', $this->shop->browsericon, true, true); ?>"/>
 
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   
  </head>

  <body>

    <div class="container">

        <div class="row clearfix" id="topbanner">
            <div class="col-xs-12">
                <?php if($this->shop->logo1): ?>
                    <a  href="/" title="<?= $this->shop->name; ?>: zur Startseite"><img src="<?php echo $this->image()->thumbnailImage('logo', 'logo1', $this->shop->logo1, true, false); ?>" width="1170" alt="<?= $this->shop->name; ?>" id="logo"/></a>
                <?php else: ?>
                    <h1 class="head_logo"><?= $this->shop->name; ?></h1>
                <?php endif;?>
            </div>
        </div>

    
    <section id="layout-main-wrap">
        <?php
        $PriorityMessenger = $this->PriorityMessenger();
        if(count($PriorityMessenger)): ?>

            <div class="flashmessages">

                <?php

                foreach ($PriorityMessenger as $label => $messages) {
                    if (count($messages)) {
                        foreach ($messages as $message) {
                            if($label == 'error') {
                                echo '<div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">&times;</span></button>'.$this->translate($message).'</div>';
                            }else{
                                echo '<div class="alert alert-success"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">&times;</span></button>'.$this->translate($message).'</div>';
                            }
                        }
                    }
                }
                ?>
            </div>
        <?php endif; ?>
            <?= $this->layout()->CONTENT; ?>

    </section>

        <section>



            <div class="copyright pull-right"><?= $this->shop->name ?> is powered by <a href="http://www.printshopcreator.de" target="_blank">printshopcreator</a></div>


        </section>
      
    <!-- Additional Wrapper´s for Layouter -->
	<div id="overlayl" class="overlayl" style="display: none; position: fixed; top: 0;left: 0;z-index: 5000; background-color: #000000; opacity: 0.4; filter: alpha(opacity = 40);"></div>
	<div class="layouter" id="layouter" style="position:fixed; z-index: 9999999; display:none"><iframe frameborder="0" scrolling="no" id="frame" style="overflow: hidden; height: 100%; width: 100%"></iframe></div> 
	<div style="clear:both"></div>
	<!-- /Additional Wrapper´s Layouter -->
    
    <script src="/<?php echo $this->designPath ?>/assets/js/tabs.js"></script>
    <script src="/<?php echo $this->designPath ?>/assets/js/modal.js"></script>
    <script src="/<?php echo $this->designPath ?>/assets/js/tooltip.js"></script>
    <script src="/<?php echo $this->designPath ?>/assets/js/popover.js"></script>
    <script type="text/javascript" src="/scripts/plupload/js/plupload.js"></script>
    <script type="text/javascript" src="/scripts/plupload/js/plupload.gears.js"></script>
    <script type="text/javascript" src="/scripts/plupload/js/plupload.silverlight.js"></script>
    <script type="text/javascript" src="/scripts/plupload/js/plupload.flash.js"></script>
    <script type="text/javascript" src="/scripts/plupload/js/plupload.browserplus.js"></script>
    <script type="text/javascript" src="/scripts/plupload/js/plupload.html4.js"></script>
    <script type="text/javascript" src="/scripts/plupload/js/plupload.html5.js"></script>
    <script type="text/javascript" src="/scripts/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js"></script>
    <script type="text/javascript" src="/scripts/plupload/src/javascript/i18n/de.js"></script>
     <link type="text/css" rel="stylesheet" href="/scripts/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css"></link>
    <link href="/scripts/SmartWizard/styles/smart_wizard.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/scripts/SmartWizard/js/jquery.smartWizard-2.0.js"></script>
	<script src="/<?php echo $this->designPath ?>/code.js"></script>
	<link href="/<?php echo $this->designPath ?>/style.css" rel="stylesheet">
	<?php 
	    $this->headScript()->prependFile('/scripts/jquery-achtung/ui.achtung.js'); 
	    $this->headLink()->appendStylesheet('/scripts/jquery-achtung/ui.achtung.css');
	?>
	<?php 
	    $this->headScript()->prependFile('/scripts/jquery-multiselect/js/jquery.multi-select.js');
	    $this->headLink()->appendStylesheet('/scripts/jquery-multiselect/css/multi-select.css');
    ?>
    <?= $this->headScript(); ?>
    <?= $this->headLink(); ?>
    <script type="text/javascript">

        $(document).ready(function() {

        <?php
        $PriorityMessenger = $this->PriorityMessenger();
        if(count($PriorityMessenger)): ?>
            <?php
            foreach ($PriorityMessenger as $label => $messages) {
                if (count($messages)) {
                    foreach ($messages as $message) {
                        if($label == 'error') {
                            echo '$.achtung({className: "achtungFail", message: "'.$this->translate($message).'", timeout: 0});';
                        }else{
                            echo '$.achtung({className: "achtungSuccess", message: "'.$this->translate($message).'", timeout: 0});';
                        }
                    }
                }
            }
            ?>
            <?php endif; ?>
        });
    </script>
     </div>
  </body>
</html>