<?php

$this->headScript()->prependFile('/'. $this->designPath . '/upload_center.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/locale.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/jquery.fileupload-process.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/jquery.fileupload-ui.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/jquery.fileupload.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/jquery.iframe-transport.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/vendor/jquery.ui.widget.js');
$this->headLink()->appendStylesheet('/'. $this->designPath . '/assets/uploader/css/jquery.fileupload-ui.css');
?>
<style>
span.btn.btn-success.fileinput-button {
    float: unset;
}
</style>
<div class="row">

	<div class="col-xs-12">


		<?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?>

		<div class="well">
			<table>
			<tr>
					<td>
					<?php echo $this->translate('Auftragsnummer') ?>:
					</td>
					<td>
						<b><?php echo $this->order->alias; ?></b>
					</td>
				</tr>
				<tr>
					<td>
						<?php echo $this->translate('Bestellt:')?>
					</td>
					<td>
						<b><?php echo new Zend_Date($this->order->created, Zend_Date::ISO_8601); ?></b>
					</td>
				</tr>
				<tr>
					<td><?php echo $this->translate('Status:')?></td>
					<td><b><?php echo TP_Status::getStatusText($this->order->status) ?></b></td>
				</tr>
				<!--<tr>
					<td colspan="2">
						<p class="text-info"><strong>Step-by-Step Anleitung zum Übertragen Ihrer Druckdateien:</strong></p>
						<ol>
							<li>Klicken Sie unten auf "Hinzufügen von Dateien" um für jede Bestellposition Dateien auszuwählen, die zu uns übertragen werden sollen.</li>
							<li>Wählen Sie die Dateien aus, die Sie uns übertragen wollen. Sie können mehrere Dateien markieren oder mehrmals über "Hinzufügen von Dateien" jeweils eine Datei auswählen.</li>
							<li>Wenn Sie alle Dateien ausgewählt haben, klicken Sie auf "Start upload"</li>
							<li>Es werden nur teilweise Voransichten angezeigt.</li>
							<li>Unter Funktionen kann man seinen Upload bestätigen, welche dann die Produktion anstößt.</li>
						</ol>
						<p>Falls Probleme mit dem hochladen auftreten, können Sie uns Ihre Daten auch per E-Mail an: <a href="mailto:<?php echo $this->shop->betreiber_email ?>"><?php echo $this->shop->betreiber_email ?></a> übertragen.</p>
					</td>
				</tr>-->
			</table>
		</div>


		<?php
		$keys = array();
		$i = 1;
		foreach ($this->articles as $article): ?>
			<!--<h4>Position: <?php echo $i; ?> - <?php $keys[] = $article['orderpos']->id; echo $article['article']['title'] ?></h4>-->
			<div class="well">
				<?php foreach ($article['preflight_uploads'] as $upload): ?>
					<h4>Druckdaten für <span style="font-weight:900"><?php $keys[] = $article['orderpos']->id; echo $article['article']['title'] ?></span> auswählen</h4>
					<div id="uploads-<?php echo $article['orderpos']->id; ?>_<?php echo $upload['id'] ?>" class="uploads">
						<form id="fileupload"
							  action="/service/upload/uploadcenterbootstrap?id=<?php echo $article['orderpos']->id ?>&format=json"
							  method="POST" enctype="multipart/form-data">
							<input type="hidden" name="ARTID" value="<?= Zend_Session::getId() ?>"/>
							<input type="hidden" name="id" id="pos_id" value="<?php echo $article['orderpos']->id; ?>"/>
							<input type="hidden" name="type" id="type" value="<?php echo $upload['id'] ?>"/>

							<div class="fileupload-buttonbar">
								
								<!-- The global progress information -->
								<div class="col-xs-5 fileupload-progress fade">
									<!-- The global progress bar
                                    <div class="progress progress-success progress-striped active">
                                    <div class="bar" style="width:0%;"></div>
                                    </div>
                                     -->
									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
									</div>
									<!-- The extended global progress information -->
									<div class="progress-extended">&nbsp;</div>
								</div>
							</div>
							<!-- The loading indicator is shown during file processing -->
							<div class="fileupload-loading"></div>
							<br>
							<!-- The table listing the files available for upload/download -->
							<table class="table table-striped">
								<tbody class="files"></tbody>
							</table>

							<div class="span11" style="text-align: right;">
									<!-- The fileinput-button span is used to style the file input field as button -->
									

									<?php if(($article['orderpos']->status >= 30 || $article['orderpos']->status < 50) && ( $article['article_org']->typ != 9 ) && $article['orderpos']->layouter_mode != 3 && $article['orderpos']->layouter_mode != 2): ?><a href="/uploadcenter/finish?id=<?php echo $this->order->id ?>&pos=<?php echo $article['orderpos']->id ?>" class="btn btn-success btn-small"><?php echo $this->translate('Upload/s fertig')?></a><?php endif; ?>
										<span class="btn btn-success fileinput-button">
			<i class="icon-plus icon-white"></i>
			<span>Datei/en hinzufügen...</span>
			<input type="file" name="files[]" multiple>
		    </span>
								</div>
								<div class="span11" style="text-align: right;"><?php echo $this->translate('INFO: Wenn Sie alle Dateien hochgeladen haben,<br />drücken Sie den "Upload/s fertig" Button!')?></div>
						</form>
					</div>
				<?php endforeach; ?>
			</div>

			<?php $i++;endforeach; ?>

		<p><a class="btn" href="/user/myorders" ><?php echo $this->translate('Zurück zur Liste')?></a></p>

	</div>
</div><!-- //row -->


<!-- The template to display files available for upload -->
	<script id="template-upload" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	<tr class="template-upload fade">
	    <td class="preview"><span class="fade"></span></td>
	    <td class="name"><span>{%=file.name%}</span></td>
	    <td class="size"><span>{%=file.size%}</span></td>
	    {% if (file.error) { %}
	    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
	    {% } else if (o.files.valid && !i) { %}
	    <td>
		<div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
	    </td>
	    <td class="start">{% if (!o.options.autoUpload) { %}
		<button class="btn btn-primary">
		    <span class="glyphicon glyphicon-upload"></span>
		    <span>{%=locale.fileupload.start%}</span>
		</button>
		{% } %}</td>
	    {% } else { %}
	    <td colspan="2"></td>
	    {% } %}
	    <td class="cancel">{% if (!i) { %}
		<button class="btn btn-warning">
		    <span class="glyphicon glyphicon-ban-circle"></span>
		    <span>{%=locale.fileupload.cancel%}</span>
		</button>
		{% } %}</td>
	</tr>
	{% } %}
    </script>
<!-- The template to display files available for download -->
	<script id="template-download" type="text/x-tmpl">
	{% for (var i=0, file; file=o.files[i]; i++) { %}
	<tr class="template-download">
	    {% if (file.error) { %}
	    <td></td>
	    <td class="name"><span>{%=file.name%}</span></td>
	    <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
	    {% } else { %}
	    <td class="preview"><img src="{%=file.thumbnail_url%}"></td>
	    <td class="name">
		<a href="{%=file.url%}" title="{%=file.name%}">{%=file.name%}</a>
	    </td>
	    <td colspan="2">{%=file.comment%}</td>
	    {% } %}
	    <td class="preflight_{%=file.key%}"></td>
	    <td class="delete">
		<button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
		    <span class="glyphicon glyphicon-trash"></span>
		    <span>Löschen</span>
		</button>
	    </td>
	</tr>
	{% } %}
    </script>

<?php endif; ?>


