/* theodin.co.uk -Designed and developed by Philip Beel All Rights Reserved*/

/* 
------------------------------------------------------------------------------------------------------Genetic--------------*/

/* Reset */


#contactable {
	background-image:url(images/contact.png);
	color:#FFFFFF;
	cursor:pointer;
	height:102px;
	left:0;
	margin-left:-5px; 
	*margin-left:-5px; 
	overflow:hidden;
	position:fixed;
	*position:absolute;
	text-indent:-100000px;
	top:50px;
	*margin-top:10px;
	width:44px;
	z-index:3000;
}

#contactForm {
	background-color:#F8F8F8;
	border:2px solid #333333;
	color:#FFFFFF;
	height:200px;
	left:0;
	margin-left:-400px;
	*margin-left:-434px;
	margin-top:-196px;
	overflow:hidden;
	padding-left:30px;
	position:fixed;
	top:200px;
	width:360px;
	*width:394px;
	z-index:99;
}

form#contactForm p {
	width:325px;
	font-size:0.9em;
}

form#contactForm .disclaimer {
	*margin-left:20px;
}

#contactForm .red {
	color:	#F5410F;
}

#overlay {
	background-color:#666666;
	display:none;
	height:100%;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:0;
} 
.error { background-color: #EDBE9C; }

#name.error { background-color: #EDBE9C; } 
#email.error { background-color: #EDBE9C; }
#comment.error { background-color: #EDBE9C; }

form#contactForm #loading {
	background: url(images/ajax-loader.gif) no-repeat;
	width:55px;
	height:55px;
	margin: 100px auto;
	display:none;
}

#callback {
	font-family: georgia;
	font-size:1.1em;
	color: #FFF;
	width:325px;
	margin: 100px auto;	
	display:none;
}


.holder {
	margin:0 auto;
	*margin-left:20px;
	padding-top:20px;	
}	
	