<?php
/**
 * /overview/index.phtml
 * 
 * Startpunkt einer Prokduktgruppe
 * Gibt aus:
 * 
 * a) info zur aktuellen Produktegruppe
 * b) Unterproduktgruppenn (wenn verfügbar)
 * c) artikel in dieser Gruppe
 */
?>
<script>
$(document).ready(function(){
setCookie("categorie", '<?php echo $this->articlegroup->title; ?>', 31536000);
});
function DeleteCookie(name) {
            document.cookie = name + '=; expires=Thu, 01-Jan-70 00:00:01 GMT;';
        }
function setCookie(cname,cvalue,exdays) {
  var d = new Date();
  d.setTime(d.getTime() + (exdays * 1000));
  var expires = "expires=" + d.toGMTString();
  document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}
function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
} 
</script>
<div class="row">
     
        <div class="col-xs-12" id="produktbeschreibung">
            
                <?php 
                
                if($this->articlegroup && $this->articlegroup->title)
                {
                        if($this->articlegroup->display_title)
                        {
                            echo '<h1>' . $this->articlegroup->title  . '</h1>';
                            if ($this->articlegroup->image != "")
                          {
                               
                            echo '<div id="articlegroup_image_big">' . $this->image()->thumbnailImage($this->articlegroup->title, 'productgrouplist_overview_box1', $this->articlegroup->image_big) . '</div>'; 
                          }

                                /** Vorschaubild-Gross ausgeben **/ 
                          if ($this->articlegroup->image != "")
                          {
                               
                            echo '<div id="articlegroup_image_big">' . $this->image()->thumbnailImage($this->articlegroup->title, 'productgrouplist_overview_box2', $this->articlegroup->image) . '</div>'; 
                          }
                          
                          
                          if ($this->articlegroup->text != "") {
                            echo '<p class="productgrouptxt">'.$this->articlegroup->getTextArt() . '</p>';
                            echo '<p class="productgrouptxt">'.$this->articlegroup->getTextFormat() . '</p>';
                            echo '<p class="productgrouptxt">'.$this->articlegroup->getEinleitung() . '</p>';
                            echo '<p class="productgrouptxt">'.$this->articlegroup->getDescription() . '</p>';
                  
                          }
                      }

                      
                
           }; ?>
            
                     
       </div>    
    
    
    <?php

          if (count($this->articlegroupss) > 0):
    
    ?>
    <div class="col-xs-12" id="overview_index-article">              

                      <div class="panel-body">

		  
            <?php foreach ($this->articlegroupss as $articlegroup): ?>
			    <?= $this->partial('article/_articlegrouplistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'articlegroup' => $articlegroup, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>
			<?php endforeach; ?>

		            </div>

        </div> 


         <?php endif; ?> 
    
 
    
       <?php 
        /**
        * Produkte in dieser Gruppe
         */ 
       if (count($this->articles) > 0 ):
       ?>     
        <div class="col-xs-12" id="overview_index-article">              

                <?php if($this->articlegroup->title): ?>
                    <div class="panel-heading"><?php echo $this->translate('Produkte in'); ?> <?php echo $this->articlegroup->title ?></div>
                <?php endif; ?>
                      <div class="panel-body">
                           
                                <?php foreach ($this->articles as $article): ?>
                                       <?= 
                                            // $this->partial('article/_articlelistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop)) 
                                            $this->partial('article/_articlelistitem_produktuebersicht.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop));
                                        ?>
                                <?php endforeach; ?>      

                      </div>

        </div> 
	<?php endif; ?>
    
	 
    
    
        <?php 
	/**
        * und "private" / persönliche Artikel
        */ 
	
	/*
	echo 'Zend_Auth::getInstance()->hasIdentity()==true :' . Zend_Auth::getInstance()->hasIdentity()==true ;
	echo '<hr>';
	echo 'count($this->myarticles):' . count($this->myarticles);
	echo '<hr>';
	*/
	if(Zend_Auth::getInstance()->hasIdentity()==true  AND count($this->myarticles) > 0 ):
       ?>     
        <div class="col-xs-12" id="overview_index-article">              
            <div class="panel panel-default">    
                      <div class="panel-body">
                           
                                <?php foreach ($this->myarticles as $article): ?>
                                       <?= 
                                            //  echo $this->partial('article/_articlelistitem.phtml', array('admin' => $this->admin, 'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'myarticle' => true, 'designPath' => $this->designPath, 'shop' => $this->shop))
                                            $this->partial('article/_articlelistitem_produktuebersicht.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'myarticle' => true, 'designPath' => $this->designPath, 'shop' => $this->shop));
                                        ?>
                                <?php endforeach; ?>      

                      </div>
              </div>    
        </div> 
        <?php endif; ?>
        
    
</div>
<div class="row">
     
     <div class="col-xs-12" id="produktbeschreibung">  
 <?php echo '<p class="productgrouptxt">'.$this->articlegroup->text . '</p>'; ?>
 </div></div>