<?php if($this->shop->logo2 != ""): ?>
<div>
    <div style="background: white; position: absolute;margin-left: 598px;padding: 20px;margin-top: 100px;opacity: 0.9;width: 500px;" class="well">
        <h3><?php if(!$this->designsettings()->get('index_slogan')): ?>Herzlich Willkommen<?php else: ?><?php echo $this->designsettings()->get('index_slogan') ?><?php endif; ?></h3></div>
    <img src="/<?php echo $this->image()->thumbnailImage('logo', 'logo2', $this->shop->logo2, true, true); ?>" id="logo2"/>
</div>
<?php endif; ?>
<br/>
    <p>
        <a class="btn btn-primary btn-large" href="/overview">
            <?php echo $this->translate('Zu den Produkten')?>
        </a>
    </p>
<h2></h2>