	   	<?php
			/**
			* Carousel laden
			*/
			echo  $this->partial ( 'carousel.phtml');


                       /*****************************************************************************
                        * Shop-Descrioption - soll nicht mehr angezeigt werden kC6nnen 23.09.2014
                        *****************************************************************************
                        if($this->shop->description): ?>

                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="shop-description"><?= $this->shop->description ?></p>
                                </div>
                            </div>

                         <?php endif;  
                         */


                        /*****************************************************************************
                        * Eigener Inhalt (CMS-Artikel mit "contentleft"
                        ******************************************************************************/
                        $cms = $this->cms()->getCms("contentleft"); 
                        foreach($cms as $c){
                            echo '<div class="row contentleft startseite">
                                    <div class="col-sm-12">';
                                         echo $c->text1;
                            echo '  </div>
                                  </div>';
                        }
                       $cms = $this->cms()->getCms("contentright"); 
                       foreach($cms as $c){
                           echo '<div class="row contentleft startseite">
                                   <div class="col-sm-12">';
                                        echo $c->text1;
                           echo '  </div>
                                 </div>';
                       }

 
	/**
	* TODO ...:
	*/
 ?>

  <div>
 	<div>
        <?php if($this->designsettings()->get('mc_start_products')): ?>
        <h3><?= $this->translate('Produkthighlights') ?></h3>
        <ul class="thumbnails">
            <?php $articles = $this->article()->getArticleByArray($this->designsettings()->get('mc_start_products')); ?>
            <?php foreach ($articles as $article): ?>
            <?= $this->partial('article/_articlelistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>
            <?php endforeach; ?>
        </ul>
        <?php endif; ?>
        <?php if($this->designsettings()->get('mc_start_productgroups')): ?>
        <h3><?= $this->translate('Produktsortiment') ?></h3>
        <ul class="thumbnails">
            <?php $articlegroups = $this->articlegroup()->getByArray($this->designsettings()->get('mc_start_productgroups')); ?>
            <?php foreach ($articlegroups as $articlegroup): ?>
            <?= $this->partial('article/_articlegrouplistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'articlegroup' => $articlegroup, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>
            <?php endforeach; ?>
        </ul>
        <?php endif; ?>
 </div>
 	</div>
