                        

                        <?php
			/**
			* Carousel laden
			*/
			//echo  $this->partial ( 'carousel.phtml');
                        //echo  '<br><br>';


                        /*****************************************************************************
                        * Shop-Descrioption - soll nicht mehr angezeigt werden können 23.09.2014
                        *****************************************************************************
                        if($this->shop->description): ?>

                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="shop-description"><?= $this->shop->description ?></p>
                                </div>
                            </div>

                         <?php endif;  
                         */




                        
                        
                        /**
                         * Produktgruppen, wenn ausgewählt
                         */
                        if($this->designsettings()->get('mc_start_productgroups')): 

                        ?>

                           <section>
                               <div class="row">
				   
					<?php $articlegroups = $this->articlegroup()->getByArray($this->designsettings()->get('mc_start_productgroups')); ?>
					<?php foreach ($articlegroups as $articlegroup): ?>
					    <?= $this->partial('article/_articlegrouplistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'articlegroup' => $articlegroup, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>
					<?php endforeach; ?>
				 
                               </div>
                           </section>
                          <br><br>
                       <?php endif; ?>



 




                       <?php 
        /**
        * Produkte in dieser Gruppe
         */ 
        $articles = $this->article()->getArticleByArray($this->designsettings()->get('mc_start_products'));
       if (count($articles) > 0 ):
       ?>     
        <div class="col-xs-12" id="overview_index-article">              
        <div class="row">
                <?php if($this->articlegroup->title): ?>
                    <div class="panel-heading">Produkte in <?php echo $this->articlegroup->title ?></div>
                <?php endif; ?>
                      <div class="panel-body">
                           
                                <?php foreach ($articles as $article): ?>
                                       <?= 
                                            // $this->partial('article/_articlelistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop)) 
                                            $this->partial('article/_articlelistitem_produktuebersicht.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop));
                                        ?>
                                <?php endforeach; ?>      

                      </div>

        </div> 
        </div> 
	<?php endif; ?>


<?php     


    /*****************************************************************************
     * Eigener Inhalt (CMS-Artikel mit "contentleft"
     ******************************************************************************/
    $cms = $this->cms()->getCms("contentleft"); 
    foreach($cms as $c){
        echo '<div class="row contentleft startseite">
                <div class="col-sm-12">';
                     echo $c->text1;
        echo '  </div>
              </div>';
    }
    $cms = $this->cms()->getCms("contentright"); 
    foreach($cms as $c){
        echo '<div class="row contentleft startseite">
                <div class="col-sm-12">';
                     echo $c->text1;
        echo '  </div>
              </div>';
    }

    ?>