<div class="oneColumn">
	<h1><?php echo $this->translate('Verstoß melden')?></legend></h1>
    ​<div class="container">
		<div class="columnbox2">
    		<h1><?= $this->element ?></h1>
    		<div id="userreg" class="login">
    			<fieldset>
    				<?= $this->form->render();?>
    
				</fieldset>
			</div>
		</div>
		<div class="columnbox2">
			<p style="color: #2699B3; font-size: 12px; line-height: 16px;"><?php echo $this->translate('Sollte Ihnen beim Besuch unseres Marktplatzes oder bei angeschlossenen Online-Shops ein Verstoß auffallen, bitten wir Sie uns dies hier zu melden.')?>
			<br/><br/>
			<strong><?php echo $this->translate('Gründe für einen möglichen Verstoß')?></strong><br/>
			<?php echo $this->translate('Copyright und Urheberrechts Verletzung.')?></p>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready( function() {
    
    $('.oneColumn select').dropkick();
});
</script>