@CHARSET "UTF-8";

#metaform-win .x-form-item {
    margin-bottom: 0;
}

.print {
        background-image:url(/images/admin/oxygen/16x16/actions/document-print.png) !important;
}

.icon-edit-domain {
        background-image:url(/images/admin/icons/network.png) !important;
}

.x-grid3-hd-row td.ux-filtered-column {
        font-style: italic;
        font-weight: bold;
}

.required {
    background-image:url(/images/admin/oxygen/16x16/status/dialog-warning.png) !important;
    background-position:0 2px;
    background-repeat:no-repeat;
    color:red !important;
    padding-left:20px !important;
}

.x-column-inner {
}

.icon-wiki {
    background-image:url(../../images/admin/icons/wiki.png) !important;
}

.icon-td {
    background-image:url(../../images/admin/download_backend.png) !important;
}

.icon-dt {
    background-image:url(../../images/admin/dt.png) !important;
}

.icon-tiket {
    background-image:url(../../images/admin/icons/tiket.gif) !important;
}

.icon-forum {
    background-image:url(../../images/admin/icons/forum.gif) !important;
}

#header {
	height: 25px;
	border:0pt none;
	padding-left:3px;
	padding-top:3px;
}

#header .api-title {
	color:#000000;
	font-family:tahoma,arial,sans-serif;
	font-size:16px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	margin:5px;
}

#loading-mask {
	background-color:white;
	height:100%;
	left:0pt;
	position:absolute;
	top:0pt;
	width:100%;
	z-index:20000;
}
#loading {
	height:auto;
	left:45%;
	padding:2px;
	position:absolute;
	top:40%;
	z-index:20001;
}
#loading img {
	margin-bottom:5px;
}
#loading .loading-indicator {
	background:white none repeat scroll 0%;
	color:#555555;
	font-family:tahoma,arial,helvetica;
	font-size:13px;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	height:auto;
	line-height:normal;
	margin:0pt;
	padding:10px;
	text-align:center;
}
.redrow { background-color:#FF6D4C !important; color: #FFFFFF;}

.greenrow { background-color:#C3FF8F !important;}
    
.btn-finish {
	background-image:url(/images/admin/oxygen/16x16/actions/dialog-ok-apply.png) !important;
}

.btn-upload {
    background-image:url(/images/admin/image_add_16x16.gif) !important;
}

.status1{ background-color:#FF0000 !important;}

.status2 { background-color:#C3FF8F !important;}
.status3 { background-color:#FFFF66 !important;}
.status4 { background-color:#FFE6CC !important;}

.action_uploadImage {
background-image:url(/images/admin/oxygen/16x16/actions/insert-image.png) !important;
}

.action_cropImage {
background-image:url(/images/admin/oxygen/16x16/actions/select-rectangular.png) !important;
}

.action_delete {
background-image:url(/images/admin/oxygen/16x16/actions/edit-delete.png) !important;
}

.action_edit {
    background-image:url(/images/admin/oxygen/16x16/actions/edit.png) !important;
}

.action_delete {
    background-image:url(/images/admin/oxygen/16x16/actions/edit-delete.png) !important;
}

.action_applyChanges {
    background-image:url(/images/admin/oxygen/16x16/actions/dialog-ok-apply.png) !important;
}

.action_applyChangesClose {
    background-image:url(/images/admin/oxygen/16x16/actions/dialog-ok.png) !important;
}

.action_cancel {
    background-image:url(/images/admin/oxygen/16x16/actions/window-close.png) !important;
}

.action_saveAndClose {
    background-image:url(/images/admin/oxygen/16x16/actions/dialog-ok.png) !important;
}

.icon-upload-record {
    background-image:url(/images/admin/image_add_16x16.gif) !important;
}

.icon-download-package {
    background-image:url(/images/admin/oxygen/16x16/actions/document-export.png) !important;
}

body .x-panel {
            
        }
        .icon-grid {
            background-image:url(../shared/icons/fam/grid.png) !important;
        }
        #button-grid .x-panel-body {
            border:1px solid #99bbe8;
            border-top:0 none;
        }

   .x-grid-group-hd div {
            padding: 1px 4px 4px 17px;
            position: relative;
            height: 18px;
        }
        .ux-grow-text {
            padding: 3px 0 0 0 ! important;
            margin: 0 0 0 0 ! important;
            height: 16px;
            background:transparent none ! important;
            float: left;
        }
        .ux-grow-tb {
            padding: 0pt ! important;
            background: transparent none ! important;
            cursor: auto;
            float: left;
            width: 300px ! important;
        }
        .ux-grow-tb div{
            padding: 0pt ! important;
            border: 0pt none;
            background: transparent none ! important;
        }
        .ux-grow-tb .x-toolbar table{
            table-layout: auto;
            height: 21px;    
        }

        .ext-ie .ux-grow-tb {
            vertical-align:top ! important;
        }
.ext-gecko .x-window-body .x-form-item {
overflow:hidden;
}

/*
        These are examples of styles for the button icons
*/
.x-edit-table {background: url(../../images/admin/oxygen/16x16/actions/insert-table.png) 0 0 no-repeat !important;}
.x-edit-hr {background: url(../../images/admin/oxygen/16x16/actions/ruler.png) 0 0 no-repeat !important;}
.x-edit-image {background: url(../../images/admin/oxygen/16x16/actions/insert-image.png) 0 0 no-repeat !important;}
/*
        These styles are used for the character map
*/
.char-item {
        float: left;
        border: 1px solid #99BBE8;
        margin: 3px;
        text-align: center;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        font-size: 14px;
        color: #15428B;
        cursor: pointer;
}

.char-item.x-view-selected {
        background-color: #777;
}

.char-over {
        border: 1px solid #15428B;
        background-color:#d0def0;
}

#x-form-el-self_name_sum1 div div, #x-form-el-self_name_sum2 div div, #x-form-el-self_name_sum3 div div, #x-form-el-self_name_sum4 div div, #x-form-el-self_name_sum5 div div {
    height: 80px !important;
}

#x-form-el-self_name_sum1 div div div,#x-form-el-self_name_sum2 div div div,#x-form-el-self_name_sum3 div div div,#x-form-el-self_name_sum4 div div div,#x-form-el-self_name_sum5 div div div {
    position:absolute !important;
}