.action_delThisFilter {
    /*background-image:url(../../../images/oxygen/16x16/actions/edit-clear-locationbar-rtl.png) !important;*/
    background-image:url(/images/admin/minus-gray.png) !important;
}

.action_delAllFilter {
    background-image:url(/images/admin/x-gray.png) !important;
}

.action_addFilter {
    background-image:url(/images/admin/plus-gray.png) !important;
}

.action_saveFilter {
    background-image:url(/images/admin/oxygen/16x16/actions/document-save.png) !important;
}

.action_startFilter {
    background-image:url(/images/admin/oxygen/16x16/actions/edit-find.png) !important;
}

.tw-filtertoolbar  { 
	
}


.tw-filtertoolbar  td { 
	padding: 0px 5px 1px;
}

.tw-filtertoolbar .tw-ftb-frow-pbutton { 
    padding: 0px 0px 0px;
}

.tw-filtertoolbar .tw-ftb-frow-mbutton { 
    padding: 0px 0px 0px;
}

.tw-filtertoolbar .tw-ftb-frow-prefix {
	text-align: right;
}

/* fix Ext.Button Layout */
.tw-filtertoolbar .x-btn td {
    padding: 0px;
}
.tw-filtertoolbar .x-btn-icon .x-btn-center {
    padding:1px;
}