<div class="row">
        <div class="span3"><?= $this->partial ( 'sidenav.phtml', array ('shop' => $this->shop, 'showShop' => $this->showShop)); ?></div>
        <div class="span9"><h3>Meine Themenshops</h3><?= $this->partial ( 'market_tabs.phtml', array ('shop' => $this->shop, 'showShop' => $this->showShop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );?>
<ul class="thumbnails">
<?php foreach ($this->myshops as $shopdetail): ?>
<?php echo $this->partial('market/_marketlistitem.phtml', array('shopdetail' => $shopdetail, 'shop' => $this->shop, 'designPath' => $this->designPath, 'action' => 'index')) ?>
<?php endforeach; ?>
</ul>
</div>
</div>