<?php
/**
 * /overview/index.phtml
 * 
 * Startpunkt einer Prokduktgruppe
 * Gibt aus:
 * 
 * a) info zur aktuellen Produktegruppe
 * b) Unterproduktgruppenn (wenn verfügbar)
 * c) artikel in dieser Gruppe
 */
?>
<div class="row">
     
        <div class="col-xs-12" id="produktbeschreibung">
            
                <?php 
                
                if($this->articlegroup && $this->articlegroup->title)
                {
                        if($this->articlegroup->display_title)
                        {
                            echo '<h1>' . $this->articlegroup->title  . '</h1>';

                                /** Vorschaubild-Gross ausgeben **/ 
                          if ($this->articlegroup->image != "")
                          {
                               
                            echo '<div id="articlegroup_image_big">' . $this->image()->thumbnailImage($this->articlegroup->title, 'articlelist_overview_box', $this->articlegroup->image) . '</div>'; 
                          }
                          
                          
                          if ($this->articlegroup->text != "") {
                          
                               echo '<p>'.$this->articlegroup->text . '</p>';
                  
                          }
                      }

                      
                
           }; ?>
            
                     
       </div>    
    
    
    <?php

          if (count($this->articlegroupss) > 0):
    
    ?>
    <div class="col-xs-12" id="overview_index-article">              
            <div class="panel panel-default">
                      <div class="panel-body">

		  
            <?php foreach ($this->articlegroupss as $articlegroup): ?>
			    <?= $this->partial('article/_articlegrouplistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'articlegroup' => $articlegroup, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>
			<?php endforeach; ?>

		            </div>
              </div>    
        </div> 


         <?php endif; ?> 
    
 
    
       <?php 
        /**
        * Produkte in dieser Gruppe
         */ 
       if (count($this->articles) > 0 ):
       ?>     
        <div class="col-xs-12" id="overview_index-article">              
            <div class="panel panel-default">    
                <?php if($this->articlegroup->title): ?>
                    <div class="panel-heading">Produkte in <?php echo $this->articlegroup->title ?></div>
                <?php endif; ?>
                      <div class="panel-body">
                           
                                <?php foreach ($this->articles as $article): ?>
                                       <?= 
                                            // $this->partial('article/_articlelistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop)) 
                                            $this->partial('article/_articlelistitem_produktuebersicht.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop));
                                        ?>
                                <?php endforeach; ?>      

                      </div>
              </div>    
        </div> 
	<?php endif; ?>
    
	 
    
    
        <?php 
	/**
        * und "private" / persönliche Artikel
        */ 
	
	/*
	echo 'Zend_Auth::getInstance()->hasIdentity()==true :' . Zend_Auth::getInstance()->hasIdentity()==true ;
	echo '<hr>';
	echo 'count($this->myarticles):' . count($this->myarticles);
	echo '<hr>';
	*/
	if(Zend_Auth::getInstance()->hasIdentity()==true  AND count($this->myarticles) > 0 ):
       ?>     
        <div class="col-xs-12" id="overview_index-article">              
            <div class="panel panel-default">    
                      <div class="panel-body">
                           
                                <?php foreach ($this->myarticles as $article): ?>
                                       <?= 
                                            //  echo $this->partial('article/_articlelistitem.phtml', array('admin' => $this->admin, 'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'myarticle' => true, 'designPath' => $this->designPath, 'shop' => $this->shop))
                                            $this->partial('article/_articlelistitem_produktuebersicht.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'myarticle' => true, 'designPath' => $this->designPath, 'shop' => $this->shop));
                                        ?>
                                <?php endforeach; ?>      

                      </div>
              </div>    
        </div> 
        <?php endif; ?>
    
 
    
</div>