<script type="text/javascript">
 var sid = <?php echo $this->sid ?>;
</script>
<?php
$this->headScript()->appendFile('/scripts/vendor/tine/AppManager.js');
$this->headScript()->appendFile('/scripts/vendor/tine/Models.js');
$this->headScript()->appendFile('/scripts/vendor/tine/data/Record.js');
$this->headScript()->appendFile('/scripts/vendor/tine/data/RecordProxy.js');
$this->headScript()->appendFile('/scripts/admin/queue/model.js');
$this->headScript()->appendFile('/scripts/vendor/tine/widgets/app/GridPanel.js');
$this->headScript()->appendFile('/scripts/admin/queue/all.js');
?>
<div id="queueslist"></div>