<div class="col-sm-12">
<h1><?php echo $this->translate('Uups! Diese Seite gibt es wohl nicht mehr.')?></h1>
<p><?php echo $this->translate('Leider konnte die von Ihnen gew&uuml;nschte Seite nicht aufgefunden werden. Vielleicht handelt es sich um einen veralteten Link oder einen Fehler.</p>
<p>Eventuell hat sich auch der Fehlerteufel mit einem Tippfehler in der Adressleiste eingeschlichen.')?></p>
<p><a href="/"><?php echo $this->translate('Hier gelangen Sie zur&uuml;ck zur Startseite')?></a></p>
</div>