<style>
#mysettings dd#rech-element {
    width: 100%;
    display: unset;
}
</style>
<h1><?php echo $this->translate('Als Gast bestellen') ?></h1>
 


    <?php if($this->finish != true): ?>
      <div class="bg-info" style="padding:1em;">
             <?php echo $this->translate('Bitte geben Sie Ihre Daten ein!') . ' &ndash; ' . $this->translate('Mit * gekennzeichnete Felder sind Pflichtfelder!'); ?>
        </div><br /><br />


        <section id="mysettings">
            <?php 
                    EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
                     
		    //echo $this->form->render();
		   $owd_FORM =  $this->form->setAttrib('class', 'niceform form-horizontal')->render();
		   echo str_replace(	array('Telefon:', 'class="control-group', 'class="controls', 'class="control-label'),
					array('Telefon', 'class="control-group form-group', 'class="controls col-xs-12 col-sm-9', 'class="control-label col-xs-12 col-sm-3'), 
						$owd_FORM ); 
            ?>
        </section>

    <?php else: ?>

         <div class="bg-info" style="padding:1em;">
             <?php echo $this->translate('Thank you for register') ?>
         </div>

    <?php endif; ?>
