<h1><?php echo $this->translate('Login') ?></h1>
<?php if(Zend_Auth::getInstance()->hasIdentity()==false): ?>
<div id="BlueBox"><?php echo $this->translate('Please fill out the Form') ?></div>
<?php echo $this->form->render();?>
<div id="BlueBox">
<a href="/user/register<?php if($this->mode) echo '?mode=basket'; ?>"><?php echo $this->translate('Register') ?></a>
</div>
<?php else: ?>
<div id="BlueBox"><?php echo $this->translate('You are logged in') ?></div>
<hr>
<div id="BlueBox">
<a href="/user/myoverview"><?php echo $this->translate('Admin') ?></a>
</div>
<?php endif; ?>
