<?= $this->partial ( 'user_tabs.phtml', array ('shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );?>

	<h2><?php echo $this->translate('Rechnungsadressen')?></h2>
        <table class="table table-striped">
            <thead>
                <tr>
                <th><?php echo $this->translate('Firma')?></th>
                <th><?php echo $this->translate('Name')?></th>
                <th><?php echo $this->translate('Adresse')?></th>
                <th><?php echo $this->translate('Land')?></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($this->invoice_addresses as $address): ?>
                <tr class="<?php echo $this->cycle(array("odd","even"))->next() ?>">
                <td><?php echo $this->text()->truncate_text($address->company,27) ?></td>
                <td><?php echo $address->firstname . ' ' . $address->lastname ?></td>
                <td><?php echo $address->street . ' ' . $address->zip ?></td>
                    <td><?php echo $address->country ?></td>
                    <td style="text-align: right"><a <?php echo ($this->user->standart_invoice == $address->id)? 'title="'.$this->translate('Adresse ist Standard').'" class="btn btn-success"': 'title="'.$this->translate('Adresse als Standard setzen').'" class="btn btn-warning"'; ?> href="/user/setaddressasdefault/invoice/<?php echo $address->uuid ?>"><i class="fa fa-plus"></i></a> <a title="<?php echo $this->translate('Adresse bearbeiten')?>" class="btn btn-info" href="/user/addaddress/<?php echo $address->uuid ?>/1"><i class="fa fa-edit"></i></a> <a title="<?php echo $this->translate('Adresse l&ouml;schen')?>" class="btn btn-danger" href="/user/deladdress/<?php echo $address->uuid ?>"><i class="fa fa-trash"></i></a></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
	<br/>
	<div style="float: right"><a href="/user/addaddress//1" class="btn btn-success btn-large"><i class="icon-plus-sign icon-white"></i> <?php echo $this->translate('Neue Adresse anlegen')?></a></div>
    <?php if($this->shop->display_delivery): ?>
    <div style="clear:both"></div>
    <h2><?php echo $this->translate('Lieferadressen')?></h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th><?php echo $this->translate('Firma')?></th>
                <th><?php echo $this->translate('Name')?></th>
                <th><?php echo $this->translate('Adresse')?></th>
                <th><?php echo $this->translate('Land')?></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <?php foreach($this->delivery_addresses as $address): ?>
                <tr class="<?php echo $this->cycle(array("odd","even"))->next() ?>">
                <td><?php echo $this->text()->truncate_text($address->company,27) ?></td>
                <td><?php echo $address->firstname . ' ' . $address->lastname ?></td>
                <td><?php echo $address->street . ' ' . $address->zip ?></td>
                    <td><?php echo $address->country ?></td>
                    <td style="text-align: right"><a <?php echo ($this->user->standart_delivery == $address->id)? 'title="'.$this->translate('Adresse ist Standard').'" class="btn btn-success"': 'title="'.$this->translate('Adresse als Standard setzen').'" class="btn btn-warning"'; ?> href="/user/setaddressasdefault/delivery/<?php echo $address->uuid ?>"><i class="fa fa-plus"></i></a> <a title="<?php echo $this->translate('Adresse bearbeiten')?>" class="btn btn-info" href="/user/addaddress/<?php echo $address->uuid ?>/2"><i class="fa fa-edit"></i></a> <a title="<?php echo $this->translate('Adresse l&ouml;schen')?>" class="btn btn-danger" href="/user/deladdress/<?php echo $address->uuid ?>"><i class="fa fa-trash"></i></a></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
	<br/>
	<div style="float: right"><a href="/user/addaddress//2" class="btn btn-success btn-large"><i class="icon-plus-sign icon-white"></i> <?php echo $this->translate('Neue Adresse anlegen')?></a></div>
    <?php endif; ?>
    <?php if($this->shop->display_sender): ?>
    <div style="clear:both"></div>
	<br/>
    <h2><?php echo $this->translate('Absendeadressen')?></h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th><?php echo $this->translate('Firma')?></th>
                <th><?php echo $this->translate('Name')?></th>
                <th><?php echo $this->translate('Adresse')?></th>
                <th><?php echo $this->translate('Land')?></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <?php foreach($this->sender_addresses as $address): ?>
                <tr class="<?php echo $this->cycle(array("odd","even"))->next() ?>">
                <td><?php echo $this->text()->truncate_text($address->company,27) ?></td>
                <td><?php echo $address->firstname . ' ' . $address->lastname ?></td>
                <td><?php echo $address->street . ' ' . $address->zip ?></td>
                    <td><?php echo $address->country ?></td><td style="text-align: right"><a <?php echo ($this->user->standart_sender == $address->id)? 'title="'.$this->translate('Adresse ist Standard').'" class="btn btn-success"': 'title="'.$this->translate('Adresse als Standard setzen').'" class="btn btn-warning"'; ?> href="/user/setaddressasdefault/sender/<?php echo $address->uuid ?>"><i class="fa fa-plus"></i></a> <a title="<?php echo $this->translate('Adresse bearbeiten')?>" class="btn btn-info" href="/user/addaddress/<?php echo $address->uuid ?>/3"><i class="fa fa-edit"></i></a> <a title="<?php echo $this->translate('Adresse l&ouml;schen')?>" class="btn btn-danger" href="/user/deladdress/<?php echo $address->uuid ?>"><i class="fa fa-trash"></i></a></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
	<br/>
	<div style="float: right"><a href="/user/addaddress//3" class="btn btn-success btn-large endbtn"><i class="icon-plus-sign icon-white"></i> <?php echo $this->translate('Neue Adresse anlegen')?></a></div>
    <?php endif; ?>
	<div style="clear:both"></div>