<?= $this->partial ( 'user_tabs.phtml', array ('shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );?>
<?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?><div class="myorders">
<hr>
    <style type="text/css">
        .articlelistimg {
            width: 400px;
        }
    </style>
    <table class="table table-striped">
        <thead>
            <tr>
            <th align="left"><?php echo $this->translate('Auftragsnummer') ?></th>
            <th align="left"><?php echo $this->translate('Datum') ?></th>
            <th align="left"></th>
            <th align="left"><?php echo $this->translate('Zahlart') ?></th>
            <th align="left"></th>
            <th align="left"></th>
            </tr>
        </thead>
        <tbody>
        <?php foreach($this->orders as $order): ?>
            <tr class="<?php echo $this->cycle(array("odd","even"))->next()?>">
                <td align="left" width="50" valign="top"><?php echo $order['alias'] ?></td>
                <td align="left" width="50" valign="top"><?php echo $this->date($order['created'])->toString(Zend_Date::DATE_SHORT) ?></td>
                <td align="left" valign="top"></td>
                <td align="left" valign="top"><?php echo $order['payment'] ?></td>
                <td align="left" valign="top"></td>
                <td align="left" valign="top"></td>
            </tr>
            <?php
            $i = 0;
            foreach($order['rows'] as $pos):
                $i++;
                ?>
            <tr class="<?php echo $this->cycle(array("odd","even"))?>">
                <td align="right" width="50" valign="top">Position <?= $i ?></td>
                <td align="left" width="50" class="image" valign="top"><?php if(($pos->Article->typ == 6 && $pos->Article->a6_org_article != 0) || ($pos->Article->typ == 8 && $pos->layouter_mode == true)):
                    echo $this->image()->thumbnailFop($pos->Article->title, 'motivuploadlist', $pos->Article->getMarketFile(), false, $pos->Article->id);
                else:
                    echo $this->image()->thumbnailImage($pos->Article->title, 'motivuploadlist', $pos->Article->file);
                endif;
                    ?></td>
                <td align="left" valign="top">
                    <?php echo $this->translate('Preis Netto').' '.$this->currency->toCurrency($pos['priceallbrutto']-$pos['priceallsteuer']+0) ?><br/>
                    <?php echo $this->translate('Preis Brutto').' '.$this->currency->toCurrency($pos['priceallbrutto']+0) ?><br/>
                    <b><?php echo $this->translate('Dateien:')?></b><br/>
                    <?php foreach($pos->Upload as $upload): ?>
                    <a href="/uploads/<?php echo $this->shop->uid ?>/article/<?php echo $upload->path; ?>" target="_blank"><?php echo $upload->name; ?></a><br/>
                    <?php endforeach; ?>
                </td>
                <td align="left" colspan="2">
                    <b><?php echo $this->translate('Eigenschaften') ?></b><br/>
                    <?php foreach($pos->Article->getOptArray($pos->data) as $key => $value): ?>
                    <?= $value ?><br/>
                    <?php endforeach; ?>
                </td>
                <td align="left" valign="top"><b><?php echo $this->translate('Aktionen'); ?></b><br/>
                    <a href="/article/approval/<?php echo $pos->uuid ?>"><?php echo $this->translate('Freigabe'); ?></a>
                </td>
            </tr>
                <?php endforeach; ?>
        <?php endforeach; ?>
        </tbody>
    </table></div>
<?php endif; ?>

