<div class="row">
    
    <div class="col-xs-12">
	<br>

	    <h1><?php echo $this->translate('Ihr Passwort wurde erfolgreich zurückgesetzt') ?></h1>

	    <br>


	<p>
	    <?php echo $this->translate('Sie erhalten jetzt eine zweite Email mit Ihren neuen Zugangsdaten.')?>
	</p>

	<br>


	<p style="margin-bottom:5em;">
	    <?php echo $this->translate('Weiterhin viel Spaß bei')?> <?php echo $this->shop->name ?>
	</p>


	</div>
</div>