<script type="text/javascript">
    $(function() {

        var data = new Array();
        data['#fragment-1'] = '/user/login';



        $('#tabs').tabs({
            selected: 1,
            select: function(event, ui) {
                var url = data[ui.tab.hash];
                if( url ) {
                    location.href = url;
                    return false;
                }
                return true;
            }
        });

    })
</script>
<style type="text/css">
<!--
#login dd {
	margin-left: 10px;
}
-->
</style>
<div id="tabs">
<ul>
		<li><a href="#fragment-1"><span><?php echo $this->translate('Login') ?></span></a></li>
</ul>
<div id="fragment-1">
<br/>
<h1><?php echo $this->translate('Freischalten') ?></h1>
<?php if(Zend_Auth::getInstance()->hasIdentity()==false): ?>
<div id="BlueBox"><?php echo $this->translate('Please fill out the Form') ?></div>
<?php echo $this->form->render();?>
<div id="BlueBox">
</div>
<?php else: ?>
<div id="BlueBox"><?php echo $this->translate('You are logged in') ?></div>
<hr>
<div id="BlueBox">
<a href="/admin"><?php echo $this->translate('Admin') ?></a>
</div>
<?php endif; ?>
</div>
