<?= $this->partial ( 'myshop/_head.phtml', array ('role' => $this->role, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath, 'current_shop' => $this->current_shop, 'myshop_selector' => $this->myshop_selector ) );?>
<?php

$this->headScript()->prependFile('/'.$this->designPath.'assets/js/mce-link.js');
$this->headScript()->prependFile('/'.$this->designPath.'assets/js/mce-image.js');
$this->headScript()->prependFile('/'.$this->designPath.'assets/js/mce-csswrap.js');
$this->headScript()->prependFile('/'.$this->designPath.'assets/js/mce-table.js');
$this->headScript()->prependFile('/'.$this->designPath.'assets/js/mce-colorpicker.js');
$this->headScript()->prependFile('/'.$this->designPath.'assets/js/mce.js');
$this->headScript()->prependFile('/'.$this->designPath.'assets/js/jquery-ui.js');
$this->headLink()->appendStylesheet('/'.$this->designPath.'assets/css/mce.css');
$this->headLink()->appendStylesheet('/'.$this->designPath.'assets/css/custom-theme/jquery-ui-1.8.16.custom.css');
?>
	<h3>Über uns</h3>
	<?php 
	EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
				$this->form->setAttrib('class', 'form-horizontal');
                $this->form->beschreibung->setAttrib('style','height: 440px;width: 440px;');
				$this->form->save->setAttrib('class', 'btn-success btn-large');
				
				echo $this->form; ?>
</div>
</div>
</div>
<script type="text/javascript">
    $(function() {
        $('#beschreibung').wysiwyg();
    });
</script>