<?= $this->partial ( 'myshop/_head.phtml', array ('role' => $this->role, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath, 'current_shop' => $this->current_shop, 'myshop_selector' => $this->myshop_selector ) );?>


<a class="btn-large pull-right" href="<?php echo $this->backurl ?>">Zurück</a><h2>Slide bearbeiten</h2>
	<?php EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'submit');
				$this->form->setAttrib('class', 'form-horizontal');
                $this->form->text->setAttrib('style','height: 440px;width: 440px;');
				$this->form->save->setAttrib('class', 'btn-success btn-large');
				
				echo $this->form; ?>
</div>
</div>
</div>