<script type="text/javascript">
 var sid = <?php echo $this->sid ?>;
</script>
<?php
if($this->market) {
	$this->headScript()->appendFile('/scripts/admin/article/noaddindex.js');
}else{
	$this->headScript()->appendFile('/scripts/admin/article/index.js');
}
?>
<div id="articleedit" style="visibility:hidden;position:absolute;top:0px;"></div>
<div id="articlelist"></div>