<?php
$this->headScript()->appendFile('/scripts/tp/ux/form/FileUploadField.js');
$this->headScript()->appendFile('/scripts/vendor/editarea/edit_area/edit_area_full.js');
$this->headScript()->appendFile('/scripts/tp/ux/form/EditArea.js');
$this->headLink()->appendStylesheet('/scripts/ext-3.2.0/examples/ux/css/RowEditor.css');
$this->headScript()->appendFile('/scripts/ext-3.2.0/examples/ux/RowEditor.js');
$this->headScript()->appendFile('/scripts/admin/article/langgrid.js');
$this->headScript()->appendFile('/scripts/admin/article/edit.js');
?>
<style>
.x-form-file-wrap {
    position: relative;
    height: 22px;
	/* CHANGE */
	overflow : hidden;
	/* END CHANGE */
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}
</style>
<div id="articleedit"></div>
<form id="file_upload_form" method="post" target="upload_target" enctype="multipart/form-data" action="/admin/article/uploadtp">
<input name="file" id="file" style="position: absolute;margin-left: 550px;margin-top: 33px;z-index: 88888;  width: 100px" type="file" /><input name="uuid_upload" id="uuid_upload" size="27" type="hidden" />
<iframe id="upload_target" name="upload_target" src="" style="width:0;height:0;border:0px solid #fff;"></iframe>
</form>