/** vim: ts=4:sw=4:nu:fdc=4:nospell
 *
 * extjs.eu main css file
 *
 * @author    Ing.Jozef Sakáloš
 * @copyright (c) 2008, by Ing. Jozef Sakáloš
 * @date      5. April 2008
 * @version   $Id: web.css 144 2008-04-07 09:29:55Z jozo $
 */

/* {{{ 
// body and other tags */
body {
	font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
	color: #222222;
	background: #fff !important;
	color: #222222;
	font-size:13px ! important;
	margin:0;padding:0;border:0;
}
a:link, a:visited, a:active {
	color:#1860a8;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
h2 {
	color:083772;
	font-size:20px;
	float:left;
	margin:10px 0 10px 0;
}
/* }}} */
/* {{{ 
// layout */
#ct-wrap {
	text-align:center;
}
#ct {
	margin:auto;
	width:1020px;
	text-align:left;
}
#main-layout table {
	width:100%;
}
.td-north {
}
.td-navlinks {
}
.td-west {
	width:190px;
	vertical-align:top;
}
.td-center {
	width:700px; 
	vertical-align:top;
}
.td-east {
	padding:0 0 0 10px;
	vertical-align:top;
}
.td-south {
	height:30px;
}
/* }}} */
/* {{{
// north */
#north .x-panel-body {
	background: #203d8e;
	color: white;
}
#north .x-panel-body {
	padding:10px;
}
#north-title {
	font-size:24px;
	float:left;
}
/* }}} */
/* {{{
// combos */
#themect {
	float:right;
	margin:4px 0 0 0;
	position:relative;
}
#langct {
	float:right;
	margin: 4px 10px 0 0;
}
/* }}} */
/* {{{
// navlinks */
#navlinks {
	background-color:#ffc800;
	font-size:12px;
	font-family:verdana, sans-serif;
	text-transform:lowercase;
	vertical-align:middle;
	line-height:24px;
}
#navlinks li {
	display:inline;
}
#navlinks a {
	display:block;
	float:left;
	padding:0 15px;
	color:blue;
}
#navlinks a:hover {
	background-color:#ffff40;
	text-decoration:none;
}
/* }}} */
/* {{{
// other elements */
#google-search {
	margin:20px 0;
}
#adsense {
	margin:1px 0 0 0;
	opacity:.8;
	filter:alpha(opacity=80);
	-moz-opacity:.8
}
.cleaner {
	clear:both;
	height:0;
	width:0;
	line-height:0;
	font-size:0;
	margin:0;
	padding:0;
	border:0;
}
#paypal {
/*	text-align:center; */
	margin:20px 0;
	float:left;
}
#digg {
	margin:10px 20px 0 0;
	float:right;
}
#addthis {
	margin: 25px 0 0 0;
	clear:both;
}
/* }}} */
/* {{{
// strict mode fixes */
.ext-strict .ext-gecko .x-form-trigger {
	top:2px;
}
.ext-strict .ext-ie .x-form-trigger {
	top:-1px;
}
.ext-strict .ext-mb-icon {
	margin:0 2px 0 0;
}
/* }}} */

/* eof */
