<?php
if($this->highRole->level >= 35) {
    $this->headScript()->appendFile('/scripts/admin/orders/gridorder.js');
}else{
    $this->headScript()->appendFile('/scripts/admin/orders/gridthemeorder.js');
}
if($this->sid) {
$this->headScript()->appendFile('/scripts/admin/account/gridaccount.js');
$this->headScript()->appendFile('/scripts/admin/contact/gridcontact.js');
}else{
$this->headScript()->appendFile('/scripts/admin/account/gridaccountall.js');
$this->headScript()->appendFile('/scripts/admin/contact/gridcontactall.js');
}
?>
<div id="orderindex"></div>
<div id="accountindex"></div>
<div id="contactindex"></div>
