<?php
$this->headScript()->prependFile('/'.$this->designPath . 'assets/js/ot.js');
?>
<div class="page-header"><h1><?php echo $this->translate('Selling product') ?></h1></div>
<div class="btn-group article_resale">
    <a class="btn" href="/resale/articlestep1"><em>Schritt 1: <?php echo $this->translate('Allgemeine Daten', null, 'article_step_1_pfeil') ?></em><br /></a>
    <a class="btn active" href="#"><em>Schritt 2: <?php echo $this->translate('Kategorien', null, 'article_step_2_pfeil') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 3: <?php echo $this->translate('Martkplatz', null, 'article_step_3_pfeil') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 4: <?php echo $this->translate('Fertigstellen', null, 'article_step_5_pfeil') ?></em><br /></a>
</div>
<br/>
<div id="dialog-form" class="modal hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Neuen Eintrag erstellen</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="control-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-info" data-toggle="modal" id="saveTheme" href="#addAdresse" value="Speichern"/><a href="#" class="btn" data-dismiss="modal">Schließen</a>
    </div>
</div>
<style type="text/css">
<?php if($this->articletheme2name): ?>
#articletheme2add {
display: none;
}
<?php else: ?>
#articletheme2delete, #articletheme2edit {
display: none;
}
<?php endif; ?>
<?php if($this->articletheme3name): ?>
#articletheme3add {
display: none;
}
<?php else: ?>
#articletheme3delete, #articletheme3edit {
display: none;
}
<?php endif; ?>
<?php if($this->articlegroup2name): ?>
#articlegroup2add {
display: none;
}
<?php else: ?>
#articlegroup2delete, #articlegroup2edit {
display: none;
}
<?php endif; ?>
<?php if($this->articlegroup3name): ?>
#articlegroup3add {
display: none;
}
<?php else: ?>
#articlegroup3delete, #articlegroup3edit {
display: none;
}
<?php endif; ?>
</style>
<form class="" id="articlestep2" action="<?php echo $this->form->getAction() ?>" enctype="multipart/form-data" method="POST">
<div class="row">
    <div class="span6">
        <h3>A: <?php echo $this->translate('Produktgruppen') ?></h3>
        <div><input id="articlegroup" name="articlegroup" type="hidden"/></div>
        <b>Produktgruppe 1:</b><input name="articlegroup1" type="hidden" id="articlegroup1" value="<?php echo $this->form->articlegroup1->getValue() ?>"/><span id="articlegroup1_name"><?php echo $this->articlegroup1name; ?></span> <a title="Ändern" class="btn btn-warning btn-mini" href="#" onclick="javascript:$('#articlegroup').optionTree(0, {mode:'articlegroups', field: 'articlegroup1', select: 'articlegroup'}); return false;"> <i class="icon-pencil"></i></a><br/>
        <b>Produktgruppe 2:</b><input name="articlegroup2" type="hidden" id="articlegroup2" value="<?php echo $this->form->articlegroup2->getValue() ?>"/><span id="articlegroup2_name"><?php echo $this->articlegroup2name; ?></span> <a title="Hinzufügen" class="btn btn-success btn-mini" id="articlegroup2add" href="#" onclick="javascript:$('#articlegroup').optionTree(0, {mode:'articlegroups', field: 'articlegroup2', select: 'articlegroup'}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" class="btn btn-warning btn-mini" id="articlegroup2edit" href="#" onclick="javascript:$('#articlegroup').optionTree(0, {mode:'articlegroups', field: 'articlegroup2', select: 'articlegroup'}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" id="articlegroup2delete" class="btn btn-danger btn-mini" href="#" onclick="javascript:$('#articlegroup').optionTree(0, {mode:'articlegroups', field: 'articlegroup2',clear: true, select: 'articlegroup'}); return false;"> <i class="icon-remove"></i></a><br/>
        <b>Produktgruppe 3:</b><input name="articlegroup3" type="hidden" id="articlegroup3" value="<?php echo $this->form->articlegroup3->getValue() ?>"/><span id="articlegroup3_name"><?php echo $this->articlegroup3name; ?></span> <a title="Hinzufügen" class="btn btn-success btn-mini" id="articlegroup3add" href="#" onclick="javascript:$('#articlegroup').optionTree(0, {mode:'articlegroups', field: 'articlegroup3', select: 'articlegroup'}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" class="btn btn-warning btn-mini" id="articlegroup3edit" href="#" onclick="javascript:$('#articlegroup').optionTree(0, {mode:'articlegroups', field: 'articlegroup3', select: 'articlegroup'}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" id="articlegroup3delete" class="btn btn-danger btn-mini" href="#" onclick="javascript:$('#articlegroup').optionTree(0, {mode:'articlegroups', field: 'articlegroup3',clear: true, select: 'articlegroup'}); return false;"> <i class="icon-remove"></i></a>
    </div>
    <div class="span6">
        <br/><h4>Wieso brauchen Sie eine Produktgruppe?</h4><p>Wählen Sie die Produktgruppe aus Ihrer Navigation, unter der Ihr Produkt zu finden ist oder legen Sie mit hinzufügen eine neue Produktgruppe an. Soll Ihr Produkt unter mehreren Produktgruppen zu finden sein nutzen Sie das Plus-Icon um eine weitere Produktgruppe zu bestimmen.</p>
    </div>
</div>
<br/>
<div class="row">
    <div class="span6">
        <h3>B: <?php echo $this->translate('Produktthemen') ?></h3>
        <div><input id="themes" name="themes" type="hidden"/></div>
        <b>Produktthema 1:</b><input name="articletheme1" type="hidden" id="articletheme1" value="<?php echo $this->form->articletheme1->getValue() ?>"/><span id="articletheme1_name"><?php echo $this->articletheme1name; ?></span> <a title="Ändern" class="btn btn-warning btn-mini" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'articletheme1', select: 'themes'}); return false;"> <i class="icon-pencil"></i></a><br/>
        <b>Produktthema 2:</b><input name="articletheme2" type="hidden" id="articletheme2" value="<?php echo $this->form->articletheme2->getValue() ?>"/><span id="articletheme2_name"><?php echo $this->articletheme2name; ?></span> <a title="Hinzufügen" class="btn btn-success btn-mini" id="articletheme2add" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'articletheme2', select: 'themes'}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" id="articletheme2edit" class="btn btn-warning btn-mini" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'articletheme2', select: 'themes'}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" id="articletheme2delete" class="btn btn-danger btn-mini" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'articletheme2',clear: true, select: 'themes'}); return false;"> <i class="icon-remove"></i></a><br/>
        <b>Produktthema 3:</b><input name="articletheme3" type="hidden" id="articletheme3" value="<?php echo $this->form->articletheme3->getValue() ?>"/><span id="articletheme3_name"><?php echo $this->articletheme3name; ?></span> <a title="Hinzufügen" class="btn btn-success btn-mini" id="articletheme3add" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'articletheme3', select: 'themes'}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" id="articletheme3edit" class="btn btn-warning btn-mini" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'articletheme3', select: 'themes'}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" id="articletheme3delete" class="btn btn-danger btn-mini" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'themes', field: 'articletheme3',clear: true, select: 'themes'}); return false;"> <i class="icon-remove"></i></a>
    </div>
    <div class="span6">
        <br/><h4>Wieso brauchen Sie ein Produktthema?</h4><p>Wählen Sie die Produktthema aus Ihrer Navigation, unter der Ihr Produkt zu finden ist oder legen Sie mit hinzufügen eine neues Produktthema an. Soll Ihr Produkt unter mehreren Produktthemen zu finden sein nutzen Sie das Plus-Icon um eine weiteres Produktthema zu bestimmen.</p>
    </div>
</div>

<input id="addid" name="addid" value="0" type="hidden"/><br>
<input type="submit" class="btn btn-warning btn-large" value="Zurück" onclick="document.location.href='/resale/articlestep1'; return false" /> <input type="submit" class="btn btn-success btn-large" value="<?php echo $this->translate("weiter") ?>"/>
</form>
<script>
	$().ready(function(){

		$('#articlegroup').optionTree(0, {mode:'articlegroups', field: 'articlegroup1', select: 'articlegroup'});

		$('#themes').optionTree(0, {mode:'themes', field: 'articletheme1', select: 'themes'});

		
		function updateTips(t) {
			tips
				.text(t)
				.addClass('ui-state-highlight');
			setTimeout(function() {
				tips.removeClass('ui-state-highlight', 1500);
			}, 500);
		}
		
		
		function checkLength(o,n,min,max) {

			if ( o.val().length > max || o.val().length < min ) {
				o.addClass('ui-state-error');
				updateTips("Länge von " + n + " muß zwischen "+min+" und "+max+" sein.");
				return false;
			} else {
				return true;
			}

		}

		function checkRegexp(o,regexp,n) {

			if ( !( regexp.test( o.val() ) ) ) {
				o.addClass('ui-state-error');
				updateTips(n);
				return false;
			} else {
				return true;
			}

		}

		var name = $("#name"),
		allFields = $([]).add(name),
		tips = $(".validateTips");

        $("#saveTheme").click(function(){

            var bValid = true;

            bValid = bValid && checkLength(name,"name",3,16);

            //bValid = bValid && checkRegexp(name,/^[a-z]([0-9a-z_öüäÖÜÄ])+$/i,"");

            if (bValid) {
                var url = 'savearticletheme';
                if($("#dialog-form").data('select') == 'articlegroup') {
                    var url = 'savearticlegroup';
                }
                $.ajax({
                        url: "/resale/" + url + "/format/json",
                        global: false,
                        type: "POST",
                        data: ({parent_id : $('#dialog-form').data('parent'), title: name.val(), save: 1}),
                        dataType: "json",
                        success: function(msg){
                            $('#'+$("#dialog-form").data('select')).optionTree(0, {mode: $("#dialog-form").data('mode'), field: $("#dialog-form").data('field'), select: $("#dialog-form").data('select')});
                            $('#dialog-form').modal('hide');
                            name.parent().removeClass('error');
                        }
                    }
                )
            }else{
                name.parent().addClass('error');
            }


        });

		
	});
  </script>