<div class="page-header"><h1><?php echo $this->translate('Wie möchten Sie vorgehen?') ?></h1></div>

<div class="row overview">
    <?php if($this->hasShop): ?>
	<div class="span6"><div class="well">
		<h1><?php echo $this->translate('Vorhanden Shop verwenden') ?></h1>
		<p>
			<?php echo $this->translate('resale box 1') ?>
		</p>
		<a class="btn btn-info btn-large" href="<?php echo $this->url(array(), 'resale_articlestep1'); ?>"><?php echo $this->translate('Los geht´s') ?></a>
	</div></div>
	<?php endif; ?>
	
		
	<div class="span6"><div class="well">
		<h1><?php echo $this->translate('Neuen Shop erstellen') ?></h1>
		<p>
			<?php echo $this->translate('resale box 3') ?>	
		</p>
		<a class="btn btn-info btn-large" href="<?php echo $this->url(array(), 'resale_shopstep0'); ?>"><?php echo $this->translate('Los geht´s') ?></a>
	</div></div>

</div>

<input type="submit" class="btn btn-warning btn-large" onclick="history.back()" value="Zurück" />