<div class="page-header"><h1><?php echo $this->translate('Motivverkauf') ?></h1></div>
<div class="btn-group basket">
    <a class="btn" href="/resale/motivstep2"><em>Schritt 1: <?php echo $this->translate('Name, Preis usw.') ?></em><br /></a>
    <a class="btn" href="/resale/motivstep21"><em>Schritt 2: <?php echo $this->translate('Motive einsortieren') ?></em><br /></a>
    <a class="btn active" href="#"><em>Schritt 3: <?php echo $this->translate('Fertigstellen und losstarten') ?></em><br /></a>
</div>
<br/>
<p>
Alles OK? Wenn nicht gelangen Sie über die Bestellschritte wieder zurück und können Ihre Daten überarbeiten.<br/>
Hier können Sie sich über unseren Nutzungsvertrag f&uuml;r Bildrechte informieren und Ihren Motiv Verkauf abschließen.
</p>
<pre class="pre-scrollable"><?= $this->shop->Install->getMotivAgb() ?></pre>
<form method="post" action="/resale/motivstep3" enctype="application/x-www-form-urlencoded" id="articlestep5">
<h4><?php echo $this->translate('Bitte akzeptieren Sie unseren Nutzungsvertrag für Bildrechte:') ?><br /></h4>
<div class="control-group <?php if($this->error): ?>error<?php endif; ?>"><div class="controls"><label class="checkbox">
<input type="checkbox" class="required" id="agb1" value="1" name="agb1"> <span class="help-inline">Ich akzeptiere den Nutzungsvertrag</span>
</label></div>     </div>
<br /><br />
<div id="captcha"  class="control-group <?php if($this->error): ?>error<?php endif; ?>">
<?php echo $this->form->cp ?>
</div>

<input type="submit" class="btn btn-warning btn-large" value="Zurück" onclick="document.location.href='/resale/motivstep21'; return false" /> <input type="submit" class="btn btn-success btn-large" value="<?php echo $this->translate("Motive verkaufen") ?>"/>
</form>
