<!-- The Templates plugin is included to render the upload/download listings -->
<?php

$this->headScript()->prependFile('/'. $this->designPath . '/motivstep1.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/locale.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/jquery.fileupload-video.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/jquery.fileupload-audio.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/jquery.fileupload-image.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/jquery.fileupload-process.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/jquery.fileupload-ui.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/jquery.fileupload.js');

$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/jquery.iframe-transport.js');
$this->headScript()->prependFile('/'. $this->designPath . '/assets/uploader/js/vendor/jquery.ui.widget.js');
$this->headLink()->appendStylesheet('/'. $this->designPath . '/assets/uploader/css/jquery.fileupload-ui.css');
?>

<div class="col-xs-12 " style="margin-bottom: 2em">
    
    	<h4><?php echo $this->translate('Motiv Upload') ?></h4>
        
	<?= $this->partial ( 'motiv_tabs.phtml', array ('shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => 4, 'myfavcount' => $this->myfavcount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );?>
	<br>
	<p>So fügen Sie eigene Motive hinzu:</p>
	<ol>
	    <li>Wählen Sie Dateien von Ihrem Rechner aus, indem Sie auf "Dateien hinzufügen" klicken.</li>
	    <li>Klicken Sie auf "Hochladen starten"</li>
	    <li>Wenn Sie mit den hochgeladenen Dateien zufrieden sind, bestätigen Sie zuletzt mit "Motive speichern"</li>
	</ol>
	<br>
	<form id="fileupload" action="/motiv/resaleuploadbeginboostrap/format/json" method="POST" enctype="multipart/form-data">
	    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
	    <div class="fileupload-buttonbar">
 
		<div>
		    <!-- The fileinput-button span is used to style the file input field as button -->
		    <span class="btn btn-success btn-sm fileinput-button">
			<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
			<span>Dateien hinzufügen...</span>
			<input type="file" name="files[]" multiple>
		    </span>

		    <button type="submit" class="btn btn-primary  btn-sm start">
			<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>	
			<span>Hochladen starten</span>
		    </button>

		    <button type="reset" class="btn btn-warning  btn-sm cancel">
			<span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
			<span>Hochladen abbrechen</span>
		    </button>

		    <button type="button" class="btn btn-danger  btn-sm delete">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			<span>Löschen</span>
		    </button>

		    <input type="checkbox" class="toggle">

		</div>

		<!-- The global progress information -->
		<div class="fileupload-progress fade">
		    <!-- The global progress bar -->
		    <div class="progress progress-success progress-striped active">
			<div class="bar" style="width:0%;"></div>
		    </div>
		    <!-- The extended global progress information -->
		    <div class="progress-extended">&nbsp;</div>
		</div>

	    </div>
	    
	    <!-- The loading indicator is shown during file processing -->
	    <div class="fileupload-loading"></div>
	    <br>
	    <!-- The table listing the files available for upload/download -->
	    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
	</form>




	<!-- The template to display files available for upload -->
	<script id="template-upload" type="text/x-tmpl">
	    {% for (var i=0, file; file=o.files[i]; i++) { %}
	    <tr class="template-upload fade">
		<td class="preview"><span class="fade"></span></td>
		<td class="name"><span>{%=file.name%}</span></td>
		<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
		{% if (file.error) { %}
		<td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
		{% } else if (o.files.valid && !i) { %}
		<td>
		    <div class="progress progress-success progress-striped active"><div class="bar" style="width:0%;"></div></div>
		</td>
		<td class="start">{% if (!o.options.autoUpload) { %}
		    <button class="btn tn-sm btn-primary start">
			<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
			<span>{%=locale.fileupload.start%}</span>
		    </button>
		    {% } %}</td>
		{% } else { %}
		<td colspan="2"></td>
		{% } %}
		<td class="cancel">{% if (!i) { %}
		    <button class="btn btn-sm btn-warning">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>   
			<span>{%=locale.fileupload.cancel%}</span>
		    </button>
		    {% } %}</td>
	    </tr>
	    {% } %}
	</script>



	<!-- The template to display files available for download -->
	<script id="template-download" type="text/x-tmpl">
	    {% for (var i=0, file; file=o.files[i]; i++) { %}
	    <tr class="template-download fade">
		{% if (file.error) { %}
		<td></td>
		<td class="name"><span>{%=file.name%}</span></td>
		<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
		<td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
		{% } else { %}
		<td class="preview">{% if (file.thumbnail_url) { %}
		    <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="/{%=file.thumbnail_url%}"></a>
		    {% } %}</td>
		<td class="name">
		    <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
		</td>
		<td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
		<td colspan="2"></td>
		{% } %}
		<td class="delete">
		    <button class="btn btn-sm btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			<span>Löschen</span>
		    </button>
		    <input type="checkbox" name="delete" value="1">
		</td>
	    </tr>
	    {% } %}
	</script>
	
	

	<form id="motivstep1" action="" enctype="multipart/form-data" method="POST">
	    <input class="btn btn-info btn-large" type="submit" name="finish" id="submit" value="Motive speichern"><br>
	</form>

</div>