<div class="page-header"><h1><?php echo $this->translate('3 Schritte zu Ihrem Shop') ?></h1></div>
<div class="btn-group basket">
    <a class="btn active" href="#"><em>Schritt 1: <?php echo $this->translate('Auswahl Shoptyp') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 2: <?php echo $this->translate('Allgemeine Daten') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 3: <?php echo $this->translate('Fertigstellen') ?></em><br /></a>
</div>
<br/>
<div class="row">
    <div class="span5">
        <form method="post" action="" class="niceform" enctype="application/x-www-form-urlencoded" id="shopstep0">

    <?php
            $this->form->setAttrib('class', 'form-horizontal');
            EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'Weiter');
            echo $this->form->type ?>

    <input type="submit" value="weiter" class="btn btn-success" name="Weiter">
    </form>
    </div>
    <div class="span5"><h3>So geht's</h3><p>Wenn sie einen für jeden zugänglichen Shop eröffnen möchten und Ihre Produkte und Motive eventuell auch auf dem Marktplatz anbieten möchten, dann ist ein "<b>Offener Themenshop</b>" die richtige Wahl für Sie. <br/><br/>Möchten Sie einen Shop eröffnen, in dem z.B. nur Mitarbeiter Ihrer Firma einkaufen können, dann wählen Sie "<b>Passwortgeschützter Mandantenshop</b>" aus.</p></div>

</div>