<?php
$this->headScript()->prependFile('/'.$this->designPath . 'assets/js/ot.js');
?>
<style type="text/css">
    <?php if($this->shoptype != 2): ?>
        <?php if($this->shoptheme2name): ?>
        #shoptheme2add {
            display: none;
        }
            <?php else: ?>
        #shoptheme2delete, #shoptheme2edit {
            display: none;
        }
            <?php endif; ?>
        <?php if($this->shoptheme3name): ?>
        #shoptheme3add {
            display: none;
        }
            <?php else: ?>
        #shoptheme3delete, #shoptheme3edit {
            display: none;
        }
            <?php endif; ?>
        <?php endif; ?>
</style>
<div class="page-header"><h1><?php echo $this->translate('3 Schritte zu Ihrem Shop') ?></h1></div>
<div class="btn-group basket">
    <a class="btn" href="/resale/shopstep0"><em>Schritt 1: <?php echo $this->translate('Auswahl Shoptyp') ?></em><br /></a>
    <a class="btn active" href="#"><em>Schritt 2: <?php echo $this->translate('Allgemeine Daten') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 3: <?php echo $this->translate('Fertigstellen') ?></em><br /></a>
</div>
<br/>
<?php
$this->form->setAttrib('class', 'form-horizontal');
EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'Weiter'); ?>
<?php if($this->shoptype != 2 && $this->shoptype != 3 && $this->shoptype != 4): ?>
<form id="shopstep1" class="form-horizontal" action="<?php echo $this->form->getAction() ?>" enctype="multipart/form-data" method="POST">
<h2>Geben Sie die Grundinformationen zu Ihrem Shop ein</h2>
<br/>
<div class="row">
    <div class="span6">
        <h3>A. <?php echo $this->translate('Shopdaten eingeben') ?></h3>
        <?php echo $this->form->name ?>
        <?php echo $this->form->keywords ?>
        <?php echo $this->form->description ?>
    </div>
    <div class="span6">
        <br/>
        <p>Vergeben Sie einen eindeutigen <strong>Namen</strong>.<br/>
        <strong>Keywords</strong> helfen Anderen Ihren Shop zu finden.<br />
        Mit einer kurzen <strong>Beschreibung</strong> stellen Sie ihren Themenshop vor
        <br />und geben Besuchern eine erste Information was Sie erwartet.</p>
    </div>
</div><br/>
<div class="row">
    <div class="span6">
        <h3>B. <?php echo $this->translate('Logo hochladen') ?></h3>
        <?php echo $this->form->logo ?>
    </div>
    <div class="span6">
        <br/>
        <p>Hinweise zum Shop-Logo/Shop-Banner:</p>
        <p>Dateifomate: JPG, Gif oder PNG<br />
            Max. Größe: 980px x 120px</p>
    </div>
</div><br/>
<div class="row">
    <div class="span6">
        <h3>C. <?php echo $this->translate('Choose your shopthemes') ?></h3>
        <br/><div><input id="themes" name="themes" type="hidden"/></div><br/>
        <b>Shopthema 1:</b><input name="shoptheme1" type="hidden" id="shoptheme1" value="<?php echo $this->form->shoptheme1->getValue() ?>"/><span id="shoptheme1_name"><?php echo $this->shoptheme1name; ?></span> <a title="Ändern" class="btn btn-warning btn-mini" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'shopthemes', field: 'shoptheme1', select: 'themes'}); return false;"> <i class="icon-pencil"></i></a><br/>
        <b>Shopthema 2:</b><input name="shoptheme2" type="hidden" id="shoptheme2" value="<?php echo $this->form->shoptheme2->getValue() ?>"/><span id="shoptheme2_name"><?php echo $this->shoptheme2name; ?></span> <a title="Hinzufügen" class="btn btn-success btn-mini" id="shoptheme2add" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'shopthemes', field: 'shoptheme2', select: 'themes'}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" class="btn btn-warning btn-mini" id="shoptheme2edit" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'shopthemes', field: 'shoptheme2', select: 'themes'}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" id="shoptheme2delete" href="#" class="btn btn-danger btn-mini" onclick="javascript:$('#themes').optionTree(0, {mode:'shopthemes', field: 'shoptheme2',clear: true, select: 'themes'}); return false;"> <i class="icon-remove"></i></a><br/>
        <b>Shopthema 3:</b><input name="shoptheme3" type="hidden" id="shoptheme3" value="<?php echo $this->form->shoptheme3->getValue() ?>"/><span id="shoptheme3_name"><?php echo $this->shoptheme3name; ?></span> <a title="Hinzufügen" class="btn btn-success btn-mini" id="shoptheme3add" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'shopthemes', field: 'shoptheme3', select: 'themes'}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" class="btn btn-warning btn-mini" id="shoptheme3edit" href="#" onclick="javascript:$('#themes').optionTree(0, {mode:'shopthemes', field: 'shoptheme3', select: 'themes'}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" id="shoptheme3delete" href="#" class="btn btn-danger btn-mini" onclick="javascript:$('#themes').optionTree(0, {mode:'shopthemes', field: 'shoptheme3',clear: true, select: 'themes'}); return false;"> <i class="icon-remove"></i></a>
    </div>
    <div class="span6">
        <br/>
        <p>Ordnen Sie hier Ihrem Shop einer oder mehrere Kategorien zu. Damit erleichtern Sie Interessierten Sie leichter zu finden.
            Sie können ein weiteres Thema auswählen in dem Sie das Plus (+) Symbol klicken.</p>
    </div>
</div>
<?php if($this->form->shop_bank): ?><br/>
<div class="row">
    <div class="span6">
        <h3>D.<?php echo $this->translate("Bankverbindung zur Abrechnung") ?></h3>
        <?php echo $this->form->shop_bank->shop_kto ?>
        <?php echo $this->form->shop_bank->shop_bank_name ?>
        <?php echo $this->form->shop_bank->shop_blz ?>
        <?php echo $this->form->shop_bank->shop_bic ?>
        <?php echo $this->form->shop_bank->shop_iban ?>
    </div>
    <div class="span6">
        <br/>
        <p>Zur Abrechnung Ihrer Verkäufe benötigen wir eine Bankverbindung von Ihnen. Bitte geben Sie dass Konto an, auf Ihre eingenommene Provision überwiesen haben möchten.</p>
    </div>

</div>
<?php endif; ?>

    <a class="btn btn-danger btn-large"  href="/resale/shopstep0">zurück</a> <input type="submit" class="btn btn-success btn-large" value="<?php echo $this->translate("weiter") ?>"/>
</form>
<script>
    $().ready(function(){

        $('#themes').optionTree(0, {mode:'shopthemes', field: 'shoptheme1', select: 'themes'});

    });
</script>
<?php else: ?>
<?php echo $this->form ?>
<?php endif; ?>