<div id="shopstep">
<div class="defaultwrap"><h1>3 Schritte zu Ihrem Shop</h1></div>
<ul id="mainNav" class="fourStep"> 
	<li class="done"><a href="/resale/shopstep0"><em>Schritt 1:<br /><?php echo $this->translate('Auswahl Shoptyp') ?></em><span></span></a></li> 
	<li class="lastDone"><a href="/resale/shopstep1"><em>Schritt 2:<br /><?php echo $this->translate('Allgemeine Daten') ?></em><span><span></a></li> 
	<li class="current"><a title=""><em>Schritt 3:<br /><?php echo $this->translate('Auswahl Design') ?></em><span>Wie soll Ihr Shop aussehen</span></a></li> 
	<li class="mainNavNoBg"><a title=""><em>Schritt 4:<br /><?php echo $this->translate('Fertigstellen') ?></em> <span></span></a></li> 
</ul>
<div style="clear:both"></div>
<p><br/><br/></p>

<form class="niceform" enctype="application/x-www-form-urlencoded" action="<?php echo $this->url(array(), 'resale_shopstep2') ?>" method="post"><dl>
	<fieldset id="step2">
		<legend><?php echo $this->translate('Auswahl Design') ?></legend>
	    <table>
		<?php foreach($this->designs as $design): ?>
		<tr>
		    <td><input type="radio" name="design" value="<?php echo $design['name'] ?>"></td><td><?php echo $design['name'] ?></td><td><img src="/styles/vorlagen/<?php echo $design['name'] ?>.png" /></td>
		</tr>
		<?php endforeach; ?>
	    </table><br>
		<input type="submit" value="<?php echo $this->translate('Weiter') ?>"/><div id="backbutton"><a class="backbutton"  href="/resale/shopstep1">zurück</a></div>
	</fieldset>
</form>
</div>