<div class="page-header"><h1><?php echo $this->translate('3 Schritte zu Ihrem Shop') ?></h1></div>
<div class="btn-group basket">
    <a class="btn" href="/resale/shopstep0"><em>Schritt 1: <?php echo $this->translate('Auswahl Shoptyp') ?></em><br /></a>
    <a class="btn" href="/resale/shopstep1"><em>Schritt 2: <?php echo $this->translate('Allgemeine Daten') ?></em><br /></a>
    <a class="btn active" href="#"><em>Schritt 3: <?php echo $this->translate('Fertigstellen') ?></em><br /></a>
</div>
<br/>
<p>
Alles OK? Wenn nicht gelangen Sie über die Bestellschritte wieder zurück und können Ihre Daten überarbeiten.<br/>
Hier können Sie sich über unsere allgemeinen Geschäftsbedingungen informieren und Ihre Bestellung abschließen.
</p>
<pre class="pre-scrollable"><?= $this->shop->Install->agb ?></pre>
<form method="post" action="/resale/shopstep3" class="niceform" enctype="application/x-www-form-urlencoded" id="articlestep5">
<h4><?php echo $this->translate('Bitte akzeptieren Sie unsere allg. Gesch&auml;ftsbedingungen:') ?></h4>
<div class="control-group <?php if($this->error): ?>error<?php endif; ?>"><div class="controls"><label class="checkbox">
<input type="checkbox" class="required" id="agb1" value="1" name="agb1"><span class="checklabel"> <span class="help-inline">Ich akzeptiere die AGBs</span>
</label></div>     </div>
    <br /><br />
    <div id="captcha"  class="control-group <?php if($this->error): ?>error<?php endif; ?>">
<?php echo $this->form->cp ?>
</div>

<input type="submit" class="btn btn-warning btn-large" value="Zurück" onclick="document.location.href='/resale/shopstep1'; return false" /> <input type="submit" class="btn btn-success btn-large" value="<?php echo $this->translate("Shop fertigstellen") ?>"/>
</form>