<?php foreach($this->stats as $sum): ?>
<h3><?php echo $sum['shop']->name ?></h3>
    <?php if(count($sum['umst']) >= 1): ?>
    <script>
    Ext.onReady(function(){

        Ext.chart.Chart.CHART_URL = '/scripts/ext-3.2.0/resources/charts.swf';


        var store = new Ext.data.JsonStore({
            fields:['name', 'visits'],
            data: [
                <?php foreach($sum['umst'] as $stat): ?>
                    {name: 'M: ' + <?php echo ($stat->month*1) ?>, visits: <?php echo round($stat->sum*1) ?>}
                <?php if($sum['umst']->getIterator()->valid()): ?>
                    ,
                <?php endif; ?>
                <?php endforeach; ?>

            ]
        });

        // extra extra simple
        new Ext.Panel({
            title: 'Umsätze',
            renderTo: 'container<?php echo $sum['shop']->id ?>',
            width:500,
            height:300,
            layout:'fit',

            items: {
                xtype: 'columnchart',
                store: store,
                xField: 'name',
                yField: 'visits'
            }
        });
    });
    </script>
    <div id="container<?php echo $sum['shop']->id ?>" style="float: left; padding-right: 20px;"></div>
    <?php endif; ?>
    <?php if(count($sum['top_article']) >= 1): ?>
    <script>
    Ext.onReady(function(){

        Ext.chart.Chart.CHART_URL = '/scripts/ext-3.2.0/resources/charts.swf';


        var store = new Ext.data.JsonStore({
            fields:['name', 'visits'],
            data: [
                <?php foreach($sum['top_article'] as $stat): ?>
                    {name: '<?php echo $stat->title ?>', visits: <?php echo round($stat->visits*1) ?>}
                <?php if($sum['top_article']->getIterator()->valid()): ?>
                    ,
                <?php endif; ?>
                <?php endforeach; ?>

            ]
        });

        // extra extra simple
        new Ext.Panel({
            title: 'Top Produkte',
            renderTo: 'container_top_article<?php echo $sum['shop']->id ?>',
            width:500,
            height:300,
            layout:'fit',

            items: {
                xtype: 'columnchart',
                store: store,
                xField: 'name',
                yField: 'visits'
            }
        });
    });
    </script>
    <div id="container_top_article<?php echo $sum['shop']->id ?>" style="float: left; padding-right: 20px;"></div>
    <?php endif; ?>
    <?php if(count($sum['top_article_buy']) >= 1): ?>
    <script>
    Ext.onReady(function(){

        Ext.chart.Chart.CHART_URL = '/scripts/ext-3.2.0/resources/charts.swf';


        var store = new Ext.data.JsonStore({
            fields:['name', 'visits'],
            data: [
                <?php foreach($sum['top_article_buy'] as $stat): ?>
                    {name: '<?php echo $stat->Article->title ?>', visits: <?php echo round($stat->sum*1) ?>}
                <?php if($sum['top_article_buy']->getIterator()->valid()): ?>
                    ,
                <?php endif; ?>
                <?php endforeach; ?>

            ]
        });

        // extra extra simple
        new Ext.Panel({
            title: 'Top Produkte Verkauft',
            renderTo: 'container_top_article_buy<?php echo $sum['shop']->id ?>',
            width:500,
            height:300,
            layout:'fit',

            items: {
                xtype: 'columnchart',
                store: store,
                xField: 'name',
                yField: 'visits'
            }
        });
    });
    </script>
    <div id="container_top_article_buy<?php echo $sum['shop']->id ?>" style="float: left; padding-right: 20px;"></div>
    <?php endif; ?>
    <br style="clear: both"/>
<?php endforeach; ?>