:root {
    --blue: #0387fa;
    --indigo: #55299b;
    --purple: #824ce6;
    --pink: #e83e8c;
    --red: #ff0019;
    --orange: #ff8200;
    --yellow: #ffc107;
    --green: #06ff40;
    --teal: #20c997;
    --cyan: #000000;
    --black: #000000;
    --darkslategray: #292929;
    --white: #ffffff;
    --whitesmoke: #ffffff;
    --gainsboro: #DEDEDE;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #dc3545;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --navbar: #000000;
    --navbartxt: #ffffff;
    --navbarhover: #dc3545;
    --navbartxthover: #ffffff;
    --footer: #000000;
    --footertxt: #ffffff;
    --topbar: #999999;
    --sylver: #c0c0c0;
    --boxshadow: #ffffff;
    --lightgray: #1f0b0b;
    --rgbblack: 0, 0, 0;
    --rgbwhite: 255, 255, 255;
    --btn: #28a745;
    --btntxt: #ffffff;
    --btnsuccess: #000000;
    --btnsuccesstxt: #ffffff;
    --btnsuccessschadow: 255, 255, 255;
    --btnsubmit: #6c757d;
    --btnsubmittxt: #ffffff;
    --btnhover: #ffffff; 
    --btnhovertxt: #333333;
    --ahover: #000000;
    --ahovertxt: #dc3545;
    --linkcolor: #0387fa;
    --linkcolorhover: #000000;
    /*Gruppen Farbe*/
    --articlegrouplistitem: #dc3545; /*Headerhintergrundfarbe*/
    --articlegrouplistitemtxt: #ffffff; /*Headertextfarbe*/
    --articlegrouplistitembtn: #0084ff; /*Buttonfarbe*/
    --articlegrouplistitembtntxt: #ffffff; /*Buttontextfarbe*/
    --articlegrouplistitembtnhover: #20c997; /*Buttonfarbe Hoveraktion*/
    --articlegrouplistitembtntxthover: #ffffff; /*Buttontextfarbe Hoveraktion*/
    /*Produkt Farbe*/
    --articleproductlistitem: #000000; /*Headerhintergrundfarbe*/
    --articleproductlistitemtxt: #ffffff; /*Headertextfarbe*/
    --articleproductlistitembtn: #17a2b8; /*Buttonfarbe*/
    --articleproductlistitembtntxt: #ffffff; /*Buttontextfarbe*/
    --articleproductlistitembtnhover: #DEDEDE; /*Buttonfarbe Hoveraktion*/
    --articleproductlistitembtntxthover: #000000; /*Buttontextfarbe Hoveraktion*/
    --navbackground: #f8f9fa;
    --footerBig2background: #F7F7F7;
    --footer2background: #F7F7F7;
    --breadcrumbbackground: transparent;
  
    --transparent: transparent;
    --textheader: center;
    --captiontxt: center;
    --groupbtn: block;
    --articlebtn: block;
    --abpreis: block;


/*100% Layout oder Feste Breite Layout*/
/*--maxtopmenusize 1140px;*/ /*Top Menü (Login Register in Bearbeitung Warenkorb)*/
/*--maxtopmenucenter 1140px;*/ /*Top Menü (Login Register in Bearbeitung Warenkorb) wenn 100% = Menü rechts*/
/*--maxtopbannersize 1140px;*/ /*Topbanner-Größe!*/
/*--navmaxcontainersize 1140px;*/ /* Dropdownmenü */
/*--navmaxcontainercenter 1140px;*/ /* Dropdownmenü für Hintergrundfarbe... */
/*--slidercontainer 1140px;*/
/*--maxcontainersize 1170px;*/
/*--footermaxcontainersize 1140px;*/

/*Beispiel 1: 100% Layout*/
    /*--maxtopmenusize: 100%; 
    --maxtopmenucenter: 1120px; 
    --maxtopbannersize: 100%; 
    --navmaxcontainersize: 100%; 
    --navmaxcontainercenter: 100%; 
    --slidercontainer: 100%; 
    --maxcontainersize:1170px; 
    --footermaxcontainersize: 100%;
    --backgroundrahmen: 0px;*/
/*Beispiel 2: Feste Breite Layout*/
    --maxtopmenusize: 1140px; 
    --maxtopmenucenter: 1140px; 
    --maxtopbannersize: 1140px; 
    --navmaxcontainersize: 1140px; 
    --navmaxcontainercenter: 1140px; 
    --slidercontainer: 1140px; 
    --maxcontainersize: 1170px; 
    --footermaxcontainersize: 1140px;
    --backgroundrahmen: 30px;


    --boarderradius: 0px;
    --containerborder: 0px;
    --containerborderstyle: dashed;
    --containerbordercolor: #17a2b8;
    --containerpaddinglr: 15px;
    --containerpaddingou: 0px;

    /*Ausgabe Produktbox mit Variable productbox auf block: Einleitung, Format, Preis ab z.B.: Bei URL /overview/
    Textblöcke über productboxtxt auf center oder left setzen.*/
    /*Beispiel 1: einfache Darstellung = productboxheight: none*/
        /*--productbox: none;
    --productboxheight: 330px;
    --productboxtxt: center;*/
    /*Beispiel 2: erweiterte Darstellung = productboxheight: block + productboxheight: 430px
    Textblöcke über productboxtxt auf center oder left setzen.*/
    --productbox: block;
    --productboxheight: 430px;
    --productboxtxt: left;


    /*Ausgabe Produktgroupbox mit Variable productgroupbox auf block: Einleitung, Format z.B.: Bei URL /
    Textblöcke über productgroupboxtxt auf center oder left setzen.*/
    /*Beispiel 1: einfache Darstellung = productgroupboxheight: none*/
        /*--productgroupbox: none;
    --productgroupboxtxt: center;*/
    /*Beispiel 2: erweiterte Darstellung = productgroupboxheight: block
    Textblöcke über productgroupboxtxt auf center oder left setzen.*/
    --productgroupbox: block;
    --productgroupboxheight: 415px;
    --productgroupboxtxt: left;
  }
  .overall {
    margin: 0 auto;
    background-color: #fff;
    width: calc(var(--backgroundrahmen) + var(--maxtopmenusize));
	}
  #layout-main-wrap {
      background-color: var(--white);
  }
  .logotopbanner {
    position: relative;
}
#logo1 {
    position: relative;
    z-index: 1;
}
#userlogo1 {
    position: absolute;
    z-index: 3;
}
#accountlogo1 {
    position: absolute;
    z-index: 2;
}
.productbox {
    display: var(--productbox);
}
.productboxheight {
    height: var(--productboxheight);
}
.productboxtxt {
    text-align: var(--productboxtxt);
}
.productgroupbox {
    display: var(--productgroupbox);
}
.productgroupboxheight {
    height: var(--productgroupboxheight);
}
.productgroupboxtxt {
    text-align: var(--productgroupboxtxt);
}
.dropdown-item {
    line-height: 1.5;
}
p.productgrouptxt {
    margin-top: 20px;
    margin-bottom: 20px;
}
ul.nav.nav-tabs {
    margin-bottom: 15px;
}
.productbox .artikelnr {
    width: 250px;
}
img#generated_image {
    max-width: 100%;
}
#details a.btn.btn-primary.btn-large.pop_over {
    margin-bottom: 20px;
}
/** accordion injection im CALCFORM */
.produkt_accordion{
    display: block;
    margin-bottom: 1em;
    margin-left: -15px;
    margin-right: 0px;
}
label.grouptumpheader {
    height: 50px !important;
}
.produkt_accordion:after{
    content: " verbergen";
}
.produkt_accordion.collapsed:after{
     content: " anzeigen";
}
/** accordion injection im CALCFORM */
label[for=send]{
    visibility:hidden;
}
.navbar-form {
    padding: 0px 0px;
}
.logotopbanner .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}
.pull-right.topbannerfixed {
    text-transform: uppercase;
}
ul.navbar-nav {
    text-transform: uppercase;
}
.breadcrumb {
    padding: 8px 0px;
}
section#topbar {
    background-color: #f8f9fa;
}
.bg-light {
    background-color: unset !important;
}
.navibarcontainercolor {
    width: var(--navmaxcontainercenter);
    background-color: var(--navbackground);
    margin: 0 auto;
    line-height: 0px;
    margin-bottom: 10px;
    position: relative;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: var(--maxcontainersize);
    }
    div.logotopbanner {
        max-width: var(--maxtopbannersize);
        margin: 0 auto;
    }
    .topbarcenter {
        width: var(--maxtopmenucenter);
        margin: 0 auto;
    }
    nav.navbar.navbar-expand-md.navbar-light.bg-light {
        max-width: var(--slidercontainer);
        margin: 0 auto;
    }
    section#footer-application {
        max-width: 1265px;
        margin: 0 auto;
    }
    section#topbar {
        background-color: #fff;
        width: var(--maxtopmenusize);
        margin: 0 auto;
    }
    .container {
        width: var(--maxcontainersize);
    }
    .slidercontainer {
        margin: 0 auto;
        width: var(--slidercontainer);
    }
}
.breadcrumb {
    background-color: var(--breadcrumbbackground);
}
.navibarcontainer {
    margin: 0 auto;
    background-color: var(--navbackground);
    width: var(--navmaxcontainersize);
    padding-right: var(--containerpaddinglr);
    padding-left: var(--containerpaddinglr);
    border: 1px solid #ccc;
    border-radius: 0px;
}
.footercontainer2 {
    margin: 0 auto;
    max-width: var(--footermaxcontainersize);
    width: 100%;
    padding-right: var(--containerpaddinglr);
    padding-left: var(--containerpaddinglr);
}
.container {
    border: var(--containerborder) var(--containerborderstyle) var(--containerbordercolor);
    padding-right: var(--containerpaddinglr);
    padding-left: var(--containerpaddinglr);
    padding-top: var(--containerpaddingou);
    padding-bottom: var(--containerpaddingou);
}
@media (min-width: 768px) {
    .navbar {
        border-radius: var(--boarderradius);
    }
}
.breadcrumb, .thumbnail, #footer-customer .panel, .form-control, .well, .btn, .container, .carousel-inner, #logo, .footer_content {
    border-radius: var(--boarderradius);
}
.nav-tabs > li > a {
    border-radius: var(--boarderradius) var(--boarderradius) 0 0;
}
  .topbar li a {
    margin-left: 10px;
}
.topbannerfixed {
    margin-top: 8px;
}
#topbanner .col-xs-12 {
    padding-right: 0px !important;
    padding-left: 12px !important;
}
div#language .list-item {
    padding-left: 10px;
}
/* Links und Button Color*/
.language .btn-dropdown {
    background-color: transparent;
    color: #000000;
    margin-left: 10px !important;
}
a {
    color: var(--linkcolor) !important;
}
a:hover {
    color: var(--linkcolorhover) !important;
}
.btn-success {
    color: var(--white) !important;
}
.btn-success:hover {
    color: var(--yellow) !important;
}
.btn-primary {
    color: var(--white) !important;
}
.btn-primary:hover {
    color: var(--yellow) !important;
}
.btn-info {
    color: var(--white) !important;
}
.btn-info:hover {
    color: var(--yellow) !important;
}
/* Links und Button Color*/
/* Navbar */
.navbar-nav .dropdown-menu {
    position: absolute !important;
    float: none;
}
.navbar {
    justify-content: unset !important;
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
.righthidden {
    display: none;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

#search .button-search {
    height: 25px;
    position: absolute;
    right: 34px;
    top: 17px;
    width: 0px;
    color: silver;
    background-color: unset;
    border: unset;
}

.topbar ul li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul.links li {
    display: inline-block;
    margin-right: 15px;
}
.topbar {
    /*margin-left: -12px;*/
}
.navbar {
    margin-bottom: 0px;
}
/* Navbar */
/*Slider*/
#carousel-499478 .carousel-control.left, #carousel-499478 .carousel-control.right {
    color: #fff;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
/*Produkt-Slider*/
.box-heading span {
    margin-left: 15px;
}
.productcarousel {
    margin-left: -15px;
    margin-right: -15px;
}
.carousel-control.left, .carousel-control.right {
    background-image: unset !important;
    color: #000;
}
/*Produkt-Slider*/
/*Slider*/
/*Produkte und Gruppen DIV */
.product-img {
    height: 306px;
}
.box .box-heading {
    background-image: url(../img/carousel-bg-title.png);
    background-repeat: no-repeat;
    font-family: 13px;
    font-size: 16px;
    font-weight: 600;
    color: #4d4e4f;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.carousel-controls {
    position: absolute;
    top: 0px;
    right: 15px;
    width: 55px;
    height: 30px;
}
.carousel-controls .carousel-control {
    background: #ededed;
    font-size: 23px;
    width: 27px;
    color: #9e9c9c;
    opacity: 1;
    filter: alpha(opacity=100);
    line-height: 30px;
}
.articlegrouplistitem {
    text-align: center;
}
.caption {
    min-height: 120px;
}
.thumbnail {
    position: relative;
}
.articlegrouplistitem a.btn.btn-primary.produkt-config-btn {
    position: absolute;
    bottom: 5px;
    left: 10px;
    right: 10px;
    display: var(--articlebtn);
}
.articlegrouplistitem .thumbnail .btn-success {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #000000 !important;
    display: var(--groupbtn);
}
.articlegrouplistitem footer {
    margin-top: 40px;
}
.panel-body {
    padding: 0px !important;
    width: 100%;
}
#overview_index-article, .navbar-collapse {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
/*Produkte und Gruppen DIV */
/* Kunden-Account */
.myoverview .well {
    min-height: 270px;
}
/* Kunden-Account */
/* Basket */
.btn-group>.btn-group:not(:first-child), .btn-group>.btn:not(:first-child) {
    margin-left: 0px;
}
.basket label.btn, .basket a.btn {
    width: 33.3333%;
}
.basket label.btn {
cursor: unset !important;
}
.basketadress .well {
    min-height: 250px;
}
.basketadress {
    margin-top: 30px;
}
.review_index .page-header, .basket_index .page-header {
    border-bottom: 0px !important;
}
.vouchersubmit {
    background-color: var(--btnsubmit);
    color: var(--btnsubmittxt);
} 
.productprice {
    font-size: 18px;
}
.btn-group.basket {
    padding-bottom: 20px;
}
.even .col-sm-3, .odd .col-sm-3 {
    text-align: center;
}
.basketborder {
    border: 1px solid #dddddd;
    border-radius: var(--boarderradius);
}
.finish_index .col-xs-12, .review_index .col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}
.btn-group-lg>.btn, .btn-lg {
    line-height: 0.5 !important;
}
/* Basket */
/* Basketmobile */
.mobilebasketprice {
    display: none;
}
.mobilebasketprice .vouchersubmit {
    background-color: var(--btnsubmit);
    color: var(--btnsubmittxt);
    margin-top: 10px;
} 
.basket_partingline {
    border: 10px solid transparent;
}
.mobilebasketprice input, .mobilebasketprice textarea {
    width: 100%;
}
.mobilebasketprice .btn-info, .mobilebasketprice .btn-success {
    width: 48%;
}
.mobilebasketprice .basketButtons.pull-right {
    margin: 10px -10px;
}
.mobilebasketprice span.basket_grossprice {
    border-bottom: double;
}
.mobilebasketprice .h4grossprice, .mobilebasketprice .h4netprice {
    background-color: #f5f5f5;
    line-height: 30px;
}
.mobilebasketprice .transparenthr {
    border: 1px transparent;
}
.mobilebasketprice .basket_netprice {
    border-bottom-style: 1px solid;
}
.mobilebasketprice .formpaymenttype {
    width: 50%;
}
.mobilebasketprice .shippingprice, .mobilebasketprice .paymentprice {
    margin-left: 30px;
}
/* Basketmobile */
/* Footer */
#footer-customer .panel {
    opacity: 1;
    border: 1px solid #dddddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 0;
    padding: 1em;
}
#footer2, .footer_content {
    background: none repeat scroll 0 0 var(--footer2background);
    color: #DEDEDE;
    overflow: hidden;
    padding: 18px;
}
.footercontainer2 {
    background-color: var(--footerBig2background);
}
/* Footer */
/* Produktübersicht */
img#layouter {
    max-height: 100% !important;
    max-width: 100% !important;
}
.vorschau-bilder-klein.clearfix label img {
    max-height: 50px !important;
}
.vorschau-bilder-klein.clearfix label {
    cursor: pointer;
}
#details .col-md-3 {
    padding-left: 0px;
}
#details .col-md-3 .thumbnail {
    border: 0px;
    height: 262px;
}
label[for=send], #send {
    display: none;
}
.h3product {
    background-color: #f5f5f5 !important;
    color: #000000;
    font-weight: 700;
    height: 85px;
    padding-left: 0px;
    padding-top: 20px;
    font-size: 30px;
}
.h3span {
    font-weight: 100;
}
i.fa.fa-cogs {
    margin-left: 10px;
    font-size: 40px;
}
span.glyphicon.glyphicon-info-sign {
    font-size: 23px;
    top: 3px;
}
/* Produktübersicht */
/* Modal */
.modal-backdrop.show {
    opacity: .5 !important;
}
.modal.fade.show {
    padding-top: 10%;
    opacity: 1 !important;
}
.modal-body {
    padding: 10px !important;
}
.popover.fade.bs-popover-top.show {
    opacity: 1 !important;
}
.popover-header {
    padding: .5rem .75rem !important;
    margin: 0 !important;
    font-size: 1rem !important;
    color: inherit !important;
    background-color: #f7f7f7 !important;
    border-bottom: 1px solid #ebebeb !important;
    border-top-left-radius: calc(.3rem - 1px) !important;
    border-top-right-radius: calc(.3rem - 1px) !important;
}
/* Modal / Tooltip */
/* user mysettings */
#mysettings fieldset#fieldset-login legend, #mysettings fieldset#fieldset-rech legend {
    border: 0px;
}
#mysettings dd#login-element {
    float: left;
    width: 50%;
}
#mysettings  dt#rech-label {
    display: none;
}
#mysettings #submit {
    background-color: var(--btnsubmit);
    color: var(--btnsubmittxt);
    width: 225px;
}
#mysettings input, #mysettings select, #mysettings textarea {
    width: 80%;
}
#mysettings .form-actions {
    text-align: center;
    margin-bottom: 20px;
}
.row.myoverview {
    margin-top: 20px;
}
.row.myoverview .btn {
    position: absolute;
    bottom: 30px;
    left: 20px;
    right: 20px;
}
#mysettings dd#rech-element {
    width: 100%;
    display: inline-flex;
}
form#register input, form#register select {
    width: 100%;
}
form#register {
    width: 50%;
}
form#register #submit {
    width: 200px;
}
form#register .form-actions {
    margin: 20px 0px;
    text-align: right;
}
.endbtn {
    margin: 20px 0px;
}
.positions {
    display: flex;
}
/* user mysettings */
/* Sitessettings */
.page-header {
    padding-bottom: 9px;
    margin: 0px 0px;
}
.basket .even, .basket .odd {
    padding-top: 10px;
    padding-bottom: 10px;
}
.even {
    background-color: #f3f3f3;
}
.page-header {
    font-size: 22px;
}
.danger {
    color: var(--red);
}
/* Sitessettings */
.mobilelabel {
    display: none;
}
.nomobilehead {
    display: flex;
    color: #000000;
}
.bg-info {
    background-color: #17a2b8!important;
    color: #ffffff;
    /*border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;*/
}
.col-lg-12.top.nomobilehead {
    background-color: #D9EDF7;
}
@media only screen and (max-width: 1200px) {
    .navibarcontainer {
        width: 100%;
    }
    .overall {
        margin: 0 auto;
        background-color: #fff;
        width: 100%;
        }
        .container {
            width: 100%;
            max-width: 100%;
        }
        .navibarcontainercolor {
            width: 100%;
        }
        .productgroupboxheight {
            height: auto;
        }
}
@media only screen and (max-width: 990px) {
    .topbar ul li .text-link {
        display: none;
    }
    .navbar-nav {
        margin: 0px 0px !important;
    }
    #search .button-search {
        display: none;
    }
    #articlelist_overview_box, .articlelistimg {
        width: 100%;
        height: auto;
    }
    .basket a.btn {
        width: 100%;
    }
    .basket label.btn {
        width: 100%;
    }
    .btn-group > .btn:first-child {
        margin-left: -1px;
    }
    i.fa.fa-cogs {
        margin-left: 10px;
        font-size: 28px;
    }
    .h3product {
        height: 70px;
        font-size: 22px;
    }

    .usercentrics-button .uc-privacy-button-wrapper {
        height: 33px;
        width: 33px;
    }
    .usercentrics-button.uc-button-bl .uc-privacy-button-wrapper {
        left: 0px !important;
        bottom: 20px !important;
    }
    #CALCFORM .form-control {
        float: left !important;
        width: 85% !important;
    }
    .modal.fade.show {
        padding-top: 50%;
    }
    h3, .h3 {
        font-size: 18px !important;
    }
}
.basketstocklabel {
    font-weight: 100;margin-right: 0px;
    float: left !important;
}
@media only screen and (max-width: 767px) {
    .basketstocklabel {
        font-weight: 100;margin-right: 28px;
        float: right !important;
    }
    #CALCFORM .form-control {
        float: left !important;
        width: 93% !important;
    }
    .positions {
        display: block;
    }
    .mobilelabel {
        display: unset;
    }
    .nomobilehead {
        display: none;
    }
    .righthidden {
        display: block;
    }
    .andMobile {
        position: fixed;
        bottom: -20px;
        z-index: 9999999;
        width: 100%;
        margin-left: 0px !important;
    }
    .andMobile h3 {
        display: none;
    }
    .wellforMobilePrice {
        width: 55%;
        float: left;
        margin-left: 10px;
    }
    .wellforMobileBTN {
        text-align: right;
        margin-right: 20px;
    }
    .andMobile {
        padding: 0px 0px 0px 0px !important;
        min-height: 105px !important;
    }
    .wellforMobilePrice .table > tbody > tr > td {
        padding: 0px;
    }
    #in_basket {
        width: 125px;
        font-size: 18px;
    }
    .container {
        max-width: 100%;
    }
    .nomobilebasketprice {
        display: none;
    }
    .mobilebasketprice {
        display: block;
        border: 1px solid #dddddd;
        border-radius: 4px;
        width: 98%;
        margin: 0 auto;
        margin-bottom: 40px;
        padding-right: 5px;
        padding-left: 5px;
    }
    .h4netprice {
        margin-top: 0px;
    }
    .wellforMobileBTN .form-group {
        width: 100px;
        float: right;
        margin-top: -30px;
    }
    .orderbtn {
        margin-top: -50px;
    }
    .wellMobile2 {
        width: 94%;
    }
}


.swMain {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: 0px solid #CCC;
    overflow: visible;
    float: left;
    width: 100% !important;
}
.modal .close {
    display: none;
}


a.btn.btn-outline-primary {
    color: #fff !important;
}

.input-group-append {
    float: right;
    background-color: #5bc0de;
    width: 30px;
    text-align: center !important;
    padding-left: 8px;
    border: 1px solid #cccccc;
}
#CALCFORM input, #CALCFORM select {
    max-width: 96%;
    height: 27px !important;
}
a.btn.btn-outline-primary {
    color: #fff !important;
    font-size: 20px !important;
}
.input-group-sm>.input-group-append>.btn {
    padding: 0px 0px 0px 0px;
    font-size: unset;
    line-height: 23px;
    border-radius: unset;
}
div#preCalc {
    margin-bottom: 30px;
}
pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
    border-left-width: 1px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-topleft: 4px;
}
.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
}
.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border-left-width: 0;
    color: #0387fa !important;
}
.pagination ul > li {
    display: inline;
}
.pagination-centered {
    text-align: center;
    width: 100%;
}
.pagination ul {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *zoom: 1;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li.active {
    font-weight: 800;
    font-size: 18px;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

#preCalc .col-6 {
    border-bottom: 1px solid #dddddd;
    padding-right: 0px !important;
    padding-left: 0px !important;
}
#preCalc .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.basket_index .btn-default:hover, .basket_index .btn-default:focus, .basket_index .btn-default:active, .basket_index .btn-default.active, .basket_index .open .dropdown-toggle.btn-default, .review_index .btn-default:hover, .review_index .btn-default:focus, .review_index .btn-default:active, .review_index .btn-default.active, .review_index .open .dropdown-toggle.btn-default, .finish_index .btn-default:hover, .finish_index .btn-default:focus, .finish_index .btn-default:active, .finish_index .btn-default.active, .finish_index .open .dropdown-toggle.btn-default {
    color: #000;
    background-color: #fff;
    border-color: #adadad;
}

.basket_index .btn-success:hover, .review_index .btn-success:hover, .finish_index .btn-success:hover {
    color: #fff !important;
}

span.help-inline {
    width: 100% !important;
    float: left;
}