<div class="page-header"><h1><?php echo $this->translate('Kontakt')?></h1></div>

<div class="row">
    <div class="span6">
        <?php
        $this->form->send->setAttrib('class', 'btn btn-success');
        echo $this->form->render();?>
    </div>
    <div class="span6">
        <h2><?php echo $this->translate('Shopbetreiber')?></h2>
        <?php echo $this->shop->betreiber_company ?><br/>
        <?php echo $this->shop->betreiber_name ?><br/><br/>

        <?php echo $this->shop->betreiber_street ?><br/>
        <?php echo $this->shop->betreiber_address ?><br/><br/>

        <?php if($this->shop->betreiber_tel !=''): ?>Tel: <?php echo $this->shop->betreiber_tel ?><br/><?php endif; ?>
        <?php if($this->shop->betreiber_uid != ""): ?><?php echo $this->translate('Umsatzsteuer-ID')?>: <?php echo $this->shop->betreiber_uid ?><br/><?php endif; ?>
        <?php if($this->shop->betreiber_sid != ""): ?><?php echo $this->translate('Steuernummer')?>: <?php echo $this->shop->betreiber_sid ?><br/><?php endif; ?>

        <?php if($this->shop->betreiber_register !=''): ?><br/><?php echo $this->shop->betreiber_register?>,<?php endif; ?><?php if($this->shop->betreiber_hid != ""): ?> <?php echo $this->shop->betreiber_hid ?><?php endif; ?>

        <?php if($this->shop->betreiber_vb!=''): ?><br/><?php echo $this->shop->betreiber_vb ?><?php endif; ?>

        <br/>
        <br/>

        <?php if($this->market_shop && $this->shop->market): ?>
            <h2><?php echo $this->translate('Marktplatzbetreiber')?></h2>
            <?php echo $this->market_shop['betreiber_company'] ?><br/>
            <?php echo $this->market_shop['betreiber_name'] ?><br/><br/>

            <?php echo $this->market_shop['betreiber_street'] ?><br/>
            <?php echo $this->market_shop['betreiber_address'] ?><br/><br/>

            <?php if($this->market_shop['betreiber_tel'] !=''): ?>Tel: <?php echo $this->market_shop['betreiber_tel'] ?><br/><?php endif; ?>
            <?php if($this->market_shop['betreiber_uid'] != ""): ?><?php echo $this->translate('Umsatzsteuer-ID')?>: <?php echo $this->market_shop['betreiber_uid'] ?><br/><?php endif; ?>
            <?php if($this->market_shop['betreiber_sid'] != ""): ?><?php echo $this->translate('Steuernummer')?>: <?php echo $this->market_shop['betreiber_sid'] ?><br/><?php endif; ?>

            <?php if($this->market_shop['betreiber_register'] !=''): ?><br/><?php echo $this->market_shop['betreiber_register']?>,<?php endif; ?><?php if($this->market_shop['betreiber_hid'] != ""): ?> <?php echo $this->market_shop['betreiber_hid'] ?><?php endif; ?>

            <?php if($this->market_shop['betreiber_vb'] !=''): ?><br/><?php echo $this->market_shop['betreiber_vb'] ?><?php endif; ?>
        <?php endif; ?>
    </div>
</div>