<div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
    <div class="thumbnail motivliste">
        
	<header>
            <h5><?php echo $this->Text()->truncate_text($this->escape($this->motiv->title),25) ?></h5>
        </header>
	
        <article>
            <a rel="<?= $this->motiv->uuid ?>" class="" href="javascript:void(0);">
                <?php echo $this->image()->thumbnailMotiv($this->motiv->title, 'motivelistoverviewbig', $this->motiv->file_mid, false, $this->motiv, $this->designsettings()->get('motiv_copyright')); ?>
            </a>
            <span class="thumbnail" style="height: auto; display: none; position: absolute; margin-left: 120px; margin-top: -20px;">
                <?php echo $this->image()->thumbnailMotiv($this->motiv->title, 'motivelistoverviewbig', $this->motiv->file_mid, false, $this->motiv, $this->designsettings()->get('motiv_copyright')); ?>
            </span>
        </article>
	
        <footer>
            <div>
		<?php if($this->motiv->copyright != "" && $this->designsettings()->get('motiv_copyright')): ?>&copy; <?php echo $this->Text()->truncate_text($this->escape($this->motiv->copyright),15) ?><?php endif; ?>
		&nbsp;
	    </div>
        </footer>

    </div>
</div>    