<div class="pagination pagination-centered"><ul><?php $this->paginator->setTemplate('<li><a href="{%url}">{%page}</a></li>');
    $this->paginator->setSelectedTemplate('<li class="active"><a href="{%url}">{%page}</a></li>'); ?>
    <?php echo $this->paginator->display(); ?></ul></div>