<div class="well sidebar-nav">
    <ul class="nav nav-list">
    
	<?php if((!isset($this->showMotiv) || !$this->showMotiv) && (!isset($this->showShop) || !$this->showShop) && (!isset($this->showMarketProduct) || !$this->showMarketProduct)): ?>

    		  	<?php
				foreach ($this->navigation()->findOneByLabel('Articlegroups') as $page) {
    				echo '<li '.(($page->isActive(true))? 'class="active" ': '').'><a '.(($page->isActive(true))? 'class="active" ': '').'href="'.$page->uri.'">'.$this->translate($page->getLabel()).'</a>';
    				if($page->hasPages() && $page->isActive(true)) {
    					echo '<ul>';
    					foreach ($page->getPages() as $pg) {
    						echo '<li '.(($pg->isActive(true))? 'class="active" ': '').'><a '.(($pg->isActive(true))? 'class="active" ': '').'href="'.$pg->uri.'">'.$pg->label.'</a></li>';
    					}
    					echo '</ul>';
    				}
    				echo '</li>';
				}
				?>

			<?php if($this->navigation()->findOneByLabel('Articlethemes')->hasChildren()): ?>
				 <li class="nav-header"><?= $this->translate('Produktfilter', 'text') ?></li>
				    <a href="<?= $this->url(array('theme' => 'all'),'articlethemedel') ?>"><i class="icon-remove-sign"></i><?php echo $this->translate('alle Filter löschen')?></a>
						<?php 
						foreach ($this->navigation()->findOneByLabel('Articlethemes') as $page) {
						echo '<li '.(($page->isActive())? 'class="active" ': '').'><a '.(($page->isActive())? 'class="active" ': '').'href="'.$page->uri.'">'.$page->label.'</a></li>';
						}
						?>
				<?php endif; ?>
	<?php endif; ?>
		

				    
	<?php if($this->showMarketProduct): ?>
	   <li class="navbar-brand"><?= $this->translate('Produktsortiment', 'text') ?></li>
		<?php
		foreach ($this->navigation()->findOneByLabel('MarketArticlegroups') as $page) {
		    echo '<li '.(($page->isActive(true))? 'class="active" ': '').'><a '.(($page->isActive(true))? 'class="active" ': '').'href="'.$page->uri.'">'.$this->translate($page->getLabel()).'</a>';
		    if($page->hasPages() && $page->isActive(true)) {
			echo '<ul>';
			foreach ($page->getPages() as $pg) {
			    echo '<li '.(($pg->isActive(true))? 'class="active" ': '').'><a '.(($pg->isActive(true))? 'class="active" ': '').'href="'.$pg->uri.'">'.$pg->label.'</a></li>';
			}
			echo '</ul>';
		    }
		    echo '</li>';
		}
		?>
	<?php endif; ?>
	
	
	
	<?php if($this->showMotiv): /** MOTIV-SEITE */ ?>
	   <li><h4><?= $this->translate('Motivfilter', 'text') ?></h4></li>  
	   <li>
		 <a href="<?= $this->url(array('theme' => 'all'),'motivthemedel') ?>">
		    <span class=" glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
		    <?php echo $this->translate('alle Filter löschen')?>
		</a>
	   </li>
			    <?php
			    foreach ($this->navigation()->findOneByLabel('Motivthemes') as $page) {
				echo '<li '.(($page->isActive())? 'class="active" ': '').'><a '.(($page->isActive())? 'class="active" ': '').'href="'.$page->uri.'">'.$page->label.'</a>';
				    if($page->hasPages() && $page->isActive(true)) 
				    {
					echo '<ul>';
					    foreach ($page->getPages() as $pg) {
						    echo '<li '.(($pg->isActive(true))? 'class="active" ': '').'><a '.(($pg->isActive(true))? 'class="active" ': '').'href="'.$pg->uri.'">'.$pg->label.'</a></li>';
					    }
					echo '</ul>';
				    }
				echo '</li>';
			    }
			    ?>
	<?php endif; ?>
	  
	  
	<?php if($this->showShop): ?>
    	  <li class="nav-header"><?= $this->translate('Shopfilter', 'text') ?></li>
    	  <a href="<?= $this->url(array('theme' => 'all'),'shopthemedel') ?>"><i class="icon-remove-sign"></i><?php echo $this->translate('alle Filter löschen')?></a>
			<?php
			foreach ($this->navigation()->findOneByLabel('Shopthemes') as $page) {
    			echo '<li '.(($page->isActive())? 'class="active" ': '').'><a '.(($page->isActive())? 'class="active" ': '').'href="'.$page->uri.'">'.$page->label.'</a>';
    			if($page->hasPages() && $page->isActive(true)) {
    					echo '<ul>';
    					foreach ($page->getPages() as $pg) {
    						echo '<li '.(($pg->isActive(true))? 'class="active" ': '').'><a '.(($pg->isActive(true))? 'class="active" ': '').'href="'.$pg->uri.'">'.$pg->label.'</a></li>';
    					}
    					echo '</ul>';
    				}
    			echo '</li>';
			}
			?>
	<?php endif; ?>
</ul>
</div>

<?php 
/** 
 * alle linke Navigation entfernt und die Ausgabe von Text im linken Bereich
 * 23.11.2014 - karsten euting 

    $help = $this->cms()->getCms('left');
    
    if(count($help)):
?>
    <div class="well sidebar-nav">
    <ul class="nav nav-list">

	<?php foreach($help as $hp): ?>
	    <li class="<?= (isset($this->page) && $this->page->id == $hp->id)? 'active': ''; ?>"><a href="/cms/<?php echo $hp->url ?>"><?php echo $hp->menu ?></a></li>
	<?php endforeach; ?>
    </ul>
    </div>
<?php endif; ?>

<?php $cms =  $this->cms()->getCms('contentleft'); ?>
<?php if(count($cms) > 0): ?>
    <?php if(!$cms->getFirst()->notinmenu): ?><?php if($cms->getFirst()->display_title): ?><h4><?php echo $cms->getFirst()->title ?></h4><?php endif; ?>
        <?php echo $cms->getFirst()->getText(); ?>
    <?php endif; ?>
<?php endif; ?>
 * 
 * 
 */
?>