<!-- tab panes -->
<?php if($this->shop->slider_logo != ""): ?>
<div id="flowpanes" style="background:url(<?php echo $this->image()->thumbnailImage('bg.png', 'sliderbg', $this->shop->slider_logo, true); ?>) repeat scroll 0 0 transparent;"> 
<?php else: ?>
<div id="flowpanes" style=""> 
<?php endif; ?>
 
    <!-- wrapper for scrollable items --> 
    <div class="items"> 
 
        <!-- the items --> 
            <?php $ii = 0; $articles = $this->Article()->getArticle(array($this->shop->slider_a_1, $this->shop->slider_a_2, $this->shop->slider_a_3, $this->shop->slider_a_4, $this->shop->slider_a_5)); ?>
            <?php $cmss = $this->Cms()->getCms(array($this->shop->slider_cms_1, $this->shop->slider_cms_2, $this->shop->slider_cms_3, $this->shop->slider_cms_4, $this->shop->slider_cms_5)); ?>
            
            <?php foreach($articles as $article): ?>
            <div class="current">
            <a href="<?php echo $this->url(array('article' => $article->url), 'article'); ?>">
            	<table width="500" height="180" cellpadding="10"><tr><td width="30%">
            	<?php if($article->typ == 6 && $article->a6_org_article != 0): ?>
                    <?php echo $this->image()->thumbnailFop($article->title, 'articlelist', $article->getMarketFile()); ?>
                <?php else: ?>
                    <?php echo $this->image()->thumbnailImage($article->title, 'articlelist', $article->file); ?>
                <?php endif; ?>
            	</td><td style="vertical-align: top">
            	<h2><?php echo $this->Text()->truncate_text($this->escape($article->title),40); ?></h2><br/>
            	<?php if($article->einleitung != ""): ?>
            	<?= $article->einleitung; ?>
            	<?php else: ?>
            	<?= $this->Text()->truncate_text($article->info, 500); ?>
            	<?php endif; ?>
            	<p>
            	<?php if($article->a6_org_article != 0 && $article->a6_org_article != ""):?>
                	ab <?php echo $this->currency->toCurrency($article->a6_resale_price+$article->OrgArticle->a4_abpreis*1) ?>
                <?php else:?>
                	ab <?php echo $this->currency->toCurrency($article->a4_abpreis*1) ?>
                <?php endif;?></p>
        		</td></tr></table>
        		</a>
            </div>
            <?php $ii++; ?>
            <?php endforeach; ?>
            
            <?php foreach($cmss as $cms): ?>
            <div class="current">
            	<?= $cms->text1; ?>
            </div>
            <?php $ii++; ?>
            <?php endforeach; ?>
 
    </div> 
 	
</div>
<div class="navi"> 
        <a href="0" class="active"></a> 
        <?php for($i=1; $i<$ii; $i++): ?>
        <a href="<?= $i ?>" ></a>
        <?php endfor; ?> 
	</div>
<script type="text/javascript">
$(document).ready(function() { 
    $('#flowpanes .items').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>
