<ul class="nav nav-tabs">
        <li class="<?= ($this->mode == 1)? 'active':''; ?>"><a href="/user/myoverview"><?= $this->translate('Übersicht', 'text') ?></a></li>
        <li class="<?= ($this->mode == 2)? 'active':''; ?>"><a href="/user/mysettings"><?= $this->translate('Meine Einstellungen', 'text') ?></a></li>
        <li class="<?= ($this->mode == 7)? 'active':''; ?>"><a href="/user/mydata"><?= $this->translate('Meine Layouterdaten', 'text') ?></a></li>
        <li class="<?= ($this->mode == 6)? 'active':''; ?>"><a href="/user/myaddress"><?= $this->translate('Meine Adressen', 'text') ?></a></li>
        <li class="<?= ($this->mode == 3)? 'active':''; ?>"><a href="/user/myorders"><?= $this->translate('Meine Bestellungen', 'text') ?></a></li>
        <?php if($this->shop->template_display_user_approval): ?>
                <li class="<?= ($this->mode == 10)? 'active':''; ?>"><a href="/user/myapproval"><?= $this->translate('Freigabebedürftige Bestellungen', 'text') ?></a></li>
        <?php endif; ?>
        <?php if($this->Rights()->isShopAdmin()): ?>
        <li class="<?= ($this->mode == 4)? 'active':''; ?>"><a href="/myshop/config"><?= $this->translate('Shopverwaltung', 'text') ?></a></li>
        <?php endif;?>
</ul>
