﻿<div class="row basket_index">



    <!--<div class="page-header col-xs-12"><?php echo $this->translate('Warenkorb / Bestellung') ?></div>-->



    <?php if ($this->basketIsEmpty) : ?>

        <div class="basket col-xs-12">
            <div class="alert alert-danger" style="min-height:2em;"><?php echo $this->translate('Sie haben keine Artikel im Warenkorb. Keine Bestellung möglich.') ?></div>
        </div>

        <div class="col-xs-10 col-xs-offset-1" style="margin-bottom:7em;">
            <h3><?php echo $this->translate('Vielleicht möchten Sie einfach auf der Startseite beginnen?')?></h3>
            <br>
            <a class="btn btn-lg btn-success" href="/" title="<?= $this->shop->name; ?>: zur Startseite"><?php echo $this->translate('Zur Startseite') ?></a>
        </div>


    <?php else : ?>

        <div class="btn-group basket col-xs-12">
            <a class="btn btn-success active" href="#">
                <h4><?php echo $this->translate('Schritt') ?> 1: <?php echo $this->translate('Warenkorb') ?></h4><?php echo $this->translate('Übersicht über Ihre Bestellung') ?>
            </a>
            <a class="btn btn-default" href="#">
                <h4><?php echo $this->translate('Schritt') ?> 2: <?php echo $this->translate('Adressdaten') ?></h4><?php echo $this->translate('Rechnungs- und Lieferadresse angeben') ?>
            </a>
            <a class="btn btn-default" href="#">
                <h4><?php echo $this->translate('Schritt') ?> 3: <?php echo $this->translate('AGB') ?></h4><?php echo $this->translate('Bestätigen und bestellen') ?>
            </a>
        </div>




        <!--<div class="btn-group basket col-xs-12">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th style="text-align:left">
                            <?php echo $this->translate('Name / Optionen'); ?>
                        </th>
                        <th style="text-align:center">
                            <?php echo $this->translate('Anzahl'); ?>
                        </th>
                        <th style="text-align:right">
                            <?php echo $this->translate('Preis'); ?>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->articles as $article) : ?>
                        <tr class="<?php echo $this->cycle(array("odd", "even"))->next() ?>">
                            <?php echo $this->partial($article['article']->typ . '_basket_index.phtml', array('article' => $article, 'currency' => $this->currency, 'shop' => $this->shop)) ?>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>-->
            <div class="btn-group basket col-lg-12">
            <div class="col-lg-12 nomobilehead">
                    <div class="col-sm-3"><?php echo $this->translate('Produktbild') ?></div>
                    <div class="col-sm-5"><?php echo $this->translate('Produkt/Optionen') ?></div>
                    <div class="col-sm-4" style="text-align: right;"><?php echo $this->translate('Preis') ?></div>
                </div>
                <div class="clearfix"></div>
            
                <div class="basketborder">
                    <?php foreach ($this->articles as $article) : ?>
                        <div class="col-lg-12 <?php echo $this->cycle(array("odd", "even"))->next() ?>">
                            <?php echo $this->partial($article['article']->typ . '_basket_index.phtml', array('article' => $article, 'currency' => $this->currency, 'shop' => $this->shop)) ?>
                        </div>
                    <?php endforeach; ?>
                </div>

            <?php
            /************************************************************************************************************************************************************************
             * Zusammenfassung der Bestellung
             */
            ?>
            <br>
            <br>
            <div class="row">
                <div class="col-sm-offset-3 col-lg-9 nomobilebasketprice">

                    <form action="<?php echo $this->redirect_ssl_path ?>/basket" method="post" class="niceform" enctype="multipart/form-data">
                        <table class="table table-bordered">
                        <?php if(!$this->designsettings()->get('display_no_price')) { ?><thead>
                                <tr>
                                    <th class="well text-right" style="font-weight:100;"><?php echo $this->translate('Produktpreis (Netto)'); ?>:</th>
                                    <th class="well">&nbsp;</th>
                                    <th class="well text-right" style="font-weight:100;"><?php echo $this->currency->toCurrency($this->productnetto) ?></th>
                                </tr>
                                <tr>
                                    <th class="well text-right"><?php echo $this->translate('Produktpreis (inkl. MwSt.)'); ?>:</th>
                                    <th class="well">&nbsp;</th>
                                    <th class="well text-right"><?php echo $this->currency->toCurrency($this->productbrutto) ?></th>
                                </tr>
                            </thead><?php } ?>
                            <tbody>
                                <?php if ($this->errorGutscheincode == false && $this->gutscheincode != "" && (TP_Basket::getBasket()->getGutscheinAbzugTyp() == TP_Basket::GUTSCHEIN_ALL || TP_Basket::getBasket()->getGutscheinAbzugTyp() == TP_Basket::GUTSCHEIN_PRODUCT)) : ?>
                                    <tr>
                                        <td align="right" class="grey"></td>
                                        <td align="right" class="grey">
                                            <strong><?php echo $this->translate('abzgl. Gutschein'); ?>:</strong>
                                        </td>
                                        <td align="right" style="width:11%" class="grey">
                                            <?php echo $this->currency->toCurrency($this->gutscheincodeabzug) ?>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" class="grey abstand"></td>
                                        <td align="right" class="grey abstand">
                                            <strong><?php echo $this->translate('Preis abzgl. Gutschein'); ?>:</strong>
                                        </td>
                                        <td align="right" style="width:11%" class="grey abstand lastcolumn">
                                            <?php echo $this->currency->toCurrency($this->productbruttogutschein) ?>
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                <tr>

                                    <td align="right">
                                    <?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo $this->translate('zzgl. Versand'); ?><?php } else { ?><?php echo $this->translate('Versand'); ?><?php } ?>:
                                    </td>
                                    <td style="width:36%">
                                        <select name="shippingtype" onchange="javascript:this.form.submit()" style="width:100%">
                                            <?php foreach ($this->shippingtype as $shippingtype) : ?>
                                                <option value="<?php echo $shippingtype['id'] ?>" <?php echo ($shippingtype['id'] == $this->shippingselected) ? 'selected="selected"' : '' ?>><?php echo $shippingtype['title'] ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                        <?php echo $this->shippingtypeselected['description'] ?>
                                    </td>
                                    <td align="right" style="width:11%">
                                    <?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo $this->currency->toCurrency($this->versandbrutto) ?><?php } ?>
                                    </td>
                                </tr>
                                <?php if (!$this->no_payment) : ?>
                                    <tr>


                                    <?php if(!$this->designsettings()->get('display_no_price')) { ?><td align="right">
                                            <?php echo $this->translate('zzgl. Zahlart'); ?>:
                                        </td>
                                        <td style="width:36%">
                                            <select name="paymenttype" onchange="javascript:this.form.submit()" style="width:100%">
                                                <?php foreach ($this->paymenttype as $paymenttype) : ?>
                                                    <option value="<?php echo $paymenttype['id'] ?>" <?php echo ($paymenttype['id'] == $this->paymentselected) ? 'selected="selected"' : '' ?>><?php echo $paymenttype['title'] ?></option>
                                                <?php endforeach; ?>
                                                <?php foreach ($this->paymenttypecontact as $paymenttype) : ?>
                                                    <option value="<?php echo $paymenttype['id'] ?>" <?php echo ($paymenttype['id'] == $this->paymentselected) ? 'selected="selected"' : '' ?>><?php echo $paymenttype['title'] ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                            <?php echo $this->paymenttypeselected['description'] ?>
                                        </td>
                                        <td align="right" style="width:11%">
                                        <?php if(!$this->designsettings()->get('display_no_price')) { ?><?php echo $this->currency->toCurrency($this->paymentwertbrutto) ?><?php } ?>
                                        </td>
                                    </tr><?php } ?>
                                <?php endif; ?>
                                <?php if (!$this->designsettings()->get('b2bshop')) : ?>
                                    <tr>
                                        <td align="right"><?php echo $this->translate('Gutscheincode') ?>:</td>
                                        <td align="right">
                                            <input style="width: 100%;" type="text" name="gutscheincode" value="<?php echo $this->gutscheincode ?>" class="" />
                                        </td>
                                        <td align="right" style="width:11%">
                                            <input class="btn vouchersubmit" type="submit" value="<?php echo $this->translate('Einlösen') ?>" />
                                        </td>
                                    </tr>
                                <?php endif; ?>
                                <?php if(!$this->designsettings()->get('display_no_price')) { ?><?php foreach ($this->mwertalle as $key => $mw) : ?>
                                    <tr>

                                        <td align="right">
                                            <?php echo $this->translate('enth. MwSt.'); ?> <?= $key ?>%:
                                        </td>
                                        <td align="right">

                                        </td>
                                        <td align="right" style="width:11%">
                                            <?php echo $this->currency->toCurrency($mw) ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?><?php } ?>
                                <?php if(!$this->designsettings()->get('display_no_price')) { ?><tr class="brutto">

                                    <td align="right" class="well">
                                        <h4><?php echo $this->translate('Gesamtbetrag'); ?>:<?php /*echo $this->currency->toCurrency($this->brutto / 1.19)*/ ?></h4>
                                    </td>
                                    <td class="well">
                                        &nbsp;
                                    </td>
                                    <td align="right" style="width:11%" class="well">
                                    <h4><?php echo $this->currency->toCurrency($this->brutto) ?></h4>
                                    </td>
                                </tr><?php } ?>

                    </form>
                    <form action="<?php echo $this->redirect_ssl_path ?>/basket/review" method="GET" class="niceform" enctype="multipart/form-data" id="form-demo">
                        <?php if ($this->shop->basketfield1) : ?>
                            <tr class="brutto">

                                <td align="right">
                                    
                                </td>
                                <td style="width:11%" colspan="2">
                                <?php echo $this->translate($this->shop->basketfield1) ?><br />
                                    <textarea style="width: 100%;" name="basketfield1"><?php echo $this->basketfield1 ?></textarea>
                                </td>
                            </tr>
                        <?php endif; ?>
                        <?php if ($this->shop->basketfield2) : ?>
                            <tr class="brutto">

                                <td align="right">
                                    
                                </td>
                                <td style="width:11%" colspan="2">
                                <?php echo $this->translate($this->shop->basketfield2) ?><br />
                                    <textarea style="width: 100%;" name="basketfield2"><?php echo $this->basketfield2 ?></textarea>
                                </td>
                            </tr>
                        <?php endif; ?>
                        </table>

                        <div style="clear:both"></div>

                        <div class="basketButtons pull-right">
                            <input type="submit" class="btn btn-info btn-lg" title="weiter" onclick="location.href='/';return false;" value="<?php echo $this->translate('weiter einkaufen') ?>" />
                            <input type="submit" class="btn btn-success btn-lg" title="bestellen" value="<?php echo $this->translate('Zur Kasse gehen') ?>" />
                        </div>
                    </form>


                </div>
                <!-- //Mobileview -->
                <div class="col-lg-12 mobilebasketprice">
                                    <h4 class="h4netprice"><?php echo $this->translate('Produktsumme Brutto'); ?>: <span class="basket_netprice pull-right"><?php echo $this->currency->toCurrency($this->productbrutto) ?></span></h4>
                <form action="<?php echo $this->redirect_ssl_path ?>/basket" method="post" class="niceform" enctype="multipart/form-data">


                        <?php echo $this->translate('zzgl. Versand'); ?>:
                                            <span class="shippingprice pull-right"><?php echo $this->currency->toCurrency($this->versandbrutto) ?></span>
                            <select name="shippingtype" onchange="javascript:this.form.submit()" class="formpaymenttype pull-right">>
                        <?php foreach ($this->shippingtype as $shippingtype) : ?>
                            <option value="<?php echo $shippingtype['id'] ?>" <?php echo ($shippingtype['id'] == $this->shippingselected) ? 'selected="selected"' : '' ?>><?php echo $shippingtype['title'] ?></option>
                        <?php endforeach; ?>
                            </select>
                                            <hr class="transparenthr" />  
                                            <?php echo $this->shippingtypeselected['description'] ?>

                                            <hr class="transparenthr" />                                        
   


                        <?php if (!$this->no_payment) : ?>
                                            <?php echo $this->translate('zzgl. Zahlart'); ?>:
                                            <span class="paymentprice pull-right"><?php echo $this->currency->toCurrency($this->paymentwertbrutto) ?></span>
                            <select name="paymenttype" onchange="javascript:this.form.submit()" class="formpaymenttype pull-right">
                        <?php foreach ($this->paymenttype as $paymenttype) : ?>
                            <option value="<?php echo $paymenttype['id'] ?>" <?php echo ($paymenttype['id'] == $this->paymentselected) ? 'selected="selected"' : '' ?>><?php echo $paymenttype['title'] ?></option>
                        <?php endforeach; ?>
                        <?php foreach ($this->paymenttypecontact as $paymenttype) : ?>
                            <option value="<?php echo $paymenttype['id'] ?>" <?php echo ($paymenttype['id'] == $this->paymentselected) ? 'selected="selected"' : '' ?>><?php echo $paymenttype['title'] ?></option>
                        <?php endforeach; ?>
                            </select>
                                            
                                            <hr class="transparenthr" />
                                            <span class="paymenttypdescription"><?php echo $this->paymenttypeselected['description'] ?></span>
                                            <hr class="transparenthr" />
                        <?php endif; ?>                

                        <?php if (!$this->designsettings()->get('b2bshop')) : ?>
                            <div class="control-group">
                                <label for="basket_voucher" class="control-label"><?php echo $this->translate('Gutscheincode') ?></label>
                                <div class="controls">    
                                    <input type="text" name="gutscheincode" value="<?php echo $this->gutscheincode ?>" class="basketmobileform" />
                                </div>
                            </div>
                            <div class="control-group clearfix">
                        <?php if((isset($_POST["gutscheincode"]) AND $_POST["gutscheincode"] != "") AND $this->gutscheincode == "") { ?>
                            <strong class="danger">Gutscheincode ungültig</strong>
                        <?php } ?>
                                <div class="controls pull-right">   
                                    <input class="btn vouchersubmit" type="submit" value="<?php echo $this->translate('Einlösen') ?>" />
                                </div>
                            </div>
                        <?php endif; ?>
                        
                        
                        <?php if ($this->errorGutscheincode == false && $this->gutscheincode != "" && (TP_Basket::getBasket()->getGutscheinAbzugTyp() == TP_Basket::GUTSCHEIN_ALL || TP_Basket::getBasket()->getGutscheinAbzugTyp() == TP_Basket::GUTSCHEIN_PRODUCT)) : ?>
                                            <hr class="transparenthr" />
                                            <?php echo $this->translate('abzgl. Gutschein'); ?>: <span class="basketvoucherprice pull-right"><?php echo $this->currency->toCurrency($this->gutscheincodeabzug) ?></span><br />
                                            <?php echo $this->translate('Preis abzgl. Gutschein'); ?>: <span class="basketvoucherprice pull-right"><?php echo $this->currency->toCurrency($this->productbruttogutschein) ?></span>
                        <?php endif; ?>
                        <hr class="transparenthr" />
                            <div class="control-group">
                        <?php foreach ($this->mwertalle as $key => $mw) : ?>
                            <span class="basketVattxt"><?php echo $this->translate('enth. MwSt.'); ?><?= $key ?>%:</span> <span class="basketVatprice pull-right"><?php echo $this->currency->toCurrency($mw) ?></span><br />
                        <?php endforeach; ?>
                            </div>
                            <h4 class="h4grossprice"><?php echo $this->translate('Gesamtsumme Brutto'); ?>:<?php /*echo $this->currency->toCurrency($this->brutto / 1.19)*/ ?> <span class="basket_grossprice pull-right"><?php echo $this->currency->toCurrency($this->brutto) ?></span></h4>
                </form>
                    <form action="<?php echo $this->redirect_ssl_path ?>/basket/review" method="GET" class="niceform" enctype="multipart/form-data" id="basketformmobile">
                        <?php if ($this->shop->basketfield1) : ?>
                            <div class="control-group">
                                <label for="basket_fild1" class="control-label"><?php echo $this->shop->basketfield1 ?></label>
                                <div class="controls">  
                                    <textarea name="basketfield1"><?php echo $this->basketfield1 ?></textarea>
                                </div>
                            </div>
                        <?php endif; ?>
                        <?php if ($this->shop->basketfield2) : ?>
                            <div class="control-group">
                                <label for="basket_fild2" class="control-label"><?php echo $this->shop->basketfield2 ?></label>
                                <div class="controls">  
                                    <textarea name="basketfield2"><?php echo $this->basketfield2 ?></textarea>
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="basketButtons pull-right">
                            <input type="submit" class="btn btn-info btn-lg" title="weiter" onclick="location.href='/';return false;" value="<?php echo $this->translate('weiter einkaufen') ?>" />
                            <input type="submit" class="btn btn-success btn-lg" title="bestellen" value="<?php echo $this->translate('Zur Kasse gehen') ?>" />
                        </div>
                    </form>
                </div><!-- //mobilebasketprice -->
            </div>
            <!-- //row -->
            <!--
        <script type="text/javascript">
        $(document).ready( function() {
            $('.myaddress select').dropkick({
                                change: function (value, label) {
                                                $(this).closest("form").submit();
                                        }
                });
        });
        </script>
        -->
        </div> <!-- // WK ausgabe class="btn-group basket col-xs-12 col-md-9 col-md-offset-3" -->

    <?php endif; ?>
</div>
