<?php
$this->headScript()->prependFile('/'.$this->designPath . 'assets/js/ot.js');
?>
<div class="page-header"><h1><?php echo $this->translate('Selling product') ?></h1></div>
<div class="btn-group article_resale">
    <a class="btn" href="/resale/articlestep1"><em>Schritt 1: <?php echo $this->translate('Allgemeine Daten', null, 'article_step_1_pfeil') ?></em><br /></a>
    <a class="btn" href="/resale/articlestep2"><em>Schritt 2: <?php echo $this->translate('Kategorien', null, 'article_step_2_pfeil') ?></em><br /></a>
    <a class="btn active" href="#"><em>Schritt 3: <?php echo $this->translate('Martkplatz', null, 'article_step_3_pfeil') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 4: <?php echo $this->translate('Fertigstellen', null, 'article_step_5_pfeil') ?></em><br /></a>
</div>
<br/>
<script>
  $(document).ready(function(){

    $('#theme').optionTree(0, {mode:'themesmarket', field: 'articlemarkettheme1'});
    
});
  </script>
<style type="text/css">

<?php if($this->articlemarkettheme2name): ?>
#articlemarkettheme2add {
display: none;
}
<?php else: ?>
#articlemarkettheme2delete, #articlemarkettheme2edit {
display: none;
}
<?php endif; ?>
<?php if($this->articlemarkettheme3name): ?>
#articlemarkettheme3add {
display: none;
}
<?php else: ?>
#articlemarkettheme3delete, #articlemarkettheme3edit {
display: none;
}
<?php endif; ?>

</style>
<?php
$this->form->setAttrib('class', 'form-horizontal');
EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'Weiter'); ?>
<form class="form-horizontal" id="articlestep3" action="<?php echo $this->form->getAction() ?>" enctype="multipart/form-data" method="POST">
    <h3>Was ist der Marktplatz?</h3>
    <p>Der Marktplatz wird auf der Startseite von primabu.de angezeigt und ist für jeden sichtbar und zugänglich. Hier erscheinen die neusten und beliebtesten Produkte, Motive und Shops.</p>
    <?php echo $this->form->resale ?>

    <h3>Wieso brauchen Sie ein Produktthema?</h3>
    <p>
      Ordnen Sie hier Ihrem Produkt einer oder mehrere Kategorien zu. Damit erleichtern Sie Interessierten Ihr neues Produkt
    im öffentlichen Marktplatz leichter zu finden. Sie können ein weiteres Thema auswählen in dem Sie auf das Plus (+) Symbol klicken.
    </p>
    <h3>Produktthema wählen</h3>
    <br/>
   <div><input id="theme" name="theme" type="hidden"/></div>
   <br/>
    <div><b>Produkttheme 1:</b><input name="articlemarkettheme1" type="hidden" id="articlemarkettheme1" value="<?php echo $this->form->articlemarkettheme1->getValue() ?>"/><span id="articlemarkettheme1_name"><?php echo $this->articlemarkettheme1name; ?></span><a title="Ändern" class="btn btn-warning btn-mini" href="#" onclick="javascript:$('#theme').optionTree(0, {mode:'themesmarket', field: 'articlemarkettheme1'}); return false;"> <i class="icon-pencil"></i></a><br/>
    </div><div><b>Produkttheme 2:</b><input name="articlemarkettheme2" type="hidden" id="articlemarkettheme2" value="<?php echo $this->form->articlemarkettheme2->getValue() ?>"/><span id="articlemarkettheme2_name"><?php echo $this->articlemarkettheme2name; ?></span><a title="Hinzufügen" class="btn btn-success btn-mini" id="articlemarkettheme2add" href="#" onclick="javascript:$('#theme').optionTree(0, {mode:'themesmarket', field: 'articlemarkettheme2'}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" class="btn btn-warning btn-mini" id="articlemarkettheme2edit" href="#" onclick="javascript:$('#theme').optionTree(0, {mode:'themesmarket', field: 'articlemarkettheme2'}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" class="btn btn-danger btn-mini" id="articlemarkettheme2delete" href="#" onclick="javascript:$('#theme').optionTree(0, {mode:'themesmarket', field: 'articlemarkettheme2',clear: true}); return false;"> <i class="icon-remove"></i></a>
    </div><div><b>Produkttheme 3:</b><input name="articlemarkettheme3" type="hidden" id="articlemarkettheme3" value="<?php echo $this->form->articlemarkettheme3->getValue() ?>"/><span id="articlemarkettheme3_name"><?php echo $this->articlemarkettheme3name; ?></span><a title="Hinzufügen" class="btn btn-success btn-mini" id="articlemarkettheme3add" href="#" onclick="javascript:$('#theme').optionTree(0, {mode:'themesmarket', field: 'articlemarkettheme3'}); return false;"> <i class="icon-plus"></i></a> <a title="Ändern" class="btn btn-warning btn-mini" id="articlemarkettheme3edit" href="#" onclick="javascript:$('#theme').optionTree(0, {mode:'themesmarket', field: 'articlemarkettheme3'}); return false;"> <i class="icon-pencil"></i></a> <a title="Leeren" class="btn btn-danger btn-mini" id="articlemarkettheme3delete" href="#" onclick="javascript:$('#theme').optionTree(0, {mode:'themesmarket', field: 'articlemarkettheme3',clear: true}); return false;"> <i class="icon-remove"></i></a>
    </div><br/><input type="hidden" name="nextstep" value="5"/>
    <input type="submit" class="btn btn-warning btn-large" value="Zurück" onclick="document.location.href='/resale/articlestep2'; return false" /> <input type="submit" class="btn btn-success btn-large" value="<?php echo $this->translate("weiter") ?>"/>
</form>