<div class="page-header"><h1><?php echo $this->translate('Selling product') ?></h1></div>
<div class="btn-group article_resale">
    <a class="btn active" href="#"><em>Schritt 1: <?php echo $this->translate('Allgemeine Daten', null, 'article_step_1_pfeil') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 2: <?php echo $this->translate('Kategorien', null, 'article_step_2_pfeil') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 3: <?php echo $this->translate('Martkplatz', null, 'article_step_3_pfeil') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 4: <?php echo $this->translate('Fertigstellen', null, 'article_step_5_pfeil') ?></em><br /></a>
</div>
<br/>
<?php
$this->headScript()->prependFile('/scripts/jquery-tag/jquery-tag.js');
?>
<script>
  $(document).ready(function(){

    $('#tags').tagSuggest({
        url: '/resale/tags/format/json'
      });
});
 </script>
<style type="text/css">
    SPAN.tagMatches {
        position: absolute;
        margin-top: 20px;
        margin-left: 5px;
    }

    SPAN.tagMatches SPAN {
        padding: 2px;
        margin-right: 4px;
        background-color: #0000AB;
        color: #fff;
        cursor: pointer;
    }
</style>
<div class="row">
    <span class="span4"><?php if($this->article->a6_org_article != 0 || $this->layouterPreviewId): ?>
        <?= $this->articleObj->generatePreview($this->article->id, $this->layouterPreviewId); ?>
        <?php else: ?>
        <?php echo $this->image()->thumbnailImage($this->article->title, 'articlelist_overview_box', $this->article->file); ?>
        <?php endif; ?>
    </span>
    <span class="span8">
        <?php if($this->article->a6_org_article != 0 || $this->layouterPreviewId): ?>
        <h2><?= $this->article->OrgArticle->title; ?></h2>
        <?php else: ?>
        <h2><?= $this->article->title; ?></h2>
        <?php endif; ?>
        <?php if($this->article->a6_org_article != 0 || $this->layouterPreviewId): ?>
        <p><?= $this->article->OrgArticle->info; ?></p>
        <?php else: ?>
        <p><?= $this->article->info; ?></p>
        <?php endif; ?>
    </span>
</div> <br/>
<?php
$this->form->setAttrib('class', 'form-horizontal');
EasyBib_Form_Decorator::setFormDecorator($this->form, \EasyBib_Form_Decorator::BOOTSTRAP, 'Weiter'); ?>
<form class="form-horizontal" id="articlestep1" action="<?php echo $this->form->getAction() ?>" enctype="multipart/form-data" method="POST">
    <div class="row">
        <div class="span6">
        <h3>Allgemeine Daten</h3>
        <?php echo $this->form->name ?>

        <?php echo $this->form->description ?>

        <?php echo $this->form->tags ?>

        <?php echo $this->form->shop ?>

        <?php echo $this->form->prodpreis ?>

        <?php $this->form->resale_price->setAttrib('class', 'span1');echo $this->form->resale_price ?>

        <?php echo $this->form->allow_layouter ?>
        </div>
        <div class="span6"><br/><p>
            So geht's<br /><br />
            Vergeben Sie einen eindeutigen Namen. Die Beschreibung gibt
            anderen Besuchern eine erste Information über Ihr Produkt.
            Falls Sie mehrere Shops haben, wählen Sie einen davon aus.
            Mit dem Verkaufsaufschlag legen Sie fest wie hoch Ihr Gewinn
            sein wird.
        </p></div>
    </div>
<input  class="btn btn-success btn-large"  type="submit" value="Weiter" id="Weiter" name="Weiter">
</form>