<?php 
$this->headLink()->appendStylesheet($this->designPath . '/css/resalearticle2.css');
?>
<div class="oneColumn">
	<h1><?php echo $this->translate('Selling product') ?></h1>
<ul id="mainNav" class="fiveStep"> 
	<li class="done first"><a href="/resale/articlestep1"><em>Schritt 1:</em><span><?php echo $this->translate('Allgemeine Daten', null, 'article_step_1_pfeil') ?></span></a></li>
	<li class="done"><a href="/resale/articlestep2"><em>Schritt 2:</em><span><?php echo $this->translate('Ihr Shop', null, 'article_step_2_pfeil') ?></span></a></li>
	<li class="lastDone"><a href="/resale/articlestep3"><em>Schritt 3:</em><span><?php echo $this->translate('Martkplatz', null, 'article_step_3_pfeil') ?></span></a></li>
	<li class="current"><em>Schritt 4:</em><span><?php echo $this->translate('Privatisierung', null, 'article_step_4_pfeil') ?></span></li>
	<li class="mainNavNoBg five"><em>Schritt 5:</em><span><?php echo $this->translate('Fertigstellen', null, 'article_step_5_pfeil') ?></span></li>
</ul> 
<script>
  $(document).ready(function(){

    $('.checkbox').click(function() {
		$('#privatediv').slideToggle();
    });

    $('#account').change(function() {
    	$.getJSON("/resale/getcontacts/format/json",{id: $(this).val()}, function(j){
  	      var options = '';
  	      for (var i = 0; i < j.length; i++) {
  	        options += '<option value="' + j[i].id + '">' + j[i].self_firstname + ' ' + j[i].self_lastname + '</option>';
  	      }
  	      $("select#contact").html(options);
  	    })
    });
    
    <?php if($this->private): ?>
		$('#privatediv').show();
    <?php else: ?>
    	$('#privatediv').hide();
    <?php endif; ?>

    $.getJSON("/resale/getcontacts/format/json",{id: 'all'}, function(j){
      var options = '';
      for (var i = 0; i < j.length; i++) {
        options += '<option value="' + j[i].id + '">' + j[i].self_firstname + ' ' + j[i].self_lastname + '</option>';
      }
      $("select#contact").html(options);
    });
});
  </script>
<style type="text/css">
    #articlestep4 label.error {
	color:red;
        display:inline;
        float:right;
        font-size:12px;
        margin-bottom:10px;
        margin-left:10px;
        position:absolute;
        width:auto;
}

</style>
<div style="clear:both"></div>
<br><br/>
<form class="niceform" id="articlestep4" action="<?php echo $this->form->getAction() ?>" enctype="multipart/form-data" method="POST">
<fieldset id="step1">
<div class="step-produktbar">
<div class="allgemein">
	<span class="box_right"><h3><?php echo $this->translate('Was bedeutet privatisieren') ?>?</h3><p>Mit dem privatisieren Button können Sie ein Produkt an eine bestimmte Firma und eine bestimmte Person binden. Somit kann nur diese Frima bzw. Person das Produkt sehen. Des Weiteren erscheint diese Produkt nicht mehr auf dem Marktplatz.
</p></span>
	<h3 style="width: 160px; float: left;" ><?php echo $this->translate('Produkt privatisieren?') ?></h3><?php echo $this->form->private->getDecorator('viewHelper')->setElement($this->form->private)->render(''); ?>
    <?php var_dump($this->form->getMessages()) ?>
    <div id="privatediv" style="float: left">
    	<div id="allgemein-left">
    		<div id="allgemein-left-inner-left">
    		<ul>
					<li>	
						<div class="inforahmen">
							Firma
						</div>
					</li>
					<li>	
						<div class="inforahmen">
							Mitglieder
						</div>
					</li>
			</ul>
			</div>
			<div id="allgemein-left-inner-right">
				<ul>
					<li><?php echo $this->form->account->getDecorator('viewHelper')->setElement($this->form->account)->render(''); ?></li>
					<li style="height: 100%"><?php echo $this->form->contact->getDecorator('viewHelper')->setElement($this->form->contact)->render(''); ?></li>
				</ul>
			</div>	
    	</div>
    </div>
    <div style="clear:both"></div>
  <br>
</fieldset>
<input type="submit" class="orangebutton" value="Zurück" onclick="document.location.href='/resale/articlestep3'; return false" /><input type="submit" class="greenbutton" value="<?php echo $this->translate("weiter") ?>"/>
</div>

</form>
