<div class="page-header"><h1><?php echo $this->translate('Wie möchten Sie weiter machen?') ?></h1></div>
<?php if($this->mode == 'product'): ?>
<p>Vielen Dank für die Einstellung eines Verkaufsprodukt.</p>
<?php if(isset($article->uuid) &&  $article->uuid != ""): ?>
<a class="btn btn-info btn-large" href="http://<?= $this->shopdetail->Domain[0]->name ?>/article/show/<?= $this->article->url ?>">Verkauften Artikel im entsprechenden Shop aufrufen</a><?php endif; ?> <a class="btn btn-large" href="/">Zur Startseite</a>
<?php else: ?>
<p>Vielen Dank für Ihren Upload.</p>
<p>Ihre Motive können Sie nun in Ihrem Kundenaccount unter Meine Motive verwalten.</p>
<a class="btn btn-info btn-large" href="/motiv/mymotiv">Zu meinen Motiven</a> <a class="btn btn-large" href="/">Zur Startseite</a>
<?php endif; ?>