<div class="page-header"><h1><?php echo $this->translate('Motivverkauf') ?></h1></div>
<div class="btn-group basket">
    <a class="btn active" href="#"><em>Schritt 1: <?php echo $this->translate('Name, Preis usw.') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 2: <?php echo $this->translate('Motive einsortieren') ?></em><br /></a>
    <a class="btn" href="#"><em>Schritt 3: <?php echo $this->translate('Fertigstellen und losstarten') ?></em><br /></a>
</div>
<br/>
<?php
$this->headScript()->prependFile('/scripts/jquery-tag/jquery-tag.js');
?>
<style type="text/css">
    SPAN.tagMatches {
        position: absolute;
        margin-top: 20px;
        margin-left: 5px;
    }

    SPAN.tagMatches SPAN {
        padding: 2px;
        margin-right: 4px;
        background-color: #0000AB;
        color: #fff;
        cursor: pointer;
    }
</style>
<h2>A. Ihre Motivauswahl</h2>
<br/>
<span class="box_right"><h3>So geht's</h3><p>Stellen Sie (mit Hilfe des Assistenten) Motive zum Verkauf bereit. Hier sehen Sie Ihre ausgew&auml;hlten Motive und k&ouml;nnen die Namen noch einmal korrigieren.</p></span>
    <?php  if(Zend_Auth::getInstance()->hasIdentity()): ?>

	    <form class="niceform" id="motiv_resale" action="<?php echo $this->form->getAction() ?>" enctype="multipart/form-data" method="POST">
		<table id="motivtable" class="table"></table>

		<input type="hidden" name="resale_shop" value="1"/>
		

        <h3>B. Shop ausw&auml;hlen</h3>
        <p>W&auml;hlen Sie hier den Shop, in dem Sie Ihre Motive verkaufen m&ouml;chten.</p>
        <?php echo $this->form->shop->getDecorator('viewHelper')->setElement($this->form->shop)->render(''); ?>

        <h3>C. Gewinn definieren</h3>
        <p>W&auml;hlen Sie die von Ihnen gew&uuml;nschten Preise f&uuml;r Ihre Motive. Die Preise sind f&uuml;r alle hier abgebildeten Motive g&uuml;ltig. Sie k&ouml;nnen diese Informationen jederzeit unter den Motiveigenschaften &auml;ndern. Genauere Informationen zu den Gr&ouml;ßen k&ouml;nnen Sie &uuml;ber das Info-Symbol einsehen.</p>
        <table class="table">
            <tr><td>klein</td><td><?php echo $this->form->price1->getDecorator('viewHelper')->setElement($this->form->price1)->render(''); ?></td></tr>
            <tr><td>mittel</td><td><?php echo $this->form->price2->getDecorator('viewHelper')->setElement($this->form->price2)->render(''); ?></td></tr>
            <tr><td>groß</td><td><?php echo $this->form->price3->getDecorator('viewHelper')->setElement($this->form->price3)->render(''); ?></td></tr>
        </table>
				

            <h3>D. Zusatzinformationen festlegen</h3>
            <p>Hier k&ouml;nnen Sie das Copyright f&uuml;r Ihre Bilder eintragen und Stichworte (sogenannte Tags) vergeben.</p>
            <table class="table">
                <tr><td>Copyright</td><td><?php echo $this->form->copyright->getDecorator('viewHelper')->setElement($this->form->copyright)->render(''); ?></td></tr>
                <tr><td>Tags</td><td><?php echo $this->form->tags->getDecorator('viewHelper')->setElement($this->form->tags)->render(''); ?> Eingabe: tag1, tag2, tag3, ...</td></tr>
            </table>

<input type="submit" class="btn btn-warning btn-large" value="Zur&uuml;ck zum Motivupload" onclick="document.location.href='/resale/motivstep1'; return false" /> <input type="submit" class="btn btn-success btn-large" value="<?php echo $this->translate("weiter") ?>"/>
</form>

    
    <?php else: ?>

    <p><?php echo $this->translate('Bitte melden Sie sich an um mit dem Upload fortzufahren. <a href="/user/login?mode=motiv_upload">Hier entlang</a>', 'rte', 'motive_upload') ?></p>
    <?php endif; ?>
<script type="text/javascript">

    $(document).ready(function() {
        $('#tags').tagSuggest({
            url: '/resale/tags/format/json'
        });
		reloadMotive();

    });

function reloadMotive() {

        $.getJSON("/motiv/resaleuploadlist/format/json", { mode: "motivuploadlist" }, function(json){
            $('#motivtable').html('');
            var i = 1;
            $.each(json.motive, function(index, item) {
				var addclass = "";
				if(i == 3) {
					addclass = "last";
					
					i = 1;
				}else{
				
					i++;
				}
               
			    $('#motivtable').append('<tr><td>' + item.thumb +'</td><td><input type="text" name="title_' + item.md5 +'" class="filename" value="' + item.name + '"/><input type="hidden" name="motiv_mode" value="' + item.mode + '"/><input type="hidden" name="motiv_id" value="' + index + '"/></td><td><input class="btn btn-danger" type="submit" value="<?php echo $this->translate('Bild l&ouml;schen') ?>" /></td></tr>');

            });
            $('.motive_del').click(function() {
                $.getJSON("/motiv/resaleuploaddelete/format/json", { key: $(this).prev().val(), mode: $(this).prev().prev().val() }, function(data) {
                    reloadMotive();
                });
                return false;
            });
        });
    }

</script>