<div class="row">
    <div class="span3"><?= $this->partial ( 'sidenav.phtml', array ('shop' => $this->shop, 'showMarketProduct' => $this->showMarketProduct)); ?></div>
    <div class="span9"><?= $this->partial ( 'product_tabs.phtml', array ('finisharticles' => $this->finisharticles, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );?>

        <ul class="thumbnails">
    				<?php foreach ($this->articles as $article): ?>
    			                <?= $this->partial('article/_articlelistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>

    			            
    			    <?php endforeach; ?>      
    			</ul>
        </div>
</div>