<?php
/**
 * Die Modalen Fenster für 
 *  /motive/myfav.phtml + 
 *  /motive/mymotiv.phtml
 * 
 * hier ausgelagert, weil es dieselben sind
 * 
 * 24.11.2014 - karsten euting 
 */
?>

<!-- Modal -->
  <div class="modal fade" id="myMotiv" tabindex="-1" role="dialog" aria-labelledby="myMotivLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title <?php if($this->designsettings()->get('motiv_modal_big') == true): ?> motivoverlay-headline <?php endif; ?>" id="myMotivLabel">Was möchten Sie tun?</h4>
        </div>

        <div class="modal-body">
	     <?php if($this->designsettings()->get('motiv_modal_big') == true): ?>
		<span class="overlay-motiv-left-image"></span>
	     <?php else: ?>
		<div class="row">
		    <div class="col-xs-3">
			<span class="overlay-motiv-left-image"></span>
		    </div>
		    <div class="col-xs-5">
			<h3 class="motivoverlay-headline"></h3>
			<p class="motivoverlay-text motivoverlay-text-author"></p>
			<p class="motivoverlay-text motivoverlay-text-info"></p>
		    </div>
		</div>
	     <?php endif; ?>
        </div>

        <div class="modal-footer">
	    <a id="motiv-merken" class="btn btn-primary" style="float: left;">Motiv merken</a>
	    <a id="designerbutton" class="btn btn-success" rel="overlaydesigner">Zum Online-Designer</a>
        </div>
      </div>
    </div>
  </div>



<!-- Modal -->
  <div class="modal fade" id="myArticlegroups" tabindex="-1" role="dialog" aria-labelledby="myArticlegroupsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title" id="myArticlegroupsLabel">Wählen Sie eine Produktgruppe!</h4>
        </div>

        <div class="modal-body">
		    <h2 class="motivoverlay-headline">Schritt 1 // Produktsuche</h2>
		    <p class="motivoverlay-text">Wählen Sie hier eine Produktkategorie aus.<br />Mit Hilfe der Pfeile können Sie durch unser Produktsortiment klicken.</p>
		    <ul id="product-bar-carousel" class="thumbnails">

		    </ul>
        </div>

        <div class="modal-footer">
	    <a id="back" class="btn btn-primary" style="float: left;">Zurück</a>
	    <div style="clear:both"></div>
        </div>
      </div>
    </div>
  </div>
    



<!-- Modal -->
  <div class="modal fade" id="myArticlegroups2" tabindex="-1" role="dialog" aria-labelledby="myArticlegroups2Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title" id="myArticlegroups2Label">Wählen Sie eine Produktgruppe!</h4>
        </div>

	  <div class="modal-body">
	    <h1 class="motivoverlay-headline">Schritt 2 // Produktsuche</h1>
	      <p class="motivoverlay-text">Wählen Sie hier eine Produktkategorie aus.<br />Mit Hilfe der Pfeile können Sie durch unser Produktsortiment klicken.</p>
	      <ul id="product-bar-carousel" class="thumbnails">

	      </ul>
        </div>

        <div class="modal-footer">
          <a id="back" class="btn btn-primary btn-large" style="float: left;">Zurück</a>
          <div style="clear:both"></div>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal -->
  <div class="modal fade" id="myProducts" tabindex="-1" role="dialog" aria-labelledby="myProductsLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
          <h4 class="modal-title" id="myProductsLabel">Wählen Sie ein Produkt!</h4>
        </div>

        <div class="modal-body">
            <h1 class="motivoverlay-headline">Schritt 1 // Produktsuche</h1>
	    <p class="motivoverlay-text">Wählen Sie hier eine Produktkategorie aus.</p>
	    <ul id="product-bar-carousel" class="thumbnails">

	    </ul>
        </div>

        <div class="modal-footer">
            <a id="back" class="btn btn-primary" style="float: left;">Zurück</a>
	    <p class="motivoverlay-headline-schritt" style="float:left; margin-left: 10px;line-height: 35px;">Ihre Auswahl: nichts</p>
	    <a id="designerbutton-gestalten" rel="#overlay" class="btn btn-success disabled">Zum Online-Designer</a>
        </div>
      </div>
    </div>
  </div>