<nav style="text-align: center">
    <ul class="pagination">
	<?php 
	    $this->paginator->setTemplate('<li><a href="{%url}">{%page}</a></li>');
	    $this->paginator->setSelectedTemplate('<li class="active"><a href="{%url}">{%page}</a></li>'); 
	
	    echo $this->paginator->display();
	?>
    </ul>
</nav>