<div class="overview-pagination-left"></div>
<ul class="overview-pagination">
	<li style="margin:0 0 0 10px; width:260px;" class="overview-pagination-li"><?php echo $this->translate('Ergebnisse')?> <?php
echo $this->paginator->getPager ()->getFirstIndice ();
?>-<?php
echo $this->paginator->getPager ()->getLastIndice ();
?> <?php echo $this->translate('von')?> <?php
echo $this->paginator->getPager ()->getNumResults ();
?></li>
	<li style="text-align:center;" class="overview-pagination-li"><?php
echo $this->paginator->display ();
$ts = rand ();
?></li>
	<li class="overview-pagination-li">
		<form><select id="sort<?php
echo $ts?>"
		class="overview-sort">
		<option value="nothing"
			<?php
  echo ($this->sort == "nothing") ? 'selected="selected"' : '';
  ?>><?php echo $this->translate('Sortieren nach')?></option>
		<option value="date"
			<?php
  echo ($this->sort == "date") ? 'selected="selected"' : '';
  ?>><?php echo $this->translate('nach Einstelldatum')?></option>
		<option value="author"
			<?php
  echo ($this->sort == "author") ? 'selected="selected"' : '';
  ?>><?php echo $this->translate('nach Name')?></option>
		<option value="visits"
			<?php
  echo ($this->sort == "visits") ? 'selected="selected"' : '';
  ?>><?php echo $this->translate('nach Visits')?></option>
		<option value="rate"
			<?php
  echo ($this->sort == "rate") ? 'selected="selected"' : '';
  ?>><?php echo $this->translate('nach Bewertungen')?></option>
		<option value="name" <?php echo ($this->sort == "name")? 'selected="selected"':''; ?>><?php echo $this->translate('nach Name')?></option>
	</select><select id="dir<?php
echo $ts?>"
		class="overview-sort">
		<option value=""
			<?php
  echo ($this->dir == "nothing") ? 'selected="selected"' : '';
  ?>><?php echo $this->translate('Richtung')?></option>
		<option value="asc"
			<?php
  echo ($this->dir == "asc") ? 'selected="selected"' : '';
  ?>><?php echo $this->translate('aufsteigend')?></option>
		<option value="desc"
			<?php
  echo ($this->dir == "desc") ? 'selected="selected"' : '';
  ?>><?php echo $this->translate('absteigend')?></option>
	</select>		</form>
	</li>
</ul>
<div class="overview-pagination-right"></div>

<script type="text/javascript">
$(function() {
    	  $('.overview-sort').dropkick({
    	  	theme: 'black',
    	  	change: function (value, label) {
				var selected = $("#sort<?php echo $ts ?> option:selected"); 
				var dir = $("#dir<?php echo $ts ?> option:selected"); 
				document.location.href="<?php echo str_replace('{%page_number}', 1, $this->paginator->getPageSortBarMarket()) ?>" + selected[0].value + "/" + dir[0].value;
  				}
    	  	});
});
</script>