<?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?>
	<ul class="nav nav-tabs">
		<li class="<?= ($this->mode == 1)? 'active':''; ?>"><a href="/market"><?php echo $this->translate('Themenshops', 'text') ?></a></li>
		<li class="<?= ($this->mode == 2)? 'active':''; ?>"><a href="/market/myshop"><?php echo $this->translate('Meine Themenshops', 'text') ?></a></li>
	</ul>
<?php endif; ?>