<ul class="nav nav-tabs">
    
	<?php if($this->shop->template_display_motive_all): ?>
	    <li class="<?= ($this->mode == 1)? 'active':''; ?>"><a href="/motiv"><?php echo $this->translate('Galerie', 'text') ?></a></li>
	<?php endif; ?>
	    

	    
	<?php if($this->shop->template_display_motive_my): ?>
		<?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?>
			<li class="<?= ($this->mode == 3)? 'active':''; ?>"><a href="<?= $this->url(array(),'mymotive') ?>"><?php echo $this->translate('Meine Motive', 'text') ?></a></li>
		<?php endif; ?>
	<?php endif; ?>
			
</ul>