<?php
$this->headScript()->prependFile('/scripts/underscore.js');
$this->headScript()->prependFile('/scripts/list.js');
$this->headScript()->prependFile('/'. $this->designPath . '/delivery_data.js');
?>
<div class="modal fade" tabindex="-1" role="dialog" id="myDeliveryData" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">×</a>
                <h4 class="modal-title"><?php echo $this->translate('Lieferaufteilung')?></h4>
            </div>
            <div class="modal-body" style="max-height: 260px;overflow: auto;">
                <form id="delivery_data_form">
                    <table class="table " id="delivery_data">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Firma</th>
                                <th>Vorname</th>
                                <th>Nachname</th>
                                <th>Straße</th>
                                <th>Nr</th>
                                <th>PLZ</th>
                                <th>Ort</th>
                                <th>Land</th>
                                <th>Anzahl</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="list">

                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <span class="wrongSumAmount alert alert-danger">Ihre Aufteilung stimmt nicht mit der Menge überein.</span>
                <a rel="#addDeliveryContact" class="btn btn-primary"><?php echo $this->translate('Zeile einfügen')?></a>
                <a rel="#saveDeliveryData" class="btn btn-warning"><?php echo $this->translate('Speichern & Schließen')?></a>
            </div>
        </div>
    </div>
</div>