<?php
/**
 * /templates/article/_articlelistitem_produktuebersicht.phtml
 * 
 * Formatierungsvariante für die ausgabe in /overview/index.phtml
 * - Abfangen leerer Bilder
 * 
 */
?>
<style>
.artikelnr {
    font-size: 12px;
    font-weight: 100;
    height: 80px;
}
.product-img {
    height: 200px;
    overflow: hidden;
}
a.btn.btn-primary.produkt-config-btn {
    font-weight: 700;
}
.pricepro{
    font-size: 12px;
}
</style>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 articlegrouplistitem">
    <div class="thumbnail productboxheight">
        <div class="product-img">
            <a href="<?php echo $this->url(array('article' => $this->article->url), 'article'); ?><?php if($this->articlegroup): ?>/<?php echo $this->articlegroup ?><?php endif; ?>" class="produkt_image_overview">
                <?php 
                if((($this->article->typ == 6 && $this->article->a6_org_article != 0) || $this->article->typ == 8   ) && $this->article->file == ""):
                    $_img_tmp = $this->image()->thumbnailFop($this->article->title, 'productlist', $this->article->getMarketFile(), false, $this->article->id);
                else:
                    $_img_tmp = $this->image()->thumbnailImage($this->article->title, 'productlist', $this->article->file);
                endif;
                
                empty($_img_tmp) ? print '<div style="width:100%; height:100%; min-height:200px; background:silver">&nbsp;</div>' : print str_replace('id=""','',$_img_tmp);
                
                ?>
            </a>
        </div>
            <div class="caption productboxtxt">
            <label class="produkttitel" style="
    height: 40px;
    overflow: hidden;margin-bottom: 0px;
"><?php echo $this->Text()->truncate_text($this->escape($this->article->getTitle()),80) ?></label><br />
            <div class="productbox">
		
        <label class="artikelnr"><?php if($this->article->article_nr_extern) { ?><?php echo $this->translate('Artikelnummer')?>: <?php echo $this->article->article_nr_extern; ?><?php } ?><br />
        <?php echo $this->article->einleitung; ?><br /><br />
        </label>
        <span class="pricepro"><?php echo $this->article->text_format; ?></span><br />
        <?php if(!$this->designsettings()->get('display_no_price')) { ?><label><?php if(str_replace(".", ",", $this->article->a4_abpreis) != "0,00") { ?><?php echo $this->translate('ab')?> <?php echo str_replace(".", ",", $this->currency->toCurrency($this->article->a4_abpreis)); ?><?php } ?></label>
                    
                        <?php 
                            if(!$this->designsettings()->get('b2bshop') &&
                            ($this->article->a4_abpreis_calc != 0 ||
                            $this->article->OrgArticle->a4_abpreis_calc ||
                            ($this->article->a6_org_article != 0 && $this->article->sum*1+($this->article->sum/100*$this->article->mwert) != 0) ||
                            (($this->article->a4_abpreis + $this->article->a6_resale_price)*1+(($this->article->a4_abpreis + $this->article->a6_resale_price)/100*$this->article->mwert) != 0))): 
			?>
			<p>
			    <!--<h6 class="abpreis">
				<?php 
				     if($this->article->typ != 2 && $this->article->a4_abpreis_calc || $this->article->OrgArticle->a4_abpreis_calc): 
				     echo $this->translate('ab') ?> <span class="badge badge-info"><?php echo $this->currency->toCurrency($this->article->a4_abpreis) ?>

				<?php elseif($this->article->typ == 2):  
				     echo $this->translate('ab') ?> <span class="badge badge-info"><?php echo $this->currency->toCurrency($this->article->preis*1+($this->article->preis/100*$this->article->mwert)) ?>

				<?php elseif($this->article->a6_org_article != 0): 
				     echo $this->translate('ab') ?> <span class="badge badge-info"><?php echo $this->currency->toCurrency($this->article->sum*1+($this->article->sum/100*$this->article->mwert)) ?>

				<?php else: 
				     echo $this->translate('ab') ?> <span class="badge badge-info"><?php echo $this->currency->toCurrency(($this->article->a4_abpreis + $this->article->a6_resale_price)*1+(($this->article->a4_abpreis + $this->article->a6_resale_price)/100*$this->article->mwert)) ?>
                            
				<?php endif;?>
				</span>
			    </h6>-->
			</p>
			<?php endif;?><?php } ?>
            </div>
		    <p>
                            <a class="btn btn-primary produkt-config-btn" href="<?php echo $this->url(array('article' => $this->article->url), 'article'); ?>"><?php echo $this->translate('Bestellen')?></a>
                    </p>
		    
            </div>
        </div>
</div>
 

