<h1><?php echo $this->translate('Article Overview') ?></h1>
<?php foreach ($this->articles as $article): ?>
<h3><?php echo $article->title ?></h3>
<p>Preis <?php echo $article->price ?></p>
<a href="article/show/?id=<?php echo $article->id ?>">Detail</a>
<hr>
<?php endforeach; ?>