<?php
$this->headLink()->appendStylesheet('/styles/admin/base.css');
$this->headLink()->appendStylesheet('/scripts/ext-3.0.0/resources/css/ext-all.css');
$this->headLink()->appendStylesheet('/scripts/vendor/wizard/resources/css/ext-ux-wiz.css');

$this->headScript()->appendFile('/scripts/tp/Locale.js');
$this->headScript()->appendFile('/scripts/tp/Locale/Gettext.js');
$this->headScript()->appendFile('/scripts/ext-3.0.0/adapter/ext/ext-base.js');
$this->headScript()->appendFile('/scripts/ext-3.0.0/ext-all-debug.js');

$this->headScript()->appendFile('/scripts/vendor/wizard/CardLayout.js');
$this->headScript()->appendFile('/scripts/vendor/wizard/Wizard.js');
$this->headScript()->appendFile('/scripts/vendor/wizard/Header.js');
$this->headScript()->appendFile('/scripts/vendor/wizard/Card.js');
$this->headScript()->appendFile('/scripts/admin/article/addarticle.js');

?>
<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <?php echo $this->headMeta(); ?>
        <?php echo $this->headLink(); ?>
        <?php echo $this->headScript(); ?>
        <?php if(Zend_Registry::get('locale')->getLanguage() == 'de'): ?>
            <script type="text/javascript" src="/scripts/ext-3.0.0/src/locale/ext-lang-de.js"></script>
        <?php else: ?>
            <script type="text/javascript" src="/scripts/ext-3.0.0/src/locale/ext-lang-en.js"></script>
        <?php endif; ?>

        <!-- END: #header-files -->
        <title>PrintShopCreator</title>
    </head>
    <body>
<div id="createarticle"></div>
    </body>
</html>