<script type="text/javascript">
    $(function() {

        var data = new Array();
        data['#fragment-1'] = '/article';
        data['#fragment-2'] = '/article/mode/article';
        data['#fragment-3'] = '/article/mode/articles';
        data['#fragment-4'] = '/article/mode/templates';
        data['#fragment-5'] = '/article/mode/customs';
         <?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?>
        data['#fragment-6'] = '<?php echo $this->url(array(),'myarticle') ?>';
         <?php endif; ?>
         <?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?>
         data['#fragment-7'] = '<?php echo $this->url(array(),'mypersarticle') ?>';
         <?php endif; ?>
         data['#fragment-8'] = '/article/mode/calc';
         data['#fragment-9'] = '/article/mode/stock';

        $('#tabs').tabs({
            selected: <?php echo ($this->mode-1) ?>,
            select: function(event, ui) {
                var url = data[ui.tab.hash];
                if( url ) {
                    location.href = url;
                    return false;
                }
                return true;
            }
        });

    })
</script>
<div id="tabs">
<ul>
<?php if($this->shop->template_display_products_all): ?>
		<li><a href="#fragment-1"><span><?php echo $this->translate('Alle') ?></span></a></li>
<?php endif; ?>
<?php if($this->shop->template_display_products_product_templates): ?>
        <li><a href="#fragment-2"><span><?php echo $this->translate('Produkte &<br/>Vorlagen') ?></span></a></li>
<?php endif; ?>
<?php if($this->shop->template_display_products_products): ?>        
        <li><a href="#fragment-3"><span><?php echo $this->translate('Produkte') ?></span></a></li>
<?php endif; ?>
<?php if($this->shop->template_display_products_templates): ?>
        <li><a href="#fragment-4"><span><?php echo $this->translate('Vorlagen') ?></span></a></li>
<?php endif; ?>
<?php if($this->shop->template_display_products_custom_layouter): ?>        
        <li><a href="#fragment-5"><span><?= $this->translate('neu individuell<br/>gestalten') ?></span></a></li>
<?php endif; ?>
<?php if($this->shop->template_display_products_own_products): ?>
        <?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?>
        <li><a href="#fragment-6"><span><?= $this->translate('eigene<br/>Produkte') ?></span></a></li>
<?php else: ?>
		<li style="display:none"><a href="#fragment-6"><span></span></a></li>
<?php endif;?>
<?php if($this->shop->template_display_products_my_products): ?>
<?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?>
        <li><a href="#fragment-7"><span><?= $this->translate('persönliche<br/>Produkte') ?></span></a></li>
<?php else: ?>
		<li style="display:none"><a href="#fragment-7"><span></span></a></li>
<?php endif;?>
<?php endif; ?>
<?php if($this->shop->template_display_products_calc): ?>
        <?php endif; ?>
        <li><a href="#fragment-8"><span><?= $this->translate('Kalkulation &<br/>Upload') ?></span></a></li>
<?php endif; ?>
<?php if($this->shop->template_display_products_depot): ?>
        <li><a href="#fragment-9"><span><?= $this->translate('Lagerware') ?></span></a></li>
<?php endif; ?>
</ul>
<div id="fragment-<?= $this->mode ?>">
<?php if(count($this->filter->getArticleFilter()) > 0): ?>
<p><strong><?= $this->translate('Filter') ?>:</strong>
<?php foreach($this->filter->getArticleFilter() as $key => $title): ?>
 <?= $title; ?> <a href="<?= $this->url(array('theme' => $key),'articlethemedel') ?>" alt=""><img src="<?= $this->designPath ?>img/minus.png" alt="" /></a>
<?php endforeach; ?>
</p>
<p>&nbsp;</p>
<?php endif; ?>
<?= $this->partial('doctrinepagination.phtml', array('paginator' => $this->paginator, 'sort' => $this->sort)) ?>
<?php foreach ($this->articles as $article): ?>
<?= $this->partial('article/_articlelistitem.phtml', array('admin' => $this->admin, 'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>
<?php endforeach; ?>
<div style="clear:both"></div>
<?= $this->partial('doctrinepagination.phtml', array('paginator' => $this->paginator, 'sort' => $this->sort)) ?>
</div>
    <div id="fragment-<?= $this->mode2 ?>"></div>
    <div id="fragment-<?= $this->mode3 ?>"></div>
    <div id="fragment-<?= $this->mode4 ?>"></div>
    <div id="fragment-<?= $this->mode5 ?>"></div>
    <div id="fragment-<?= $this->mode6 ?>"></div>
    <div id="fragment-<?= $this->mode7 ?>"></div>
    <div id="fragment-<?= $this->mode8 ?>"></div>
    <div id="fragment-<?= $this->mode9 ?>"></div>
</div>