<div class="row">
        <div class="span3"><?= $this->partial ( 'sidenav.phtml', array ('shop' => $this->shop)); ?></div>
        <div class="span9"><?= $this->partial ( 'product_tabs.phtml', array ('finisharticles' => $this->finisharticles, 'shop' => $this->shop, 'articlegroup' => $this->articlegroup, 'mode' => $this->mode, 'inworkCount' => $this->inworkCount, 'currency' => $this->currency, 'designPath' => $this->designPath ) );?>


<?php  if(Zend_Auth::getInstance()->hasIdentity()==true): ?>
<ul class="thumbnails">
<?php foreach ($this->myarticles as $article): ?>
<?php echo $this->partial('article/_articlelistitem.phtml', array('admin' => $this->admin, 'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'myarticle' => true, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>
<?php endforeach; ?>
</ul>
<?php endif; ?>
        </div>
