<script type="text/javascript">
$(document).ready(function() {
    $("#pb").progressbar({showText: false} );

    var percentage = 10;
    var i = setInterval(function() {
            $("#pb").progressbar('option', 'value', percentage);
            percentage = percentage + 10
            if(percentage > 100) percentage = 0;
    }, 1500);

    $.getJSON("/article/preview/<?php echo $this->uuid ?>/<?php echo $this->layouterid ?>/?gen=1",
        function(data){
            if(data.file) {
                var flashvars = {XMLFile: data.file,wmode:"transparent"};
                var params = {allowFullScreen: "true",wmode:"transparent"};
                swfobject.embedSWF("/scripts/artgallery/ArtFlashGallery.swf", "previewContent","430", "424", "9.0.0",false, flashvars, params);
            }
            $("#pb").hide("slow");
        });

});

</script>
<style type="text/css">
		.ui-progressbar-value { background-image: url(/images/pbar-ani.gif); }
		.ui-progressbar { height: 1em; }
	</style>
<div id="pb"></div>
<div id="vs" style="display:none"><a id="pvl" href=""><?php echo $this->translate('Preview') ?></a></div>
<?php $this->headScript()->prependFile('/scripts/artgallery/js/swfobject.js') ?>
<script type="text/javascript">
        
</script>
<div id="previewContent">
</div>