<script type="text/javascript">
 var sid = <?php echo $this->sid ?>;
</script>

<?php
$this->headScript()->appendFile('/scripts/admin/designer/clipartgrid.js');
$this->headScript()->appendFile('/scripts/admin/designer/themegrid.js');
?>
<div id="clipartindex"></div>
<div id="clipartthemeindex"></div>