<script type="text/javascript">
 var sid = <?php echo $this->sid ?>;
</script>

<?php
$this->headLink()->appendStylesheet('/scripts/vendor/UploadDialog/css/Ext.ux.UploadDialog.css');
$this->headLink()->appendStylesheet('/scripts/vendor/filebrowserpanel/css/FileBrowserPanel.css');
$this->headScript()->appendFile('/scripts/vendor/filebrowserpanel/FileBrowserPanel.js');
$this->headScript()->appendFile('/scripts/vendor/UploadDialog/Ext.ux.UploadDialog.js');
$this->headScript()->appendFile('/scripts/admin/file/all.js');
?>
<div id="fileindex"></div>
<div id="downloadfile"></div>