<?php 
$this->headLink()->appendStylesheet('/styles/admin/base.css');
$this->headLink()->appendStylesheet('/scripts/ext-3.2.0/resources/css/ext-all.css');
//$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/xtheme-purple.css');
$this->headLink()->appendStylesheet('/scripts/vendor/ux/grid/RowActions.css');
$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/icons.css');
$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/htmleditorimage.css');
$this->headLink()->appendStylesheet('/styles/admin/mediabutton.css');
$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/statictextfield.css');
$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/imagebrowser.css');
$this->headLink()->appendStylesheet('/scripts/extjs/resources/css/loadingindicator.css');
$this->headLink()->appendStylesheet('/styles/admin/FilterToolbar.css');
$this->headLink()->appendStylesheet('/scripts/vendor/superselect/superboxselect.css');
$this->headScript()->appendFile('/scripts/tp/Locale.js');
$this->headScript()->appendFile('/scripts/tp/Locale/Gettext.js');
$this->headScript()->appendFile('/scripts/ext-3.2.0/adapter/ext/ext-base.js');
$this->headScript()->appendFile('/scripts/ext-3.2.0/ext-all-debug.js');
$this->headScript()->appendFile('/scripts/tp/stateProvider.js');
$this->headScript()->appendFile('/scripts/tp/PrintShopCreator.js');
$this->headScript()->appendFile('/scripts/vendor/form/ext.ux.form.midas.js');
$this->headScript()->appendFile('/scripts/vendor/form/ext.ux.form.image.js');
$this->headScript()->appendFile('/scripts/vendor/form/ext.ux.form.table.js');
$this->headScript()->appendFile('/scripts/vendor/form/ext.ux.form.hr.js');
$this->headScript()->appendFile('/scripts/vendor/form/ext.ux.form.heading.js');

$this->headScript()->appendFile('/scripts/tp/form/metaform.js');
$this->headScript()->appendFile('/scripts/tp/form/formlink.js');
$this->headScript()->appendFile('/scripts/tp/miframe.js');

$this->headScript()->appendFile('/scripts/vendor/ux/grid/RowActions.js');
$this->headScript()->appendFile('/scripts/vendor/form/imagebrowser.js');

$this->headScript()->appendFile('/scripts/tp/ux/form/mediabutton.js');
$this->headScript()->appendFile('/scripts/extjs/imagebrowser.js');
$this->headScript()->appendFile('/scripts/extjs/fileuploadbutton.js');
$this->headScript()->appendFile('/scripts/extjs/loadingindicator.js');
$this->headScript()->appendFile('/scripts/extjs/statictextfield.js');
$this->headScript()->appendFile('/scripts/admin/TabCloseMenu.js');
$this->headScript()->appendFile('/scripts/tp/ux/ext/ProgressBarPager.js');
$this->headScript()->appendFile('/scripts/vendor/superselect/SuperBoxSelect.js');
$this->headScript()->appendFile('/scripts/vendor/ux/grid/GridFilters.js');
$this->headScript()->appendFile('/scripts/vendor/ux/grid/filter/Filter.js');
$this->headScript()->appendFile('/scripts/vendor/ux/grid/filter/StringFilter.js');
$this->headScript()->appendFile('/scripts/vendor/ux/grid/filter/DateFilter.js');
$this->headScript()->appendFile('/scripts/vendor/ux/grid/filter/ListFilter.js');
$this->headScript()->appendFile('/scripts/vendor/ux/grid/filter/NumericFilter.js');
$this->headScript()->appendFile('/scripts/vendor/ux/grid/filter/BooleanFilter.js');

$this->headScript()->appendFile('/scripts/vendor/ux/menu/ListMenu.js');
$this->headScript()->appendFile('/scripts/vendor/ux/menu/TreeMenu.js');
$this->headScript()->appendFile('/scripts/vendor/ux/menu/EditableItem.js');
$this->headScript()->appendFile('/scripts/vendor/ux/menu/RangeMenu.js');

if($this->highRole->level <= 20) {
	$this->headScript()->appendFile('/scripts/admin/appcontact.js');
}else{
	$this->headScript()->appendFile('/scripts/admin/app.js');
}


$this->headScript()->appendFile('/scripts/tp/ux/file/Uploader.js');
$this->headScript()->appendFile('/scripts/tp/ux/form/BrowseButton.js');
$this->headScript()->appendFile('/scripts/tp/ux/form/ImageField.js');
//$this->headScript()->appendFile('/scripts/tp/ux/PagingToolbar.js');
?>
<style type="text/css">

    #copyshop {
        top: 0 !important;
    }
</style>
<script type="text/javascript">
var role = 30;
<?php if($this->highRole->level >= 40): ?>
role = 40; 
<?php endif; ?>
<?php if($this->highRole->level >= 50): ?>
role = 50;
<?php endif; ?>
</script>
<div id="loading-mask" style=""></div>
  <div id="loading">
    <div class="loading-indicator"><img src="/styles/admin/images/extanim32.gif" width="32" height="32" style="margin-right:8px;" align="absmiddle"/>Loading...</div>
  </div>
 <div id="header">
	<div class="api-title">
            <img style="" id="myprintmall" src="/<?php echo $this->image()->thumbnailImage('logo', 'logo1', $this->shop->Install->mall_logo, true, true); ?>">
            <img style="display:none" id="myprintcom" src="/images/myprintcom_farbe_neu.png">
            <img style="display:none" id="myprintscout" src="/images/myprintscout_farbe_neu.png">
        </div>
  </div>