
.preflight_error {
	background: url("/shops/3214981973/kopiede/images/x-bttn.png") no-repeat scroll 0 center #F3A3A4;
    border: 1px solid #E30000;
    margin-bottom: 10px;
    padding: 0 10px 0 40px;
}

.modal, .modal-body {
    max-height: 900px;
}

.preflight_success {
	background: url("/shops/3214981973/images/CheckAllRight.png") no-repeat scroll 0 center #8CC63F;
    border: 1px solid #007700;
    margin-bottom: 10px;
    padding: 10px 10px 10px 40px;    
}

.spinner {
    background: url(steplayouter/img/spinner.gif);
    width: 66px;
    height: 66px;
    margin-top: 50px;
}

#wizard.swMain .buttonDisabled {
	border: 0 !important;
}

.plupload_file_status.preflight {
    width: 220px !important;
}

.plupload_file_action.preflight {
    width: 50px !important;
}

.plupload_filelist .plupload_file_name {
	width: 390px !important;
}

.plupload_start {
	margin-left: 165px !important;
	position: absolute !important;
}

.plupload_header_content {
	padding-left: 10px !important;
	background: none !important;
}

.plupload_scroll .plupload_filelist {
	height: 50px !important;
	 overflow-y: auto !important;
}

.plupload_header {
	background: none !important;
    background-color: #777777 !important;
    display: none !important;
}

li.plupload_droptext {
	line-height: 50px !important;
}

.plupload_filelist_header, .plupload_filelist_footer {
    padding: 3px !important;
}

.motivelistoverviewbig {
    width: 500px;
}



.plupload_scroll .plupload_filelist_header .plupload_file_action, .plupload_scroll .plupload_filelist_footer .plupload_file_action {
    margin-right: 5px !important;
}



.plupload_container {
	padding: 0 !important;
}


div.smallpreview {
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

div#editorButtons {

}

div#editorDropdown {
    float: left;
    margin-bottom: 8px;
    margin-right: 2px;
    z-index: 9999;
}

div#editorDropdown label {
    margin-bottom: 0px;
}

div#editorDropdown a {
    padding: 3px;
}

div#editorDropdown .dd-pointer {
    right: 5px;
}

div.sliderh-container {
    margin-top: 15px;
    margin-left: 25px;    
}

div.sliderv-container {
    margin-right: 20px;
    margin-top: 10px;
}

div#layeredPreview {
    position: relative;
}

img.imagepreview {
    position: absolute;
    max-width: none;
}

#steplayouter .controls {
    min-height: 40px;
}

#steplayouter .form-horizontal .control-group {
    margin-bottom: 0px;
}

#steplayouter .fileupload-buttonbar {
    margin-left: 0;
}

#steplayouter .modal-body {
    max-height: 900px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: none;
    padding: 0 15px 0 15px;
}

.socialBar .social {
    float: left;
    margin-left: 5px;
    list-style: none;
}

.form-horizontal .controls {
    margin-left: 139px;
}

.form-horizontal .control-label {
    width: 130px;
}

.dd-option-image, .dd-selected-image {
    height: 40px;
}

.dd-select {
    height: 42px;
}

.motiv a .articlelistimg {
    max-height: 150px;
}

.span_custom .thumbnail .thumbnail {
    height: auto !important;
}

.layerable {
    position: absolute;
}