<?php 
/**
 * Pagination
 * 
 * - 20.10.2014: nur noch zeigen, wenn mindestens 2 seiten da sind, sonst macht sie keinen sinn
 * - karsten euting 
 */

if (count($this->pagesInRange) > 1): 
    
?>

<div class="text-center">
    <ul  class="pagination">
    <?php
         if(isset($this->previous)) {
                echo '<li><a href="'.$this->url(array('page' => $this->first)).'">'.$this->translate('Anfang', 'text').'</a></li>';
            }else{
                echo '<li><a href="'.$this->url(array('page' => $this->first)).'">'.$this->translate('Anfang', 'text').'</a></li>';
            }

            if(isset($this->previous)) {
                echo '<li><a href="'.$this->url(array('page' => $this->previous)).'">&lt; '.$this->translate('ZurC<ck', 'text').'</a></li>';
            }

                foreach($this->pagesInRange as $page) {
                    if($this->current != $page) {
                        echo '<li><a href="'.$this->url(array('page' => $page)).'">'.$page.'</a></li>';
                    }else{
                        echo '<li><a href="'.$this->url(array('page' => $page)).'">'.$page.'</a></li>';
                    }
                }

            if(isset($this->next)) {
                echo '<li><a href="'.$this->url(array('page' => $this->next)).'">'.$this->translate('Weiter', 'text').' &gt;</a></li>';
            }

            if(isset($this->next)) {
                echo '<li><a href="'.$this->url(array('page' => $this->last)).'">'.$this->translate('Ende', 'text').'</a></li>';
            }else{
                echo '<li><a href="'.$this->url(array('page' => $this->last)).'">'.$this->translate('Ende', 'text').'</a></li>';
            }
            ?>
    </ul>
</div>

<?php else: ?>
<div style="height:4em;"></div>
<?php endif;?>