<ul class="nav nav-tabs">
            <?php if($this->finisharticles > 0): ?>
                    <li class="<?= ($this->mode == 1)? 'active':''; ?>"><a href="/overview/all/mode/all"><?php echo $this->translate('fertige Produkte', 'text') ?></a></li>
            <?php endif; ?>
            <?php if($this->shop->market == 1 && $this->designsettings()->get('display_sourceproducts') == true): ?>
            <?php if($this->shop->template_display_products_custom_layouter && $this->shop->market): ?>
            <li class="<?= ($this->mode == 5)? 'active':''; ?>"><a href="/marketoverview"><?= $this->translate('neu gestalten', 'text') ?></a></li>
            <?php else: ?>
            <li class="<?= ($this->mode == 5)? 'active':''; ?>"><a href="/overview/<?= (isset($this->articlegroup))? $this->articlegroup->url:'all'; ?>/mode/customs"><?= $this->translate('neu gestalten', 'text') ?></a></li>
            <?php endif; ?>
            <?php endif; ?>
            <?php if($this->shop->template_display_products_own_products): ?>
            
            <?php if(Zend_Auth::getInstance()->hasIdentity()==true): ?>
                    <li class="<?= ($this->mode == 6)? 'active':''; ?>"><a href="<?php echo $this->url(array('articlegroup' => (isset($this->articlegroup))? $this->articlegroup->url:'all'),'myarticle') ?>"><?= $this->translate('meine Produkte', 'text') ?></a></li>
            <?php else: ?>
                    
            <?php endif;?>
            
            <?php endif; ?>
            <li  class="<?= ($this->mode == 'inwork')? 'active':''; ?>"><a href="<?php echo $this->url(array('articlegroup' => (isset($this->articlegroup))? $this->articlegroup->url:'all'),'inworkarticle') ?>"><?= $this->translate('in Bearbeitung', 'text') ?> (<?= $this->inworkCount ?>)</a></li>
</ul>