<?php $this->headLink()->appendStylesheet($this->designPath . 'css/motivindex.css'); ?>
<?php foreach($this->top_modul as $modul): ?>
<ul class="top-rows">
    <li class="head-top-rows"><a href="<?= $modul['link'] ?>"><?= $modul['title'] ?></a></li>
    <?php if($modul['type'] == 'product'): ?>
	    <?php foreach($modul['rows'] as $row): ?>
	    <li><a href="<?php echo $this->url(array('article' => $row->url), 'article'); ?>"><div class="top-box-image">
	    <?php
           if ($row->typ == 6 && $row->a6_org_article != 0 && $row->file == ""):
               echo $this->image()->thumbnailFop($row->title, 'top_modul_list', $row->getMarketFile());
           else:
               if ($row->file != ""):
                   echo $this->image()->thumbnailImage($row->title, 'top_modul_list', $row->file);
               else:
           ?>
                   <img src="<?= $this->designPath ?>img/no-img.png" width="76" />
           <?php
                   endif;
               endif;
           ?>
           </div><div class="top-box-text"><?php echo $this->Text()->truncate_text($this->escape($row->title),15); ?></div></a></li>
	    <?php endforeach; ?>
    <?php endif; ?>
    <?php if($modul['type'] == 'motiv'): ?>
	    <?php foreach($modul['rows'] as $row): ?>
	    <li>
	    	<a class="showmotivwizard" rel="<?= $row->uuid ?>" class="showmotivwizard" href="javascript:void(0);">
	    		<div class="top-box-image"><?php echo $this->image()->thumbnailMotiv($row->title, 'top_modul_list', $row->file_thumb); ?></div>
	    		<div class="top-box-text"><?php echo $this->Text()->truncate_text($this->escape($row->title),15); ?></div>
	    	</a>
	    </li>
	    <?php endforeach; ?>
    <?php endif; ?>
    <?php if($modul['type'] == 'shop'): ?>
	    <?php foreach($modul['rows'] as $row): ?>
	    <li><a href="http://<?= $row->Domain[0]->name; ?>" target="_blank">
	    <?php if($row->preview_logo != ""): ?>
	    	<?php echo $this->image()->thumbnailImage($row->name, 'top_modul_list', $row->preview_logo); ?>
    	<?php else: ?>
    		<img src="<?= $this->designPath ?>img/no-img.png" width="76" />
    	<?php endif; ?>
                </a></li>
	    <?php endforeach; ?>
    <?php endif; ?>
</ul>
<?php endforeach; ?>