<?php
        /**
        * Carousel laden
        */
        echo  $this->partial ( 'carousel.phtml');


        /*****************************************************************************
        * Shop-Descrioption - soll nicht mehr angezeigt werden können 23.09.2014
        *****************************************************************************
        if($this->shop->description): ?>

            <div class="row">
                <div class="col-sm-12">
                    <p class="shop-description"><?= $this->shop->description ?></p>
                </div>
            </div>

         <?php endif;  
         */


        /*****************************************************************************
        * Eigener Inhalt (CMS-Artikel mit "contentleft"
        ******************************************************************************/

       $cms = $this->cms()->getCms("contentleft"); 
       foreach($cms as $c){
           echo '<div class="row contentleft startseite">
                   <div class="col-sm-12">';
                        echo $c->text1;
           echo '  </div>
                 </div>';
       }

?>




                
              

<section id="produkthighlights" > 
    <h3><?= $this->translate('Produkthighlights') ?></h3>
    <div class="row clearfix">
        
                <?php 
                    $articles = $this->article()->TopSeller(6); 
                    foreach ($articles as $article)
                    { 
                        echo $this->partial('article/_articlelistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop));  
                    } 
                ?>
         
        </div>
</section>

<br>
<br>    
                    <?php
                        /**
                         * Produktgruppen, wenn ausgewählt
                         */
                        if($this->designsettings()->get('mc_start_productgroups')): 

                        ?>

                           <section>
                               <div class="row">

                                    <?php $articlegroups = $this->articlegroup()->getByArray($this->designsettings()->get('mc_start_productgroups')); ?>
                                    <?php foreach ($articlegroups as $articlegroup): ?>
                                        <?= $this->partial('article/_articlegrouplistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'articlegroup' => $articlegroup, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>
                                    <?php endforeach; ?>

                               </div>
                           </section>

                       <?php endif; ?>
            
            

  <section class="offcanvas-siderbars left-15">
    <div class="container">
      <div class="row visible-xs container offcanvas-sidebars-buttons">
        <button style="display: none;" type="button" data-for="column-left" class="pull-left btn btn-danger">Sidebar Left</button> <button style="display: none;" type="button" data-for="column-right" class="pull-right btn btn-danger">Sidebar Right </button>
      </div>

      <div class="row">
<!--        <section class="col-lg-12 col-sm-12 col-xs-12">-->
          <div class="content-top" id="content">
            <div class="box productcarousel">
              <div class="box-heading">
                <span>Produkt - SLIDER</span>
              </div>

              <div class="box-content box-products carousel slide" id="produkthighlightslide">
                <div class="carousel-controls">
                  <a class="carousel-control left fa fa-angle-left" href="#produkthighlightslide" data-slide="prev"></a> 
                  <a class="carousel-control right fa fa-angle-right" href="#produkthighlightslide" data-slide="next"></a>
                </div>

                <div class="carousel-inner">
              

                    <?php 
                        $_article_counter = 0;
                        $_article_in_row = 6;
                        $_max_articles = 12;
                        
                        $articles = $this->article()->TopSeller($_max_articles); 
                        
                        foreach ($articles as $article)
                        { 
                           
                           
                            /**
                             * Bei 12 Einträgen setzen wir alle 6 x (12 Modula 6) eine zwische-div
                             * beim ersten mal schreiben wir "active" noch dazu
                             */
                            if($_article_counter == 0 ){
                                echo '<div class="item box-product active">';
                            }
                            elseif($_article_counter % $_article_in_row == 0) {
                                    echo '</div><div class="item box-product">';
                            }
                            /**
                             * Bilderzeilen holen
                             */
                            echo $this->partial('article/_article_slider.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop));  
                    
                             $_article_counter ++; 
                        } 
                        
                        echo '</div>'; /* den letzten zumachen */
                    ?>
               
                  </div>
                                
              </div>
            </div>
              <script type="text/javascript">                  
                $(document).ready(function() {
                    $('#produkthighlightslide').carousel({interval:false,auto:false,pause:false}); 
                    });
             </script>
          </div>
<!--        </section>-->
      </div>
    </div>
  </section>
