                        

                        <?php
			/**
			* Carousel laden
			*/
			echo  $this->partial ( 'carousel.phtml');
                        echo  '<br><br>';


                        /*****************************************************************************
                        * Shop-Descrioption - soll nicht mehr angezeigt werden können 23.09.2014
                        *****************************************************************************
                        if($this->shop->description): ?>

                            <div class="row">
                                <div class="col-sm-12">
                                    <p class="shop-description"><?= $this->shop->description ?></p>
                                </div>
                            </div>

                         <?php endif;  
                         */




                        
                        
                        /**
                         * Produktgruppen, wenn ausgewählt
                         */
                        if($this->designsettings()->get('mc_start_productgroups')): 

                        ?>

                           <section>
                               <div class="row">

					<?php $articlegroups = $this->articlegroup()->getByArray($this->designsettings()->get('mc_start_productgroups')); ?>
					<?php foreach ($articlegroups as $articlegroup): ?>
					    <?= $this->partial('article/_articlegrouplistitem.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'articlegroup' => $articlegroup, 'designPath' => $this->designPath, 'shop' => $this->shop)) ?>
					<?php endforeach; ?>
				 
                               </div>
                           </section>
                          <br><br>
                       <?php endif; ?>



 



  <?php
    if($this->designsettings()->get('mc_start_products')):
        
        $articles = $this->article()->getArticleByArray($this->designsettings()->get('mc_start_products'));
    
         if (count($articles) > 0 ) : ?>

          <section>
               <div class="row">
                  <div class="col-xs-12">
                    <div class="box productcarousel">
                      <div class="box-heading">
                        <span>Produkte</span>
                      </div>

                      <div class="box-content box-products carousel slide" id="mc_start_productgroups">
                        <div class="carousel-controls">
                          <a class="carousel-control left fa fa-angle-left" href="#mc_start_productgroups" data-slide="prev"></a> 
                          <a class="carousel-control right fa fa-angle-right" href="#mc_start_productgroups" data-slide="next"></a>
                        </div>

                        <div class="carousel-inner">


                            <?php 
                                $_article_counter = 0;
                                $_article_in_row = 6;




                                foreach ($articles as $article)
                                { 

                                    /**
                                     * Bei 12 EintrC$gen setzen wir alle 6 x (12 Modula 6) eine zwische-div
                                     * beim ersten mal schreiben wir "active" noch dazu
                                     */
                                    if($_article_counter == 0 ){
                                        echo '<div class="item box-product active">';
                                    }
                                    elseif($_article_counter % $_article_in_row == 0) {
                                            echo '</div><div class="item box-product">';
                                    }
                                    /**
                                     * Bilderzeilen holen
                                     */
                                    echo $this->partial('article/_article_slider.phtml', array('basepath' => $this->basepath, 'admin' => $this->admin, 'mode' => $this->mode,  'user' => $this->user, 'currency' => $this->currency, 'article' => $article, 'designPath' => $this->designPath, 'shop' => $this->shop));  

                                     $_article_counter ++; 
                                } 

                                echo '</div>'; /* den letzten zumachen */
                            ?>

                          </div>

                      </div>
                    </div>
                      <script type="text/javascript">                  
                        $(document).ready(function() {
                            $('#mc_start_productgroups').carousel({interval:false,auto:false,pause:false}); 
                            });
                     </script>
                  </div>
              </div>
          </section>

<?php     
        endif; 
     endif; 

    /*****************************************************************************
     * Eigener Inhalt (CMS-Artikel mit "contentleft"
     ******************************************************************************/

    $cms = $this->cms()->getCms("contentleft"); 
    foreach($cms as $c){
        echo '<div class="row contentleft startseite">
                <div class="col-sm-12">';
                     echo $c->text1;
        echo '  </div>
              </div>';
    }

    ?>