<script type="text/javascript">
 var sid = <?php echo $this->sid ?>;
</script>

<?php
$this->headScript()->appendFile('/scripts/admin/themes/productgrid.js');
$this->headScript()->appendFile('/scripts/admin/themes/motivgrid.js');
$this->headScript()->appendFile('/scripts/admin/themes/shopgrid.js');
?>
<div id="productindex"></div>
<div id="motivindex"></div>
<div id="shopindex"></div>